<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_dd_873_23137)">
<rect x="7" y="3" width="56" height="56" rx="28" fill="white"/>
<rect x="7" y="3" width="56" height="56" rx="28" stroke="#E4ECFB"/>
<rect x="11" y="7" width="48" height="48" rx="24" fill="#EEF6FC"/>
<rect x="11" y="7" width="48" height="48" rx="24" stroke="#E4ECFB"/>
<line x1="25.9023" y1="8.19971" x2="25.9023" y2="53.7997" stroke="#E4ECFB"/>
<line x1="57.7988" y1="21.9001" x2="12.1988" y2="21.9001" stroke="#E4ECFB"/>
<line x1="43.2988" y1="8.19971" x2="43.2988" y2="53.7997" stroke="#E4ECFB"/>
<line x1="57.7988" y1="39.3003" x2="12.1988" y2="39.3003" stroke="#E4ECFB"/>
<g filter="url(#filter1_dd_873_23137)">
<rect x="19" y="14.75" width="32" height="32" rx="16" fill="white"/>
<path d="M27.75 25.5C27.75 24.9696 27.9607 24.4609 28.3358 24.0858C28.7109 23.7107 29.2196 23.5 29.75 23.5H40.25C40.7804 23.5 41.2891 23.7107 41.6642 24.0858C42.0393 24.4609 42.25 24.9696 42.25 25.5V36C42.25 36.5304 42.0393 37.0391 41.6642 37.4142C41.2891 37.7893 40.7804 38 40.25 38H29.75C29.2196 38 28.7109 37.7893 28.3358 37.4142C27.9607 37.0391 27.75 36.5304 27.75 36V25.5Z" stroke="#509EE3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M38.25 30.75L32.75 27.5V34L38.25 30.75Z" stroke="#509EE3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</g>
<defs>
<filter id="filter0_dd_873_23137" x="0.5" y="0.5" width="69" height="69" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="2" operator="erode" in="SourceAlpha" result="effect1_dropShadow_873_23137"/>
<feOffset dy="2"/>
<feGaussianBlur stdDeviation="2"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.06 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_873_23137"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="2" operator="erode" in="SourceAlpha" result="effect2_dropShadow_873_23137"/>
<feOffset dy="4"/>
<feGaussianBlur stdDeviation="4"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="effect1_dropShadow_873_23137" result="effect2_dropShadow_873_23137"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_873_23137" result="shape"/>
</filter>
<filter id="filter1_dd_873_23137" x="16" y="12.75" width="38" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="1"/>
<feGaussianBlur stdDeviation="1"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.06 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_873_23137"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="1"/>
<feGaussianBlur stdDeviation="1.5"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="effect1_dropShadow_873_23137" result="effect2_dropShadow_873_23137"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_873_23137" result="shape"/>
</filter>
</defs>
</svg>
