<div class="iframe-container">
  <div class="py-2 px-4 p0 m-0 bg-neutral-95 rounded-top-3 d-flex align-items-center justify-content-start relative">
    <img alt="Browser Controls" class="py-2" src="/images/embedding/browser-controls.svg" />
    <div class="address__bar rounded-3 bg-neutral-99 py-1 px-4 d-flex align-items-center justify-content-center absolute m-auto start-0 end-0 mt-1">
      <span class="neutral-40">{{ include.url }}</span>
      <img alt="Refresh" class="absolute end-12 address__bar--refresh" src="/images/embedding/refresh.svg" width="12" />
    </div>
  </div>
  <iframe src={{include.src}} height="700" class="px-0"></iframe>
</div>

