// MAIN.CSS OVERRIDES

.card {
  box-shadow: none;
}

a {
  &:hover {
    color: $blue-40;
  }
}

a:not(.Button, .block) {
  text-decoration: none;
  transition: color 0.15s ease;

  &:hover {
    color: #1c6bb0;
    text-decoration: none;
  }
}

ul.horizontal-checklist li::before {
  padding-right: 2.5em;
}
