<input
  autocomplete="off"
  class="nav-button-input"
  id="resources-nav-button-mobile"
  type="checkbox"
/>
<label
  class="nav-button-mobile hover-pointer user-select-none py-6 px-7 d-flex justify-content-between align-items-center"
  for="resources-nav-button-mobile"
>
  <span class="h4 m-0">Resources</span>
  {% include svg-icons/main-nav-chevron.svg %}
</label>
<div id="resources-dropdown-mobile">
  {% include navigation-header/link.html
    title="Blog"
    href="/blog"
    icon-src="ribbon"
  %}

  {% include navigation-header/link.html
    title="Events"
    href="/events/"
    icon-src="play-outline-boxed"
  %}

  {% include navigation-header/link.html
    title="Customers"
    href="/case-studies"
    icon-src="heart"
  %}

  {% include navigation-header/link.html
    title="Discussion"
    href="https://discourse.metabase.com/"
    icon-src="balloon-rounded"
  %}

  {% include navigation-header/link.html
    title="Professional Services"
    href="/product/professional-services"
    icon-src="person-in-circle"
  %}

  {% include navigation-header/link.html
    title="Metabase Experts"
    href="/partners/"
    icon-src="support-bubble"
  %}
</div>
