@mixin shadow-xs {
  box-shadow: 0 1px 2px 0 #1018280d;
}

@mixin shadow-sm {
  box-shadow: 0 1px 2px 0 #1018280d;
}

@mixin shadow-md {
  box-shadow: 0 4px 8px -2px rgba(16, 24, 40, 0.1), 0 2px 4px -2px rgba(16, 24, 40, 0.06);
}

@mixin shadow-xl {
  box-shadow: 0 8px 8px -4px #10182808, 0 20px 24px -4px #10182814;
}
