@mixin table-header {
  background-color: $neutral-99;
  font-size: 0.688rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@mixin article-table {
  table {
    background: $neutral-white;
    border: 1px solid $neutral-95;
    border-collapse: separate;
    border-radius: 0.5rem;
    margin-bottom: 4rem !important;
    overflow: hidden;

    tbody,
    thead,
    tr {
      width: 100%;
    }

    th {
      @include table-header;

      line-height: 15px;
    }

    td {
      background: $neutral-white;

      // To hide empty `a` elements in tables that cause wrong vertical positioning of a td content
      &:first-child a:empty {
        display: block;
        height: 0;
        width: 0;
      }

      svg {
        vertical-align: baseline;
      }
    }

    th,
    td {
      border-bottom: 1px solid $neutral-95;
      color: $neutral-20;

      a {
        code {
          color: $blue-60;
          transition: color 0.25s ease;
        }

        &:hover code {
          color: $blue-40;
        }
      }
    }

    tr:last-child td {
      border-bottom: 0;
    }

    @include media-breakpoint-down(xxl) {
      background: none;
      border: 0;
      border-radius: 0;

      thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      tr {
        border: 1px solid $neutral-95;
        border-radius: 0.5rem;
        display: block;
        margin-bottom: 0.625em;
        overflow: hidden;

        &:last-child td {
          border-bottom: 1px solid $neutral-95;
        }

        td {
          border-bottom: 1px solid $neutral-95;
          display: block;
          font-size: map-get($font-sizes, 13);
          padding: 0.625em;

          &::before {
            @include table-header;

            content: attr(data-label) ":";
            float: left;
            margin-right: 10px;
          }

          &:first-child {
            background: $neutral-99;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
