---
layout: default_new
active: "learn"
title: Learn Metabase
---

{% assign getting_started = site.data.learn.categories[0].pages[0] %} {% assign
querying = site.data.learn.categories[1].pages[1] %} {% assign embedding =
site.data.learn.categories[1].pages[3] %} {% assign administration =
site.data.learn.categories[1].pages[2] %} {% assign fundamentals =
site.data.learn.categories[2].pages[1] %} {% assign working_with_sql =
site.data.learn.categories[2].pages[0].pages[0] %} {% assign analytics =
site.data.learn.categories[2].pages[3] %}

<div class="bootstrap">
  <div class="learn blog-post MB-Page">
    {% include learn/left-sidebar.html domain="learn" %}

    <article class="learn__index">
      {% include learn/top-bar.html domain="learn" %}

      <h1>Learn</h1>
      <p>
        Guides and tutorials on Metabase, analytics, data modeling, and more.
      </p>
      <a
        class="Button btn btn-outline-blue"
        href="/learn/metabase-basics/getting-started"
      >
        Start here
      </a>

      <div class="card-link-container">
        <h2>Getting started guides</h2>
        <p>
          Start here to get the basics of how to find your way around Metabase.
        </p>

        <div>
          <a href="/learn/metabase-basics/querying-and-dashboards">
            {% include svg-icons/gridded-circles/querying.html%}
            <p>Querying and dashboards</p>
            <h3>Analyze and visualize data</h3>
          </a>
          <a href="/learn/metabase-basics/embedding/overview">
            {% include svg-icons/gridded-circles/embedding.html%}
            <p>Embedding</p>
            <h3>Embed Metabase in your product</h3>
          </a>
          <a
            href="/learn/metabase-basics/administration/administration-and-operation/guide"
          >
            {% include svg-icons/gridded-circles/administration.html%}
            <p>Administration</p>
            <h3>Manage your Metabase instance</h3>
          </a>
        </div>
      </div>

      <div class="section-container">
        <h2>Metabase basics</h2>
        <p>Level up your Metabase skills.</p>

        {% include learn/section-with-links-and-image.html
        section=getting_started %} {% include
        learn/section-with-links-and-image.html section=querying %} {% include
        learn/section-with-links-and-image.html section=administration %} {%
        include learn/section-with-links-and-image.html section=embedding %}
      </div>

      <div class="section-container">
        <h2>Grow your data skills</h2>
        <p>Learn more about working with data.</p>

        {% include learn/section-with-links-and-image.html
        section=working_with_sql %} {% include
        learn/section-with-links-and-image.html section=fundamentals %} {%
        include learn/section-with-links-and-image.html section=analytics %}
      </div>

      <div class="card-link-container">
        <h2>Continue learning</h2>
        <p>More ways to learn about working with data.</p>

        <div>
          <a href="/events/">
            {% include svg-icons/gridded-circles/play.html%}
            <h3>Events</h3>
            <p>Join a live event or watch on demand</p>
            <span>Browse events{% include svg-icons/chevron.html %} </span>
          </a>
          <a href="/blog">
            {% include svg-icons/gridded-circles/ribbon.html%}
            <h3>Blog</h3>
            <p>News, updates and ideas</p>
            <span>Read the blog{% include svg-icons/chevron.html %} </span>
          </a>
        </div>
      </div>

      <div class="marketing">
        <div>
          <h2>Not using&#32;Metabase yet?</h2>
          <p>
            Get up and running with a 14-day free trial in 5 minutes. Or get in
            touch with our sales team to talk to an expert.
          </p>
          <div class="link-container">
            <a
              class="Button btn btn-primary"
              href="https://store.metabase.com/checkout"
            >
              Get started
            </a>
            <a class="Button btn btn-outline-blue" href="/talk-to-a-person/">
              Contact us
            </a>
          </div>
        </div>
        <div></div>
      </div>

      {% include learn/used-by-great-companies.html %}
    </article>
  </div>
</div>

<script src="/js/learn/left-sidebar.js"></script>
<script src="/js/learn/top-bar.js"></script>
