.business-intelligence {
  header {
    &::before {
      background-position: 50% 49%;
      background-size: 1440px 365px;

      @include media-breakpoint-down(md) {
        background-image: none;
      }
    }

    > img {
      background-color: $neutral-98;
      border: 1px solid $blue-90;
      border-radius: 24px;
      margin-bottom: 0;
      padding: 12px;
    }

    @include media-breakpoint-down(md) {
      a.Button {
        clear: both;
        display: block;
        margin: 12px auto 0;
        width: auto;
      }

      .landing-page__three-cards {
        margin: 32px 0 0;
        padding: 0;

        .cards-container {
          margin-top: 0;
        }
      }

      .embedding-page__header__trusted-by {
        margin-bottom: 12px;
        margin-top: 32px;
      }

      img {
        margin-top: 32px;
      }
    }
  }

  .full-width-centered {
    @include media-breakpoint-down(md) {
      text-align: left;

      h3 {
        font-size: 20px;
        line-height: 28px;
      }

      p {
        font-size: 18px;
        line-height: 26px;
        text-align: left;
      }
    }
  }

  .you-could-be-querying-five-minutes-from-now {
    > div:last-child {
      background-color: $blue-95;
      overflow: visible;
      position: relative;

      .feature-container__subtitle {
        bottom: -40px;
        position: absolute;
      }

      video {
        border-radius: 24px;
      }
    }
  }

  .before-feature-container-carousel {
    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
    }
  }

  .feature-container-carousel {
    @include media-breakpoint-down(lg) {
      flex-direction: column-reverse !important;
      height: auto;
      margin: 0;
      max-height: none;
      padding: 0;

      > div {
        max-height: none;
      }
    }
  }

  .pin-spacer.active {
    margin-bottom: 5000px !important;
  }

  .spacer {
    &.fixed {
      left: 50%;
      max-width: 1264px;
      position: fixed;
      top: 660px;
      translate: -50%;
      width: 100vw;

      @media screen and (min-height: 991px) {
        top: 960px;
      }
    }

    &.after-leave-back {
      margin-top: 3160px;
    }
  }

  .works_with_your_stack {
    margin-bottom: 164px;

    img {
      margin-top: 48px;
    }
  }

  .try-metabase-footer {
    .d-flex {
      gap: 16px;
    }

    a.Button {
      margin: 0;
      padding: 12px 18px;
    }

    @include media-breakpoint-down(lg) {
      .d-flex {
        align-items: center;
        flex-direction: column;
        gap: 2px;
        width: 100%;
      }

      a.Button {
        clear: both;
        display: block;
        margin: 12px auto 0;
        width: 100%;
      }
    }
  }
}
