<div class="hero-container">
  <div class="hero">
    <!-- This fades the clouds in and out as they move from left to right -->
    <div id="gradient-background"></div>
    <!-- This covers the clouds as they enter the stage on the left -->
    <div id="cloud-cover-left"></div>
    <!-- This covers the clouds as they leave the stage on the right -->
    <div id="cloud-cover-right"></div>

    <div class="cloud" id="cloud-1"></div>
    <div class="cloud" id="cloud-2"></div>
    <div class="cloud" id="cloud-3"></div>
    <div class="cloud" id="cloud-4"></div>

    <div class="d-flex flex-column align-items-center">
      <h6>Metabase Starter</h6>
      <h1 class="fw-bold mb-5 text-center h3">
        All the goodness of Metabase,<br/>minus all the hosting work
      </h1>
      <p class="paragraph-4 responsive neutral-40 mb-6 text-center subtitle">
        Starter has all the stuff you get in the open source version of Metabase, with hosting taken care of.  And you get hands-on support from our expert customer success engineers.
      </p>
    </div>
    <div class="d-flex justify-content-center align-items-center gap-4">
      <a id="get-started-btn-home" class="fs-13 Button btn btn-primary rounded-3" href="https://store.metabase.com/checkout">Get started</a>
      <a class="fs-13 Button btn btn-outline-blue rounded-3" href="/talk-to-a-person/">Contact us</a>
    </div>

    <div class="cards-container">
      <div class="card">
        {% include svg-icons/fast-forward.html color="#80B946" %}
        <h4>Get started in minutes</h4>
        <p>Plug into your <a href="/data-sources/">data source</a>, invite your team, and start asking questions.</p>
      </div>
      <div class="card">
        {% include svg-icons/graph.html color="#80B946" %}
        <h4>Let everyone learn from data</h4>
        <p>Unlimited charts, dashboards, and questions—no SQL required.</p>
      </div>
      <div class="card">
        {% include svg-icons/secure-shield-outline.html color="#80B946" %}
        <h4>SOC2 Type II compliance from the get-go</h4>
        <p>Self-serve analytics without the box-checking.<br/><a href="/security">We really care about security.</a></p>
      </div>
    </div>

    <div class="trusted-by">
      {% include trusted_by.html %}
    </div>

    <div class="logos customer-logos-container">
      {% include customer-logos.html group="starter" %}
    </div>
  </div>
</div>
