<div class="full-width-centered">
  <h3>Wait, isn’t there a free version of Metabase?</h3>
  <p>Sometimes the best things in life are free, like unconditional love, and <a href="/start/oss/">awesome open source software</a>. And sometimes it’s worth paying a little extra for convenience and accessible technical support.</p>

  <div class="comparison-table">
    <table>
      <thead>
        <tr>
          <th>
            &nbsp;
          </th>
          <th class="pricing-tier-oss" style="width: 17%">
            <span class="oss">Open Source</span>
          </th>
          <th class="pricing-tier-starter" style="width: 17%">
            <span class="starter">Starter</span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Unlimited questions</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
        </tr>
        <tr>
          <td>Unlimited charts</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
        </tr>
        <tr>
          <td>Unlimited dashboards</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>15+ visualization types</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
        </tr>
        <tr>
          <td>Scheduled updates and alerts via email and Slack</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
        </tr>
        <tr>
          <td>Connects to 20+ database types, including CSV upload</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
        </tr>
        <tr>
          <td>SOC2 Type II Compliance</td>
          <td>&nbsp;</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
        </tr>
        <tr>
          <td>Unlimited technical support</td>
          <td>&nbsp;</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
        </tr>
        <tr>
          <td>Fully managed cloud</td>
          <td>&nbsp;</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
        </tr>
        <tr>
          <td>Automatic backups and upgrades</td>
          <td>&nbsp;</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
        </tr>
        <tr>
          <td>Out-of-the-box SMTP server </td>
          <td>&nbsp;</td>
          <td>{% include svg-icons/tick-icon.html color="#5a6072" %}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <a href="/pricing#compare" class="m-auto">See all features <img alt="Chevron Blue Right" src="/images/chevron_blue_right.svg"/></a>
</div>

