<div class="feature-container">
  <div>
    <h2>Your Metabase, monitored, managed, and maintained by us</h2>
    <p>Trustworthy, product-grade deployment with our specialist cloud team who maintain thousands of Metabases like it’s their job (because it is their job.)</p>
    <ul class="checklist-outline">
      <li>Automatic upgrades to the latest and greatest of Metabase without having to worry about backups and downtime.</li>
      <li>Secure multi-tenant environments that prioritize isolation. Every customer gets their very own container.</li>
      <li>Multi-region hosting lets you keep your Metabase close, with hosting options in the US, Europe, Latin America, or Asia-Pacific.</li>
    </ul>

    <a href="/cloud/">Learn more about Metabase Cloud <img alt="Chevron Blue Right" class="chevron-blue-right" src="/images/chevron_blue_right.svg"></a>

  </div>
  <div>
    <div class="flex-half m-0 mt-11 m-lg-0 p-0 px-lg-13 w-100 hero__content-panel" id="cloudHeroToggleList">
      <div class="bg-white drop-shadow p-3 p-lg-6 rounded-4 rounded-lg-7 w-100 hero__content-panel__wrapper hero__content-panel__wrapper--animated">
        <div class="d-flex flex-column flex-nowrap align-center justify-content-center">
          <input
            class="d-none"
            id="cloudHeroToggleCheckbox"
            type="checkbox" />
          <label
            class="align-center bg-blue-95 border--blue-90 cursor-pointer d-flex flex-nowrap flex-row justify-content-center mb-6 mb-lg-0 mt-0 mt-lg-8 order-0 order-lg-1 p-2 p-lg-4 rounded-3 rounded-lg-4 user-select-none w-100"
            for="cloudHeroToggleCheckbox"
            id="cloudHeroToggle">
            <div class="align-center d-inline-flex flex-nowrap flex-row justify-center m-0 hero__toggle__text">
              <img alt="Self-hosted" src="/images/cloud/icon_toggle_self-hosted.svg" />
              <span class="neutral-40 ms-2 text-bold">Self-hosted</span>
            </div>
            <div class="m-1 mx-sm-2 hero__toggle">
              <div class="align-center d-flex justify-center text-center hero__toggle__handle">{% include svg-icons/tick-icon.html color = "#ffffff" %}</div>
            </div>
            <div class="align-center d-inline-flex flex-nowrap flex-row justify-center m-0 hero__toggle__text">
              <span class="blue-60 me-2 text-bold text-right">Metabase Cloud</span>
              <img alt="Metabase Cloud" src="/images/cloud/icon_toggle_cloud.svg" />
            </div>
          </label>

          <ul class="list-unstyled m-0 p-0 order-1 order-lg-0 w-100 hero__list">
            <li class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item">
              <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
                <div class="flex-grow-1 flex-shrink-0 hero__tick me-2">{% include svg-icons/tick-icon.html %}</div>
                <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Automatic backups and restores</p>
              </div>
            </li>
            <li class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item">
              <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
                <div class="flex-grow-1 flex-shrink-0 hero__tick me-2">{% include svg-icons/tick-icon.html %}</div>
                <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Automatic upgrades</p>
              </div>
            </li>
            <li class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item">
              <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
                <div class="flex-grow-1 flex-shrink-0 hero__tick__wrapper me-2">
                  <div class="hero__tick">{% include svg-icons/tick-icon.html %}</div>
                </div>
                <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Built-in network monitoring</p>
              </div>
            </li>
            <li class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item">
              <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
                <div class="flex-grow-1 flex-shrink-0 hero__tick me-2">{% include svg-icons/tick-icon.html %}</div>
                <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Enterprise grade compliance (SOC 2 Type II)</p>
              </div>
            </li>
            <li class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item">
              <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
                <div class="flex-grow-1 flex-shrink-0 hero__tick me-2">{% include svg-icons/tick-icon.html %}</div>
                <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Ultra-high, multi-zone availability</p>
              </div>
            </li>
            <li class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item">
              <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
                <div class="flex-grow-1 flex-shrink-0 hero__tick me-2">{% include svg-icons/tick-icon.html %}</div>
                <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Preconfigured SMTP Server</p>
              </div>
            </li>
            <li class="m-0 hero__list__item">
              <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
                <div class="flex-grow-1 flex-shrink-0 hero__tick me-2">{% include svg-icons/tick-icon.html %}</div>
                <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Unlimited support from engineers</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/cloud-self-hosted-comparison.js"></script>
