$ctas-cards-spacing-lg: 32px;

.ctas {
  &__cards {
    &__card {
      min-width: 100%;
      transition: border-color 200ms;

      @include media-breakpoint-up(sm) {
        min-width: calc(#{100% / 3} - #{$ctas-cards-spacing-lg * 2 / 3});
      }

      &:hover,
      &:focus {
        border-color: $blue-75;
      }
    }
  }
}
