.hero {
  background-color: $neutral-98;
  margin-bottom: 64px;
  padding-bottom: 80px;

  &__panel {
    z-index: 1;

    &__content {
      @include media-breakpoint-up(lg) {
        margin-left: auto;
      }
    }
  }

  &__badge {
    margin-left: -4px;
  }
}
