.responsive-page .numbered-text {
  background-color: white;
  border: 1px solid $blue-95;
  border-radius: 24px;
  max-width: 592px;
  padding: 48px;

  a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $blue-40;
    }
  }

  > div {
    display: flex;
    padding-bottom: 24px;

    &:last-child {
      padding-bottom: 0;
    }

    > div:first-child {
      align-items: center;
      background-color: $blue-95;
      border: 1px solid $blue-85;
      border-radius: 50%;
      color: $blue-60;
      display: flex;
      font-weight: 700;
      height: 36px;
      justify-content: center;
      margin-right: 20px;
      width: 36px;
    }

    > div:last-child {
      color: $neutral-40;
      flex: 1;
      font-size: 18px;
      line-height: 26px;
      margin-top: 5px;
      text-align: left;
    }

    svg {
      fill: $blue-60;
      margin: 0 0 0 2px;
      position: relative;
      top: 4px;
      width: 24px;
    }
  }

  @include media-breakpoint-down(lg) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;

    > div {
      flex-direction: column;
      gap: 10px;
    }
  }
}
