.responsive-page .two-column-cards {
  display: grid;
  gap: 40px;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 64px;

  > div {
    background-color: white;
    border: 1px solid $blue-90;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 24px;

    h4 {
      color: $neutral-40;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      margin-bottom: 16px;
    }

    p {
      color: $neutral-40;
      font-size: 16px;
      line-height: 24px;
    }

    > span {
      align-items: center;
      background-color: $blue-99;
      border: 1px solid $blue-90;
      border-radius: 50px;
      display: flex;
      height: 48px;
      justify-content: center;
      margin-bottom: 24px;
      width: 48px;
    }

    > div {
      border-top: 1px solid $blue-90;
      display: grid;
      grid-template-columns: 75px 1fr;
      margin-top: 24px;
      padding-top: 24px;
    }
  }

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
  }
}
