.responsive-page .two-column-cards {
  display: grid;
  gap: 40px;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 64px;

  > div {
    background-color: white;
    border: 1px solid $blue-90;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 24px;

    a {
      &:last-child {
        margin-bottom: 8px;
      }

      margin-bottom: 8px;

      svg {
        display: inline;
        height: 12px;
        left: -8px;
        position: relative;
        rotate: -90deg;
        top: -3px;
      }
    }

    > img {
      align-self: flex-start;
      height: 40px;
      margin-bottom: 20px;
      width: auto;
    }

    h4 {
      color: $neutral-40;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      margin-bottom: 16px;
    }

    p {
      color: $neutral-40;
      font-size: 16px;
      line-height: 24px;

      &.testimonial-content {
        font-size: 22px;
        line-height: 30px;
        margin: 16px 0 12px;
      }

      &.testimonial-author {
        color: $neutral-15;
        font-size: 16px;
        margin-bottom: 0;
      }

      &.testimonial-author-role {
        color: $neutral-40;
        font-size: 16px;
        margin-bottom: 32px;
      }
    }

    > span {
      align-items: center;
      background-color: $blue-99;
      border: 1px solid $blue-90;
      border-radius: 50px;
      display: flex;
      height: 48px;
      justify-content: center;
      margin-bottom: 24px;
      width: 48px;
    }

    > div {
      border-top: 1px solid $blue-90;
      display: grid;
      grid-template-columns: 75px 1fr;
      margin-top: 24px;
      padding-top: 24px;
    }
  }

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
  }
}
