{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "__dirname": "readonly",
    "_vwo_code": "readonly",
    "anchors": "readonly",
    "Buffer": "readonly",
    "contentLoaded": "readonly",
    "cy": "readonly",
    "dataLayer": "readonly",
    "ga": "readonly",
    "gdprCookieNotice": "readonly",
    "gdprCookieNoticeLocales": "writable",
    "lunr": "readonly",
    "MediumLightbox": "readonly",
    "process": "readonly",
    "scrollIntoView": "readonly",
    "settings_timer": "readonly"
  },
  "rules": {
    "prefer-const": 2,
    "react/prop-types": 1
  }
}
