{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "jest": true,
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "globals": {
    "__dirname": "readonly",
    "_vwo_code": "readonly",
    "anchors": "readonly",
    "Buffer": "readonly",
    "contentLoaded": "readonly",
    "cy": "readonly",
    "dataLayer": "readonly",
    "ga": "readonly",
    "gdprCookieNotice": "readonly",
    "gdprCookieNoticeLocales": "writable",
    "lunr": "readonly",
    "MediumLightbox": "readonly",
    "process": "readonly",
    "scrollIntoView": "readonly",
    "settings_timer": "readonly",
  },
  "rules": {
    "prefer-const": 2,
    "react/prop-types": 1,
    "react/no-deprecated": "warn",
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "env": { "node": true, "es2022": true },
      "parserOptions": { "ecmaVersion": "latest", "sourceType": "module" },
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
      },
    },
  ],
}
