/node_modules/
.DS_Store
.idea
*.log
tmp/
/htmlproofer.out
/.clj-kondo/
/.lsp/

# ignore dirs we pull in from the website repo
/_data/
/_examples/
/_glossary/
/_headers/
/_help/
/_includes/
/_layouts/
/_plugins/
/_posts/
/_sass/
/css/
/files/
/images/
/js/
/learn/
/redirects/