/node_modules/
.DS_Store
.idea
.vscode
*.log
tmp/
/htmlproofer.out
/.clj-kondo/
/.lsp/
/_site/

# docs src files are copied from metabase via script/seed-docs-history.ts
_docs/

# Astro build output
/dist/

# generated types
.astro/

# environment variables
.env
.env.production
.vercel
