{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-astro"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "trailingComma": "all"
}
