---
layout: default_light_blue_footer
title: "Metabase | See what’s possible with embedded analytics"
summary: Take a live demo for a spin and see what you can build with embedded analytics.
image: /images/opengraph/embedding-demo-og.jpg
sitemap: "false"
---

<div class="bootstrap">
  <div class="embedding-demo">
    {% include pages/embedding-demo/demo.html %}
    {% include pages/embedding-demo/embedding-options.html %}
    {% include examples-marquee.html %}

    <section class="ready-to-build-with-embedding">
      <div class="container px-8 py-8 row flex-row d-flex align-items-center justify-content-between bg-blue-60 rounded-3">
        <div class="col-xs-12 col-md-5 px-0">
          <h4 class="neutral-white">Ready to build with embedding?</h4>
          <p class="neutral-white mb-0 paragraph-5">Get up and running in 5 minutes with a 14-day free trial. Or get in touch with our sales team to talk to an expert.</p>
        </div>
        <div class="col-xs-12 col-md-7 px-0 d-flex justify-content-start justify-content-md-end mt-4 mt-md-0">
          <a href="https://store.metabase.com/checkout/login-details" class="block px2 Button bg-blue-25 neutral-white mr-3 embedding-demo__get-started">Get started</a>
          <a href="/sales/" class="block px2 Button Button--light embedding-demo__talk-to-sales">Talk to sales</a>
        </div>
      </div>
    </section>

    <div class="embedding-page">
      <section class="mt-8 p-0 embedding-page__get-started">
        <div class="px-9 py-6 mb-10 d-flex align-items-center flex-column">
          <p class="paragraph-5-5 neutral-60">Great companies build with Metabase</p>
          <div class="customer-logos-container">
            {% include customer-logos.html group="embedded" limit=7 %}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/tabs-with-timer.js"></script>
