---
layout: default
title: "Releases | What's New in Metabase"
summary: "Check out what's new in the latest version of Metabase. We're shipping new features to make it easier for your whole team to work with data."
show_releases_roadmap_nav: true
---

<div class="bootstrap">
  <div class="roadmap releases">
    <div class="container">
      <div class="releases-roadmap-nav">
        <a href="/releases" class="active">
          {% include svg-icons/stars.html %}
          What’s new
        </a>
        <a href="/roadmap">
          {% include svg-icons/map.html %}
          Roadmap
        </a>
      </div>

      <h1>Metabase updates and changes</h1>
    </div>

    <div class="roadmap__content container">
      <div class="roadmap__navigation">
        <div class="roadmap__navigation__slider">
          <button class="roadmap__navigation__2025 active">2025</button>
          <button class="roadmap__navigation__2024">2024</button>
          <button class="roadmap__navigation__2023">2023</button>
          <button class="roadmap__navigation__2022">2022</button>
          <button class="roadmap__navigation__2021">2021</button>
          <button class="roadmap__navigation__2020">2020</button>
          <button class="roadmap__navigation__2019">2019</button>
          <button class="roadmap__navigation__2018">2018</button>
          <button class="roadmap__navigation__2017">2017</button>
          <button class="roadmap__navigation__2016">2016</button>
          <button class="roadmap__navigation__2015">2015</button>
        </div>
      </div>
      <div class="roadmap__entries">
        <div class="roadmap__tiles roadmap__tiles__now">
          {% assign current_year = 0 %}
          {% assign latest_releases = site.releases | reverse %}

          {% for release in latest_releases %}
            {% assign release_year = release.date | date: "%Y" %}
            {% if release_year != current_year %}
              {% assign current_year = release_year %}
            {% endif %}

            {% if forloop.first == true %}
              {% assign release_date = release.date | date: "%s" %}
              {% assign date_diff = 'now' | date: "%s" | minus: release_date | divided_by: 3600 | divided_by: 24 | round %}
            {% endif %}

            <div class="roadmap__entry year-{{ release_year }} two-by-one show">

              <div class="roadmap__entry__header">
                <div>
                  <a href={{ release.url }} class="release-title">
                    {{ release.title }}
                  </a>

                  {% if forloop.first %}
                    <span class="release-new-badge">
                      New
                    </span>
                  {% endif %}
                </div>

                <span class="release-date">
                  {{ release.date | date: "%b %Y" }}
                </span>
              </div>

              <a href="{{ release.url }}" class="release-subtitle">
                {{ release.subtitle }}
              </a>

              <p>{{ release.summary }}</p>

              <a href="{{ release.url }}" class="read-more">
                Read more
                <img
                  class="chevron-blue-right"
                  src="/images/chevron_blue_right.svg"
                  class="inline"
                >
              </a>

              {% for highlight in release.highlights %}
                <a
                  href="{{ release.url }}#{{ highlight.url_fragment }}"
                  class="highlight"
                >
                  <div>
                    <p>{{ highlight.title }}</p>
                    <p>{{ highlight.description }}</p>
                  </div>

                  <div style="background-image: url({{ highlight.image }})">
                  </div>

                </a>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="roadmap__right-sidebar">
        <div>
          <div>
            <p><b>Subscribe to updates</b></p>
            <p class="subtitle">Stay in touch with updates and news from Metabase. No spam, ever.</p>

            <!-- Begin MailChimp Signup Form -->
            <form
              action="//metabase.us10.list-manage.com/subscribe/post?u=869fec0e4689e8fd1db91e795&amp;id=b9664113a8"
              class="validate"
              id="mc-embedded-subscribe-form"
              method="post"
              name="mc-embedded-subscribe-form"
              novalidate
              target="_blank">
              <div class="mc-field-group">
                <div>
                  <input
                    class="required email input input-small bordered {% if include.color %}border-darkblue{% endif %} mr-2"
                    id="mce-EMAIL"
                    name="EMAIL"
                    placeholder="Email address"
                    style="flex-grow: 1;"
                    tabindex="-1"
                    type="email"
                    value="" />

                  <input
                    class="Button Button--primary Button--small"
                    id="mc-embedded-subscribe"
                    name="subscribe"
                    type="submit"
                    value="Sign up" />
                </div>
                <div class="clear" id="mce-responses">
                  <div
                    class="response"
                    id="mce-error-response"
                    style="display:none"></div>
                  <div
                    class="response"
                    id="mce-success-response"
                    style="display:none"></div>
                </div>
              </div>

              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
              <div style="position: absolute; left: -5000px;">
                <input
                  name="b_869fec0e4689e8fd1db91e795_b9664113a8"
                  tabindex="-1"
                  type="text"
                  value="" />
              </div>
            </form>
            <!-- End mc_embed_signup -->
          </div>
          <div>
            <p><b>Looking for detailed release notes?</b></p>
            <a href="https://github.com/metabase/metabase/releases" target="_blank">
              See on GitHub
              <img class="chevron-blue-right" src="/images/chevron_blue_right.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/roadmap.js"></script>
