---
layout: learn_article
title: "Search results"
type: search
domain: learn
---
<h1>Search</h1>
<p>To search our docs, click the search button in the upper right.</p>

<div class="bootstrap">
  <div id="search-result-count"></div>
  <div id="search-results"></div>
</div>
<!--
<script>
  window.learnArticles = {{ site.data.learn | jsonify }};

  window.learnStore = {
    {% for page in site.learn %}
      {% comment %}
        Get the data from learn.json for the relevant page.
      {% endcomment %}

      {% assign pd = fl | where: "url", page.url | first %}

      {% if page.name != null and page.name != empty %}
        "{{ page.url | slugify }}": {
          "content": {{ page.content | strip_html | jsonify}},
          "url": {{ page.url | replace: 'index.html', '' | jsonify }},
          "date": {{ page.date | jsonify }},
          "excerpt": {{ page.content | markdownify | strip_html | slice: 0, 150 | jsonify }},
          "search_omit": "{{ page.search_omit }}",
          "source": "learn"
        }
        {% unless forloop.last %},{% endunless %}
      {% endif %}
    {% endfor %}
  };

  window.docsStore = {
    {% for page in site.docs %}
      {% if page.title != null and
        page.title != empty and
        page.url contains '/latest/' %}
          "{{ page.url | slugify }}": {
            "name": {{page.title | jsonify}},
            "content": {{page.content | strip_html | jsonify}},
            "url": {{ page.url | replace: 'index.html', '' | jsonify }},
            "date": {{ page.date | jsonify }},
            "summary": {{ page.content | markdownify | strip_html | slice: 0, 150 | jsonify }},
            "search_omit": "{{ page.search_omit }}",
            "source": "docs"
          }
        {% unless forloop.last %},{% endunless %}
      {% endif %}
    {% endfor %}
    };

</script>
<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script> -->
