---
layout: default_light_blue_footer
---

<div class="bootstrap">
  <div class="container svg-icon-list">
    <div>
      <p>arrow-down.html</p>
      {% include svg-icons/arrow-down.html fill="#509ee3" %}
    </div>

    <div>
      <p>arrow-left.html</p>
      {% include svg-icons/arrow-left.html fill="#509ee3" %}
    </div>

    <div>
      <p>arrow-up-right.html</p>
      {% include svg-icons/arrow-up-right.html %}
    </div>

    <div>
      <p>balloon-squarish.html</p>
      {% include svg-icons/balloon-squarish.html %}
    </div>

    <div>
      <p>balloon-rounded.html</p>
      {% include svg-icons/balloon-rounded.html %}
    </div>

    <div>
      <p>checkmark.svg</p>
      {% include svg-icons/checkmark.svg %}
    </div>

  <div>
    <p>baloon.html</p>
    {% include svg-icons/baloon.html %}
  </div>
  <div>
    <p>book.svg</p>
    {% include svg-icons/book.svg %}
  </div>
  <div>
    <p>box.html</p>
    {% include svg-icons/box.html %}
  </div>
  <div>
    <p>check-circle.html</p>
    {% include svg-icons/check-circle.html %}
  </div>
  <div>
    <p>checkmark.svg</p>
    {% include svg-icons/checkmark.svg %}
  </div>
  <div>
    <p>chevron-right.html</p>
    {% include svg-icons/chevron-right.html %}
  </div>
  <div>
    <p>chevron.html</p>
    {% include svg-icons/chevron.html %}
  </div>
  <div>
    <p>classic-icon.html</p>
    {% include svg-icons/classic-icon.html %}
  </div>
  <div>
    <p>clip-icon.html</p>
    {% include svg-icons/clip-icon.html %}
  </div>
  <div>
    <p>clock.html</p>
    {% include svg-icons/clock.html %}
  </div>
  <div>
    <p>cloud-or-self-hosted.html</p>
    {% include svg-icons/cloud-or-self-hosted.html %}
  </div>
  <div>
    <p>cloud.html</p>
    {% include svg-icons/cloud.html %}
  </div>
  <div>
    <p>code.html</p>
    {% include svg-icons/code.html %}
  </div>
  <div>
    <p>coin.html</p>
    {% include svg-icons/coin.html %}
  </div>
  <div>
    <p>cross.svg</p>
    {% include svg-icons/cross.svg %}
  </div>
  <div>
    <p>data-sources.html</p>
    {% include svg-icons/data-sources.html %}
  </div>
  <div>
    <p>deployment-cube.html</p>
    {% include svg-icons/deployment-cube.html %}
  </div>
  <div>
    <p>diamond.html</p>
    {% include svg-icons/diamond.html %}
  </div>
  <div>
    <p>document.html</p>
    {% include svg-icons/document.html %}
  </div>
  <div>
    <p>dollar.html</p>
    {% include svg-icons/dollar.html %}
  </div>
  <div>
    <p>elegant-icon.html</p>
    {% include svg-icons/elegant-icon.html  stroke="#509ee3" %}
  </div>
  <div>
    <p>embedded-analytics.html</p>
    {% include svg-icons/embedded-analytics.html %}
  </div>
  <div>
    <p>equalizer.svg</p>
    {% include svg-icons/equalizer.svg %}
  </div>
  <div>
    <p>fast-forward.html</p>
    {% include svg-icons/fast-forward.html %}
  </div>
  <div>
    <p>git.html</p>
    {% include svg-icons/git.html %}
  </div>
  <div>
    <p>github-icon.html</p>
    {% include svg-icons/github-icon.html %}
  </div>
  <div>
    <p>globe.html</p>
    {% include svg-icons/globe.html %}
  </div>
  <div>
    <p>graph.html</p>
    {% include svg-icons/graph.html %}
  </div>
  <div>
    <p>interactive-dashboards.html</p>
    {% include svg-icons/interactive-dashboards.html %}
  </div>
  <div>
    <p>growing-businesses.html</p>
    {% include svg-icons/growing-businesses.html %}
  </div>
  <div>
    <p>heart.html</p>
    {% include svg-icons/heart.html %}
  </div>
  <div>
    <p>info-icon-grey.html</p>
    {% include svg-icons/info-icon-grey.html %}
  </div>
  <div>
    <p>info-icon.html</p>
    {% include svg-icons/info-icon.html %}
  </div>
  <div>
    <p>key.html</p>
    {% include svg-icons/key.html %}
  </div>
  <div>
    <p>layers.html</p>
    {% include svg-icons/layers.html %}
  </div>
  <div>
    <p>learn.html</p>
    {% include svg-icons/learn.html %}
  </div>
  <div>
    <p>lightning.html</p>
    {% include svg-icons/lightning.html %}
  </div>
  <div>
    <p>link.html</p>
    {% include svg-icons/link.html %}
  </div>
  <div>
    <p>linkedin-icon.html</p>
    {% include svg-icons/linkedin-icon.html %}
  </div>
  <div>
    <p>list-dot-icon.html</p>
    {% include svg-icons/list-dot-icon.html %}
  </div>
  <div>
    <p>mail-icon.html</p>
    {% include svg-icons/mail-icon.html %}
  </div>
  <div>
    <p>mail-outline.html</p>
    {% include svg-icons/mail-outline.html %}
  </div>
  <div>
    <p>main-nav-chevron.svg</p>
    {% include svg-icons/main-nav-chevron.svg %}
  </div>
  <div>
    <p>map.html</p>
    {% include svg-icons/map.html %}
  </div>
  <div>
    <p>medal.html</p>
    {% include svg-icons/medal.html %}
  </div>
  <div>
    <p>metrics.svg</p>
    {% include svg-icons/metrics.svg %}
  </div>
  <div>
    <p>model.html</p>
    {% include svg-icons/model.html %}
  </div>
  <div>
    <p>modules.html</p>
    {% include svg-icons/modules.html %}
  </div>

  <div>
    <p>moon-and-star.html</p>
    {% include svg-icons/moon-and-star.html %}
  </div>

  <div>
    <p>new-tab.html</p>
    {% include svg-icons/new-tab.html %}
  </div>

  <div>
    <p>nine-dots.html</p>
    {% include svg-icons/nine-dots.html %}
  </div>

  <div>
    <p>paper-icon.html</p>
    {% include svg-icons/paper-icon.html %}
  </div>

  <div>
    <p>people.html</p>
    {% include svg-icons/people.html %}
  </div>

  <div>
    <p>person.html</p>
    {% include svg-icons/person.html %}
  </div>

  <div>
    <p>play-icon.html</p>
    {% include svg-icons/play-icon.html %}
  </div>

  <div>
    <p>playful-icon.html</p>
    {% include svg-icons/playful-icon.html %}
  </div>

  <div>
    <p>play-outline.html</p>
    {% include svg-icons/play-outline.html %}
  </div>

  <div>
    <p>play-outline-boxed.html</p>
    {% include svg-icons/play-outline-boxed.html %}
  </div>

  <div>
    <p>person-in-circle.html</p>
    {% include svg-icons/person-in-circle.html %}
  </div>

  <div>
    <p>ribbon.html</p>
    {% include svg-icons/ribbon.html %}
  </div>

  <div>
    <p>sandbox.html</p>
    {% include svg-icons/sandbox.html %}
  </div>

  <div>
    <p>secure-shield-outline.html</p>
    {% include svg-icons/secure-shield-outline.html %}
  </div>

  <div>
    <p>secure.html</p>
    {% include svg-icons/secure.html %}
  </div>

  <div>
    <p>stars.html</p>
    {% include svg-icons/stars.html %}
  </div>

  <div>
    <p>support-bubble.html</p>
    {% include svg-icons/support-bubble.html %}
  </div>

  <div>
    <p>tech-icon.html</p>
    {% include svg-icons/tech-icon.html %}
  </div>

  <div>
    <p>thumbs-up-icon.html</p>
    {% include svg-icons/thumbs-up-icon.html %}
  </div>

  <div>
    <p>tick-icon.html</p>
    {% include svg-icons/tick-icon.html %}
  </div>

  <div>
    <p>twitter-icon.html</p>
    {% include svg-icons/twitter-icon.html %}
  </div>

  <div>
    <p>twitter-x.html</p>
    {% include svg-icons/twitter-x.html %}
  </div>

  <div>
    <p>twitter.html</p>
    {% include svg-icons/twitter.html %}
  </div>

  <div>
    <p>upload-promo.svg</p>
    {% include svg-icons/upload-promo.svg %}
  </div>

  <div>
    <p>upload.html</p>
    {% include svg-icons/upload.html %}
  </div>

  <div>
    <p>view.html</p>
    {% include svg-icons/view.html %}
  </div>

  <div>
    <p>visit-page.html</p>
    {% include svg-icons/visit-page.html %}
  </div>

  <div>
    <p>windows.html</p>
    {% include svg-icons/windows.html %}
  </div>

  <div>
    <p>youtube.html</p>
    {% include svg-icons/youtube.html %}
  </div>
</div>
