<div
  class="Button btn btn-transparent px-3 py-2 button-desktop"
  id="features-nav-button-desktop"
  tabindex="0">
  <div class="fs-13 d-flex align-items-center">
    <a href="/features">Features</a>
    {% include svg-icons/main-nav-chevron.svg %}
  </div>
  <div class="text-start fw-normal" id="features-nav-menu-wrapper">
    <div class="nav-menu overflow-hidden">
      <div class="d-flex flex-row">
        <div class="menu-links-wrapper">
          {% include navigation-header/link.html
            title="Metabase AI"
            href="/features/metabase-ai"
            icon-from-includes="true"
            icon-src="metabot-icon"
          %}

          {% include navigation-header/link.html
            title="Data Studio"
            href="/product/data-studio"
            icon-from-includes="true"
            icon-src="data-studio.svg"
            show-badge-for-new="true"
          %}

          {% include navigation-header/link.html
            title="Dashboards and reporting"
            href="/features/analytics-dashboards"
            icon-from-includes="true"
            icon-src="interactive-dashboards"
          %}

          {% include navigation-header/link.html
            title="Query builder"
            href="/features/query-builder"
            icon-from-includes="true"
            icon-src="cloud-or-self-hosted"
          %}

          {% include navigation-header/link.html
            title="Data segregation"
            href="/features/data-segregation"
            icon-from-includes="true"
            icon-src="sandbox"
          %}

          {% include navigation-header/link.html
            title="Usage analytics"
            href="/features/usage-analytics"
            icon-from-includes="true"
            icon-src="usage-analytics"
          %}
        </div>

        <div class="menu-links-wrapper">
          {% include navigation-header/link.html
            title="Embedded analytics SDK"
            href="/product/embedded-analytics-sdk"
            icon-from-includes="true"
            icon-src="embedded-analytics-sdk"
          %}

          {% include navigation-header/link.html
            title="White-label analytics"
            href="/features/white-label-analytics"
            icon-from-includes="true"
            icon-src="white-label"
          %}

          {% include navigation-header/link.html
            title="Drill-through"
            href="/features/drill-through"
            icon-from-includes="true"
            icon-src="magnifying-glass"
          %}

          {% include navigation-header/link.html
            title="SQL editor"
            href="/features/sql-editor"
            icon-from-includes="true"
            icon-src="rows"
          %}

          {% include navigation-header/link.html
            title="Permissions"
            href="/features/permissions"
            icon-from-includes="true"
            icon-src="view"
          %}

          {% include navigation-header/link.html
            title="CSV upload"
            href="/product/csv-uploads"
            icon-src="upload"
            icon-from-includes="true"
            icon-src="csv-upload"
          %}
        </div>
      </div>
      {% include navigation-header/desktop/features-menu-footer.html %}
    </div>
  </div>
</div>
