<div
  class="Button btn btn-transparent px-3 py-2 button-desktop"
  id="resources-nav-button-desktop"
  tabindex="0">
  <div class="fs-13 d-flex align-items-center">
    Resources
    {% include svg-icons/main-nav-chevron.svg %}
  </div>

  <div class="text-start fw-normal" id="resources-nav-menu-wrapper">
    <div class="nav-menu overflow-hidden">
    <div class="nav-menu d-flex flex-row" id="resources-nav-menu-desktop">
      <div class="menu-links-wrapper">
        {% include navigation-header/link.html
          title="Blog"
          description="News, updates, and ideas"
          href="/blog"
          icon-src="ribbon"
        %}

        {% include navigation-header/link.html
          title="Events"
          description="Join a live event or watch on demand"
          href="/events/"
          icon-src="play-outline-boxed"
        %}

        {% include navigation-header/link.html
          title="Customers"
          description="Real companies, real data, real stories"
          href="/case-studies"
          icon-src="heart"
        %}

        {% include navigation-header/link.html
          title="Discussion"
          description="Share and connect with other users"
          href="https://discourse.metabase.com/"
          icon-src="balloon-rounded"
        %}

        {% include navigation-header/link.html
          title="Professional Services"
          description="Extra help from our team"
          href="/product/professional-services"
          icon-src="person-in-circle"
        %}

        {% include navigation-header/link.html
          title="Metabase Experts"
          description="Find a local expert"
          href="/partners/"
          icon-src="support-bubble"
        %}
      </div>

      <div class="menu-links-wrapper bg-neutral-95 blog-posts-wrapper">
        <span class="menu-heading">Recent Blog Posts</span>
        {% assign visible_posts = site.posts | where_exp: "post", "post.exclude-from-recommended != true" %}
        {% assign featured = visible_posts | first %}
        {% assign post_image = featured.featured_image | default: featured.image %}
        <a class="w-100 post-with-image recent-blog-link mt-1" href="{{ featured.url }}">
          <div class="d-flex align-items-center position-relative overflow-hidden rounded-2 mb-3" id="recent-blog-image-wrapper">
            <img
              alt="Resources Image"
              class="position-absolute w-100"
              src="{{ post_image }}" loading="lazy"/>
          </div>
          <span class="h6 neutral-40 recent-blog-link-heading mb-3">{{ featured.title }}</span>
        </a>
        {% for post in visible_posts limit: 4 offset: 1 %}
          <a class="w-100 recent-blog-link" href="{{ post.url }}">
            <span class="h6 neutral-40 recent-blog-link-heading mb-3">{{ post.title }}</span>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
