---
title: "Work with data from your CSV files | Metabase"
image: /images/product/csv-uploads-ogg.jpg
layout: default
summary: "Analyze CSV data with Metabase’s query builder. It’s simple enough for anyone on the team to use—no SQL or data expertise needed."
---

<div class="bootstrap">
  <div class="responsive-page">
    <div class="product-intro hero-neutral-background">
      <div class="container">
        {% include pages/csv-uploads/features/upload-and-analyze-spreadsheets.html %}
        {% include pages/csv-uploads/csv-upload-makes-it-easy.html %}
        {% include pages/csv-uploads/cards.html %}
        {% include pages/csv-uploads/how-to-analyze.html %}
      </div>
    </div>

    {% include pages/csv-uploads/try-metabase-footer.html %}
  </div>
</div>

<script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
<script type="text/javascript" src="/js/video-autoplay.js"></script>
