---
title: "Embedded Analytics SDK for React | Metabase"
image: /images/opengraph/sdk-react-og.png
layout: default_light_blue_footer
summary: "The React toolkit for building bespoke interactive analytics that blends into your app without reinventing the wheel"
---

<div class="bootstrap">
  <div class="responsive-page embedding-page embedded-analytics-sdk-page">

    {% include pages/product/embedded-analytics-sdk/hero.html %}

    <div class="product-intro">
      <div class="container py4 mt4 mobile-top-48">
        {% include pages/product/embedded-analytics-sdk/integrated-with-your-ui.html %}
        {% comment %}
        {% include pages/product/embedded-analytics-sdk/testimonials/brian-urso.html %}
        {% endcomment %}
        {% include pages/product/embedded-analytics-sdk/dynamic-theming.html %}
        {% include pages/product/embedded-analytics-sdk/manage-what-people-can-see.html %}
        {% include pages/product/embedded-analytics-sdk/ux-by-you.html %}
        {% include pages/pro/embedded-analytics/embedding-options.html %}
        <div class="faq-contact-us">
          <div>
            {% include svg-icons/balloon-squarish.html %}
            Still have questions? We’d be happy to help
          </div>
          <a class="fs-13 Button btn btn-primary rounded-3 ms-lg-2" href="/talk-to-a-person/">
            Contact us
          </a>
        </div>
        {% include pages/product/embedded-analytics-sdk/get-a-workable-prototype.html %}
      </div>
    </div>
  </div>
</div>

<script src="/js/new-docs-code-snippet-copy.js"></script>
<script src="/js/feature-container.js"></script>
<script type="text/javascript" src="/js/syntax-highlight.js"></script>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
