---
title: "Enterprise Analytics and Business Intelligence Tools | Metabase"
image: /images/opengraph/metabase-enterprise-plan.jpg
layout: default_light_blue_footer
summary: "Enterprise analytics and business intelligence tools. Metabase provides best-in-class business analytics and intelligence tools that helps drive data-based decisions at scale."
---

<div class="bootstrap">
  <div class="responsive-page enterprise-page">

    {% include pages/enterprise/hero.html %}

    <div class="product-intro">
      <div class="container py4 mt4 mobile-top-48">
        {% include pages/enterprise/an-open-line-to-your-assigned-engineer.html %}
        {% include pages/enterprise/client-reviews.html %}
        {% include pages/enterprise/customer-facing-analytics.html %}
        {% include pages/enterprise/premium-service.html %}
        {% include pages/enterprise/built-to-play-well-with-your-data-stack.html %}
        {% include pages/enterprise/testimonials/deepak-sasikumar.html %}
        {% include pages/enterprise/pro-enterprise-comparison-table.html %}
      </div>
    </div>

    <div class="try-metabase-footer">
      {% include pages/enterprise/try-metabase-enterprise.html %}
    </div>
  </div>
</div>

<script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
<script type="text/javascript" src="/js/video-autoplay.js"></script>
