---
title: "Metabase"
layout: default
---
<div class="product-intro">
  <div class="container">
    <div class="">
      <div class="text-centered intro-block mt0">
        <h1 class="xl my0">Built for data.<br><span class="text-brand">Made for everyone.</span></h1>
        <p class="xl my0">Help your team answer their own questions about data in just 5 minutes—no SQL required.</p>
      </div>
      <img
        class="img-w100"
        src="/images/stats-dashboard.svg"
        srcset="
        /images/stats-dashboard.svg 1x,
        "
        />
    </div>
  </div>
  <div class="container py4 mt4 mobile-top-48">
    <div class="row my4 pb3 relative align-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <h2 class="h1">Data exploration for the whole team</h2>
        <p>Metabase sets up in five minutes, connecting to your database, and bringing its data to life in beautiful visualizations.</p>
        <p>An intuitive interface makes data exploration feel like second nature—opening data up for everyone, not just analysts and developers.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-offset-2 bleed-off" id="qb-example">
        <div class="relative">
          <img
            src="/images/product/Frame2378.png"
            class="max-100"
            srcset="
            /images/product/Frame2378.png 1x,
            "
            alt="Graph of sales per source"
            />
        </div>
      </div>
    </div>
    <div class="row my2 pb3 relative align-center mobile-top-48">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <h2 class="h1">Querying beyond the SQL barrier</h2>
        <p>Help everyone dive deeper with an easy-to-use visual query builder. It can handle the complexity of joins, aggregations, and more, freeing your team to focus on uncovering their next insight, rather than picking through SQL.</p>
        <p>Working with something really complex?  No problem—there’s a full editor for those who prefer to write their own SQL.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-offset-2 bleed-off">
        <div class="relative">
          <img
            src="/images/product/ProductFrame.png"
            class="max-100"
            srcset="
            /images/product/ProductFrame.png 1x,
            "
            alt="Interface of data to join and filter"
            loading="lazy"/>
        </div>
      </div>
    </div>
    <div class="row mt4 pb0 relative align-center mobile-top-48">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <h2 class="h1">Share your discoveries</h2>
        <p>Interactive dashboards and automated reports help make data feel like a team sport. Advanced embedding options make it easy to share your data in presentations, publications, or even products.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-offset-2 bleed-off">
        <div class="relative">
          <img
            src="/images/product/Share-Discoveries@3x.png"
            class="max-100"
            srcset="
            /images/product/Share-Discoveries@3x.png 1x,
            /images/product/Share-Discoveries@3x.png 3x,
            "
            alt="Interface of data to join and filter"
            loading="lazy"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py4 bg-neutral">
  <section>
    <div class="container">
      <div class="text-centered intro-block-alt">
        <h2 class="h1 xl">Explore data with ease</h2>
        <p class="xl">Even if you aren’t an analyst, Metabase can make you feel like one. Simple and powerful tools make exploring data second-nature.</p>
      </div>
    </div>
  </section>
  <section class="staggered">
    <div class="container row justify-center">
      <div class="columns col-xs-12 col-sm-5 col-md-5 justify-center">
        <div class="column col-xs-12 col-sm-12 card px2 pb0 mb3">
          <h3>A familiar, intuitive interface</h3>
          <p>Explore your data with simple, spreadsheet-like controls for common actions like sorting, filtering, and summarizing.</p>
          <div class="crop-box bottom-right">
            <img
              src="/images/product/Prod-Search-Illustration.png"
              class=""
              srcset="
              /images/product/Prod-Search-Illustration.png 1x,
              "
              alt="Interface of data to join and filter"
              loading="lazy"/>
          </div>
        </div>
        <div class="column col-xs-12 col-sm-12 card px2 pb2 ml0">
          <h3>Bring your data to life</h3>
          <p>15+ built-in visualizations make it easy to create beautiful live charts and dashboards.</p>
          <div class="crop-box">
            <img
              src="/images/product/Prod-Charts-Illustration.png"
              class=""
              srcset="
              /images/product/Prod-Charts-Illustration.png 1x,
              "
              alt="Interface of data to join and filter"
              loading="lazy"/>
          </div>
        </div>
      </div>
      <div class="columns col-xs-12 col-sm-5 col-md-5 offset-by-half-one justify-center mt4">
        <div class="column col-xs-12 col-sm-12 card px2 pb2 mb3">
          <div class="crop-box top-right">
            <img
              src="/images/product/Type=VisualQueryBuilder.png"
              class=""
              srcset="
              /images/product/Type=VisualQueryBuilder.png 1x,
              /images/product/Type=VisualQueryBuilder@2x.png 2x,
              /images/product/Type=VisualQueryBuilder@3x.png 3x,
              "
              alt="Interface of data to join and filter"
              loading="lazy"/>
          </div>
          <h3>Visual query builder</h3>
          <p>Dive deeper with an easy-to-learn visual query builder that brings advanced actions into reach for everyone.</p>
        </div>
        <div class="column col-xs-12 col-sm-12 card px2 pb2 ml0">
          <div class="crop-box bottom-left">
            <img
              src="/images/product/Product-Join-Illustration.png"
              class=""
              srcset="
              /images/product/Product-Join-Illustration.png 1x,
              "
              alt="Interface of data to join and filter"
              loading="lazy"/>
          </div>
          <h3 class="pt1">Advanced users welcome</h3>
          <p>A native SQL editor is available for advanced users. SQL templates and snippets help them share their work with others.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="pt4 mobile-top-48">
    <div class="container">
      <div class="text-centered intro-block-alt">
        <h2 class="xl">Share your insights</h2>
        <p class="xl">Exploration is better with friends. Metabase goes wherever you need it to, with powerful tools to help you publish, share, and embed your findings.</p>
      </div>
    </div>
    <section class="staggered">
      <div class="container row justify-center">
        <div class="columns col-xs-12 col-sm-5 col-md-5 justify-center">
          <div class="column col-xs-12 col-sm-12 card px2 pb0 mb3">
            <div class="crop-box top-right">
              <img
                src="/images/product/Type=InteractiveDashboards.png"
                class=""
                srcset="
                /images/product/Type=InteractiveDashboards.png 1x,
                "
                alt="Interface of data to join and filter"
                loading="lazy"/>
            </div>
            <h3>Interactive dashboards and visualizations</h3>
            <p>Share visualizations individually, or collect them together into a dashboard. Either way, sharing is as easy as sending a URL.</p>
          </div>
          <div class="column col-xs-12 col-sm-12 card px2 pb0 ml0">
            <h3>Embedding</h3>
            <p>Embed your visualizations and dashboards in webpages, presentations, and more.</p>
            <div class="crop-box bottom-right">
              <img
                src="/images/product/Type=Embedding.png"
                class=""
                srcset="
                /images/product/Type=Embedding.png 1x,
                "
                alt="Interface of data to join and filter"
                loading="lazy"/>
            </div>
          </div>
        </div>
        <div class="columns col-xs-12 col-sm-5 col-md-5 offset-by-half-one justify-center mt4">
          <div class="column col-xs-12 col-sm-12 card px2 pb0 mb3">
            <h3>Automated reports</h3>
            <p>Get your favorite dashboard, right in your inbox or slack channel. Schedule ahead or set triggers for timely alerts.</p>
            <div class="crop-box bottom-right">
              <img
                src="/images/product/Type=AutomatedReports.png"
                class=""
                srcset="
                /images/product/Type=AutomatedReports.png 1x,
                "
                alt="Interface of data to join and filter"
                loading="lazy"/>
            </div>
          </div>
          <div class="column col-xs-12 col-sm-12 card px2 pb0 ml0">
            <h3>Advanced embedding</h3>
            <p>Include Metabase in your own products, including advanced functionality like the query-builder.</p>
            <div class="crop-box bottom-left">
              <img
                src="/images/product/Type=AdvancedEmbedding.png"
                class=""
                srcset="
                /images/product/Type=AdvancedEmbedding.png 1x,
                "
                alt="Interface of data to join and filter"
                loading="lazy"/>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="pt4">
    <div class="container">
      <div class="text-centered intro-block-alt">
        <h2 class="xl">Scale data access</h2>
        <p class="xl">Not all data is meant for everybody. Metabase includes powerful tools to help manage access, assure privacy, and scale data exploration to teams of all sizes.</p>
      </div>
    </div>
    <section class="staggered">
      <div class="container row justify-center">
        <div class="columns col-xs-12 col-sm-5 col-md-5 justify-center">
          <div class="column col-xs-12 col-sm-12 card px2 pb0 mb3">
            <h3>Open up data access, safely</h3>
            <p>Control who can access what. Set permissions at the row, table, and dashboard levels.</p>
            <div class="crop-box bottom-right">
              <img
                src="/images/product/Type=Permissions.png"
                class="sm-show"
                srcset="
                /images/product/Type=Permissions.png 1x,
                "
                alt="Interface of data to join and filter"
                loading="lazy"/>
            </div>
          </div>
          <div class="column col-xs-12 col-sm-12 card px2 pb2 ml0">
            <h3>Monitor access and exports</h3>
            <p>Auditing tools show you query logs, downloads, and activity for all your users. See what data is being accessed, and which of your dashboards and questions are being looked at the most.</p>
            <div class="crop-box bottom-right">
              <img
                src="/images/product/Type=Auditing.png"
                class="sm-show"
                srcset="
                /images/product/Type=Auditing.png 1x,
                "
                alt="Interface of data to join and filter"
                loading="lazy"/>
            </div>
          </div>
          <div class="bootstrap column col-xs-12 col-sm-12 card px0 pb0 ml0">
            <div class="px2 py2">
              <h3 class="mt3">SOC 2 Type II Compliant</h3>
              <p>Our SOC 2 Type II report attests to the controls we have in place governing the security of customer data as they map to Trust Service Principles (TSPs) established by the American Institute of Certified Public Accountants (AICPA).</p>
            </div>
            <div class="bg-neutral-95 px2 py2">
              <img
                src="/images/SOC-2-Badge.png"
                class="sm-show"
                srcset="
                /images/SOC-2-Badge.png 1x,
                "
                style="margin: auto;"
                alt="AICPA SOC2 Type 2"
                loading="lazy"/>
            </div>
          </div>
        </div>
        <div class="columns col-xs-12 col-sm-5 col-md-5 offset-by-half-one justify-center mt4">
          <div class="column col-xs-12 col-sm-12 card px2 pb2 mb3">
            <h3>Manage hundreds or thousands of users</h3>
            <p>Integrate Metabase with your SSO of choice to automatically handle user signups and group permissions.</p>
            <div class="crop-box bottom-right">
              <img
                src="/images/product/Type=OSS.png"
                class="sm-show"
                srcset="
                /images/product/Type=OSS.png 1x,
                "
                alt="Interface of data to join and filter"
                loading="lazy"/>
            </div>
          </div>
          <div class="column col-xs-12 col-sm-12 card px2 pb0 ml0">
            <h3>Light on its feet and easy on your servers</h3>
            <p>Smart results caching keeps your Metabase feeling nimble. And  performance management tools help you track down intensive queries and optimize at the database, dashboard, or question level.</p>
            <div class="crop-box bottom-right">
              <img
                src="/images/product/Type=Lightweight.png"
                class="sm-show"
                srcset="
                /images/product/Type=Lightweight.png 1x
                "
                alt="Interface of data to join and filter"
                loading="lazy"/>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="bootstrap">
      <div class="promote-pro-page-container product-index">
        {% include promote-pro-page-selling-governance.html %}
      </div>
    </div>

  </section>
</div>
{% include get-started-with-metabase.html %}
<script>
  document.addEventListener("DOMContentLoaded", function(){
      var openVideoModal = function(e) {
          e.preventDefault();
          e.stopImmediatePropagation();

          var url = e.currentTarget.href.replace(/\/watch\?v=/, "/embed/");
          url += "?autoplay=1&controls=1";

          var snowplowProperty = e.currentTarget.dataset.spProperty;
          var trackWatchTimeout;
          var trackWatchedSeconds = 30;

          var modal = document.createElement("div");
          var content = document.createElement("div");
          var close = document.createElement("a");
          var start = document.createElement("a");

          var width = Math.round(window.innerWidth * .6);
          if(window.innerWidth < window.innerHeight) width = window.innerWidth; // Mobile-like

          var ratio = 1.77;
          var height = Math.round(width / ratio);

          var closeModal = function() {
              modal.parentNode.removeChild(modal);
              document.body.classList.remove("with-modal");
              clearTimeout(trackWatchTimeout);
          }

          modal.className = "Modal-Wrapper";

          content.className = "Modal-Content";
          content.innerHTML = '<iframe width="' + width + '" height="' + height + '" src="' + url + '" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';

          close.className = "Modal-Close";
          close.href = "#close";
          close.innerHTML = "&times;";

          start.className = "Button Button--primary modal-video-get-started";
          start.href = "https://store.metabase.com/checkout";
          start.innerHTML = "Get started";
          start.addEventListener("click", function(e) {
              snowplow('trackStructEvent', 'video','clicked-get-started','explainer-video-v1');
          });

          setTimeout(function(){
              start.classList.add("shown");
          }, 5 * 1000);

          modal.addEventListener("click", function(e) {
              if(e.currentTarget == e.target) {
                  closeModal();
              }
          });

          close.addEventListener("click", function(e) {
              closeModal();
          });

          modal.append(content);
          modal.append(close);
          content.append(start);

          document.body.classList.add("with-modal");
          document.body.append(modal);

          if (snowplow) {
              snowplow('trackStructEvent', 'video','video-played','explainer-video-v1', snowplowProperty);

              trackWatchTimeout = setTimeout(function() {
                  snowplow('trackStructEvent', 'video','video-watched','explainer-video-v1','length', trackWatchedSeconds);
              }, trackWatchedSeconds * 1000);
          }
      }
      document
          .querySelectorAll(".Button--play-video")
          .forEach(function ($buttonPlayVideo) {
              $buttonPlayVideo.addEventListener("click", openVideoModal);
          });
      document
          .querySelectorAll(".Button--play-video-inline")
          .forEach(function ($buttonPlayVideoInline) {
              $buttonPlayVideoInline.addEventListener("click", openVideoModal);
          });
  });
</script>
