---
title: "Business Analytics Tools | Metabase"
image: /images/opengraph/metabase-pro-plan.jpg
layout: default_light_blue_footer
summary: "Business analytics tools. Metabase provides best-in-class business analytics tools that let you leverage business intelligence, interactive dashboards, and visualize data."
---

<div class="bootstrap">
  <div class="responsive-page pro-page">

    {% include pages/pro/hero.html %}

    <div class="product-intro">
      <div class="container py4 mt4 mobile-top-48">
        {% include pages/pro/features/manage-people-and-groups.html %}
        {% include pages/pro/features/row-level-permissions.html %}
        {% include pages/pro/testimonials/arthur-benhamou.html %}
        {% include pages/pro/features/highlight-moderated-data.html %}
        {% include pages/pro/testimonials/dave-holmes.html %}
        {% include pages/pro/features/in-product-analytics.html %}
        {% include pages/pro/your-look-and-feel.html %}
        {% include pages/pro/testimonials/magnus-fagerlund.html %}
        {% include pages/pro/features/help-from-our-world-class-team.html %}

        <div class="feature-container see-who-did-what">
          <div>
            <h2>See who did what, when, with comprehensive usage analytics</h2>
            <p>Analyze your Metabase usage directly in Metabase. Meet compliance needs, and make better-informed decisions to enable self-service. </p>
            <ul class="checklist-outline">
              <li><b>A collection of dashboards, questions, and models.</b> See trends on usage and performance, with interactive tools to drill deeper.</li>
              <li><b>Set up subscriptions and alerts on user behavior.</b> Get regular updates, or trigger an alert if something unusual happens.</li>
              <li><b>Housekeeping for your Metabase.</b> Make your most-used dashboards, questions, and models easier to find. Cache or ditch slow and unused content. </li>
            </ul>
          </div>
          <div>
            <img
              src="/images/product/pro/usage-analytics.png"
              srcset="
              /images/product/pro/usage-analytics.png 1x,
              "
              alt="See who did what"
              width="70%"
              />
          </div>
        </div>

        {% include pages/pro/features/lightning-quick-answers.html %}
        {% include pages/pro/features/serializable-instance-config.html %}

        <div class="feature-container flex-row-reverse">
          <div>
            <h2>Grant row-level SQL permissions with connection impersonation</h2>
            <ul class="checklist-outline">
              <li><b>Configure database-side roles</b> (think USE ROLE or SET ROLE) when querying.</li>
              <li><b>Give a group access to the native/SQL editor</b>, while restricting the group's access to data based on a specific database role.
</li>
              <li><b>Centralize your teams’ permissions on the database</b> (currently available with Postgres, Redshift, and Snowflake).
</li>
            </ul>
          </div>
          <div>
            <img
              src="/images/product/pro/impersonation.png"
              srcset="
              /images/product/pro/impersonation.png 1x,
              "
              alt="Grant row-level SQL permissions"
              loading="lazy"/>
          </div>
        </div>

        {% include pages/pro/testimonials/nicolas-rivas.html %}
      </div>
    </div>

    <div class="try-metabase-footer">
      {% include pages/pro/try-metabase-footer.html %}
    </div>
  </div>
</div>

<script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
<script type="text/javascript" src="/js/video-autoplay.js"></script>
