---
title: "Metabase for small teams"
image: /images/opengraph/metabase-starter-plan.jpg
layout: default_light_blue_footer
summary: "Small business analytics tools. Leverage powerful business analytics tools that empower small teams with actionable insights."
---

<div class="bootstrap">
  <div class="responsive-page starter-page">

    {% include pages/starter/hero.html %}

    <div class="product-intro">
      <div class="container py4 mt4 mobile-top-48">
        {% include pages/starter/your-metabase-monitored-managed.html %}
        {% include pages/starter/testimonials/josh-singer.html %}
        {% include pages/starter/features/help-from-our-world-class-team.html %}
        {% include pages/starter/oss-starter-comparison-table.html %}
        {% include pages/starter/testimonials/derrick-mar.html %}
      </div>
    </div>

    <div class="try-metabase-footer">
      {% include pages/starter/try-metabase-starter.html %}
    </div>
  </div>
</div>

<script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
<script type="text/javascript" src="/js/video-autoplay.js"></script>
