<div class="hero-container">
  <div class="hero">
    <!-- This fades the clouds in and out as they move from left to right -->
    <div id="gradient-background"></div>
    <!-- This covers the clouds as they enter the stage on the left -->
    <div id="cloud-cover-left"></div>
    <!-- This covers the clouds as they leave the stage on the right -->
    <div id="cloud-cover-right"></div>

    <div class="d-flex flex-column align-items-center">
      <h6>Metabase Pro</h6>
      <h1 class="fw-bold mb-5 text-center h3">
        Self-service analytics<br />on your terms
      </h1>
      <p class="paragraph-4 responsive neutral-40 mb-6 text-center subtitle">
        The simple but powerful Metabase you love, with tighter security and permissions, interactive embedding, and a reasonable price tag.
      </p>
    </div>
    <div class="d-flex justify-content-center align-items-center gap-4">
      <a id="get-started-btn-home" class="fs-13 Button btn btn-primary rounded-3" href="https://store.metabase.com/checkout">Get started</a>
      <a class="fs-13 Button btn btn-outline-blue rounded-3" href="/talk-to-a-person/">Contact us</a>
    </div>

    <div class="cards-container">
      <div class="card">
        {% include svg-icons/people.html %}
        <h4>Manage people and access with ease</h4>
        <p>Avoid sensitive data being seen by someone who shouldn’t with more selective permissions, down to the row and column.</p>
      </div>
      <div class="card">
        {% include svg-icons/cloud-or-self-hosted.html %}
        <h4>Cloud or self-hosted: it’s your choice</h4>
        <p>Migrate your data, questions, and groups smoothly to <a href="/cloud/">Metabase Cloud</a>. Keep it close to you with hosting options in the US, Europe, Latin America, or Asia-Pacific.</p>
      </div>
      <div class="card">
        {% include svg-icons/secure-shield-outline.html %}
        <h4>SOC2 Type II compliance from the get-go</h4>
        <p>Set up for the next stage in your company’s growth. Get compliant, self-serve analytics without the manual box-checking.</p>
      </div>
    </div>

    <div class="trusted-by">
      {% include trusted_by.html %}
    </div>

    <div class="logos customer-logos-container">
      {% include customer-logos.html group="pro"  %}
    </div>
  </div>
</div>
