<div class="full-width-centered">
  <h3>Try Metabase Pro 14 days free</h3>
  <p>Metabase Pro starts at $500 per month, including 10 users. Pay as you go, or get 10% off with an annual subscription.</p>
  <div class="d-flex">
    <a id="get-started-btn-home" class="fs-13 Button btn btn-primary rounded-3 ms-lg-2" href="https://store.metabase.com/checkout">
      Get started
    </a>
    <a id="get-started-btn-home" class="fs-13 Button btn btn-primary btn-outline-blue rounded-3 ms-lg-2" href="/talk-to-a-person/">
      Contact us
    </a>
  </div>
</div>
