<div class="full-width-centered">
  <h3>Your look and feel</h3>
  <p>
    Whether you need internal or customer-facing analytics — or both — you can <a href="/features/white-label-analytics">white label</a> your instance with your own brand.
  </p>
  <p class="list-header">Customize your:</p>
  <ul class="inlined-checks">
    <li>Instance name</li>
    <li>Logo and favicon</li>
    <li>Font</li>
    <li>UI and visualization colors</li>
    <li>Landing page</li>
    <li>Loading message</li>
    <li>Help links</li>
  </ul>
</div>

<div class="full-width-colored-box">
  <img
    src="/images/product/pro/your-look-and-feel.png"
    srcset="/images/product/pro/your-look-and-feel.png 1x"
    alt="Your Look and Feel"
    width="656px"
  loading="lazy"/>
</div>
