---
layout: default_light_blue_footer
image: /images/cloud/metabase-cloud.jpg
title: "Cloud | Metabase"
summary: "You have a choice for hosting your Metabase. Find out how cloud-hosting is optimized for trustworthy, production-grade deployment with none of the work."
---

<div class="bootstrap">
  <div class="cloud-page">
    {% include pages/cloud/hero.html %}

    <div class="container py4">
      {% include pages/cloud/hosting-choice.html %}
      {% include pages/cloud/trustworthy-deployment.html %}
      {% include pages/cloud/data-security-and-privacy.html %}
      {% include pages/cloud/worry-free.html %}
    </div>
      {% include pages/cloud/aws-regions.html %}
    <div class="container py4">
      {% include pages/cloud/success-team.html %}
      {% include pages/cloud/switch-to-cloud.html %}
      {% include pages/cloud/right-choice.html %}
    </div>

    {% include pages/cloud/try-metabase-cloud.html %}
  </div>
</div>
