.events .past-events {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0 0 96px;
  text-align: center;

  .hero {
    background-color: transparent;
    border: none;
    padding: 64px 0;
    text-align: center;

    h1 {
      font-size: 36px;
    }
  }

  @include media-breakpoint-down(lg) {
    .hero {
      padding: 64px 20px 20px;
    }

    .events-entry {
      margin-left: 32px;
      margin-right: 32px;
      width: calc(100% - 64px);
    }
  }
}
