<div class="try-metabase-footer try-metabase-pro">
  <div class="full-width-centered px-10">
    {% include svg-icons/metabot-inner-shadow.html width=90 %}

    <h3>AI that respects your rules. Start exploring.</h3>

    <div class="align-items-center d-flex flex-nowrap flex-column flex-md-row gap-5 justify-center">
      <a href="https://store.metabase.com/checkout?ai=1" class="fs-13 Button btn btn-primary rounded-3">Try Metabase AI free</a>
      <a href="/start/oss/" class="fs-13 Button btn btn-outline-blue rounded-3">Deploy Metabase AI Open Source</a>
    </div>
  </div>
</div>
