---
title: "Upgrade Metabase"
summary: "Upgrade Metabase to the next level with advanced features, our managed cloud, and first-class support."
image: /images/opengraph/pricing.jpg
layout: default
---
<div class="bootstrap">
  <div class="upgrade__oss">
    <div class="bg-alt py-8 py-sm-13">
      <div class="Pricing deploy-monthly">
        <div class="text-center px2 pb1 col-lg-6 mx-auto">
          <h1 class="my0 mb-4 mb-sm-5 h3 fw-bold">Get more of the Metabase you love</h1>
          <p class="paragraph-4 neutral-40 mb0 Pricing-Subheading">Take Metabase to the next level with advanced features, our
            managed cloud, and first-class support.</p>
        </div>

        {% include oss-plans-switcher.html %}

        {% include oss-plans-columns.html %}
      </div>
    </div>

    <div class="container">
      <div class="review__block row flex flex-row justify-center col-xl-10 col-xxl-8 col-xs-12 rounded-4 mx-auto p-0 mb-14">
        <div class="col-xl-6 col-lg-12 flex flex-column p-8">
          <h4 class="blue-60 mb-3">Included in all paid plans</h4>
          <div class="review-tagline neutral-15 mb-3">Support from our award-winning success team</div>
          <p class="mb-4">We don't like to brag, so we'll let our customers do it for us.</p>
          <p class="font-weight-bold mb-3 upgrading-tagline">By upgrading, you'll get access to:</p>
          <ul>
            <li>
              <svg
                fill="none"
                height="8"
                viewBox="0 0 11 8"
                width="11"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  clip-rule="evenodd"
                  d="M10.524 1.30373L3.96073 7.86702L0.182495 4.08879L0.97799 3.29329L3.96073 6.27603L9.72851 0.50824L10.524 1.30373Z"
                  fill-rule="evenodd"
                  fill="#509EE3" />
              </svg>
              Support from actual technical experts. We’re all avid Metabase users, so we’ve been in your
              shoes.
            </li>
            <li>
              <svg
                fill="none"
                height="8"
                viewBox="0 0 11 8"
                width="11"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  clip-rule="evenodd"
                  d="M10.524 1.30373L3.96073 7.86702L0.182495 4.08879L0.97799 3.29329L3.96073 6.27603L9.72851 0.50824L10.524 1.30373Z"
                  fill-rule="evenodd"
                  fill="#509EE3" />
              </svg>
              Help with whatever your problem is, be it admin troubleshooting or advice on best practices.
            </li>
            <li>
              <svg
                fill="none"
                height="8"
                viewBox="0 0 11 8"
                width="11"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  clip-rule="evenodd"
                  d="M10.524 1.30373L3.96073 7.86702L0.182495 4.08879L0.97799 3.29329L3.96073 6.27603L9.72851 0.50824L10.524 1.30373Z"
                  fill-rule="evenodd"
                  fill="#509EE3" />
              </svg>
              No chatbots, no hold lines, no customer service runaround. Just email us, we’re right here.
            </li>
          </ul>
        </div>
        <div class="col-xl-6 col-lg-12 flex flex-column p-0">
          <div class="flex flex-column review-card-container">
            <div class="review-card-absolute-container px-8">
              {% for review in site.data.reviews %}
                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">{{ review.quote }}</p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img alt="review headshot" src="{{ review.headshot }}">
                    </div>
                    <div class="review-logo rounded-circle">
                      <img alt="review logo" src="{{ review.logo }}" loading="lazy" />
                    </div>
                    <div class="flex flex-column justify-content-around flex-grow-1">
                      <div class="review-name">{{ review.name }}</div>
                      <div class="review-title">{{ review.title }}, {{ review.company }}</div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="review-card-absolute-container secondary-animation px-8">
              {% for review in site.data.reviews %}
                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">{{ review.quote }}</p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img alt="review headshot" src="{{ review.headshot }}" loading="lazy" />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img alt="review logo" src="{{ review.logo }}" loading="lazy" />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">{{ review.name }}</div>
                      <div class="review-title">{{ review.title }}, {{ review.company }}</div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row flex flex-row-sm justify-center text-center mb-11 mt-7">
        <div class="col-xs-12 col-lg-7">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <img class="max-100 px-4 satellite-illustration" src="/images/upgrade/satellite-llustration.svg" />
            </div>
            <div class="col-xs-12 col-sm-8 text-left">
              <h3 class="satellite-title">Don’t worry, trialing is quick and non-commital!</h3>
              <p class="satellite-text">You can
                <a  href="/cloud/docs/migrate/guide">migrate</a>
                your open-source Metabase to Starter or Pro
                Cloud in a few minutes. All of your Metabase data (questions, collections,
                                                groups—everything) will be along for the ride, so you don’t need to recreate everything
                                                again from scratch.</p>
              <p class="satellite-text">If you want to try
                <a href="https://store.metabase.com/checkout/pro/">Pro
                  Self-hosted</a>, you can deploy a specific Docker or JAR and
                <a href="/docs/latest/paid-features/activating-the-enterprise-edition">swap out the token for the new one</a>. No migration needed.</p>

              <p class="satellite-text">In any case, if you cancel, you can continue using your
                open-source instance with no hiccup.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-md-13 mobile-top-48 talk-to-sales">
      <div class="row my-4 p-8 col-md-12 col-xl-10 col-xxl-8 mx-auto relative drop-shadow rounded-4 border--blue-95 align-items-center flex-column flex-lg-row">
        <div class="col-md-9 p-0">
          <label class="mb-4 cta-card__label cta-card__label--purple border-0">Enterprise</label>
          <h3 class="m0 h4-5 fw-bold">Enterprise-scale problems? Need a hand with procurement?</h3>
          <p class="mb-0">We’re happy to assist—just get in touch and we’ll take it from there.</p>
        </div>
        <div class="col-md-3 text-right p-0">
          <a class="Button Button--primary ml1 md-ml-auto md-mr-auto bg-purple-50 border mb-0 mb-md-8" href="/sales/">Talk to sales</a>
        </div>
      </div>
    </div>

    <section class="my-13 p-0 mb-0">
      <div class="container py-4 mt-4">
        <div class="row my-4 pb-3 relative">
          <div class="col-xs-12 col-xl-10 col-xxl-8 mx-auto">
            <h2 class="mb-13 embedding-page__section-title text-center">Frequently asked questions</h2>
            <p class="mb-12 embedding-page__tagline">
              <strong class="embedding-page__question">What should I
                expect in the upgrade process?</strong><br>
              Upgrading is pretty straight-forward. If you’re coming from open-source Metabase, just sign
              up for a free trial of any plan, and follow the
              <a href="/cloud/docs/migrate/guide">migration guide</a>. Everything will be included in the migration. If you’re already using a premium plan,
              just reach out and we can assist.</p>

            <p class="mb-12 embedding-page__tagline">
              <strong class="embedding-page__question">How do I know
                what’s included in each plan?</strong><br>
              Our
              <a href="/pricing/">pricing page</a>
              has all the details of
              every feature and benefit in each plan.</p>

            <p class="mb-12 embedding-page__tagline">
              <strong class="embedding-page__question">Can you tell
                me more about your cloud hosting?</strong><br>
              We’ve got
              <a href="/blog/why-metabase-cloud">a great blog
                post</a>
              covering everything you might want to know about Metabase Cloud.</p>

            <p class="mb-8 embedding-page__tagline">
              <strong class="embedding-page__question">Can I cancel my
                subscription?</strong><br>
              Yup, and all of our plans start with a 14-day free trial. So it’s easy to try it out and
              make sure everything’s working for you. If you cancel, you can continue using your
                                          open-source instance, no problem.</p>
          </div>
        </div>
      </div>
    </section>

    <div class="container py-4">
      <div class="row my-4 pb-3 relative text-center">
        <div class="col-xs-12 col-xl-10 col-xxl-8 py-13 px-9 mx-auto rounded-4 background__grid">
          <h3 class="m0 h4">Still have questions?</h3>
          <p>Can’t find the answer you’re looking for? Talk to our team.</p>
          <a class="Button Button--primary ml1 sm-ml-auto sm-mr-auto" href="/sales/">Contact
            us</a>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script>
  var applyTT = document.querySelectorAll('.apply-tooltip');
  tippy(applyTT, {
    duration: [
      0,
      0
    ],
    placement: 'auto',
    trigger: 'mouseenter click',
    popperOptions: {
      strategy: 'fixed',
      modifiers: [
        {
          name: 'flip',
          options: {
            fallbackPlacements: [
              'top',
              'right'
            ]
          }
        }, {
          name: 'preventOverflow',
          options: {
            altAxis: true,
            tether: false
          }
        }
      ]
    }
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.Pricing-Switcher a').forEach(function(link) {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        var container = document.querySelectorAll('.Pricing')[0];
        var currModel = container.className.match(/deploy\-(.+)/)[1];

        const newModel = (currModel == 'monthly') ? 'deploy-annually' : 'deploy-monthly';
        container.className = container.className.replace(/deploy\-(.+)/, newModel);
      });
    });
  });
</script>

<script src="/js/upgrade.js"></script>
