<div class="cards-container small-margin-top">
  <div class="card no-icon">
    <h4>For marketers</h4>
    <p>Measure the impact of onboarding campaigns by uploading CSV data from your email tool analyzing it in Metabase.</p>
</div>

  <div class="card no-icon">
    <h4>For customer success leaders</h4>
    <p>Filter and pull threads in your NPS survey data by plugging it into Metabase for better insights on your customers.</p>
  </div>


  <div class="card no-icon">
    <h4>For product managers</h4>
    <p>Bring your product analytics into Metabase, even if you don’t have a proper ETL or database setup for the source yet.</p>
  </div>
</div>
