<div class="full-width-centered how-to-analyze-csvs">
    <h3>How to analyze CSVs in Metabase</h3>

    <div class="numbered-text">
        <div>
            <div>1</div>
            <div>
                <p>Already using Metabase? Make sure CSV uploads work with your connected database. <a href="/docs/latest/databases/uploads#databases-that-support-uploads">Check the docs</a> to see which databases are supported.</p>

<p>No database? No problem. Try Metabase with built-in storage to upload and analyze CSVs without hooking up a database. Check out our <a href="/docs/latest/cloud/storage">docs on how Metabase Cloud Storage works and getting set up</a>, or <a href="https://store.metabase.com/checkout?dwh=1">start a free trial</a>.</p>
            </div>
        </div>
        <div>
            <div>2</div>
            <div>
                Have your CSV data available to upload and ready to analyze. If you have a Google or Excel spreadsheet, go to File > Download (.csv).
            </div>
        </div>
        <div>
            <div>3</div>
            <div>
                In Metabase, navigate to the Collection you want to add your CSV to.
            </div>
        </div>
        <div>
            <div>4</div>
            <div>
                Upload your CSV into the Collection by clicking {% include svg-icons/upload.html %} or dragging the file directly into the Collection you want to add it to.
            </div>
        </div>
        <div>
            <div>5</div>
            <div>
                Once your upload finishes, Metabase will create a <a href="/docs/latest/data-modeling/models">model</a> for that CSV data, as well as a table in the schema your admin has designated to store uploads. Now you’re ready to start querying, applying x-rays, building dashboards, and more.
            </div>
        </div>
        <div>
            <div>6</div>
            <div>
                Keep the model up to date as the data evolves. Upload new rows to the CSV-created model by clicking {{upload-icon}} in the collection view, and selecting ‘Append data to a model’.
            </div>
        </div>
    </div>
</div>
