{% assign component = include.component %}

<div class="title-text-and-checks">
  <h2>Easy-to-use data exploration tools for people of all levels</h2>
  <p>Get a BI tool with friendly UX that lets everyone make sense of your data in {{ component.db }}.</p>

  <ul class="checklist-outline">
    <li>Query data in plain English with <a href="/features/metabase-ai">Metabot</a>, your AI data assistant. Chat with your database, generate and debug SQL, get AI-generated summaries on charts, and more</li>
    <li>Interactive dashboards that load as fast as {{ component.db }} does with click-to-explore functionality.
    <li>Click to drill through on interactive charts and dashboards, zoom in on timelines or areas of interest, and break out for more context on a specific area.</li>
    <li>Ask questions with nothing more than clicks in the Query Builder—no SQL required (or use the SQL editor if that’s more your style).</li>
    <li>Set up models and metrics to give less technical teammates metadata-rich starting points, with trickier stuff like joins taken care of.</li>
  </ul>
</div>
