{% assign website_domain = page.website | split: '//' | slice: 1 | join: "" | split: "/"| slice: 0 | join: "" | replace: "www.", "" %}

{% if page.connector contains "Official" %}
  {% assign connector_description = "Built and managed by Metabase, available in all editions" %}
  {% assign connector_support = "Unlimited technical help available on paid plans." %}
{% else %}
  {% assign connector_description = "Built and managed by our open-source community, available only when self-hosting, and not officially supported by Metabase" %}
  {% assign connector_support = "Community drivers aren't officially supported by Metabase, so if something isn't working quite right, 
  it's best to reach out to the author or check the driver's docs." %}
{% endif %}

<div>
  <img src="{{ page.logo_image }}" alt="{{ page.title }}" class="logo">
  <h3>{{ page.title }}</h3>
  <p>{{ page.summary }}</p>

  <a href="https://store.metabase.com/checkout" class="btn btn-primary">Get started with Metabase</a>

  <h5>Read documentation</h5>
  <p><a href="{{ page.doc_link }}" target="_blank">{{ page.title }} + Metabase docs</a></p>
  <hr>
  <h5>Type</h5>
  <p>
    {% if page.connector contains "Official" %}
      <a href="/data-sources#official-data-source-connectors" class="connector">
        {% include svg-icons/medal.html %}
        Official Connector
      </a>
   {% else %}
      <a href="/data-sources#community-data-source-connectors" class="connector">
        {% include svg-icons/globe.html %}
        Community Connector
      </a>
    {% endif %}

    <p>{{ connector_description }}</p>
  </p>
  <hr>
  <h5>Website</h5>
  <p><a href="{{ page.website }}" target="_blank">{{ website_domain }}</a></p>
  <hr>
    <h5>Support</h5>
    <p>{{ connector_support }}</p>
</div>
