{% assign component = include.component %}

<div class="title-text-and-checks">
  <h2>Lots of options for sharing charts and dashboards with your team—or your customers</h2>
  <p>With as much interactivity and room to pull threads (or as little) as you want.</p>

  <ul class="checklist-outline">
    <li>Customer-facing analytics is just a snippet away. Embed all of Metabase in your app, or just a dashboard.</li>
    <li>Export charts and dashboards to PDF, CSV, or share via a public link.</li>
    <li>Set up subscriptions for regularly scheduled updates. Even to people without a Metabase login.</li>
    <li>Get alerts when things change unexpectedly.</li>
  </ul>
</div>
