{% assign component = include.component %}
{% assign top = include.component.top-checklist %}
{% assign bottom = include.component.bottom-checklist %}

<div class="two-checklists">
  <h2>{{top.headline}}</h2>
  <p>{{top.subheading}}</p>

  <hr>

  {% if top.list-heading %}
    <h3>{{top.list-heading}}</h3>
  {% endif %}

  {% if top.list-items %}
    <ul class="checklist-outline">
      {% for item in top.list-items %}
        <li>{{item}}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if bottom %}
    <hr>

    <h3>
      {% if bottom.icon %}
        {% include svg-icons/{{bottom.icon}}.html %}
      {% endif %}

      {{bottom.list-heading}}

      {% if bottom.tooltip %}
        <span class="apply-tooltip" data-tippy-content="{{bottom.tooltip}}" data-tippy-placement="top">
          {% include svg-icons/info-icon-grey.html %}
      {% endif %}
    </h3>

    {% if bottom.list-items %}
      {% if bottom.are-list-items-available == true %}
        {% assign availability_class = "available" %}
      {% else %}
        {% assign availability_class = "not-available" %}
      {% endif %}
      <ul class="checklist-outline {{ availability_class }}">
        {% for item in bottom.list-items %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <hr>
  {% endif %}

  <a href="/pricing#compare" class="see-all-features">See all features {% include svg-icons/chevron.html %}</a>
</div>
