<section class="demo">
  <h1>Embedding demo</h1>
  <p>Explore what's possible with embedded Metabase</p>

  <div class="tabs-with-timer" data-disable-autoplay>
    <nav class="tabs-with-timer__nav">
      <ul class="tabs-with-timer__nav__list">
        <li class="tabs-with-timer__nav__list__item">
          <button class="tabs-with-timer__button" data-slug="static-embedding">
            Modular Embedding
          </button>
        </li>
        <li class="tabs-with-timer__nav__list__item">
          <button class="tabs-with-timer__button" data-slug="embedding-sdk">
            Modular Embedding SDK for React
          </button>
        </li>
        <li class="tabs-with-timer__nav__list__item">
          <button
            class="tabs-with-timer__button"
            data-slug="interactive-embedding"
          >
            Full-app Embedding
          </button>
        </li>
      </ul>
    </nav>

    <div class="tabs-with-timer__container">
      <div class="tabs-with-timer__content">
        <p>
          Explore People Analytics, powered by Modular Embedding
          from their Metabase instance.
        </p>
        <a
          href="https://people-analytics-embedded-demo.vercel.app/"
          class="block sm-inline-block px2 Button btn btn-subtle"
          target="_blank"
        >
          {% include svg-icons/new-tab.html width="10" height="12" %}
          <span class="ps-2">Open full-screen</span>
        </a>

        <div class="container">
          {% include feature/browser-style-iframe-wrapper.html
          url="www.people-analytics.com" src="https://people-analytics-embedded-demo.vercel.app/" %}
        </div>
      </div>

      <div class="tabs-with-timer__content">
        <p>
          Explore the ecommerce platform, with embedded analytics powered
          by the React SDK.
        </p>
        <a
          href="https://embedded-analytics-sdk-demo.metabase.com/admin/products/19"
          class="block sm-inline-block px2 Button btn btn-subtle"
          target="_blank"
        >
          {% include svg-icons/new-tab.html width="10" height="12" %}
          <span class="ps-2">Open full-screen</span>
        </a>

        <div class="container">
          {% include feature/browser-style-iframe-wrapper.html
          url="www.shoppy.com"
          src="https://embedded-analytics-sdk-demo.metabase.com/admin/products/19"
          %}
        </div>
      </div>

      <div class="tabs-with-timer__content">
        <p>
          Explore Edumation's internal app, powered by embedded analytics from
          their Metabase instance.
        </p>

        <a
          href="https://embedding-demo.metabase.com/"
          class="block sm-inline-block px2 Button btn btn-subtle"
          target="_blank"
        >
          {% include svg-icons/new-tab.html width="10" height="12" %}
          <span class="ps-2">Open full-screen</span>
        </a>

        <div class="container">
          {% include feature/browser-style-iframe-wrapper.html
          url="www.edumation.edu" src="https://embedding-demo.metabase.com/" %}
        </div>
      </div>
    </div>
  </div>
</section>
