<section class="embedding-options">
  <h3>Not sure which embedding option is for you?</h3>

  <div class="container">
    <div>
      <h5>Modular Embedding</h5>
      <h6>Available in <a class="pro" href="/pricing">Pro</a> and
        <a class="enterprise" href="/pricing">Enterprise</a> plans.</h6>
      <ul>
        <li>
          JS library with a no-code UI to customize and embed interactive Metabase components for authenticated users.
        </li>
        <li>
          Let your customers filter, click into, and explore data on their own.
        </li>
        <li><a href="/docs/latest/embedding/guest-embedding">Guest embeds</a> for unauthenticated users can also be implemented with Modular Embedding on all plans.</li>
      </ul>
    </div>

    <div>
      <h5>Modular Embedding SDK for React</h5>
      <h6>
        Available in <a class="pro" href="/pricing">Pro</a> and
        <a class="enterprise" href="/pricing">Enterprise</a> plans.
      </h6>
      <ul>
        <li>
          Theme and embed individual React components for analytics that’s fully
          integrated with your UI.
        </li>
        <li>
          Manage permissions and interactivity at both the component- and
          user-level.
        </li>
      </ul>
    </div>

    <div>
      <h5>Full-app Embedding</h5>
      <h6>
        Available in <a class="pro" href="/pricing">Pro</a> and
        <a class="enterprise" href="/pricing">Enterprise</a> plans.
      </h6>
      <ul>
        <li>
          Embed all of Metabase in your app with your branding.
        </li>
        <li>
          Set SSO permissions so customers can query, visualize, and drill-down
          on the data they need, without giving access to anything they don‘t.
        </li>
      </ul>
    </div>
  </div>
</section>
