<section class="embedding-options">
  <h3>Not sure which embedding option is for you?</h3>

  <div class="container">
    <div>
      <h5>Interactive Embedding</h5>
      <h6>
        Available in <a class="pro" href="/product/pro">Pro</a> and
        <a class="enterprise" href="/product/enterprise">Enterprise</a> plans.
      </h6>
      <ul>
        <li>
          Full, self-service report builder in in your app, with your branding.
        </li>
        <li>
          Set SSO permissions so customers can query, visualize, and drill-down
          on the data they need, and nothing they don‘t.
        </li>
      </ul>
    </div>

    <div>
      <h5>Static Embedding</h5>
      <h6>Available in all Metabase plans.</h6>
      <ul>
        <li>
          Simple dashboard or chart embedded in your app.
        </li>
        <li>
          Your users will see data, but won’t be able to click through into it.
        </li>
      </ul>
    </div>

    <div>
      <h5>Embedded analytics SDK for React</h5>
      <h6>
        Available in <a class="pro" href="/product/pro">Pro</a> and
        <a class="enterprise" href="/product/enterprise">Enterprise</a> plans.
      </h6>
      <ul>
        <li>
          Theme and embed individual React components for analytics that’s fully
          integrated with your UI.
        </li>
        <li>
          Manage permissions and interactivity at both the component- and
          user-level.
        </li>
      </ul>
    </div>
  </div>
</section>
