<a class="menu-link" href="{{ include.href }}">
  {% comment %}
    TODO (bpander 2/6/26): This `if/else` shouldn't be necessary.
    E.g. use .svg for all icons or specify the ext in icon-src, preferably the former.
  {% endcomment %}
  {% if include.icon-src contains ".svg" %}
    {% include svg-icons/{{ include.icon-src }} %}
  {% else %}
    {% include svg-icons/{{ include.icon-src }}.html %}
  {% endif %}

  <div>
    <span class="menu-link-heading">
      {{ include.title }}
    </span>

    {% if include.show-badge-for-new %}
      <span class="badge">New</span>
    {% endif %}

    {% if include.show-badge-for-soon %}
    <span class="badge">Beta</span>
    {% endif %}

    {% if include.description %}
      <p class="menu-link-description">{{ include.description }}</p>
    {% endif %}
  </div>
</a>
