.pricing-container .billing-selection {
  align-items: center;
  background-color: white;
  border: 1px solid $blue-90;
  border-bottom: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  padding: 24px;
  position: relative;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    gap: 16px;
  }

  h3 {
    color: $neutral-40;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 0;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  > div:last-child {
    align-items: center;
    border: 1px solid $blue-90;
    border-radius: 8px;
    display: flex;
  }

  .hoverable-toggler {
    border: none;
    margin-bottom: 0;

    div.hover-highlight {
      &.link-1 {
        left: 50%;
        width: calc(50% - 4px);
      }
    }

    > a {
      align-items: flex-start;
      padding-left: 8px;
      padding-right: 8px;

      > span {
        top: -1px;
      }
    }

    > a:last-child {
      padding-bottom: 0;

      > span {
        padding-right: 6px;
      }
    }
  }

  #amount-being-saved {
    background-color: $neutral-95;
    border: 1px solid $neutral-90;
    border-radius: 4px;
    color: $neutral-60;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin: 0 3px;
    padding: 4px 4px 5px;
    text-wrap: nowrap;
    transition: all 0.2s ease;

    &.active {
      background-color: $green-90;
      border: 1px solid $green-80;
      color: $green-50;
    }
  }

  &__label--off,
  &__label--on {
    font-size: 14px;
    transition: color 200ms;

    @include media-breakpoint-up(lg) {
      font-size: 16px;
    }
  }

  &__badge {
    background: $green-90;
    border: 1px solid $green-80;
    border-radius: 4px;
    color: $green-50;
    font-size: 12px;
    font-weight: 700;
    height: fit-content;
    line-height: 1;
    padding: 0.25rem;
    white-space: nowrap;
    width: fit-content;

    @include media-breakpoint-up(lg) {
      font-size: 14px;
      position: relative;
      text-align: center;
      width: 90px;
    }

    &--on {
      display: none;
    }
  }

  // interactions
  input {
    &:checked ~ label > .switch::after {
      left: 23px;
    }

    // labels
    &:not(:checked) ~ label > .billing-selection__label--off {
      color: $blue-60;
    }

    &:checked ~ label > .billing-selection__label--on {
      color: $blue-60;
    }

    // badges
    &:checked ~ label {
      & > .billing-selection__badge--off {
        display: none;
      }

      & > .billing-selection__badge--on {
        display: block;
      }
    }
  }
}
