.pricing-container .billing-selection {
  position: relative;

  &__label--off,
  &__label--on {
    font-size: 14px;
    transition: color 200ms;

    @include media-breakpoint-up(lg) {
      font-size: 16px;
    }
  }

  &__icon {
    background-color: $blue-95;
    border: 1px solid $blue-90;
    border-radius: 12px;
    height: 24px;
    overflow: hidden;
    position: relative;
    width: 45px;

    &__handle {
      background-color: $blue-60;
      border-radius: 18px;
      display: inline-block;
      height: 18px;
      left: 2px;
      position: absolute;
      top: 2px;
      transition: left 200ms;
      width: 18px;
    }
  }

  &__badge {
    background: $green-90;
    border: 1px solid $green-80;
    border-radius: 4px;
    color: $green-50;
    font-size: 12px;
    font-weight: 700;
    height: fit-content;
    line-height: 1;
    padding: 0.25rem;
    white-space: nowrap;
    width: fit-content;

    @include media-breakpoint-up(lg) {
      font-size: 14px;
      position: relative;
      text-align: center;
      width: 90px;
    }

    &--on {
      display: none;
    }
  }

  // interactions
  input {
    &:checked ~ label > .billing-selection__icon > .billing-selection__icon__handle {
      left: 23px;
    }

    // labels
    &:not(:checked) ~ label > .billing-selection__label--off {
      color: $blue-60;
    }

    &:checked ~ label > .billing-selection__label--on {
      color: $blue-60;
    }

    // badges
    &:checked ~ label {
      & > .billing-selection__badge--off {
        display: none;
      }

      & > .billing-selection__badge--on {
        display: block;
      }
    }
  }
}
