.pricing-container {
  .pricing-tier-oss .Button {
    background-color: $yellow-60;
    border-color: $yellow-60;
    color: white;

    &:hover {
      background-color: $yellow-50;
      border-color: $yellow-50;
    }
  }

  .pricing-tier-starter .Button {
    background-color: $green-50;
    border-color: $green-50;
    color: white;

    &:hover {
      background-color: $green-40;
      border-color: $green-40;
    }
  }

  .pricing-tier-pro .Button {
    background-color: $blue-60;
    border-color: $blue-60;
    color: white;

    &:hover {
      background-color: $blue-40;
      border-color: $blue-40;
    }
  }

  .pricing-tier-enterprise .Button {
    background-color: $purple-50;
    border-color: $purple-50;
    color: white;

    &:hover {
      background-color: $purple-40;
      border-color: $purple-40;
    }
  }
}
