$pricing-tooltip-arrow-size: 6px;

.pricing-tooltip {
  position: relative;

  .apply-tooltip {
    border-bottom: 1px dashed;
    transition: color 0.2s ease;

    &:hover {
      color: $neutral-40;
    }
  }

  &__text {
    cursor: pointer;
    position: relative;
    transition: color 200ms;

    &::before {
      border-top: 1px dashed $neutral-80;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      top: 100%;
      transition: border-color 200ms;
      width: 100%;
    }
  }

  &__content {
    left: 50%;
    margin-left: -125px;
    margin-top: 0.75rem;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transition: opacity 300ms;
    user-select: none;
    width: 250px;

    &--300 {
      margin-left: -150px;
      width: 300px;
    }

    &::before {
      background-color: $neutral-15;
      content: "";
      display: block;
      height: $pricing-tooltip-arrow-size;
      left: 50%;
      margin-left: calc($pricing-tooltip-arrow-size / -2);
      position: absolute;
      top: calc($pricing-tooltip-arrow-size / -2);
      transform: rotate(45deg);
      width: $pricing-tooltip-arrow-size;
    }

    & > span {
      background-color: $neutral-15;
      border-radius: 8px;
      color: $neutral-99;
      display: inline-block;
      font-size: 12px;
      line-height: 1.15rem;
      padding: 8px 12px;
      text-align: center;
      width: auto;
    }
  }

  &--top {
    .pricing-tooltip__content {
      bottom: 100%;
      margin-bottom: 0.5rem;
      margin-top: auto;
      top: auto;

      &::before {
        bottom: calc($pricing-tooltip-arrow-size / -2);
        top: auto;
      }
    }
  }

  &--lg-left {
    @include media-breakpoint-up(lg) {
      .pricing-tooltip__content {
        bottom: auto;
        left: auto;
        margin: 0 0.75rem 0 auto;
        right: 100%;
        top: 0;
        transform: translateY(-30%);

        &::before {
          bottom: auto;
          left: 100%;
          margin-top: calc($pricing-tooltip-arrow-size / -2);
          top: 50%;
        }
      }
    }
  }

  &:focus,
  &:hover {
    .pricing-tooltip__content {
      opacity: 1;
    }

    .pricing-tooltip__text {
      color: $neutral-40;

      &::before {
        border-color: $neutral-40;
      }
    }
  }
}

.apply-tooltip {
  width: 100%;

  a {
    border-bottom: 1px dashed;
    color: $neutral-60;
    font-weight: 700;
    transition: color 0.2s ease;

    &:hover {
      color: $neutral-40;
    }
  }
}
