.home-page-2025 .why-people-love {
  padding-bottom: 64px;

  .infinite-marquee-slider {
    align-items: end;
    height: 200px;
    padding: 0;

    &.reverse-marquee {
      align-items: start;
    }
  }

  .testimonial-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
  }

  .testimonial {
    background-color: white;
    border: 1px solid $blue-90;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    flex: 0 0 auto;
    margin: 0 16px 0 0;
    max-width: 400px;
    padding: 24px 24px 12px;

    > div {
      align-items: center;
      display: flex;
      font-weight: 700;
      gap: 8px;
      margin-bottom: 16px;

      img {
        border-radius: 50%;
        height: 36px;
        width: 36px;
      }
    }

    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      text-align: left;

      em {
        color: $blue-60;
        font-style: normal;
      }
    }
  }

  .infinite-marquee-container {
    background-color: white;
  }

  .infinite-marquee-container + .infinite-marquee-container {
    margin-top: 24px;
  }

  .title {
    margin-bottom: 60px;
    position: relative;
    z-index: 2;

    span {
      color: $neutral-15;
      font-size: 36px;

      &:first-child {
        color: $neutral-15;
      }
    }

    > div {
      rotate: 30deg;

      &::before {
        background: url("/images/home-page-2025/love.gif") no-repeat center/contain;
        content: "";
        inset: 5px;
        position: absolute;
      }
    }
  }
}
