.learn .learn__article {
  margin-bottom: 0;
  padding-top: 56px;

  @include media-breakpoint-down(lg) {
    overflow: hidden;
  }

  h2 code {
    font-size: 24px;
    line-height: 36px;
  }

  h4 {
    font-size: 16px;
    font-weight: 900;
  }

  img {
    &.zoomImg {
      // outline: 1000px solid $neutral-98;
      border-radius: 0;
      position: relative;
      z-index: 2;
    }
  }

  #the-overlay {
    background: $neutral-98;
    outline: 1000px solid $neutral-98;
    position: relative;
    z-index: 1;
  }

  &__nav {
    border: 1px solid $blue-90;
    border-radius: 12px;
    margin-top: 48px;
    padding: 24px;
    transition: background-color 0.3s ease, border-color 0.3s ease !important;
    width: 100%;

    &:hover {
      background-color: white;
      border-color: $blue-85;

      div {
        background-color: $neutral-98;
        border-color: $blue-85;
      }
    }

    h5 {
      color: $neutral-40;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    p {
      color: $neutral-60;
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 24px;
    }

    div {
      align-items: center;
      background: white;
      border: 1px solid $blue-90;
      border-radius: 8px;
      color: $blue-60;
      display: inline-flex;
      gap: 8px;
      padding: 9px 10px;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      svg path {
        fill: $blue-60;
        transition: fill 0.3s ease;
      }
    }
  }

  .copy-clip-container {
    align-items: end;
    display: flex;
    flex-direction: row;

    &.h2 {
      border-bottom: 1px solid $neutral-80;

      h2 {
        margin: 16px 0 0;
        width: auto;
      }
    }

    .copy-clip {
      top: 3px;
    }
  }
}
