.learn:not(.docs) .learn__post:not(.category) {
  @include media-breakpoint-down(xxl) {
    background-position: top 110px right -100px;
    padding-left: 0;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
  }
}

.learn .learn__post {
  background-position: top 80px right -100px;
  background-repeat: no-repeat;
  background-size: 1020px 340px;
  margin-bottom: 0;

  @include media-breakpoint-down(xxl) {
    padding-left: 72px;
    padding-right: 0;
  }

  @include media-breakpoint-down(xl) {
    background-position: top 210px right -60px;
    background-size: auto 200px;
  }

  @include media-breakpoint-down(lg) {
    padding-left: 0;
  }

  @include media-breakpoint-down(sm) {
    background-position: top 56px right -50px;
    background-size: auto 100px;
    padding-left: 20px;

    header {
      padding-right: 0;
    }
  }

  &.category,
  &.subcategory {
    header {
      padding-right: 200px;

      @include media-breakpoint-down(lg) {
        padding-right: 0;
      }

      &.has-bg-image {
        padding-bottom: 120px;
      }
    }

    &.no-bg-image {
      header {
        padding-right: 0;
      }
    }
  }

  &.category {
    img {
      box-shadow: none;
    }
  }

  &.subcategory {
    padding-right: 20px;

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr 0;

      div.learn__post__content {
        padding-right: 0;
      }
    }
  }

  &.getting-started {
    background-image: url("/images/learn/getting-started-desktop-category-background.svg");
  }

  &.overview {
    background-image: url("/images/learn/metabase-overview-desktop-category-background.svg");
    background-position: top 41px right -500px;
  }

  &.querying-and-dashboards {
    background-image: url("/images/learn/querying-and-dashboards-desktop-category-background.svg");
  }

  &.administration {
    background-image: url("/images/learn/administration-desktop-category-background.svg");
  }

  &.embedding {
    background-image: url("/images/learn/embedding-desktop-category-background.svg");
    background-position: top 41px right -110px;

    @include media-breakpoint-down(xl) {
      background-image: url("/images/learn/embedding-category-background.svg");
      background-position: top 210px right;
    }
  }

  &.working-with-sql {
    background-image: url("/images/learn/working-with-sql-desktop-category-background.svg");
  }

  &.sql {
    background-image: url("/images/learn/working-with-sql-desktop-category-background.svg");
  }

  &.data-fundamentals {
    background-image: url("/images/learn/data-fundamentals-desktop-category-background.svg");
  }

  &.analytics {
    background-image: url("/images/learn/analytics-desktop-category-background.svg");
  }

  @media screen and (max-width: 992px) {
    &.overview,
    &.getting-started,
    &.querying-and-dashboards,
    &.administration,
    &.embedding,
    &.working-with-sql,
    &.data-fundamentals,
    &.sql,
    &.analytics {
      background-image: none;
    }
  }

  .learn__category__entries {
    margin-bottom: 64px;

    > h3 {
      font-size: 24px;
    }

    > p {
      color: $neutral-60;
      font-size: 16px;
    }
  }

  a.learn__category__link {
    background-color: white;
    border: 1px solid $blue-90;
    border-radius: 24px;
    box-shadow: 0 1px 2px 0 #1018280d;
    margin-bottom: 32px;
    padding: 24px;
    position: relative;
    transition: box-shadow 0.3s ease;
    width: 100%;

    &:hover {
      box-shadow: 0 8px 8px -4px #10182808, 0 20px 24px -4px #10182814;
    }

    &:last-child {
      margin-bottom: 0;
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;

      span.highlight {
        background-color: $yellow-95;
        border-radius: 4px;
        padding: 0 2px;
      }
    }

    p {
      color: $neutral-40;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;

      &:last-child {
        color: $neutral-60;
        font-size: 16px;
        margin-bottom: 0;
      }

      span.highlight {
        background-color: $yellow-95;
        border-radius: 4px;
        color: $neutral-15;
        padding: 0 2px;
      }
    }
  }
}
