.learn article.learn__index {
  background-blend-mode: multiply;
  background-image: url("/images/learn/learn-index-background.png");
  background-position: top 200px right 20px;
  background-repeat: no-repeat;
  background-size: 80%;
  margin-bottom: 0;

  @media screen and (max-width: 992px) {
    background-position: top 284px left;
    background-size: 90%;
    padding-bottom: 0;
  }

  a.Button {
    margin-top: 18px;
    padding: 10px 18px 12px;

    @media screen and (max-width: 992px) {
      margin-bottom: 60px;
    }
  }

  .card-link-container {
    margin-top: 160px;

    h2 {
      color: $neutral-15;
      font-size: 24px;
      font-weight: 700;

      @media screen and (max-width: 992px) {
        font-size: 20px;
      }
    }

    > p {
      color: $neutral-40;
      font-size: 20px;

      @media screen and (max-width: 992px) {
        font-size: 18px;
      }
    }

    > div {
      display: flex;
      gap: 32px;
      margin-top: 32px;

      @media screen and (max-width: 992px) {
        flex-direction: column;
        gap: 24px;
      }

      > a {
        background-color: white;
        border: 1px solid $blue-90;
        border-radius: 24px;
        box-shadow: 0 1px 2px 0 #1018280d;
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        padding: 24px;
        transition: box-shadow 0.3s ease;

        &:hover {
          box-shadow: 0 8px 8px -4px #10182808, 0 20px 24px -4px #10182814;
        }

        h3 {
          color: $neutral-15;
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;

          @media screen and (max-width: 992px) {
            font-size: 20px;
            margin-bottom: 0;
          }
        }

        p {
          color: $neutral-60;
          font-size: 16px;
          font-weight: 400;
          margin: 0 0 8px;

          @media screen and (max-width: 992px) {
            font-size: 14px;
            margin-bottom: 0;
          }
        }

        span {
          align-items: center;
          color: $blue-60;
          display: flex;
          font-size: 16px;
          font-weight: 700;
          margin-top: 24px;

          svg {
            margin-left: 16px;
            position: relative;
            top: 16px;
            transform: rotate(-90deg);
            zoom: 0.3;
          }
        }

        svg {
          margin-bottom: 24px;
        }
      }
    }
  }

  .top-bar form.learn-search::before {
    display: none;
  }

  .section-container {
    margin-top: 96px;

    h2 {
      font-size: 36px;
      margin-bottom: 12px;

      @media screen and (max-width: 992px) {
        font-size: 30px;
      }
    }

    p {
      color: $neutral-40;
      font-size: 20px;

      @media screen and (max-width: 992px) {
        font-size: 18px;
      }
    }

    > div {
      align-items: stretch;
      background-color: white;
      border: 1px solid $blue-90;
      border-radius: 24px;
      display: flex;
      gap: 32px;
      margin-top: 24px;
      padding: 24px;

      @media screen and (max-width: 992px) {
        flex-direction: column;
      }

      &:first-child {
        margin-top: 48px;
      }

      h4 a {
        color: $neutral-15;
        display: inline;
        font-size: 24px;
        transition: color 0.3s ease;

        &:hover {
          color: $blue-60;
        }
      }

      p {
        font-size: 16px;
      }

      > div {
        background-position: center;
        border-radius: 12px;
        width: 50%;

        @media screen and (max-width: 992px) {
          width: 100%;

          &:last-child {
            min-height: 242px;
          }
        }

        &:last-child {
          background-size: cover;
        }
      }

      a {
        border-bottom: 1px solid $blue-90;
        color: $neutral-40;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        padding: 12px 0;
        width: 100%;

        &:hover {
          border-color: $blue-60;
          color: $blue-60;
          transition: border-color 0.3s ease, color 0.3s ease;

          span:last-child {
            color: $blue-60;
          }
        }

        &:first-child {
          margin-top: 32px;
        }

        &:not(.more):last-child {
          border-bottom: none;
        }

        &.no-border-bottom {
          border-bottom: none;
        }

        &.more {
          border: none;
          color: $blue-60;
          font-size: 16px;
          justify-content: start;
          margin-top: 16px;

          svg {
            margin-left: 18px;
            position: relative;
            top: 15px;
            transform: rotate(-90deg);
            zoom: 0.35;
          }

          &:hover {
            color: $blue-40;

            svg path {
              stroke: $blue-40;
            }
          }
        }

        span:last-child {
          color: $neutral-80;
          font-weight: 400;
          min-width: 48px;
          text-align: right;
          transition: color 0.3s ease;
        }
      }
    }
  }

  div.marketing {
    align-items: stretch;
    background: $blue-95;
    border: 1px solid $blue-90;
    border-radius: 24px;
    display: flex;
    margin-top: 96px;
    overflow: hidden;

    @media screen and (max-width: 1220px) {
      flex-direction: column;
      margin-top: 64px;
    }

    > div {
      flex-basis: 40%;

      .link-container {
        display: flex;
        gap: 16px;

        a.Button {
          @media screen and (max-width: 992px) {
            margin-bottom: 0;
            margin-right: 0;
            min-width: 120px;
          }
        }
      }

      &:first-child {
        flex-basis: 60%;
        padding: 48px;

        @media screen and (max-width: 1220px) {
          padding: 24px;

          h2 {
            margin-top: 0;
          }
        }
      }

      &:last-child {
        background-image: url("/images/learn/stats-screenshot.png");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 300px;

        @media screen and (max-width: 1220px) {
          background-position: top left;
          background-size: cover;
        }
      }

      h2 {
        font-size: 48px;
        font-weight: 900;
        margin-bottom: 24px;

        @media screen and (max-width: 992px) {
          font-size: 36px;
        }
      }

      p {
        color: $neutral-40;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 32px;

        @media screen and (max-width: 992px) {
          font-size: 18px;
        }
      }
    }

    a.btn {
      margin-right: 16px;
    }
  }

  .used-by-great-companies {
    margin-bottom: 0;
    padding: 32px 0;

    h2 {
      margin: 0;
    }

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      justify-content: space-between;
      margin: 0;
      padding: 0;

      ul {
        margin-bottom: 0;
      }

      li:nth-child(7) {
        display: none;
      }

      li:nth-child(8) {
        display: none;
      }

      li {
        list-style-type: none;
        opacity: 0.6;

        &:nth-child(1) {
          h2 {
            font-size: 18px;
          }
        }

        &:nth-child(7) {
          display: none;
        }

        &:nth-child(8) {
          display: none;
        }

        @media screen and (max-width: 992px) {
          width: 20%;

          &:nth-child(1) {
            color: $neutral-40;
            flex-basis: 100%;
            font-size: 16px;
            opacity: 1;
            text-align: center;
            width: 100%;
          }

          &:nth-child(7) {
            display: block;
          }

          &:nth-child(8) {
            display: block;
          }
        }
      }
    }

    img {
      background-color: transparent;
      box-shadow: none;
      margin: 0;
      mix-blend-mode: multiply;
    }
  }
}
