.learn #right-hand-newsletter-subscribe-widget {
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  transition: opacity 0.3s ease;

  &.newsletter-enter {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s ease;
  }

  &.add-border-top {
    border-top: 1px solid $blue-90;

    &::before {
      opacity: 1;
    }
  }
}

.learn span#page-feedback-footer {
  display: inline-block;
  margin: 16px 0 0;
}
