.learn .learn__right-sidebar {
  height: 98vh;
  margin-left: -20px;
  max-width: 250px;
  overflow-y: scroll;
  position: sticky;
  top: 63px;

  &.extra-margin-top {
    margin-top: 462px;
  }

  @media screen and (max-width: 991px) {
    display: none;
  }

  #sub-navigation-content {
    height: auto;
    overflow-y: auto;
    padding-top: 3em;
    position: static;
    top: 0;

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  #was-this-helpful-widget {
    margin-left: 20px;

    div#page-feedback {
      display: block;

      h6 {
        margin-bottom: 12px;
        width: 100%;
      }

      button {
        float: left;
        margin-right: 10px;
      }
    }

    div#page-comment {
      margin-top: 16px;
      padding: 8px 6px 6px 12px;

      p {
        font-size: 14px;
        line-height: 22px;
        margin-left: 0;
      }
    }
  }
}
