.learn .learn__right-sidebar {
  height: 98vh;
  margin-left: -20px;
  max-width: 250px;
  overflow-y: scroll;
  position: sticky;
  top: 63px;

  &.extra-margin-top {
    margin-top: 462px;
  }

  @media screen and (max-width: 991px) {
    display: none;
  }

  #sub-navigation-content {
    height: auto;
    overflow-y: auto;
    padding-top: 3em;
    position: static;
    top: 0;

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  #feedback-widget-container {
    margin-top: 20px;
  }
}
