.learn {
  #search-result-count {
    color: $neutral-15;
    font-size: 18px;
    margin: 64px 0 48px;
  }

  .search-result-source {
    background-color: $neutral-95;
    border-radius: 8px;
    color: $neutral-60;
    font-weight: 700;
    padding: 4px 8px;
    position: absolute;
    right: 24px;
    text-transform: capitalize;
    top: 24px;

    &.label-API {
      background-color: $purple-95;
      color: $purple-50;
    }

    &.label-learn {
      background-color: $blue-90;
      color: $blue-60;
    }
  }
}
