.learn .top-bar {
  align-items: center;
  border-bottom: 1px solid $blue-90;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 8px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;

  div {
    align-items: center;
    display: flex;
    gap: 12px;
    z-index: 2;
  }

  > div {
    @include media-breakpoint-down(lg) {
      gap: 0;
      justify-content: end;

      &:first-child {
        justify-content: start;
        width: calc(100% - 140px);
      }
    }
  }

  @media screen and (min-width: 576px) {
    left: 50%;
    margin: 0 auto;
    max-width: 490px;
    transform: translateX(-50%);
  }

  @media screen and (max-width: 992px) {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 670px;
    padding-left: 0;
    padding-right: 0;

    .version__selector {
      display: none;
    }
  }

  @media screen and (max-width: 504px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: 768px) {
    max-width: 490px;
  }

  @media screen and (min-width: 993px) {
    max-width: 100%;
    padding: 8px 0 8px 8px;

    .breadcrumb {
      display: block;
    }
  }

  a.whats-new {
    align-items: center;
    background-color: $blue-95;
    border: 1px solid $blue-90;
    border-radius: 8px;
    display: none;
    font-size: 14px;
    gap: 5px;
    padding: 8px 8px 10px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $blue-90;
      color: $blue-60;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }

    svg {
      zoom: 0.7;
    }
  }

  .docs-learn-toggler {
    display: none;
    margin-top: 0;

    @media screen and (max-width: 992px) {
      display: flex;

      a {
        padding: 2px 8px;
        z-index: 4;
      }
    }
  }

  .breadcrumb {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 0 64px;
    width: 200%;

    @media screen and (max-width: 992px) {
      margin-left: 0;
    }

    a {
      font-size: 16px;
    }
  }

  .version__selector {
    margin-top: 0;
  }

  form.learn-search {
    background-color: $blue-95;
    border: 1px solid $blue-90;
    border-radius: 8px;
    padding: 4px;
    position: relative;
    transition: border-color 0.3s ease;

    @media screen and (max-width: 991px) {
      &::before {
        background-image: linear-gradient(to right, #fafbfe00, $neutral-98, $neutral-98);
        content: "";
        display: block;
        height: 100%;
        left: -81px;
        position: absolute;
        top: 0;
        width: 80px;
      }
    }

    &:has(input:focus) {
      border-color: $blue-60;
    }

    input#learn-search-box {
      background-color: transparent;
      background-image: url("/images/search-dark-grey.svg");
      border: none;
      box-shadow: none;
      color: $neutral-60;
      font-size: 14px;
      padding: 4px 12px 4px 34px;
      width: 130px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $neutral-60;
      }
    }

    input[type="submit"] {
      background-color: $blue-90;
      border: none;
      border-radius: 8px;
      color: $neutral-40;
      font-size: 12px;
      font-weight: 700;
      padding: 6px 8px 7px;

      @media screen and (max-width: 992px) {
        display: none;
      }
    }
  }
}
