<header class="datasources-gradient py-6 feature-card__header text-center relative">
  <div class="marquee marquee--slower relative py-3">
    <div class="inner-marquee d-flex flex-row">
      {% for i in (0..4) %}
        {% assign dataSources = site.data-sources %}
        {% for source in dataSources limit:5 %}
          {% if source.logo_image %}
            <a href="{{ source.url }}" class="marquee__label d-inline-block bg-neutral-white rounded-5 me-2 py-2 px-4" style="flex-shrink: 0;">
              <img alt="{{ source.logo_image }}" class="mr-1 d-inline-block" src="{{ source.logo_image }}" width="20" height="20" loading="lazy" />
            <span class="d-inline-block">{{ source.title }}</span>
            </a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="marquee relative py-0">
    <div class="inner-marquee d-flex flex-row">
      {% for i in (0..4) %}
        {% assign dataSources = site.data-sources %}
        {% for source in dataSources offset:6 limit:6 %}
          {% if source.logo_image %}
            <a href="{{ source.url }}" class="marquee__label d-inline-block bg-neutral-white rounded-5 me-2 py-2 px-4" style="flex-shrink: 0;">
            <img alt="{{ source.logo_image }}" class="mr-1 d-inline-block" src="{{ source.logo_image }}" width="20" height="20" loading="lazy" />
            <span class="d-inline-block">{{ source.title }}</span>
            </a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="marquee marquee--faster relative py-3">
    <div class="inner-marquee d-flex flex-row">
      {% for i in (0..4) %}
        {% assign dataSources = site.data-sources %}
        {% for source in dataSources offset:12 limit:5 %}
          {% if source.logo_image %}
          <a href="{{ source.url }}" class="marquee__label d-inline-block bg-neutral-white rounded-5 me-2 py-2 px-4" style="flex-shrink: 0;">
          <img alt="{{ source.logo_image }}" class="mr-1 d-inline-block" src="{{ source.logo_image }}" width="20" height="20" loading="lazy" />
          <span class="d-inline-block">{{ source.title }}</span>
          </a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</header>
