{% comment %}
  If not rendering any companies locally,
  make sure `_data-sources` is not "excluded" in _config.dev.yml
{% endcomment %}
<div class="data-sources-marquee-no-names">
  <div class="marquee marquee--slower">
    <div class="inner-marquee">
      {% for i in (0..4) %}
        {% assign dataSources = site.data-sources %}
        {% for source in dataSources limit:12 %}
          {% if source.logo_image %}
          <a href="{{ source.url }}" data-name="{{ source.title }}">
              <img alt="{{ source.logo_image }}" src="{{ source.logo_image }}" loading="lazy" />
            </a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="marquee">
    <div class="inner-marquee">
      {% for i in (0..4) %}
        {% assign dataSources = site.data-sources %}
        {% for source in dataSources offset:13 limit:12 %}
          {% if source.logo_image %}
            <a href="{{ source.url }}" data-name="{{ source.title }}">
              <img alt="{{ source.logo_image }}" src="{{ source.logo_image }}" loading="lazy" />
            </a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

<script src="/js/components/data-sources-marquee-no-names.js" defer></script>
