<div class="docs-learn-toggler">
  <div class="hover-highlight"></div>
  <a href="/docs/latest/" {% if include.domain == "docs" %}class="active"{% endif %}>
    {% include svg-icons/book.svg %}
    <span>Docs</span>
  </a>

  {% comment %}
  We use unless /docs/ because the link below should be active
  in /learn/* and /learn-search/* pages.
  {% endcomment %}
  <a href="/learn/" {% if include.domain == "learn" %}class="active"{% endif %}>
    {% include svg-icons/learn.html %}
    <span>Learn</span>
  </a>
</div>

<script src="/js/components/docs-learn-toggler.js"></script>
