{% assign title = page.title | append: " | Metabase Documentation"%}

{% if page.description %}
{% assign desc = page.description %}
{% elsif page.summary %}
{% assign desc = page.summary %}
{% else %}
{% assign desc = page.content | truncatewords: 42 | strip_html %}
{% endif %}

{% assign img = "/images/docs/docs-og.png" %}

<title>{{title}}</title>
<!-- Twitter cards -->
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
{% if page.author %}
<meta name="twitter:creator" content="{{ page.author }}" />
{% endif %}
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ desc  }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ site.url }}{{ img }}" />
<!-- end of Twitter cards -->

<!-- Open Graph metadata -->
<meta property="og:site_name" content="Metabase | Business Intelligence, Dashboards, and Data Visualization" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.url | replace '/index.html', '' | prepend: site.url }}" />
<meta name="title" property="og:title" content="{{ title }}" />
<meta name="description" property="og:description" content="{{ desc }}" />
<meta name="image" property="og:image" content="{{ site.url }}{{ img }}" />
<!-- end of Open Graph metadata -->
