{% assign versions = site.available_versions | reverse %}

<div class="version__selector cursor-pointer">
  <span class="version__current">
    {% if page.version == "latest" %}
      {{site.docs_version}}
    {% else %}
      {{page.version}}
    {% endif %}

    {% include svg-icons/chevron.html %}
  </span>
  <ul class="version__dropdown">
    {% for version in versions limit: 10 %}
      {% unless page.version == version %}
        {% assign support = site.data.version_support[version] %}
        <li>
          <a href="/docs/{{ version }}/">
            <div class="version__dropdown--item">
              <span>
                {{version}}
              </span>
              {% if support.status == "unsupported" %}
                <span class="version__tag version__tag--unsupported">unsupported</span>
              {% elsif support.lts %}
                <span class="version__tag version__tag--lts">lts</span>
              {% endif %}
            </div>
          </a>
        </li>
      {% endunless %}
    {% endfor %}
    <li><a href="/docs/all">See more</a></li>
  </ul>
</div>
