<div class="hoverable-toggler">
  <div class="hover-highlight"></div>
  <a href="/docs/latest/" {% if include.domain == "docs" %}class="active"{% endif %}>
    <span>{% include svg-icons/book.html %} Docs</span>
  </a>

  {% comment %}
  We use unless /docs/ because the link below should be active
  in /learn/* and /learn-search/* pages.
  {% endcomment %}
  <a href="/learn/" {% if include.domain == "learn" %}class="active"{% endif %}>
    <span>{% include svg-icons/learn.html %} Learn</span>
  </a>
</div>

<script src="/js/components/hoverable-toggler.js"></script>
