<!-- show/hide logic for More Resources button -->
<script type="text/javascript">
  const $moreResourcesButtons = document.querySelectorAll(".more-resources");

  $moreResourcesButtons.forEach(($button) => {
    $button.addEventListener("click", () => {
      $button.nextElementSibling.classList.toggle("hide");
      $button
        .querySelector(".more-resources-chevron")
        .classList.toggle("chevron-up");
    });
  });
</script>

<script src="/js/fillout-form-fallback.js"></script>

<!-- forms -->
{% if page.url contains "/product/embedded-analytics"
   or page.url contains "/docs/latest/embedding/interactive-embedding"
   or page.url contains "/docs/latest/embedding/sdk/introduction"
   or page.url contains "/docs/latest/embedding/embedded-analytics-js"
   or page.url contains "/embedding-demo"
   or page.url contains "/transition-guides"
   or page.url contains "/learn/cheat-sheets"
   or page.url contains "lp/metabase-vs-"
   or page.url contains "/data-sources"
   or page.url contains "/upgrade"
   or page.url contains "/features/white-label-analytics"
   or page.url contains "/features/analytics-dashboards"
   or page.url contains "/features/metabase-ai"
%}
  <script src="/js/unify.js"></script>
{% endif %}
