<div class="bootstrap">
  <footer class="body-footer">
    {% unless page.path contains "start/oss" or page.collection == "posts" or page.layout == "learn_article" or page.hide_footer_newsletter_subscribe_form %}
      <!-- Begin MailChimp Signup Form -->
      <form
        action="//metabase.us10.list-manage.com/subscribe/post?u=869fec0e4689e8fd1db91e795&amp;id=b9664113a8"
        class="validate"
        id="mc-embedded-subscribe-form"
        method="post"
        name="mc-embedded-subscribe-form"
        novalidate
        data-form-id="1"
        target="_blank">
        <div>
          <h5>Subscribe to our newsletter</h5>
          <p>Stay in touch with updates and news from Metabase. No spam, ever.</p>
        </div>
        <div class="mc-field-group">
          <div>
            <input
              class="required email input input-small bordered {% if include.color %}border-darkblue{% endif %} mr-2"
              id="mce-EMAIL"
              name="EMAIL"
              placeholder="Email address"
              style="flex-grow: 1;"
              tabindex="-1"
              type="email"
              value="" />

            <input
              class="Button Button--primary Button--small"
              id="mc-embedded-subscribe"
              name="subscribe"
              type="submit"
              value="Sign up" />
          </div>
          <div class="clear" id="mce-responses">
            <div
              class="response"
              id="mce-error-response"
              style="display:none"></div>
            <div
              class="response"
              id="mce-success-response"
              style="display:none"></div>
          </div>
        </div>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
        <div style="position: absolute; left: -5000px;">
          <input
            name="b_869fec0e4689e8fd1db91e795_b9664113a8"
            tabindex="-1"
            type="text"
            value="" />
        </div>
      </form>
      <script type="text/javascript">
        const mcEmbeddedSubscribeForm = document.getElementById('mc-embedded-subscribe-form-footer');
        if (mcEmbeddedSubscribeForm) {
          mcEmbeddedSubscribeForm.action = `//metabase.us10.list-manage.com/subscribe/post?u=869fec0e4689e8fd1db91e795&amp;id=b9664113a8&SIGNUP=${window.location.href}`;
        }
      </script>
      {% include mc-validate.html %}
      <!-- End mc_embed_signup -->
    {% endunless %}

    <div class="links">
      <div>
        <h6>Product</h6>
        <a href="/demo">Watch Demo</a>
        <a href="/data-sources/">Data Sources</a>
        <a href="/security">Security</a>
        <a href="/cloud/">Cloud</a>
        <a href="/roadmap">Roadmap</a>
        <a href="/releases">What's New</a>

        <h6>Pricing</h6>
        <a href="/pricing/">Plans</a>
        <a href="/start/oss/">Open Source</a>
      </div>

      <div>
        <h6>Use Cases</h6>
        <a href="/product/business-intelligence">
          Self-Service Business Intelligence
        </a>
        <a href="/product/embedded-analytics">
          Embedded Analytics
        </a>

        <h6>Metabase Plans</h6>
        <a href="/product/starter">Starter and Open Source</a>
        <a href="/product/pro">Pro</a>
        <a href="/product/enterprise">Enterprise</a>
      </div>

      <div>
        <h6>Features</h6>
        <a href="/features/metabase-ai">Metabase AI</a>
        <a href="/features/query-builder">Query Builder</a>
        <a href="/features/drill-through">Drill Through</a>
        <a href="/features/collections">Collections</a>
        <a href="/features/usage-analytics">Usage analytics</a>
        <a href="/features/analytics-dashboards">Dashboards and reporting</a>
        <a href="/features/sql-editor">SQL editor</a>
        <a href="/features/data-segregation">Data segregation</a>
        <a href="/product/data-studio">Data Studio</a>
        <a href="/features/permissions">Permissions</a>
        <a href="/product/csv-uploads">CSV upload</a>
        <a href="/product/embedded-analytics-sdk">Embedded analytics SDK</a>
        <a href="/features/white-label-analytics">White label analytics</a>
      </div>

      <div>
        <h6>Company</h6>
        <a href="/jobs">
          Jobs
          <div class="badge">
            We're hiring!
          </div>
        </a>
        <a href="/privacy-policies">Privacy Policies</a>
        <a href="/terms">Terms of Service</a>
        <a href="/license/">License</a>
        <a href="https://drive.google.com/drive/folders/1PbjChaDs_IROrrDz4n6eqmtcDITdVBf-?usp=sharing" target="_blank">Brand Guidelines</a>

        <h6>Support</h6>
        <a href="/docs/latest/">Documentation</a>
        <a href="/help/">Help</a>
        <a href="/product/professional-services">
          Professional Services
        </a>
        <a href="/product/onboarding-professional-service">Onboarding
        </a>
        <a href="https://status.metabase.com/" target="_blank">
          <div class="status-circle mini-circle"></div>
          <span class="ml-2">Status</span>
        </a>
        <a
          class="pseudo-link light flex align-center"
          href="https://github.com/metabase/metabase"
          target="_blank">
          {% include svg-icons/github-icon.html width="12" height="12" fill="currentcolor" %}
          <span class="ml-2" style="padding-bottom: 1px;">GitHub</span>
          <div class="mini-box bg-light-yellow text-dark-yellow ml-2 flex align-center">
            <span class="github-stars mr-1"></span>
            <svg
              fill="none"
              height="11"
              viewBox="0 0 12 11"
              width="12">
              <path
                d="M6 1.07149L7.39167 3.70919L7.50639 3.92663L7.74864 3.96855L10.6873 4.47701L8.60874 6.61565L8.43739 6.79196L8.47239 7.03531L8.89691 9.98725L6.22062 8.67131L6 8.56283L5.77938 8.67131L3.10309 9.98725L3.52761 7.03531L3.56261 6.79196L3.39126 6.61565L1.31271 4.47701L4.25136 3.96855L4.49361 3.92663L4.60833 3.70919L6 1.07149Z"
                fill="#F7C217"
                stroke="#F7C217" />
            </svg>
          </div>
        </a>
      </div>

      <div>
        <h6>Resources</h6>
        <a href="/case-studies">Case Studies</a>
        <a href="/blog">Blog</a>
        <a href="/learn/">Learn</a>
        <a href="/community">Community Stories</a>
        <a href="/glossary/">
          Data and Business Intelligence Glossary
        </a>
        <a href="/partners/">Partners</a>
        <a class="more-resources">
          <span class="mr-1">Choosing Metabase</span>
          <svg
            class="more-resources-chevron"
            fill="none"
            height="8"
            viewBox="0 0 32 32"
            width="8">
            <rect
              fill="none"
              height="32"
              width="32" />
            <path
              d="M3 8.96338L16 21.9634L29 8.96338"
              opacity="0.9"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="5"
              stroke="currentcolor" />
          </svg>
        </a>
        <div class="more-resources-wrapper hide flex flex-column">
          <a href="/lp/business-intelligence-demo">Business Intelligence</a>
          <a href="/lp/bi-for-startups-demo">Business Intelligence for Startups</a>
          <a href="/lp/embedded-analytics-demo">Embedded Analytics</a>
          <a href="/lp/metabase-vs-tableau">Metabase vs. Tableau</a>
          <a href="/lp/metabase-vs-looker">Metabase vs. Looker</a>
          <a href="/lp/metabase-vs-looker-studio">Metabase vs. Looker Studio</a>
          <a href="/lp/metabase-vs-power-bi">Metabase vs. PowerBI</a>
          <a href="/lp/metabase-vs-superset">Metabase vs. Superset</a>
        </div>

        <a class="more-resources">
          <span class="mr-1">More Resources</span>
          <svg
            class="more-resources-chevron"
            fill="none"
            height="8"
            viewBox="0 0 32 32"
            width="8">
            <rect
              fill="none"
              height="32"
              width="32" />
            <path
              d="M3 8.96338L16 21.9634L29 8.96338"
              opacity="0.9"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="5"
              stroke="currentcolor" />
          </svg>
        </a>
        <div class="more-resources-wrapper hide flex flex-column">
          <a href="/ai-data-generator">Open source AI data generator</a>
          <a href="/dashboards/">Example Dashboards</a>
          <a href="/learn/sql/working-with-sql/sql-best-practices">
            SQL Best Practices
          </a>
         <a href="/learn/cheat-sheets/which-chart-to-use">
          Which chart to use? A cheat sheet
           </a>
         <a href="/blog/what-is-embedded-analytics">
          What is embedded analytics?
           </a>
          <a href="/learn/sql/">
            Learn SQL
          </a>
          <a href="/learn/sql/working-with-sql/sql-join-types">
            Types of SQL Joins
          </a>
          <a href="/blog/6-most-common-type-of-data-bias-in-data-analysis">
            Data Bias Examples
          </a>
          <a href="/dashboards/marketing-teams">
            Dashboard for Marketing Teams
          </a>
          <a href="/dashboards/sales-teams">
            Dashboards for Sales Teams
          </a>
          <a href="/dashboards/engineering-teams">
            Dashboards for Engineering Teams
          </a>
        </div>
      </div>
    </div>

    <div class="footer-logo-container">
      <div>
        <a href="/">
          <div class="MB-Logo-small"></div>
        </a>
        <span>
          © Metabase {{ "now" | date: "%Y" }}
        </span>
      </div>
      <div>
        <a href="https://www.youtube.com/channel/UCvg53nhM-xPUiFGqDJDhjaw" target="_blank">
          {% include svg-icons/youtube.html fill="#8D93A5" %}
        </a>
        <a href="https://www.github.com/metabase" target="_blank">
          {% include svg-icons/github-icon.html width="24" height="24" fill="#8D93A5" %}
        </a>
        <a href="https://www.twitter.com/metabase" target="_blank">
          {% include svg-icons/twitter-x.html fill="#8D93A5" %}
        </a>
        <a href="https://www.linkedin.com/company/metabase" target="_blank">
          {% include svg-icons/linkedin-icon.html width="28" height="28" fill="#8D93A5" %}
        </a>
      </div>
    </div>
  </footer>
</div>

<!-- statuses -->
<script src="/js/status.js" type="text/javascript"></script>
<script src="/js/github-stars.js" type="text/javascript"></script>

{% include footer-scripts.html %}
