<div class="get-started">
    <div class="container">
        <div class="pt0">
            <div class="text-centered bootstrap">
                <h2 class="large mt0 neutral-white" style="margin-bottom: 16px">Get started with Metabase</h2>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a class="fs-13 Button Button--primary rounded-3 ms-lg-2 py-3 lh-base" href="https://store.metabase.com/checkout">Get started</a>
                    <!-- <a class="fs-13 Button Button--lightPrimary rounded-3 ms-lg-2 py-3 lh-base" href="/livedemo">Try it live</a> -->
                </div>
                <ul class="horizontal-checklist mt-6">
                    <li>Free, no-commitment trial</li>
                    <li>Easy for everyone—no SQL required</li>
                    <li>Up and running in 5 minutes</li>
                </ul>
                <div class="img-placeholder ml-auto mr-auto"></div>
            </div>
        </div>
    </div>
</div>
