<form action="/glossary-search" method="get" class="d-flex justify-content-center mt-4 mb-8 flex-column flex-sm-row">
    <label class="input-field mb-2 mb-sm-0 me-sm-2 flex-grow-1">
        <img src="/images/search.svg" alt="Search icon" class="no-zoom pe-2">
        <input type="text" id="search-box" name="query" placeholder="Search the glossary" class="input">
    </label>
    <button type="submit" value="search" class="btn btn-primary">Search</button>
</form>
<script src="https://kit.fontawesome.com/216c261b74.js" crossorigin="anonymous"></script>
