<div>
    <p>
        If you're looking for the <a href="/pricing/">Pro or Enterprise editions</a> of Metabase, you'll need a different JAR file.
        See <a href="/docs/{{site.latest_version}}/installation-and-operation/activating-the-enterprise-edition">Activating your Metabase commercial license</a>.
    <p>
        If you want self-host in production, we recommend <a href="/docs/latest/installation-and-operation/running-metabase-on-docker">running Metabase on Docker</a>.
    </p>
    <p>
        To run the JAR by itself, open up a terminal and use Java to launch the application:
    </p>

    <code>java --add-opens java.base/java.nio=ALL-UNNAMED -jar metabase.jar</code>

    <p>This command will launch a Metabase server on <a href="http://localhost:3000">port 3000</a> by default.</p>
    <p>
        Metabase requires that you have <span class="text-bold">Java {{site.java-minimum-version}}</span> or
        higher available on your system. We've run Metabase with both the
        OpenJDK and Oracle JDK, so feel free to use either.
    </p>
    <p>
        If you want to learn more about how to run Metabase using the .jar file, check out
        <a
            href="/docs/{{site.latest_version}}/installation-and-operation/running-the-metabase-jar-file"
            >our documentation</a
        >.
    </p>
</div>
