<a href="/">
    <div class="container row bg-neutral-95 rounded-4 overflow-hidden flex flex-row-sm align-center pt-8 pt-md-6 mb-6 pe-0" style="margin: auto;">
        <div class="col-sm-12 col-md-6 position-relative">
            <h2 class="large mt0 h4">Have questions about your data? Metabase has answers.</h2>
            <p class="neutral-black">
              Meet the easy, open source way for everyone in your company to ask questions and learn from data.
            </p>
            <span class="chevron blue-small-right pseudo-link mb-6">Learn more about Metabase</span>
        </div>
        <div class="col-sm-12 col-md-6 text-right pe-0 position-absolute bottom-0 end-0">
            <img src="/images/learn-more.png" class="max-100" loading="lazy" />
        </div>
    </div>
</a>
