{% assign slug = page.path | replace: '_learn/', '' | replace: '/index.md', '' %}
{% assign track = site.data.learn.tracks | where: "slug", slug | first %}

<div class="learn-breadcrumb-trail">
    {% include learn/breadcrumbs.html %}
</div>

<h2 class="subtle-heading">Topic</h2>
<h1>{{track.name}}</h1>
<p>{{track.summary}}</p>

<h2>Articles</h2>
<div class="lesson-listing">
    {% assign lessonNum = 1 %}
    {% for lesson in track.lessons %}
        {% assign lesson_url = "/learn/" | append: slug | append: "/" | append: lesson.slug %}
        <div class="row pb4">
            <div class="col-sm-6">
                <a href="{{lesson_url}}"><img src="{{lesson.image}}" alt="" loading="lazy /></a>
            </div>
            <div class="col-sm-6">
                <a href="{{lesson_url}}">
                    <span class="subtle-heading pb1">Article {{lessonNum}}</span>
                    <h3 class="mt0">{{lesson.title}}</h3>
                    <p>{{lesson.summary}}</p>
                    <p class="mt0 pt0"><span class="pseudo-link text-brand" style="line-height: 0.4; vertical-align: top;">Read more</span> <img src="/images/chevron_blue.svg" width="12px" height="10px" class="SidebarChevron no-zoom mt0 pt0" /></p>
                </a>
            </div>
        </div>
        {% assign lessonNum = lessonNum | plus: 1 %}
    {% endfor %}
</div>
