<div>
  {% if include.hide_header != "true" %}
    <h4 class="mb1 text-brand full text-centered">
      <a
        class="text-decoration-none"
        href="/case-studies"
        title="Metabase - Trusted companies">{% include trusted_by.html %}</a>
    </h4>
  {% endif %}

  <div class="Logos">
    {% for customer in site.data.customer-logos %}
      {% if customer.include == true %}
        <div class="Logo">
          <img
            class="py1 opacity-50"
            src="{{customer.logo-black}}"
            alt="{{customer.customer}} logo" loading="lazy"/>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
