{% assign header_classname = "bootstrap" %}

{% if include.hide-menu == true %}
  {% assign logo_container_classname = "col-lg-6" %}
{% else %}
  {% assign logo_container_classname = "col-lg-2" %}
{% endif %}

{% if include.hide-menu %}
  {% assign get_started_container_classname = "col-lg-6" %}
{% else %}
  {% assign get_started_container_classname = "col-lg-3" %}
{% endif %}

{% if page.url contains "/learn/" %}
  {% if page.header_sticky %}
    {% assign header_classname = header_classname | append: " sticky" %}
  {% else %}
    {% unless article.pages %}
      {% assign header_classname = header_classname | append: " scrollable" %}
    {% else %}
      {% assign header_classname = header_classname | append: " sticky" %}
    {% endunless %}
  {% endif %}
{% else %}
  {% assign header_classname = header_classname | append: " sticky" %}
{% endif %}

{% assign nav_classname = "navigation-header bg-neutral-white" %}

{% if page.path contains "startup-guide" %}
  {% assign nav_classname = nav_classname | append: " has-scroll-indicator" %}
{% endif %}

{% if page.home_page_2025 %}
  {% assign nav_classname = nav_classname | append: " home-page-2025" %}
{% else %}
  {% assign nav_classname = nav_classname | append: " bg-neutral-white" %}
{% endif %}

<header class="{{ header_classname }}">
  <div class="{{ nav_classname }}">
    {% unless page.url contains "/learn" %}
        {% include promo-banner.html %}
    {% endunless %}

    <div class="container">
      <div class="row flex-grow-1">
        <div class="home-link col-xs-4 {{ logo_container_classname }} d-flex align-items-center">
          <a href="/">
            <div class="MB-Logo inline-block"></div>
          </a>
        </div>

        {% unless include.hide-menu == true %}
          <div class="submenus-container">

          {% comment %}
            Classname hidden is removed by main-nav.js on js load.
            This prevents the highlight from initializing with wrong sizes
            especially under Docs
            if the connection is slow and the mouse is already hovering.
          {% endcomment %}

            <div class="hidden" id="hover-highlight"></div>
            {% include navigation-header/desktop/product.html %}
            {% include navigation-header/desktop/features.html %}
            {% include navigation-header/desktop/docs.html %}
            {% include navigation-header/desktop/resources.html %}
            <div class="Button btn btn-transparent px-3 py-2 button-desktop flex-column">
              <a class="fs-13 Button btn btn-transparent px-0 py-2" href="/pricing/">Pricing</a>
            </div>
          </div>
        {% endunless %}

        <div class="col-xs-8 {{ get_started_container_classname }} d-flex align-items-center justify-content-end">
          {% unless include.hide-menu == true %}
            <a class="fs-13 d-none d-lg-block Button btn btn-transparent px-3 py-2" href="/cloud/login">Log in</a>
          {% endunless %}

          <a
            class="fs-13 Button btn btn-primary rounded-3 ms-lg-2"
            href="https://store.metabase.com/checkout"
            id="get-started-btn">Get started</a>
          <div class="d-lg-none rounded-3 p-3 ms-2" id="mobile-nav-hamburger-wrapper">
            <svg
              class="d-block d-lg-none"
              fill="none"
              height="22"
              id="mobile-nav-hamburger"
              viewBox="0 0 22 14"
              width="22"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1.1001 1.5H20.9001"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                stroke="#5A6072" />
              <path
                d="M1.1001 7H20.9001"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                stroke="#5A6072" />
              <path
                d="M1.1001 12.5H20.9001"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                stroke="#5A6072" />
            </svg>
          </div>
        </div>
      </div>
    </div>
    {% include navigation-header/startup-guide.html %}
    {% include navigation-header/mobile.html %}
  </div>
</header>

<script src="/docs/js/main-nav.js"></script>
