<div class="text-centered pt2 mt2">
    <h3>Next steps</h3>
    <ol class="no-list-style flex align-center pl0 pt3">
        <li class="flex-half mr2">
            <a
                href="/docs/latest/configuring-metabase/setting-up-metabase"
                class="block card text-default text-left p2 px3"
            >
                {% include svg-icons/paper-icon.html width="42" height="42" fill="#509ee3" %}
                <h3 class="mt2 text-inherit">Setup guide</h3>
                <p>Learn more about deploying and managing your Metabase</p>
                <span class="Button">View guide</span>
            </a>
        </li>
        <li class="flex-half ml2">
            <a href="/learn/" class="block card text-default text-left p2 px3">
                {% include svg-icons/paper-icon.html width="42" height="42" fill="#509ee3" %}
                <h3 class="mt2 text-inherit">Learn the basics</h3>
                <p>
                    Go through the fundamentals of asking questions and creating
                    dashboards.
                </p>
                <span class="Button">View guide</span>
            </a>
        </li>
    </ol>
</div>
