{% assign prices = site.data.prices %}
{% assign tier = include.tier %}

<div class="price-container">
  <div class="billing billing-monthly price">
    <span class="dollar">$</span>
    <span class="digits">
      {{ prices[tier.slug].monthly }}
    </span>
    <span class="unit-of-time">/month</span>
    <img class="mx-2" src="/images/icons/plus-2.svg" alt="plus" />
    <span class="dollar">$</span>
    <span class="digits">
      {{ prices[tier.slug].user-per-month }}
    </span>
    <span class="unit-of-time">/month per user</span>
  </div>

  <div class="billing billing-annual price">
    <span class="dollar">$</span>
    <span class="digits">
      {{ prices[tier.slug].annual }}
    </span>
    <span class="unit-of-time">/year</span>
    <img class="mx-2" src="/images/icons/plus-2.svg" alt="plus" />
    <span class="dollar">$</span>
    <span class="digits">
      {{ prices[tier.slug].user-per-year }}
    </span>
    <span class="unit-of-time">/year per user</span>
  </div>
</div>

{% unless include.exclude-free-unit-count %}
  <div class="align-center d-flex flex-nowrap flex-row fs-14 justify-content-start mt-2 neutral-60 w-auto">
    <div class="pricing-tooltip pricing-tooltip--top">
      First
      <span class="apply-tooltip" data-tippy-content="A user account is any account which has been added to your Metabase instance (manually or via SSO) that has not been deactivated." data-tippy-placement="top">
        {{ prices[tier.slug].free-user-count }} users</span> included
    </div>
  </div>
{% endunless %}
