<div class="promote-pro-page">
  <div>
    <h6>Built-in Database</h6>
    <h3>No database? No data team? No problems!
    </h3>
    <p>Get Metabase with built-in storage for self-service analytics that starts as soon as you set it up. No tricky installs or connection strings, just the click of a few buttons. Upload your CSVs and start visualizing and querying your data.</p>
  </div>
  <div>
    <a
      class="fs-13 Button btn rounded-3"
      href="/product/csv-uploads"
      title="Pro - Learn more">Learn more</a>
  </div>
</div>
