<blockquote class="quote">
  <p class="quote__text">{{ include.text }}</p>
  <footer class="quote__footer">
    <div class="quote__avatar">
      <img
        class="quote__avatar__image"
        src="{{ include.avatar }}"
        alt="{{ include.name }} - {{ include.role }}"
        loading="lazy"
      />
      {% if include.company_logo %}
      <img
        class="quote__avatar__image"
        src="{{ include.company_logo }}"
        alt="{{ include.name }} - {{ include.role }}"
        loading="lazy"
      />
      {% endif %}
    </div>
    <div class="quote__attribution">
      <p class="quote__attribution__name">{{ include.name }}</p>
      <p class="quote__attribution__role">{{ include.role }}</p>
    </div>
  </footer>
</blockquote>
