{% unless page.schema_markup_added %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "https://www.metabase.com/",
    "sameAs": [
      "https://github.com/metabase",
      "https://www.linkedin.com/company/metabase/",
      "https://x.com/metabase",
      "https://www.youtube.com/@metabasedata"
    ],
    "logo": "https://github.com/metabase/metabase.github.io/blob/master/images/metabase-logo.png?raw=",
    "name": "Metabase",
    "description": "Metabase is an open source Business Intelligence and Embedded Analytics tool. Connect to your data stack in 5 minutes to make queries, visualizations, and dashboards easy for everyone—no SQL required",
    "email": "hello@metabase.com",
    "foundingDate": "2015-02-01T00:00:00.000Z",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "9740 Campo Rd",
      "addressLocality": "Spring Valley",
      "addressCountry": "USA",
      "addressRegion": "CA",
      "postalCode": "91977"
    },
    "knowsAbout": [
      { "@type": "Thing", "name": "Business Intelligence" },
      { "@type": "Thing", "name": "Embedded Analytics" },
      { "@type": "Thing", "name": "Self-service analytics" },
      { "@type": "Thing", "name": "Open source Business Intelligence" }
    ]
  }
</script>
{% comment %}TODO: Figure out what this Chesterton's Fence is for. It was likely a no-op. You can't reassign page variables.{% endcomment %}
{% comment %} {% assign page.schema_markup_added = true %} {% endunless %} {% endcomment %}
{% endunless %}
