<div class="progress-bar z1" id="progress-bar"></div>

<script type="text/javascript" defer>
    let endingElementId = null;
    let height = 1;

    window.addEventListener('scroll', handleUpdateScrollProgress);
    window.addEventListener('load', function() {
        endingElementId = document.getElementById('{{include.endingElementId}}');
        const winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        if (endingElementId) {
            height = endingElementId.getBoundingClientRect().bottom + winScroll - window.innerHeight;
        } else {
            height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        }
        handleUpdateScrollProgress();
    });

    function handleUpdateScrollProgress() {
        const winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        const scrolled = (winScroll / height) * 100;
        document.getElementById('progress-bar').style.width = scrolled + "%";
    }
</script>
