<svg
    id="{{include.id}}"
    class="{{include.class}}"
    width="{{include.width}}"
    height="{{include.height}}"
    xmlns="http://www.w3.org/2000/svg"
    fill="{{include.fill}}"
>
    <path d="M12.0031 4.75L4.75307 8C4.75307 8 4.00307 19.25 12.0031 19.25C20.0031 19.25 19.2531 8 19.2531 8L12.0031 4.75Z" stroke="#509EE3" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M9.75 12.75L11 14.25L14.25 9.75" stroke="#509EE3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>