<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}" />

<!-- Twitter cards -->
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
{% if page.author %}
<meta name="twitter:creator" content="{{ page.author }}" />
{% endif %}
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{site.url}}{{ page.image-og }}" />
<!-- end of Twitter cards -->

<!-- Open Graph metadata -->
<meta property="og:site_name" content="Metabase | Business Intelligence, Dashboards, and Data Visualization" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url}}{{ page.url }}" />
<meta name="title" property="og:title" content="{{ page.title }}" />
<meta name="description" property="og:description" content="{{ page.description }}" />
<meta name="image" property="og:image" content="{{ site.url}}{{ page.image-og }}" />
<!-- end of Open Graph metadata -->
