<video
    class="vjs-player lazy w-100 {{include.classes}} {% if include.autoplay %}pause-observer autoplay-video{% endif %} {% if include.rounded %}overflow-hidden rounded-3{% endif %}"  {% if include.autoplay %}autoplay muted playsinline{% endif %} {% if include.loop %}loop{% endif %}
  {% if include.id %}
  id="{{include.id}}"
  {% endif %}
  {% if include.poster %}
  poster="{{include.poster}}"
  {% endif %}>

  {% if include.source_mp4 %}<source src="{{include.source_mp4}}" type="video/mp4" />{% endif %}
  {% if include.source_webm %}<source src="{{include.source_webm}}" type="video/webm" />{% endif %}

  <p class="vjs-no-js">
    To view this video please enable JavaScript and consider upgrading to a web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>

</video>
