{% if include.width != '' %}
<div style='width: {{include.width}}; margin-bottom: 2em;'>
    {% else %}
    <div>
        {% endif %}
        <div class="youtube-container"
	     style="position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 56.25%">

          <iframe class="youtube-video"
		  style="position: absolute;
                         top: 0;
                         left: 0;
                         width: 100%;
                         height: 100%;
                         border: 0"
		  allowfullscreen
		  src="https://www.youtube.com/embed/{{include.id}}">
	  </iframe>
        </div>
    </div>
