@include media-breakpoint-down(lg) {
  @at-root :root {
    --navigation-header-height: 85px;
  }
}

#nav-menu-mobile {
  -ms-overflow-style: none;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .menu-footer-text-wrapper {
    gap: 4px;

    p {
      color: $neutral-40;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }
  }

  .menu-heading {
    &.mobile {
      font-size: 14px;
      margin-bottom: 8px;
      margin-top: 1.5rem;
      padding-left: 24px;
    }
  }

  .menu-link {
    align-items: flex-start;
    border-bottom: 1px solid $blue-90;
    display: flex;
    margin-bottom: 0;
    padding: 16px 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;

    &:hover {
      .menu-link-heading {
        color: $blue-60;
      }

      svg {
        path,
        circle {
          stroke: $blue-60;
        }
      }
    }

    svg {
      margin-right: 10px;

      path,
      circle {
        stroke: $neutral-60;
        transition: stroke 0.3s ease;
      }
    }

    .menu-link-description {
      margin-top: 4px;
    }

    .menu-link-heading {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .button-style-link-container {
    background-color: transparent;
    border: none;
    border-radius: 0;
    flex-direction: column;
    gap: 0;
    padding: 0;

    a {
      border: none;
      border-bottom: 1px solid $blue-90;
      border-radius: 0;
      padding: 16px 22px;

      &:hover {
        border: none;
        border-bottom: 1px solid $neutral-95;
        box-shadow: none;
      }

      > div {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }

      #graph-bars {
        margin-bottom: 0;
      }

      #embed-animation {
        background-image: none;
        margin-bottom: 0;

        img {
          left: 0;
          position: absolute;
          transform: rotate(0);
        }
      }
    }

    h6 {
      color: $neutral-40;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }

    p {
      color: $neutral-60;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.nav-button-mobile {
  border-bottom: #f1f2f4 1px solid;
}

[id$="dropdown-mobile"] {
  display: none;

  .menu-footer {
    background-color: transparent;
    border-top: none;
  }
}

#product-dropdown-mobile {
  .menu-footer {
    &:hover {
      background-color: inherit;
    }
  }
}

#docs-dropdown-mobile {
  > div {
    &:first-child {
      .menu-link-heading {
        font-size: 18px;
      }

      .menu-link-description {
        font-size: 16px;
      }
    }

    &:last-child {
      > div {
        padding: 1.75rem 1.75rem 0;

        &:first-child {
          a {
            display: flex;
            flex: 1 auto;
            gap: 10px;
            padding: 12px 0;
            transition: background-color 0.3s ease, border-color 0.3s ease;

            &:hover {
              background-color: $neutral-98;
            }

            div {
              display: flex;
              flex-direction: column;

              &:first-child {
                min-width: 48px;
              }

              h6 {
                color: $neutral-40;
                font-size: 18px;
                margin: 0 0 6px;
              }

              p {
                color: $neutral-60;
                font-size: 16px;
                font-weight: 400;
                margin: 0;

                &:last-child {
                  color: $neutral-40;
                }
              }
            }

            svg {
              zoom: 0.9;
            }
          }
        }

        &:last-child {
          a {
            border-bottom: 1px solid $neutral-95;
            color: $neutral-40;
            font-size: 18px;
            font-weight: 400;
            padding: 0.95rem 0.75rem;
            transition: border-color 0.3s ease, color 0.3s ease;
            width: 100%;

            &:hover {
              border-color: $blue-60;
              color: $blue-60;
            }

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

#product-nav-button-mobile {
  display: none;

  &:checked + .nav-button-mobile svg {
    transform: rotate(180deg);
  }

  &:checked ~ #product-dropdown-mobile {
    display: block;
  }
}

#resources-nav-button-mobile {
  display: none;

  &:checked + .nav-button-mobile svg {
    transform: rotate(180deg);
  }

  &:checked ~ #resources-dropdown-mobile {
    display: block;
  }
}

#features-nav-button-mobile {
  display: none;

  &:checked + .nav-button-mobile svg {
    transform: rotate(180deg);
  }

  &:checked ~ #features-dropdown-mobile {
    display: block;
  }
}

#docs-nav-button-mobile {
  display: none;

  &:checked + .nav-button-mobile svg {
    transform: rotate(180deg);
  }

  &:checked ~ #docs-dropdown-mobile {
    display: block;
  }
}

#mobile-login-button {
  border-top: $neutral-95 1px solid;
  position: sticky;
  top: 100vh;

  .h4 {
    transition: color 0.3s ease;
  }

  &:hover .h4 {
    color: $blue-60;
  }
}

#mobile-nav-hamburger-wrapper {
  cursor: pointer;
  transition: background-color 0.3s ease;

  path {
    opacity: 1;
    transform: rotate(0deg);
    transition: opacity 0.3s ease, transform 0.3s ease, stroke 0.3s ease;

    &:first-of-type {
      transform-origin: 4.5px 4px;
    }

    &:last-of-type {
      transform-origin: 4px 10px;
    }
  }

  &:hover {
    background-color: #f3f8fc;

    path {
      stroke: $blue-60;
    }
  }

  &.open {
    path {
      opacity: 0;

      &:first-of-type {
        opacity: 1;
        transform: rotate(45deg);
      }

      &:last-of-type {
        opacity: 1;
        transform: rotate(-45deg);
      }
    }
  }
}
