.navigation-header {
  .scroll-indicator-container {
    font-size: 14px;
    font-weight: 700;
    position: relative;

    .scroll-indicator {
      background-color: rgba(158, 159, 199, 0.3);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
    }

    &.startup-guide {
      background-color: $purple-95;

      .scroll-indicator {
        background-color: rgba(158, 159, 199, 0.3);
      }

      > a {
        color: $purple-50;
        display: block;
        margin: 0 auto;
        padding: 12px 0 13px 24px;
        width: 100%;

        &:hover {
          color: $purple-40;
        }
      }
    }
  }

  /* block below can be removed once we no longer display
   * a link to the financial models page in the menu footer   */
  .menu-footer.to-financial-models {
    background-color: $purple-95;

    p {
      color: $neutral-40;
    }

    b {
      color: $purple-50;
    }
  }
}
