.start-oss-page {
  background-color: $neutral-98;
  padding: 0 0 40px;

  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 64px;
    max-width: 516px;
  }

  h3 {
    color: $neutral-40;
    font-size: 1.17em;
    font-weight: 700;
    margin-left: 12px;
    margin-top: 10px;
  }

  h6 {
    background-color: $yellow-95;
    border: 1px solid rgba(249, 203, 57, 0.3);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    color: $yellow-50;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 96px;
    padding: 10px;
    text-transform: uppercase;
  }

  p,
  li {
    color: $neutral-60;
    font-size: 16px;
    margin: 14px 0 18px;
  }

  // This may be a transition to the same style
  // as in docs. If so, let's remove this one and generalize it.
  pre {
    color: white;
  }

  code {
    min-height: 52px;
  }

  ol {
    counter-reset: item;
    list-style: none;
    padding: 0;
  }

  li {
    counter-increment: item;
    margin-bottom: 5px;

    &::before {
      color: $neutral-80;
      content: counter(item) ".";
      display: inline-block;
      margin-right: 10px;
      text-align: center;
      width: 1.2em;
    }
  }

  p.small {
    font-size: 14px;
    margin-left: 28px;
  }

  &__background-image {
    position: absolute;
    top: 45vh;
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 592px;
    position: relative;
    text-align: center;
    width: calc(100vw - 56px);
  }

  &__card {
    @include shadow-xs;

    background-color: $neutral-98;
    border: 1px solid $blue-90;
    border-radius: 12px;
    margin-bottom: 32px;
    max-width: 592px;
    padding: 24px 24px 0;
    text-align: left;
    width: calc(100vw - 56px);

    &.recommended {
      @include shadow-xl;

      background-color: white;
    }

    > div:first-child {
      align-items: center;
      display: flex;
      gap: 12px;

      .badge {
        margin-top: 4px;

        &:hover {
          background-color: $blue-90;
          color: $blue-60;
        }
      }
    }
  }

  &__help {
    margin-top: 64px;

    h4 {
      color: $neutral-40;
      font-size: 18px;

      a {
        color: $blue-60;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__indented {
    margin-left: 28px;
  }

  &__logo-container {
    display: block;
    height: 56px;
    position: relative;
    width: 56px;

    &::before {
      background-color: white;
      border-radius: 50%;
      box-shadow: 0 2px 4px -2px #1018280f, 0 2px 4px -2px #1018280f;
      content: "";
      display: block;
      height: 56px;
      left: 0;
      outline: 1px solid #f0f0f0;
      position: absolute;
      top: 0;
      width: 56px;
    }
  }

  &__logo {
    border-radius: 50%;
    height: 50px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 50px;
  }

  &__stay-in-touch {
    @include shadow-xs;

    align-items: center;
    border: 1px solid $blue-90;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 32px;
    width: 100%;

    h3 {
      background-color: $neutral-98;
      color: $neutral-60;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: 1.2px;
      margin-top: -64px;
      padding: 0 20px 20px 13px;
      text-align: center;
      text-transform: uppercase;

      img {
        margin: 8px;
        position: relative;
        top: 13px;
      }
    }

    p {
      color: $neutral-40;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
    }

    form {
      width: 100%;
    }

    .mc-field-group {
      > div:first-child {
        display: flex;
        gap: 8px;
      }
    }

    #mc-embedded-subscribe {
      padding-left: 32px;
      padding-right: 32px;
    }

    .response {
      padding: 10px 0;
      text-align: left;
    }
  }

  .chevron-blue-right {
    position: relative;
    top: -4px;
  }
}
