<div class="try-metabase-footer flex flex-column align-items-center px-6">
  <h3 class="h3-5 fw-bold text-center mb-4">Bring more order to your analytics</h3>
  <div class="mw--sm">
    <p class="fs-11 lh-base mb-8">Organize your data for clarity, allowing non-technical team members to navigate and analyze it effortlessly.</p>
  </div>
  <div>
    <a
      id="get-started-btn-home"
      class="btn btn-primary"
      href="https://store.metabase.com/checkout"
    >
      Get started
    </a>
  </div>

  <div class="mt-6 mx-4">
    {% include product/data-studio/selling-points.html %}
  </div>
</div>

<div class="full-width-centered px-4">
  <div class="trusted-by">
    {% include trusted-by.html %}
  </div>
  <div class="logos customer-logos-container">
    {% include customer-logos.html group="metabot" %}
  </div>
</div>
