<section class="hero">
  <h2>
    <img src="/images/icons/badges/data-studio-badge.svg" alt />
    Data Studio
  </h2>

  <h1>
    Data Studio is a workbench for building<br>
    self-service analytics people can trust.
  </h1>

  <p>
    As charts and tables pile up, definitions drift and changes start to break things downstream. Data Studio gives teams the tools to manage data quality as you grow, so everyone can trust the numbers.
  </p>

  <div class="hero-ctas">
    <a
      class="Button btn btn-primary rounded-3"
      href="https://store.metabase.com/checkout"
    >
      Get started
    </a>
  </div>

  <div class="mt-6 mx-4">
    {% include product/data-studio/selling-points.html %}
  </div>

  <div class="padded">
    <img src="/images/product/data-studio/data-studio-interface.png" alt="Data Studio interface showing models and relationships" loading="lazy" class="desktop" />
    <img src="/images/product/data-studio/data-studio-interface-mobile.png" alt="Data Studio interface showing models and relationships" loading="lazy" class="mobile w-100" />
  </div>
</section>
