<div class="flex flex-wrap justify-content-center neutral-60 fs-14">
  <span class="flex align-items-center mx-2">
    <span class="icon-container mr-1" style="width: 24px; height: 24px;">
      {% include svg-icons/check-circle.html color="currentColor" %}
    </span>
    Free 14-day trial
  </span>
  <span class="flex align-items-center mx-2">
    <span class="icon-container mr-1" style="width: 24px; height: 24px;">
      {% include svg-icons/clock.html color="currentColor" %}
    </span>
    Super-fast setup
  </span>
  <span class="flex align-items-center mx-2">
    <span class="icon-container mr-1" style="width: 24px; height: 24px;">
      {% include svg-icons/secure-shield-outline.html color="currentColor" %}
    </span>
    Secure and compliant
  </span>
</div>
