<section>
  <h3>Curate your semantic layer inside Metabase</h3>
  <p>
    Data Studio is an analyst workbench where you shape the data your analytics depends on.
    Centralize logic, define reusable building blocks for analytics, and view and troubleshoot dependencies.
  </p>
  <div class="cards-container two-cards">
    <div class="card">
      <div class="icon-container text-brand">
        {% include svg-icons/transform.svg %}
      </div>
      <h5>Transforms</h5>
      <h4>Speed up queries by cleaning up tables for analytics</h4>
      <p>
        Clean, join, or pre-aggregate data in SQL or Python and create a new, persistent table for teams to explore and ask questions.
      </p>
    </div>
    <div class="card">
      <div class="icon-container text-brand">
        {% include svg-icons/dependencies.svg %}
      </div>
      <h5>Lineage</h5>
      <h4>See the blast radius of a change before you make it</h4>
      <p>
        Understand exactly how data flows through your Metabase, so you know the impact of a change before you make it.
      </p>
    </div>
    <div class="card">
      <div class="icon-container text-brand">
        {% include svg-icons/search_check.svg %}
      </div>
      <h5>Dependency diagnostics</h5>
      <h4>Find and fix broken dependencies without hunting them down</h4>
      <p>
        Detect broken dependencies, from tables to dashboards, and fix them before they cause problems.
      </p>
    </div>
    <div class="card">
      <div class="icon-container text-brand">
        {% include svg-icons/repository.svg %}
      </div>
      <h5>Versioned dataset publishing</h5>
      <h4>Make it clear which data is meant to be reused</h4>
      <p>
        Create a shared library of curated datasets so teams know what’s production-ready.
      </p>
    </div>
  </div>
</section>
