<div class="feature-container-carousel-container">
  <div class="full-width-centered before-feature-container-carousel desktop">
    <h3>
      Avoid repeated requests with reports anyone can run
    </h3>
    <p>
      Let people dive deeper into data on their own without the hand-holding.
    </p>
  </div>

  <div class="feature-container flex-row-reverse feature-container-carousel desktop">
    <div>
      <div class="expanded">
        <h6>{% include svg-icons/cloud-or-self-hosted.html %}Metabot</h6>
        <h4>Ask Metabot AI</h4>
        <div>
          <p>
            <a href="/features/metabase-ai">Chat with your database</a> to get answers
            in natural language. Make it easier for your less technical teammates to self-serve data.
          </p>
        </div>
      </div>
      <div>
        <h6>{% include svg-icons/magnifying-glass-plus.html %}Drill-through</h6>
        <h4>Click on charts to drill into data</h4>
        <div>
          <p>
            Drillthrough menus preempt questions, like “Can we see this broken down by plan tier?” or “What about
            just the users from last month?” and dive deeper without forming a new
            query. Configured for you out of the box.
          </p>
        </div>
      </div>
      <div>
        <h6>{% include svg-icons/stack.html %}SQL editor</h6>
        <h4>Query data with or without SQL</h4>
        <div>
        <p>
          Put together queries intuitively in the <a href="/features/query-builder">visual query builder</a> without writing SQL.
          Let power users do more complex analysis with the <a href="/features/sql-editor">SQL editor</a>.
        </p>
        </div>
      </div>
      <div>
        <h6>
          {% include svg-icons/collections.html %}Collections and verified items
        </h6>
        <h4>Make content trustworthy and easy to find</h4>
        <div>
          <p>
            Mark dashboards, models, metrics, and questions as official. Keep
            content organized and easy to find in collections.
          </p>
        </div>
      </div>
      <div>
        <h6>{% include svg-icons/bell.html %}Alerts</h6>
        <h4>Put the most valuable data in front of people</h4>
        <div>
          <p>
            Schedule reports to send without anyone (even outside of your org) via
            Slack or email. Make data actionable in real-time by triggering alerts
            in Slack, email, and HTTP.
          </p>
        </div>
      </div>
    </div>
    <div>
      <img src="/images/home/metabot-ai-2.mp4"
           alt="Avoid repeated requests 1" class="show">
      <img src="/images/product/business-intelligence/avoid-repeated-requests-2.png"
           alt="Avoid repeated requests 2">
      <img src="/images/product/business-intelligence/avoid-repeated-requests-3.png"
           alt="Avoid repeated requests 3">
      <img src="/images/product/business-intelligence/avoid-repeated-requests-4.png"
           alt="Avoid repeated requests 4">
      <img src="/images/product/business-intelligence/avoid-repeated-requests-5.png"
           alt="Avoid repeated requests 5">
    </div>
  </div>
</div>
