<div class="full-width-centered before-feature-container-carousel">
  <h3>
    Avoid repeated requests with reports anyone can run
  </h3>
  <p>
    Let people dive deeper into data on their own without the hand-holding.
  </p>
</div>

<div class="feature-container flex-row-reverse feature-container-carousel">
  <div>
    <div class="expanded">
      <h6>{% include svg-icons/magnifying-glass.html %}Drill-through</h6>
      <h4>Click to group, filter, and drill into data</h4>
      <div>
        <p>
          Clickable drillthrough menus preempt questions people might have on
          charts like “Can we see this broken down by plan tier?” or “What about
          just the users from last month?” and dive deeper without forming a new
          query. And they’re made for you.
        </p>
      </div>
    </div>
    <div>
      <h6>{% include svg-icons/cloud-or-self-hosted.html %}Query builder</h6>
      <h4>Run queries and reports without SQL</h4>
      <div>
        <p>
          The visual query builder makes asking questions intuitive. Template
          recurring questions and calculations with models and metrics.
        </p>
      </div>
    </div>
    <div>
      <h6>{% include svg-icons/stack.html %}SQL editor</h6>
      <h4>Do more complex stuff in SQL</h4>
      <div>
      <p>
        Let your team self-serve analytics in the query builder. You can still
        take care of more advanced analysis with the SQL editor.
      </p>
      </div>
    </div>
    <div>
      <h6>
        {% include svg-icons/collections.html %}Collections and verified items
      </h6>
      <h4>Make content trustworthy and easy to find</h4>
      <div>
        <p>
          Mark dashboards, models, metrics, and questions as official. Keep
          content organized and easy to find in collections.
        </p>
      </div>
    </div>
    <div>
      <h6>{% include svg-icons/bell.html %}Alerts</h6>
      <h4>Put the most valuable data in front of people</h4>
      <div>
        <p>
          Schedule reports to send without anyone (even outside of your org) via
          Slack or email. Make data actionable in real-time by triggering alerts
          in Slack, email, and HTTP.
        </p>
      </div>
    </div>
  </div>
  <div>
    <img src="/images/product/business-intelligence/avoid-repeated-requests-1.png"
         alt="Avoid repeated requests 1" class="show">
    <img src="/images/product/business-intelligence/avoid-repeated-requests-2.png"
         alt="Avoid repeated requests 2">
    <img src="/images/product/business-intelligence/avoid-repeated-requests-3.png"
         alt="Avoid repeated requests 3">
    <img src="/images/product/business-intelligence/avoid-repeated-requests-4.png"
         alt="Avoid repeated requests 4">
    <img src="/images/product/business-intelligence/avoid-repeated-requests-5.png"
         alt="Avoid repeated requests 5">
  </div>
</div>
