<div class="embedding-page__header-container">
  <div class="container">
    <header class="py-13 embedding-page__header">
      <span class="align-items-center blue-60 d-inline-block d-inline-flex flex-row justify-content-center embedding-page__header__icon">
        {% include svg-icons/business-intelligence-light-blue-bg.html %}
        <span><b>Business Intelligence</b></span>
      </span>
      <h1>The fastest way to go from database to dashboards</h1>
      <p class="embedding-page__tagline">A clean UI that won’t scare off your teammates, governance so things don’t go off the rails, and tools to drop into SQL as you need.</p>
      <a
        href="https://store.metabase.com/checkout"
        class="fs-13 Button btn btn-primary rounded-3 ms-lg-2 mr-2"
        >
      Try Metabase Cloud free
      </a>
      <a
        class="fs-13 Button btn btn-outline-blue rounded-3 ml-0 ml-lg-2"
        href="/start/oss/"
      >
        Deploy Metabase Open Source
      </a>
      {% include selling-points.html %}

      <img src="/images/product/business-intelligence/hero.png" alt="Business Intelligence" class="desktop" />
      <img src="/images/product/business-intelligence/hero-mobile.png" alt="Business Intelligence" class="mobile"/>

      <div class="full-width-centered container landing-page__three-cards">
        <div class="cards-container">
          <div class="card">
            {% include svg-icons/code.html color="#509ee3" %}
            <h4>Open source and scalable</h4>
            <p>
              From pre-seed to IPO, with pricing that makes sense for startups.
            </p>
          </div>
          <div class="card">
            {% include svg-icons/cube.html %}
            <h4>Self-host or deploy on Metabase Cloud </h4>
            <p>
              Go hands-free with our powerful cloud, host it yourself, or even air-gap your Metabase.
            </p>
          </div>
          <div class="card">
            {% include svg-icons/secure-shield-outline.html %}
            <h4>Secure data sharing</h4>
            <p>
              Skip ETL and modeling layers for a quick, pain-free start. Layer in structure when you’re ready.
            </p>
          </div>
        </div>
      </div>

      <p class="embedding-page__header__trusted-by">{% include trusted-by.html %}</p>

      <div class="customer-logos-container">
      {% include customer-logos.html group="home" %}
      </div>
    </header>
  </div>
</div>
