---
title: Download the Metabase JAR
summary: Download page for the Metabase JAR.
redirect_from:
- /start/jar
---

<meta http-equiv="refresh" content="1;URL=https://downloads.metabase.com/{{site.latest_version}}/metabase.jar">

<div class="bg-alt pt2">
    <div class="container">
        <div class="text-centered mb4">
            <img class="ml-auto mr-auto my4 block" src="/images/jar.svg" />
            <h1>Downloading the Open Source metabase.jar...</h1>
            <p>Your download should begin automatically. If it doesn't, you can <a href="https://downloads.metabase.com/{{site.latest_version}}/metabase.jar">start it manually.</a></p>
        </div>
    </div>
</div>
<div class="mt2">
    <div class="container container-small">
        <div class="my2">
            {% include jar_instructions.html %}
        </div>
        {% include next_step.html %}
    </div>
</div>
<img class="block ml-auto mr-auto" src="/images/mountain_01.png" width="1200" height="480" />
