.blog-page {
  .blog-release-card,
  .previous-post-card {
    h4 {
      transition: color 0.15s ease;
    }

    &:hover {
      h4 {
        color: $blue-60;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .header-year {
      clear: right;
      float: left;
      width: 9%;
    }

    .previous-post-card {
      float: right;
      width: 91%;
    }
  }
}
