#case-study-content p code {
  background-color: $blue-85;
  border-radius: 4px;
  color: $neutral-40;
  padding: 0;
}

.case-study-detail {
  h4 {
    margin-top: 4rem;
  }

  li {
    font-size: 1.125rem;
  }

  p {
    margin-bottom: 2rem;
  }

  blockquote {
    color: $neutral-40;
    font-size: $font-size-base * 1.5;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 4rem;
    margin-top: 2rem;

    p,
    p strong {
      color: $neutral-40;
      font-size: $font-size-base * 1.5;
      font-weight: 200;
      line-height: 1.6;
    }
  }
}

.case-studies-filters-container {
  border: 1px solid $neutral-85;
  border-radius: 12px;
  margin: 36px 0 72px;
  padding: 24px;
}

.use-case-toggler {
  background-color: white;
  margin: -44px auto 40px;
  width: 600px;

  a {
    padding-top: 6px;
  }
}
