#case-study-content p code {
  background-color: $blue-85;
  border-radius: 4px;
  color: $neutral-40;
  padding: 0;
}

.case-study-detail {
  h4 {
    margin-top: 4rem;
  }

  li {
    font-size: 1.125rem;
  }

  p {
    margin-bottom: 2rem;
  }

  blockquote {
    color: $neutral-40;
    font-size: $font-size-base * 1.5;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 4rem;
    margin-top: 2rem;

    p,
    p strong {
      color: $neutral-40;
      font-size: $font-size-base * 1.5;
      font-weight: 200;
      line-height: 1.6;
    }
  }
}
