@import "pages/events/hero";
@import "pages/events/past-events";
@import "pages/events/carousel";
@import "pages/events/entry";

.events .banner-entry {
  margin-bottom: 24px;
  max-width: 800px;
  width: 100%;
}
