.responsive-page.feature-page {
  .feature-container {
    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 24px;
    }

    > div:last-child {
      height: auto;
      padding-top: 0;

      &.youtube-wrapper {
        aspect-ratio: 16 / 9;
        overflow: hidden;
        position: relative;
        width: 100%;
      }

      iframe {
        border: 0;
        display: block;
        height: 100%;
        object-fit: contain;
        width: 100%;
      }
    }

    @include media-breakpoint-down(lg) {
      align-items: stretch;

      > div:last-child {
        iframe {
          height: 100%;
        }
      }
    }
  }
}
