.get-demo-success {
  background-color: $neutral-98;

  &__content {
    margin: 0 auto;
    max-width: 592px;
    overflow: hidden;
    padding: 74px 0;
    width: 100%;

    > * {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 100%;

      @include media-breakpoint-down(lg) {
        width: calc(100% - 40px);
      }
    }

    > a,
    div {
      background-color: white;
      border: 1px solid #eef6fc;
      border-radius: 24px;
      width: 100%;
    }

    div.get-demo-success__content__message-received {
      background-color: initial;
      border-radius: 0;
      border-style: none;
      padding: 0 32px 12px;

      p {
        color: $neutral-40;
        font-size: 20px;
      }
    }

    div.get-demo-success__content__calendly {
      background-color: $blue-95;
      padding: 24px;
      text-align: left;
      width: 100%;

      @include media-breakpoint-down(lg) {
        width: calc(100% - 40px);
      }

      p {
        color: $neutral-60;
        font-size: 16px;
        margin-bottom: 0;
      }
    }

    a {
      display: block;
      padding: 24px;
      position: relative;
      text-align: left;

      @include media-breakpoint-down(lg) {
        width: calc(100% - 40px);
      }

      p {
        color: $neutral-60;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0;
      }

      img {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    h1 {
      color: $neutral-15;
      font-size: 36px;
      font-weight: 900;
      margin-bottom: 16px;
    }

    h3 {
      color: $neutral-15;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    h5 {
      color: $neutral-15;
      font-size: 20px;
      margin: 48px 0 20px;
    }

    span {
      background-color: $neutral-98;
      color: $blue-85;
      display: flex;
      float: none;
      font-size: 11px;
      font-weight: 900;
      margin: 32px auto 21px;
      padding: 10px 14px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      width: 44px;

      &::before {
        background-color: $blue-85;
        content: "";
        display: block;
        height: 1px;
        left: -500px;
        position: absolute;
        top: 50%;
        width: 500px;
      }

      &::after {
        background-color: $blue-85;
        content: "";
        display: block;
        height: 1px;
        left: calc(50% + 22px);
        position: absolute;
        top: 50%;
        width: 500px;
      }
    }
  }
}
