.help-page {
  .container {
    margin: auto;
    max-width: 840px;
  }

  .border-card {
    border-radius: 12px;
    margin-bottom: 1.25rem;
    padding: 1.5rem;

    &:hover,
    &:focus,
    &:active {
      background: #f9fbfc;
    }

    &:focus,
    &:active {
      outline: 2px solid $blue-75;
    }
  }

  @include media-breakpoint-down(md) {
    .btn {
      width: 100%;
    }
  }
}

.help-premium {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 600px;

  @include media-breakpoint-down(xl) {
    grid-template-columns: 1fr 400px;
  }

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr 300px;
  }

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
  }

  #question-container {
    background-color: red !important;
  }

  > div {
    &:first-child {
      background: linear-gradient(to bottom, #fff 40%, rgba(255, 255, 255, 0) 60%);
      background-color: white;
      border: 1px solid $neutral-95;
      border-radius: 12px;

      h4 {
        color: $neutral-40;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        margin: 20px 30px 0;
      }

      h5 {
        color: $neutral-40;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 0 30px 22px;
      }

      > div {
        border-radius: 12px;
        overflow: hidden;
      }

      p {
        color: $neutral-60;
        font-size: 16px;
        line-height: 24px;
        padding: 20px 32px 12px;

        span {
          color: $blue-60;
          cursor: pointer;
          font-weight: 700;
        }
      }
    }

    &:last-child {
      > p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  .border-card {
    background-color: white;
    display: grid;
    grid-template-columns: 36px 1fr;
    padding: 16px;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

    &:hover {
      background-color: $neutral-98;
      border-color: $blue-85;
    }

    h5 {
      color: $neutral-40;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
    }

    p {
      color: $neutral-60;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 0;
    }

    svg {
      transition: stroke 0.2s ease-in-out;
    }
  }
}
