.help-page {
  .container {
    margin: auto;
    max-width: 840px;
  }

  .border-card {
    &:hover,
    &:focus,
    &:active {
      background: #f9fbfc;
    }

    &:focus,
    &:active {
      outline: 2px solid $blue-75;
    }
  }

  @include media-breakpoint-down(md) {
    .btn {
      width: 100%;
    }
  }
}
