.home-page {
  #get-started-btn-home,
  .btn-outline-blue {
    padding: 12px 18px;
  }

  #home-play-button {
    background-color: $blue-60;
    border-radius: 50%;
    height: 31.5px;
    padding-left: 1px;
    transition: background-color 0.2s ease;
    width: 31.5px;
  }

  #home-play-button-text {
    transition: color 0.2s ease;
  }

  #home-play-button-wrapper:hover {
    #home-play-button {
      background-color: $blue-40;
    }

    #home-play-button-text {
      color: $blue-40;
    }
  }

  #stats-dashboard-background-img-wrapper {
    max-width: 1440px;
  }

  #stats-dashboard-background-img {
    margin-top: -50px;
    width: 100%;
  }

  #stats-dashboard-background-img-gradient {
    background:
      linear-gradient(
        90deg,
        rgba(250, 251, 254, 1) 0%,
        rgba(255, 255, 255, 0) 15%,
        rgba(255, 255, 255, 0) 85%,
        rgba(250, 251, 254, 1) 100%
      );
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .datasources-gradient {
    &::before,
    &::after {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 2rem;
      z-index: 2;
    }

    &::before {
      background:
        linear-gradient(
          90deg,
          rgba(238, 246, 252, 1) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      left: 0;
    }

    &::after {
      background:
        linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(238, 246, 252, 1) 100%
        );
      right: 0;
    }
  }

  .dashboard--preview {
    &::after {
      background:
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(250, 251, 254, 0.99) 81%
        );
      bottom: -1.625rem;
      content: "";
      display: block;
      height: 4.75rem;
      position: absolute;
      width: 100%;
    }
  }

  .marquee-logo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 36px;
    margin: 0 12px;
    min-width: 100px;
    position: relative;
    z-index: 2;

    @include media-breakpoint-up(sm) {
      flex-wrap: initial;
    }
  }

  .button--playDemo {
    align-content: center;
    background: $blue-60;
    border: 5px solid $blue-85;
    border-radius: 50%;
    display: flex;
    height: 77px;
    justify-content: center;
    padding: 1rem 1.45rem;
    text-align: center;
    top: 32%;
    transition: all 0.2s ease-in-out;
    width: 77px;
    z-index: 2;

    @include media-breakpoint-up(md) {
      top: 40%;
    }

    &:hover {
      transform: scale(1.1) !important;
    }
  }

  .video {
    &--hero {
      border-radius: 8px;
      box-shadow: 0 3px 24px rgba(0, 0, 0, 0.08);

      img {
        max-width: 556px;
      }

      &:hover {
        .button--playDemo {
          transform: scale(1.01);
        }
      }
    }

    &--heroVideoContainer {
      max-width: 700px;
    }

    &--heroVideo {
      pointer-events: none;
      user-select: none;

      .vjs-loading-spinner .vjs-control-text {
        display: none;
      }
    }
  }

  .header-gradient {
    background: linear-gradient(0deg, #fcfcfd 10%, #12436e 10%);
  }

  a#play-metabase #main-play-button-wrapper {
    transition: width 0.3s;
    width: 100px;
  }

  a#play-metabase:hover #main-play-button-wrapper {
    width: 376px;
  }

  a#play-metabase #main-play-button-background {
    border-radius: 44px;
    height: 88px;
    overflow: hidden;
    transition: width 0.3s;
    width: 88px;
  }

  a#play-metabase:hover #main-play-button-background {
    width: 364px;
  }

  #see-how #see-how-play-button {
    transition: background-color 0.3s;
  }

  #see-how:hover #see-how-play-button {
    background-color: $blue-40;
  }

  .collapsable-card {
    height: fit-content;
    transition: background-color, height 0.3s;
  }

  .card-title {
    transition: color 0.2s;
  }

  .card:hover .card-title {
    color: $blue-60;
  }

  .active .card:hover .card-title {
    color: $neutral-15;
  }

  .collapsable-image {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .show-image {
    opacity: 1;
  }

  .hide-image {
    opacity: 0;
  }

  .Button.btn-outline-white {
    border-color: $neutral-white;
    color: $neutral-white;
  }

  .feature-card {
    code {
      display: inline;
      padding: 0 0.125rem;
      white-space: normal;
      word-break: break-word;
    }

    .github-button {
      top: 36%;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.cta-lottie {
  height: 100%;
  margin-left: -50%;
  margin-top: -5rem;
  width: 200%;

  @include media-breakpoint-up(md) {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  }
}

.cta-card__text {
  li {
    color: $blue-50;
    margin-bottom: 1rem;
  }
}

.embedding-page__cta:hover,
.cta-card__link.Button:hover .embedding-page__cta {
  color: $blue-40;
}

.section__mountains {
  background: url("/images/home/illus-bg.svg") center bottom no-repeat;
  background-size: 100%;
}

.icon__transparent {
  svg path {
    fill: transparent;
  }
}

.block--hosted {
  background: url("/images/home/Group-3358.svg") center bottom no-repeat;
  min-height: 176px;

  @include media-breakpoint-down(md) {
    background: url("/images/home/Group-3358-mobile.svg") center no-repeat;
  }

  .rounded-circle {
    background: $neutral-white;
    box-shadow: $box-shadow;
    height: 64px;
    margin-left: -10px;
    transition: all 0.2s ease-in-out;
    width: 64px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      transform: translateY(-8px);
    }
  }

  .circle--1 {
    z-index: 1;
  }

  .circle--2 {
    z-index: 2;
  }

  .circle--3 {
    z-index: 3;
  }
}

.block--github {
  background: url("/images/home/grid-bg.svg") center bottom no-repeat;
  min-height: 176px;

  @include media-breakpoint-down(md) {
    background: url("/images/home/grid-bg-mobile.svg") center no-repeat;
  }
}

.constant-animation--container {
  div:first-child {
    bottom: 0;
    height: 9.375rem;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  a.Button {
    transition: 0.3s ease;

    &:hover {
      background: $blue-10;
      color: $neutral-white;
    }
  }

  @include media-breakpoint-down(md) {
    background: $blue-60;
    border-radius: 1rem;
    min-height: 250px;
  }

  .constant-animation {
    mask-image: radial-gradient(white, black);
  }
}

/* video.js styling */
.vjs-poster {
  height: fit-content;
  width: 100%;
}
