.landing-page {
  &__ctas {
    @include media-breakpoint-down(lg) {
      width: calc(100% - 56px);
    }
  }

  &__three-cards {
    margin: 40px auto 80px;
  }

  &__three-cards-variable-heights {
    margin: 64px auto;
    padding: 0;

    &.container {
      padding: 0;
    }

    .cards-container {
      align-items: flex-start;
      display: flex;
      gap: 20px;

      .card {
        border: 1px solid $blue-90;
        border-radius: 12px;
        flex: 1 33.33%;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__full-width-sky-blue {
    margin: 80px auto;
    max-width: 1280px;

    @include media-breakpoint-down(lg) {
      max-width: calc(100% - 56px);
    }
  }

  &__event {
    margin-bottom: 64px;

    .hero {
      padding-top: 0;

      h2 {
        color: $neutral-15;
        visibility: visible;
      }
    }

    .events .upcoming-events {
      display: flex;

      .events-entry {
        display: flex;
      }
    }
  }

  &__feature-and-rolling-testimonial {
    > div:last-child {
      box-shadow: none;
    }

    @include media-breakpoint-down(lg) {
      gap: 0;
      width: calc(100% - 56px);

      > div:first-child {
        padding-bottom: 40px !important;
      }
    }

    .review-card-container {
      &::before {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0), $neutral-98 90%);
      }

      &::after {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $neutral-98 90%);
      }

      .review-card {
        box-shadow: 0 1px 2px 0 #1018280d;
      }
    }
  }

  &__comparison-table {
    margin: 40px auto 80px;

    @include media-breakpoint-down(lg) {
      width: calc(100% - 56px);

      p {
        text-align: center;
      }
    }
  }

  &__three-cards {
    @include media-breakpoint-down(lg) {
      max-width: 10000px;
    }
  }

  &__hero-a {
    background-color: $neutral-98;
    margin: 0 auto;
    overflow: hidden;
    padding: 64px 0 0;

    & + .customer-list {
      padding-top: 64px;
    }

    h1 {
      font-weight: 700;
      margin-bottom: 24px;
      max-width: 632px;
    }

    @include media-breakpoint-down(lg) {
      p {
        margin: 0 auto;
        width: calc(100% - 56px);
      }
    }
  }

  &__hero-b {
    background-color: $neutral-98;
    box-shadow: 50vw 0 0 $neutral-98, -50vw 0 0 $neutral-98;
    margin: 0 auto;
    padding: 64px 20px;

    h1 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 24px;
      max-width: 632px;
    }

    .badge {
      letter-spacing: 1.2px;
    }

    @include media-breakpoint-down(lg) {
      padding-left: 20px;
      padding-right: 20px;
    }

    > div:last-child {
      border: none;
      box-shadow: none;
    }
  }

  &__hero-c {
    background-color: $neutral-98;
    margin: 0 auto;
    padding: 0;

    .hero {
      padding-bottom: 80px;
    }

    h1 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 24px;
      margin-top: 64px;
      max-width: 632px;
    }

    .cards-container {
      margin-top: 64px;
    }
  }

  .navigation-header {
    background-color: $neutral-98;
  }

  .customer-list {
    background-color: $neutral-98;
    border-bottom: 1px solid $blue-90;
    margin-bottom: 104px;

    .customer-logos-container {
      margin: 10px auto 40px;
    }
  }

  .hero-container {
    &::after {
      background: none;
    }
  }

  .testimonial {
    p {
      @include media-breakpoint-down(lg) {
        margin: 0 auto;
        width: calc(100% - 60px);
      }
    }

    img {
      border: 2px solid white;
      border-radius: 50%;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      height: 3rem;
      width: 3rem;
    }
  }

  .try-metabase-footer {
    border-top: 1px solid $blue-90;
  }
}
