.partner-page {
  h1 {
    font-size: 1.875rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
  }

  h2,
  h3,
  h4 {
    margin-top: 2rem;
  }

  ul li {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .list-items span {
    &::after {
      content: ", ";
    }

    &:last-child::after {
      content: "";
      display: none;
    }
  }

  blockquote {
    background: url("/images/quote.svg") 0% 6px no-repeat;
    margin: 0 0 5rem;
    padding-left: 2.5rem;

    p {
      font-size: 1.125rem;
    }
  }
}
