#post {
  .content-container {
    p,
    li {
      color: $neutral-15;
      font-family: $merriweather-stack;
      font-size: 18px;
      line-height: 32px;

      a {
        display: inline;
      }
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 24px;
      margin-top: 48px;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 24px;
      margin-top: 48px;
    }

    h4 {
      font-size: 1.3rem;
      margin-bottom: 12px;
      margin-top: 24px;
    }

    a {
      font-weight: bold;
      transition: color 0.15s ease;

      &:hover {
        color: $blue-40;
      }
    }

    code {
      background-color: $blue-25;
      border-radius: 10px;
      color: $neutral-white;
      font-family: $fira-stack;
      font-size: 14px;
      padding: 24px;
    }

    p,
    li,
    h2,
    h3,
    h4,
    td,
    th {
      code {
        background-color: $blue-85;
        border-color: transparent;
        border-radius: 4px;
        color: $neutral-15;
        font-size: 18px;
        padding: 2px 6px 4px;
      }
    }

    blockquote {
      background: url("/images/quote.svg") 0% 10% no-repeat;
      margin: 60px 0 90px;
      padding-left: 40px;

      p {
        font-family: $lato-stack;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }
    }

    iframe {
      width: 100%;
    }

    #post-content > p:first-of-type {
      font-family: inherit;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 48px;

      @include media-breakpoint-down(md) {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .image-wrapper {
      cursor: zoom-in;
    }

    img {
      border-radius: 10px;
      width: 100%;
    }
  }

  #in-this-release {
    position: sticky;
    top: 136px;

    a {
      color: $neutral-60;
      font-weight: 400;
      transition: color 0.15s ease;

      &:hover {
        color: $neutral-40;
      }

      &.selected {
        color: $neutral-40;
        font-weight: bold;
      }
    }
  }

  svg.share-button:hover {
    fill: $blue-60;
  }

  #cta-wrapper {
    bottom: 112px;
    max-width: 208px;
    position: fixed;
    right: -208px;
    transition: right 0.3s ease;

    &.newsletter-enter {
      right: 0;
    }
  }
}
