@import "./pricing/add-storage";
@import "./pricing/billing-selection";
@import "./pricing/buttons";
@import "./pricing/contact-us";
@import "./pricing/embedding-switcher";
@import "./pricing/os-install-cta";
@import "./pricing/plans-compare";
@import "./pricing/plans-compare-mobile";
@import "./pricing/pricing-table-2026";
@import "./pricing/tooltips";

.pricing-container {
  background-image: linear-gradient(to bottom, #f9fbfe, #fff);
  padding-top: 4.3em;
  position: relative;
  z-index: 0;

  section {
    margin: 0;
    margin-top: 48px;
    margin-top: 72px;
    padding: 0;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 3rem;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 32px;
    }
  }

  p.tax-warning {
    color: $neutral-60;
    font-size: 12px;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-top: 12px;
    }
  }

  .pricing-wrapper {
    padding: 1.728em 1.728em 0;
  }

  .label {
    border-right: 1px solid $blue-90;
    font-size: 14px;
    font-weight: 700;
    scroll-margin-top: 60px;
    text-align: left;
  }

  .support-subheader {
    color: $neutral-60;
    font-size: 12px;
    margin-left: 26px;
  }

  .faq {
    margin-bottom: 64px;
  }
}

.pricing-container-pricing-2026 {
  section {
    margin-top: 48px;
  }

  .pricing-wrapper {
    padding-top: 0;
  }

  .pricing-wrapper--plans {
    @include media-breakpoint-down(lg) {
      margin: 0 auto;
      max-width: 664px;
    }
  }

  .pricing-wrapper--table {
    @include media-breakpoint-down(md) {
      overflow-x: auto;
      position: relative;
    }
  }
}
