@import "./pricing/add-storage";
@import "./pricing/billing-selection";
@import "./pricing/buttons";
@import "./pricing/contact-us";
@import "./pricing/embedding-switcher";
@import "./pricing/plans-compare";
@import "./pricing/plans-compare-mobile";
@import "./pricing/plans-selection";
@import "./pricing/tooltips";

.pricing-container {
  background-image: linear-gradient(to bottom, #f9fbfe, #fff);
  padding-top: 4.3em;
  position: relative;
  z-index: 0;

  p.tax-warning {
    color: $neutral-60;
    font-size: 12px;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-top: 12px;
    }
  }

  #compare {
    padding: 1.728em 1.728em 0;
  }

  .label {
    border-right: 1px solid $blue-90;
    font-size: 14px;
    font-weight: 700;
    scroll-margin-top: 60px;
    text-align: left;
  }

  .support-subheader {
    color: $neutral-60;
    font-size: 12px;
    margin-left: 26px;
  }

  .pricing-title {
    font-size: 18px;

    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
}
