.responsive-page.professional-services-page {
  background-color: $neutral-98;
  border-bottom: 1px solid $blue-90;
  padding-bottom: 48px;

  .hero-container::after {
    background: none;
  }

  .cards-container {
    margin-bottom: 96px;

    &.small-margin-top {
      margin-top: 0;
    }

    .card {
      background-color: transparent;
      border: none;
      box-shadow: none;
    }

    @include media-breakpoint-down(lg) {
      align-items: center;
      padding-bottom: 0;

      &.small-margin-top {
        margin-top: 16px;
      }

      .card {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .what-we-can-help-you-with {
    margin-bottom: 48px;
  }

  .full-width-centered {
    &.why-you-should-work-with-us {
      @include media-breakpoint-down(lg) {
        align-items: center;
        padding-bottom: 0;
      }
    }

    &.what-we-can-help-you-with {
      margin-bottom: 16px;
    }
  }
}
