.release#post {
  h1 {
    font-size: 32px;
    font-weight: 900;
    max-width: 66.666%;

    @include media-breakpoint-down(lg) {
      font-size: 28px;
      max-width: 100%;
    }
  }

  .content-container {
    div.header-credits {
      align-items: center;
      color: $neutral-60;
      display: flex;
      gap: 4px;
      margin-top: 8px;

      img {
        position: relative;
        width: auto;
      }

      span {
        color: $neutral-40;
        font-weight: 700;
      }
    }

    h4 {
      color: $neutral-60;
      font-size: 20px;
      font-weight: 400;
      margin-top: 0;
    }
  }
}
