.startup-guide-container {
  .startup-guide {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0 auto;
    max-width: 1480px;

    @include media-breakpoint-down(xxl) {
      max-width: 1080px;
    }

    @include media-breakpoint-down(xl) {
      max-width: 920px;
    }

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr;
      max-width: 920px;
    }

    pre {
      overflow: auto;
      white-space: pre-wrap;
    }
  }

  .content-container {
    margin-top: 16px;
  }

  .learn {
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    padding: 0 72px 64px;

    @include media-breakpoint-down(lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .feedback-widget {
    align-items: start;
    margin-left: 0;

    ul {
      padding-left: 0 !important;
    }
  }

  .learn article {
    background-color: white;
    box-shadow: none !important;
    padding: 0;

    h1 {
      font-size: 1.875rem;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.34;
      margin-top: 2rem;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.4;
    }

    li {
      line-height: 1.5rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    img {
      border-radius: 24px;
      box-shadow: none;
    }
  }

  #sub-navigation-content {
    a {
      &:hover {
        color: $purple-50;
      }

      &.selected {
        color: $purple-50;
      }
    }

    .want-a-head-start {
      background-color: $purple-95;
      border: 1px solid $purple-70;
      border-radius: 12px;
      display: block;
      margin: 36px 10px 0 20px;
      max-width: 250px;
      overflow: hidden;
      padding: 20px 0 0;
      transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

      &:hover {
        background-color: $neutral-95;
        border-color: $purple-50;

        button {
          background-color: $purple-40;
        }
      }

      > * {
        margin: 0 20px;
      }

      > img {
        margin: 0;
      }

      button {
        background-color: $purple-50;
        border: none;
        border-radius: 8px;
        color: white;
        display: block;
        font-weight: 700;
        margin: 20px auto;
        padding: 10px 0;
        text-align: center;
        transition: background-color 0.2s ease-in-out;
        width: calc(100% - 40px);
      }

      p {
        color: $neutral-60;
        font-size: 14px;
      }

      h5 {
        color: $purple-50;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }

  .main-navigation-wrapper #main-navigation-content {
    border-right: none;
    box-shadow: none;
    margin-top: 14px;
    position: sticky;
    top: 174px;

    h5 {
      color: $neutral-40;

      path {
        stroke: $neutral-40;
      }

      &:hover,
      &.selected {
        color: $purple-50;

        path {
          stroke: $purple-50;
        }

        a {
          color: $purple-50;
        }
      }
    }
  }

  .learn__post {
    a {
      color: $purple-50;

      &:hover {
        color: $purple-40;
      }
    }

    blockquote {
      background-color: $purple-95;
      border-color: $purple-50;
    }

    table td {
      font-size: 13px;
    }

    .navigate-between-pages {
      background-color: $neutral-99;
      border: 1px solid $neutral-95;
      border-radius: 12px;
      display: block;
      margin: 24px 0;
      padding: 24px;
      transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

      &:hover {
        background-color: $neutral-97;
        border-color: $neutral-90;

        span {
          background-color: $purple-80;
        }
      }

      p {
        margin: 0;

        &.title {
          color: $neutral-40;
          font-size: 18px;
          font-weight: 700px;
          padding-bottom: 12px;
        }

        &.description {
          color: $neutral-60;
          font-size: 16px;
          font-weight: 400;
          padding-bottom: 30px;
        }
      }

      span {
        border: 1px solid $purple-70;
        border-radius: 8px;
        color: $purple-50;
        font-size: 14px;
        padding: 8px;
        transition: background-color 0.2s ease-in-out;
      }
    }
  }

  .learn .feedback-widget {
    button {
      background-color: $purple-50;
      transition: background-color 0.3s ease;

      svg path {
        stroke: white;
      }

      &:hover {
        background-color: $purple-40;

        svg path {
          stroke: white;
        }
      }
    }

    .page-feedback-title {
      font-size: 16px;
      margin-right: 16px;
    }

    #page-comment-submit {
      background-color: $purple-50;
      border-color: $purple-50;

      &:hover {
        background-color: $purple-40;
      }
    }
  }

  #feedback-widget-container {
    margin-left: 0;

    button.vote-button {
      svg path {
        stroke: white;
      }
    }

    #page-feedback-vote-up button svg {
      position: relative;
      top: 2px;
    }
  }

  #sub-navigation-content {
    height: 98vh;
    margin-left: -20px;
    max-width: 250px;
    overflow-y: scroll;
    padding-top: 3rem;
    position: sticky;
    top: 127px;
  }
}
