.upgrade__oss {
  p a {
    font-weight: bold;
  }

  .Pricing-Subheading {
    margin: 0 auto;
    max-width: 490px;
  }

  .review__block {
    background: $blue-95;
    margin-bottom: 6rem;

    h4 {
      font-size: 0.688rem;
      font-weight: 900;
      letter-spacing: 0.063rem;
      text-transform: uppercase;
    }

    .review-tagline {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
    }

    p {
      font-size: 1rem;
    }

    .upgrading-tagline {
      font-size: 0.875rem;
      font-weight: 700;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        color: $neutral-40;
        display: flex;
        font-size: 0.875rem;
        line-height: 1.375;
        margin-bottom: 0.75rem;

        svg {
          margin: 5px 3px 0 -3px;
          width: 25px;
        }
      }
    }
  }

  .talk-to-sales {
    .Button {
      &:hover,
      &:focus {
        background-color: $purple-40;
      }
    }
  }

  .Pricing {
    display: block;

    .Pricing-Switcher {
      margin: 0 0 3rem;

      div {
        @include media-breakpoint-down(xs) {
          margin-top: 0.313rem;
        }

        &::before {
          background: $neutral-80;
          height: 1rem;
          top: 0;
          transform: translateX(-16px);
          width: 2rem;
        }

        &::after {
          background: $neutral-white;
          height: 0.75rem;
          top: 0.125rem;
          width: 0.75rem;
        }

        a {
          padding: 0 1.5rem 0 0;
          position: relative;
          width: fit-content;

          h3 {
            color: $neutral-80;
            font-size: 0.875rem;
            font-weight: 700;
          }
        }

        a:last-child {
          padding: 0 0 0 1.5rem;
        }
      }

      .save-text {
        background: $green-90;
        border: 1px solid $green-80;
        border-radius: 4px;
        bottom: -2px;
        color: $green-50;
        font-size: 0.75rem;
        font-weight: 700;
        height: fit-content;
        left: 105%;
        line-height: 1;
        margin: 0;
        padding: 0.25rem;
        position: absolute;
        white-space: nowrap;
        width: fit-content;

        @include media-breakpoint-down(sm) {
          left: 24px;
          top: 140%;
        }
      }
    }

    .Pricing-Card-Container {
      box-sizing: border-box;
      height: fit-content;

      .Pricing-Card {
        border: 1px solid $neutral-90;
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        margin: 0 0.75rem 0 0;
        max-width: 450px;
        transition: opacity 0.5s ease;
        width: fit-content;

        @include media-breakpoint-down(lg) {
          margin: auto;
        }

        &.current {
          opacity: 0.6;
        }

        .Pricing-Name {
          background: $green-90;
          border-radius: 0.5rem;
          color: $green-50;
          font-size: 11px;
          font-weight: 900;
          letter-spacing: 0.1rem;
          line-height: 1.3636;
          margin-bottom: 1.5rem;
          padding: 0.5rem 0.75rem;
          text-transform: uppercase;
          width: fit-content;
        }

        .Pricing-Title {
          font-size: 1.5rem;
          font-weight: 700;
          margin: 0 0 0.75rem;
          padding: 0 1.5rem 0 0;
        }

        .Pricing-Tagline {
          color: $neutral-40;
          font-size: 1rem;
          font-weight: 400;
          margin: 0 0 1.5rem;
        }

        .Pricing-Price {
          margin-bottom: 0.25rem;

          .oss__currency {
            bottom: 0.563rem;
            color: $neutral-15;
            font-size: 0.875rem;
            font-weight: 700;
            left: 0.125rem;
            position: relative;
          }

          .oss__pricing-value {
            color: $neutral-15;
            font-size: 1.5rem;
            font-weight: 700;
          }

          .oss__pricing-period {
            color: $neutral-80;
            font-size: 0.875rem;
          }
        }

        .Pricing-Secondary {
          font-size: 0.875rem;
          margin-bottom: 1.5rem;
        }

        .Pricing-CTA {
          margin-bottom: 1.5rem;
          transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;

          a.oss-tier-starter[disabled] {
            background-color: $green-90;
            border: 1px solid $green-50;
            color: $green-50;
            pointer-events: none;
          }

          .Button {
            background-color: $green-50;
            border: none;
            color: $neutral-white;
            font-size: 0.875rem;
            line-height: 1.375;
            margin-bottom: 0;
            padding: 0.625rem 0;

            &:hover {
              background-color: $green-40;
            }
          }
        }

        .Pricing-Intro {
          color: $green-50;
          font-size: 0.875rem;
          font-weight: 700;
          margin-bottom: 0.75rem;
        }

        .Pricing-Highlights {
          li {
            align-items: flex-start;
            display: flex;
            margin-bottom: 0.75rem;

            svg {
              height: auto;
              position: relative;
              top: -0.125rem;
              width: 1.5rem;
            }

            .Pricing-Highlight-Text {
              color: $neutral-15;
              flex: 1;
              font-size: 0.875rem;
              margin-left: 0.5rem;

              p {
                margin-bottom: 0;

                a {
                  display: inline;
                }
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &.oss-tier-pro {
          margin: 0 0 0 0.75rem;
          overflow: hidden;
          position: relative;

          @include media-breakpoint-down(lg) {
            margin: auto;
          }

          .Pricing-Banner {
            background: $blue-25;
            color: $neutral-white;
            font-size: 0.75rem;
            font-weight: 700;
            padding: 0.625rem;
            position: absolute;
            right: -35%;
            text-align: center;
            top: 1.25rem;
            transform: rotate(28deg);
            user-select: none;
            width: 100%;
          }

          .Pricing-Name {
            background: $blue-95;
            color: $blue-60;
          }

          .Pricing-CTA .Button {
            background-color: $blue-60;

            &:hover {
              background-color: $blue-40;
            }
          }

          .Pricing-Intro {
            color: $blue-60;
          }

          .oss-pro-see-more {
            background: $neutral-white;
            border: 1px solid $blue-75;
            border-radius: 8px;
            bottom: 1.5rem;
            box-shadow: $box-shadow;
            color: $blue-60;
            cursor: pointer;
            font-size: 0.875rem;
            font-weight: 700;
            left: 0;
            margin: auto;
            padding: 0.45rem 0.875rem 0.5rem;
            position: absolute;
            right: 0;
            width: fit-content;
            z-index: 2;
          }

          &.expanded {
            &::after {
              display: none;
            }

            .oss-pro-see-more {
              display: none;
            }
          }
        }
      }
    }
  }

  .deploy-monthly {
    .Pricing-Switcher div::after {
      transform: translateX(-14px);
    }

    #monthly h3 {
      color: $neutral-black;
    }

    .pricing-annually {
      display: none;
    }

    .pricing-monthly {
      display: block;
    }
  }

  .deploy-annually {
    #annually h3 {
      color: $neutral-black;
    }

    .Pricing-Switcher div::after {
      transform: translateX(2px);
    }

    .pricing-annually {
      display: block;
    }

    .pricing-monthly {
      display: none;
    }
  }

  .satellite-title {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.625;
  }

  .satellite-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .satellite-illustration {
    max-width: 175px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 3rem;
    }
  }

  .background__grid {
    background: $blue-99 url("/images/upgrade/grid-background.svg") center no-repeat;
    background-size: cover;
  }

  .embedding-page__section-title {
    color: $neutral-15;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25;
  }

  .embedding-page__question {
    color: $neutral-15;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.625;
    margin-bottom: 0.25;
  }

  .embedding-page__tagline {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.review-card-container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include media-breakpoint-down(xl) {
    height: 400px;
  }

  &::before,
  &::after {
    content: "";
    height: 6em;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &::before {
    background-image:
      linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgb(238, 246, 252) 90%
      );
    top: 0;
  }

  &::after {
    background-image:
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgb(238, 246, 252) 90%
      );
    bottom: 0;
  }

  .review-card-absolute-container {
    animation: scroll-up 64s infinite linear;
    position: absolute;
    width: 100%;

    @keyframes scroll-up {
      from {
        transform: translateY(0);
      }

      to {
        transform: translateY(-100%);
      }
    }

    &.secondary-animation {
      animation: secondary-scroll-up 64s infinite linear;
    }

    @keyframes secondary-scroll-up {
      from {
        transform: translateY(100%);
      }

      to {
        transform: translateY(0);
      }
    }

    .review-card {
      background: $neutral-white;
      border: 1px solid $blue-95;
      border-radius: 0.5rem;

      .review-quote {
        color: $neutral-15;
        font-size: 0.875rem;
        line-height: 1.375rem;
      }

      .review-headshot {
        border: 2px solid $neutral-white;
        box-shadow: $box-shadow;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 44px;
        overflow: hidden;
        text-align: center;
        user-select: none;
        width: 44px;

        img {
          min-height: 100%;
          min-width: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }

      .review-logo {
        align-items: center;
        background-color: $white;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        height: 44px;
        justify-content: center;
        left: -6px;
        overflow: hidden;
        position: relative;
        text-align: center;
        user-select: none;
        width: 44px;

        img {
          min-width: 100%;
        }
      }

      .review-name {
        color: $neutral-40;
        font-size: 0.875rem;
        font-weight: 700;
      }

      .review-title {
        color: $neutral-60;
        font-size: 0.875rem;
      }
    }
  }
}
