.event .guests {
  background-color: white;
  border: 1px solid $blue-90;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 #1018280d;
  display: flex;
  flex-direction: column;
  margin: 48px auto;
  max-width: 600px;
  padding: 24px;

  h4 {
    color: $neutral-15;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 32px;
  }

  > div {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }

    > p {
      margin-top: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    > div {
      display: flex;

      img {
        border: 2px solid white;
        border-radius: 50%;
        box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.16);
        height: 48px;
        margin-right: 16px;
        width: 48px;
      }

      > p {
        color: $neutral-40;
        font-size: 16px;
        line-height: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .name-and-title {
        display: flex;
        flex-direction: column;

        p {
          font-size: 16px;
          line-height: 22px;

          &:first-child {
            color: $neutral-15;
            font-weight: 700;
            margin-bottom: 4px;
          }

          &:last-child {
            color: $neutral-40;
            font-weight: 400;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    margin-left: 32px;
    margin-right: 32px;
  }
}
