.event .intro {
  font-size: 20px;
  margin: 96px auto 64px;
  max-width: 600px;

  h3 {
    color: $neutral-15;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 32px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 12px;
  }

  @include media-breakpoint-down(lg) {
    padding: 0 32px;
  }
}
