.event .registration-popup {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10000;

  &.show {
    display: flex;
  }

  > div {
    background-color: white;
    height: 80vh;
    max-width: 800px;
    padding: 40px;
    position: relative;
    width: 100%;

    @include media-breakpoint-down(lg) {
      padding: 10px;
    }
  }

  button.close-popup {
    align-items: center;
    background-color: $neutral-95;
    border: none;
    border-radius: 8px;
    color: $neutral-40;
    display: flex;
    font-size: 26px;
    height: 40px;
    justify-content: center;
    padding: 0 0 3px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 15px;
    width: 40px;
    z-index: 2;
  }
}
