.event .subscribe {
  background-color: white;
  border: 1px solid $blue-90;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 #1018280d;
  display: flex;
  flex-direction: column;
  margin: 0 auto 96px;
  max-width: 600px;
  padding: 24px;

  h5 {
    color: $neutral-15;
    font-size: 20px;
    line-height: 28px;
  }

  p {
    margin-bottom: 0;
  }

  > div {
    display: flex;
    gap: 16px;
    margin-top: 36px;

    input {
      border: 1px solid $blue-90;
      border-radius: 8px;
      flex: 1;
      padding: 0 10px;

      &[type="submit"] {
        flex: 0;
        padding: 14px 18px;
      }
    }
  }

  .response {
    display: none;
    margin-top: 12px;

    &#mce-error-response {
      color: $red-40;
    }
  }

  .avoid-fake-signup {
    left: -5000px;
    position: absolute;
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    margin: 0 32px 64px;

    > div {
      flex-direction: column;

      input[type="submit"] {
        width: 100%;
      }

      input {
        padding: 14px 18px;
      }
    }
  }
}
