.event .summary {
  display: flex;
  flex-direction: column;
  margin: 0 auto 64px;
  max-width: 600px;
  padding: 24px;

  code {
    background: $blue-25;
    border-radius: 0.75rem;
    color: white;
    font-family: "Roboto Mono", monospace;
    padding: 1.5rem;
  }

  hr {
    margin-bottom: 1.625rem;
  }

  ul {
    li {
      font-size: 18px;
    }
  }
}
