.event .events .upcoming-events {
  background: transparent;
  display: none;
  padding-bottom: 0;

  &.show {
    display: flex;
  }

  &.large-margin-top {
    margin-top: 96px;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 24px;
  }

  > h3 {
    font-size: 16px;
    font-weight: 700;
  }

  .events-entry {
    display: none;
    margin-top: 36px;

    h3 {
      color: $neutral-15;
    }

    &.show {
      display: flex;
    }
  }
}
