<div class="hero">
  <div class="container">
    <h2>Data segregation</h2>
    <h1>Set strong boundaries around your multi-tenant data</h1>
    <p>Methods to fit your configuration preferences and security requirements. Give and restrict data access down to the row- and column-level.</p>
    <div class="buttons hoverable-toggler has-4-links desktop">
      <div class="hover-highlight"></div>
      <a href="#" class="active">
        {% include svg-icons/sandbox.html %}Row and column-level security
      </a>
      <a href="#">
        {% include svg-icons/enter.html %}Connection impersonation
      </a>
      <a href="#">
        {% include svg-icons/arrow-up-then-right.html %}Database routing
      </a>
      <a href="#">
        {% include svg-icons/params-horizontal.html %}Locked parameters
      </a>
    </div>

    <div class="carousel__nav mobile">
      <button class="carousel__nav--button carousel__nav--left"></button>
      <div class="swiper-pagination">
        <span class="swiper-pagination-bullet active"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
      </div>
      <button class="carousel__nav--button carousel__nav--right"></button>
    </div>

    <div class="images desktop">
      <img src="/images/data-segregation/row-and-column-level-security.svg" alt="Data segregation row- and column-level security">
      <img src="/images/data-segregation/connection-impersonation.svg" alt="Data segregation connection impersonation">
      <img src="/images/data-segregation/database-routing.svg" alt="Data segregation database routing">
      <img src="/images/data-segregation/locked-parameters.svg" alt="Data segregation locked parameters">
    </div>

    <div class="images mobile">
      <img src="/images/data-segregation/row-and-column-level-security-mobile.png" alt="Data segregation row- and column-level security">
      <img src="/images/data-segregation/connection-impersonation-mobile.png" alt="Data segregation connection impersonation">
      <img src="/images/data-segregation/database-routing-mobile.png" alt="Data segregation database routing">
      <img src="/images/data-segregation/locked-parameters-mobile.png" alt="Data segregation locked parameters">
    </div>

    <div class="summary show">
      <h4 class="mobile">{% include svg-icons/sandbox.html %}Row and column-level security</h4>
      <p>
        Define rules in Metabase that limit which rows and columns each group can see based on attributes you set.
      </p>

      <a href="#row-level-security">
        Learn more about row-level security {% include svg-icons/chevron.html %}
      </a>
    </div>

    <div class="summary">
      <h4 class="mobile">{% include svg-icons/enter.html %}Connection impersonation</h4>
      <p>
        Database-managed row-level permissions: Metabase impersonates database roles to enforce data visibility while still allowing SQL editor access.
      </p>

      <a href="#connection-impersonation">
        Learn more about connection impersonation {% include svg-icons/chevron.html %}
      </a>
    </div>

    <div class="summary">
      <h4 class="mobile">{% include svg-icons/arrow-up-then-right.html %}Database routing</h4>
      <p>
        In one-DB-per-tenant setups, Metabase routes each customer’s queries to their own database while keeping shared content in a primary DB.
      </p>

      <a href="#database-routing">
        Learn more about database routing {% include svg-icons/chevron.html %}
      </a>
    </div>

    <div class="summary">
      <h4 class="mobile">{% include svg-icons/params-horizontal.html %}Locked parameters</h4>
      <p>
        Lightweight data restriction for basic embedding setups, with locked paramters passed from your web app that users can’t modify.
      </p>

      <a href="#locked-parameters">
        Learn more about locked parameters {% include svg-icons/chevron.html %}
      </a>
    </div>
  </div>
</div>
