<div class="feature-container">
  <div>
    <h2>An open line to your account’s assigned engineer</h2>
    <p>Your Enterprise account is managed by a named engineer to provide fast, friendly, unlimited technical help — not a junior support rep or sales person in disguise (no offense). Be on first-name basis with someone who gets your business, what you want to achieve, and has the skills to help you get there, including:</p>
    <ul class="checklist-outline">
      <li><b>Implementation support</b> with specialized advice for your use case and objectives.</li>
      <li><b>Regularly scheduled check-in calls</b> to help you get the most out of Metabase.</li>
      <li><b>On-call troubleshooting</b> with answers within hours (1 day SLA).</li>
      <li><a href="/product/professional-services">Optional ad hoc training</a> tailored to you and your data, to get your whole team up to speed on using Metabase.</li>
    </ul>
  </div>
  <div class="no-background success-engineers">
    <h6><img alt="Curved Arrow" src="/images/icons/curved-arrow.svg" class="curved-arrow"> Meet the team</h6>
    <div class="success-engineers-pics-container">
      <div class="success-engineer-pic-container">
          <div class="success-engineer-caption">
            <span class="name">Filmon Kesete (USA)</span>
            <span class="experience">15 years experience</span>
          </div>
        <div class="success-engineer-pic" id="filmon-kesete"></div>
      </div>
      <div class="success-engineer-pic-container">
        <div class="success-engineer-caption">
          <span class="name">LeAnn Lewis (USA)</span>
          <span class="experience">15 years experience</span>
        </div>
        <div class="success-engineer-pic" id="leann-lewis"></div>
      </div>
      <div class="success-engineer-pic-container">
        <div class="success-engineer-caption">
          <span class="name">Luis Paolini (Argentina)</span>
          <span class="experience">16 years experience</span>
        </div>
        <div class="success-engineer-pic" id="luis-paolini"></div>
      </div>
      <div class="success-engineer-pic-container">
        <div class="success-engineer-caption">
          <span class="name">Zoltan Bodi (Hungary)</span>
          <span class="experience">12 years experience</span>
        </div>
        <div class="success-engineer-pic" id="zoltan-body"></div>
      </div>
      <div class="success-engineer-pic-container">
        <div class="success-engineer-caption">
          <span class="name">Tony Ciny (Malta)</span>
          <span class="experience">7 years experience</span>
        </div>
        <div class="success-engineer-pic" id="tony-cini"></div>
      </div>
    </div>
  </div>
</div>

<script src="/js/cloud-self-hosted-comparison.js"></script>
