<div class="feature-container">
  <div>
    <h2>Built to play well with your data stack</h2>
    <p>Metabase fits with tools you’re already using to take your data from black box to accessible insights, while staying in control over who sees what.</p>
    <ul class="checklist-outline">
      <li><b>Plug into your</b> <a href="/data-sources/">data source</a> with official, partner and community connectors to over 20 databases and warehouses.</li>
      <li><b>Manage access and map user groups</b> with Single Sign On via SAML, JWT, and advanced LDAP.</li>
      <li><b>Keep confidential data on a need-to-know basis</b> with row- and column- level permissions via <a href="/features/data-segregation">data sandboxes</a>.</li>
    </ul>
  </div>
  <div class="no-background">
    <div class="data-sources-marquee-container">
      {% include data-sources-marquee.html %}
    </div>
  </div>
</div>

<script src="/js/cloud-self-hosted-comparison.js"></script>
