<div class="slider">
	<div class="slide-track">
    {% for review in site.data.reviews %}
      <div class="horizontal-review-card p-6 drop-shadow mb-6 slide">
        <p class="review-quote">{{ review.quote }}</p>
        <div class="flex flex-row">
          <div class="review-headshot rounded-circle">
            <img alt="review headshot" src="{{ review.headshot }}" loading="lazy" />
          </div>
          <div class="review-logo rounded-circle">
            <img alt="review logo" src="{{ review.logo }}" loading="lazy" />
          </div>
          <div class="flex flex-column justify-content-around flex-grow-1">
            <div class="review-name">{{ review.name }}</div>
            <div class="review-title">{{ review.title }}, {{ review.company }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% for review in site.data.reviews %}
      <div class="horizontal-review-card p-6 drop-shadow mb-6 slide">
        <p class="review-quote">{{ review.quote }}</p>
        <div class="flex flex-row">
          <div class="review-headshot rounded-circle">
            <img alt="review headshot" src="{{ review.headshot }}" loading="lazy" />
          </div>
          <div class="review-logo rounded-circle">
            <img alt="review logo" src="{{ review.logo }}" loading="lazy" />
          </div>
          <div class="flex flex-column justify-content-around flex-grow-1">
            <div class="review-name">{{ review.name }}</div>
            <div class="review-title">{{ review.title }}, {{ review.company }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
	</div>
</div>
