<div class="feature-container flex-row-reverse customer-facing-analytics">
    <div>
      <h2>Compliance, auditability, and trust-by-default</h2>
      <p>Metabase Enterprise supports strict compliance requirements by keeping data fully inside your controlled environment and aligning with industry-standard security practices.</p>
      <ul>
        <li><b>SOC1 and SOC2 Type II foundation</b> for cloud-managed deployments</li>
        <li><b>Supports GDPR, CCPA, and HIPAA-aligned deployments</b> when self-hosted</li>
        <li><b>Full audit logging</b>  for queries, dashboard access, and permission changes</li>
        <li><b>SSO/SAML/SCIM</b> for centralized identity and access lifecycle management</li>
        <li><b>Usage analytics</b> to track adoption and governance</li>
        <li><b>No data ingestion or replication</b> minimizing compliance scope</li>
      </ul>
      <a href="/features/data-segregation">Learn more about data segregation <img alt="Chevron Blue Right" class="chevron-blue-right" src="/images/chevron_blue_right.svg"></a>
    </div>
    <div>
      <video
        class="vjs-player pause-observer lazy"
        id="usage-analytics"
        poster="/images/features/usage-analytics.png">
        <source src="/images/features/usage-analytics.mp4" type="video/mp4" />
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
  </div>
