<div class="feature-container customer-facing-analytics">
  <div>
    <h2>Multi-tenant, customized customer-facing analytics at a custom price</h2>
    <ul class="checklist-outline">
      <li><b>Let your customers explore data on their own</b> Get component-based, themed in-app analytics with your branding. Let customers ask questions in natural language, click to explore on interactive dashboards, and more.</li>
      <li><b>SDK for advanced customization, flexibity and control</b> The React toolkit for making in-app reporting feel right at home in your UI.</li>
      <li><b>Specialized onboarding to get up and running faster</b> We’re talking weeks, instead of months.</li>
    </ul>
    <a href="/embedding-demo">Try the live embedding demo <img alt="Chevron Blue Right" class="chevron-blue-right" src="/images/chevron_blue_right.svg"></a>
  </div>
  <div>
    <video
      class="vjs-player pause-observer lazy"
      id="sincera-video"
      poster="/images/home/Sincera.gif">
      <source src="/images/home/Sincera.mp4" type="video/mp4" />
      <source src="/images/home/Sincera.webm" type="video/webm" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
  </div>
</div>

