<div class="feature-container flex-row-reverse customer-facing-analytics">
  <div>
    <h2>Interactive customer-facing analytics at a custom price</h2>
    <p>Let your customers explore data on their own. Embed all of Metabase in your website or app with <a href="/features/white-label-analytics">your branding</a>, complete with the query builder, multi-tenant permissions, and more.</p>
    <p>If you need more advanced theming, granular control over interactivity, and seamless UX, the <a href="/product/embedded-analytics-sdk">Embedded Analytics SDK for React</a> gives you more control, flexibility and customization options.</p>
    <p>Get your customer-facing analytics up-and-running super fast with specialized onboarding. We’re talking weeks, instead of months.</p>
    <a href="/embedding-demo">Try the live embedding demo <img class="chevron-blue-right" src="/images/chevron_blue_right.svg"></a>
  </div>
  <div>
    <video
      class="vjs-player pause-observer lazy"
      id="sincera-video"
      poster="/images/home/Sincera.gif">
      <source src="/images/home/Sincera.mp4" type="video/mp4" />
      <source src="/images/home/Sincera.webm" type="video/webm" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
  </div>
</div>

