<div class="feature-container flex-row-reverse customer-facing-analytics">
    <div>
      <h2>Enterprise-ready security and data segregation</h2>
      <p>Designed for environments where data boundaries are non-negotiable, whether you need to isolate data for customers or teams.</p>
      <ul>
        <li><b>Your data stays on your servers.</b> Metabase doesn’t ingest your data, extract, store it, or do refreshes. Your queries are run against data stored in your database, not pulled in Metabase.</li>
        <li><b>Fine-grained access control.</b> Set strict visibility rules across databases, tables, rows, and columns to isolate customer and team data.</li>
        <li><b>Enterprise identity management.</b> Use SSO and automated user provisioning to control access without maintaining separate accounts.</li>
      </ul>
      <a href="/features/data-segregation">Learn more about data segregation <img alt="Chevron Blue Right" class="chevron-blue-right" src="/images/chevron_blue_right.svg"></a>
    </div>
    <div>
      <video
        class="vjs-player pause-observer lazy"
        id="sandbox"
        poster="/images/features/sandbox.gif">
        <source src="/images/features/data-sandbox.mp4" type="video/mp4" />
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
  </div>
