  <div class="hero-container">
  <div class="hero">
    <!-- This fades the clouds in and out as they move from left to right -->
    <div id="gradient-background"></div>
    <!-- This covers the clouds as they enter the stage on the left -->
    <div id="cloud-cover-left"></div>
    <!-- This covers the clouds as they leave the stage on the right -->
    <div id="cloud-cover-right"></div>

    <div class="d-flex flex-column align-items-center">
      <h6>Metabase Enterprise</h6>
      <h1 class="fw-bold mb-5 text-center h3">
        Buttoned-up analytics with<br />VIP treatment
      </h1>
      <p class="paragraph-4 responsive neutral-40 mb-6 text-center subtitle">
        Self-service analytics at scale with advanced permissions and management features, hands-on technical support, and flexibility around setting up and running your Metabase.
      </p>
    </div>
    <div class="d-flex justify-content-center align-items-center gap-4">
      <a id="get-started-btn-home" class="fs-13 Button btn btn-primary rounded-3" href="/talk-to-a-person/">Contact us</a>
    </div>

    <div class="cards-container">
      <div class="card">
        {% include svg-icons/heart.html color="#5d60a2" %}
        <h4>All the best of Metabase</h4>
        <p>Interactive white-labeled embedded analytics, SSO, row- and column-level permissions, serialization, auditing tools, content moderation, and more.</p>
      </div>
      <div class="card">
        {% include svg-icons/cloud-or-self-hosted.html color="#5d60a2" %}
        <h4>Self- or cloud-hosting options</h4>
        <p>Ultra-secure on-prem <a href="/product/air-gapping">air-gapped environments</a>, or <a href="/cloud/">cloud-hosting</a> in your region for the same price. Single tenancy is also available.</p>
      </div>
      <div class="card">
        {% include svg-icons/secure-shield-outline.html color="#5d60a2" %}
        <h4>SOC2 Type II compliance from the get-go</h4>
        <p>Built-in enterprise-level compliance from day one. <a href="/security">We really care about your data privacy and security.</a></p>
      </div>
    </div>

    <div class="trusted-by">
      {% include trusted_by.html %}
    </div>

    <div class="logos customer-logos-container">
      {% include customer-logos.html group="enterprise"  %}
    </div>
  </div>
</div>
