<div class="full-width-centered premium-service">
  <h3>Premium service without breaking the bank</h3>
  <div class="cards-container">
    <div class="card">
      {% include svg-icons/coin.html %}
      <h4>Get a custom quote</h4>
      <p>Based on your use case and requirements to keep up with you as you scale.</p>
    </div>
    <div class="card">
      {% include svg-icons/document.html %}
      <h4>No credit card required (to trial, or after)</h4>
      <p>We’ll work with your procurement team for invoicing and your preferred payment method.</p>
    </div>
    <div class="card">
      {% include svg-icons/modules.html color="#5d60a2" %}
      <h4>Modular contracts</h4>
      <p>Get to proof of concept faster with <a href="/product/onboarding-professional-service">onboarding</a> to get you set up and train your whole team.</p>
    </div>
  </div>
</div>
