<div class="full-width-centered pro-enterprise-comparison">
  <h3>What’s the difference between Metabase Pro and Enterprise?</h3>
  <p>Same features with white-glove treatment on Enterprise.</p>

  <div class="comparison-table">
    <table>
      <thead>
        <tr>
          <th>
            &nbsp;
          </th>
          <th class="pricing-tier-oss" style="width: 17%">
            <span class="pro">Pro</span>
          </th>
          <th class="pricing-tier-starter" style="width: 17%">
            <span class="enterprise">Enterprise</span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Unlimited charts, questions, dashboards, and models</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>Scheduled updates and alerts via email and Slack</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>Connects to 20+ data sources, including CSV upload</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>Single sign-on (SAML, LDAP, JWT)</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>Row- and column-level permissions (data sandboxes)</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>Official collections and moderated questions</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>Auditing tools and usage analytics</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>Multi-tenant interactive embedding</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>SOC1 and SOC2 Type II Compliance</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>White-labeling</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>Unlimited technical support</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>Named success engineer</td>
          <td>&nbsp;</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>1 day support SLA</td>
          <td>&nbsp;</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>Implementation advice</td>
          <td>&nbsp;</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>Flexible procurement</td>
          <td>&nbsp;</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>On-prem air-gapped environment</td>
          <td>&nbsp;</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
        <tr>
          <td>Single-tenant cloud hosting</td>
          <td>&nbsp;</td>
          <td><img class="check" src="/images/check.svg" alt="Yes" title="Yes" /></td>
        </tr>
      </tbody>
    </table>
  </div>

  <a href="/pricing#compare" class="m-auto">See all features <img alt="Chevron Blue Right" src="/images/chevron_blue_right.svg"/></a>
</div>

