// METABASE COLORS
$blue-10: #071b2c;
$blue-15: #103c62;
$blue-25: #12436e;
$blue-40: #1c6bb0;
$blue-50: #489ae7;
$blue-60: #509ee3;
$blue-75: #8fc1ed;
$blue-85: #c2daf0;
$blue-90: #e4ecfb;
$blue-95: #eef6fc;
$blue-99: #f9fbfe;
$green-40: #669438;
$green-50: #80b946;
$green-80: #d9f0c2;
$green-90: #f3faec;
$green-95: #f7f9f1;
$purple-40: #4b4c81;
$purple-50: #5d60a2;
$purple-70: #9e9fc7;
$purple-80: #f2f2f8;
$purple-95: #efeff6;
$purple-98: #f5f5f9;
$yellow-40: #deab07;
$yellow-50: #f7be08;
$yellow-60: #f9cb39;
$yellow-95: #fef9e6;
$red-40: #b51717;
$red-60: #e84a4a;
$red-95: #fce8e8;
$neutral-black: #000;
$neutral-15: #22242b;
$neutral-20: #4c5773;
$neutral-40: #5a6072;
$neutral-60: #8d93a5;
$neutral-70: #949aab;
$neutral-80: #c6c9d2;
$neutral-85: #c2daf0;
$neutral-90: #e2e4e9;
$neutral-95: #f1f2f4;
$neutral-97: #fcfdff;
$neutral-98: #fafbfe;
$neutral-99: #fcfcfd;
$neutral-white: #fff;

// BOOTSTRAP THEME
$primary: $blue-60;
$secondary: #a989c5;

// Link
$blue-link: $primary;
$blue-link-hover: #2d86d4;
