$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.75;
$h2-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 2.25;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.75;
$headings-font-weight: 600;
$headings-color: $neutral-15;
$font-sizes: (
  1: $font-size-base * 3.75,
  2: $font-size-base * 3.5,
  3: $font-size-base * 3.25,
  4: $font-size-base * 3,
  5: $font-size-base * 2.75,
  6: $font-size-base * 2.5,
  7: $font-size-base * 2.25,
  8: $font-size-base * 2,
  9: $font-size-base * 1.75,
  10: $font-size-base * 1.5,
  11: $font-size-base * 1.25,
  12: $font-size-base * 1,
  13: $font-size-base * 0.875,
  14: $font-size-base * 0.75,
  15: $font-size-base * 0.6875,
);
$lato-stack: lato, "Helvetica Neue", helvetica, sans-serif;
$merriweather-stack: merriweather, georgia, serif;
$fira-stack: "Roboto Mono", monospace;
