<svg
  xmlns="http://www.w3.org/2000/svg"
  width="32"
  height="32"
>
  <g
    fill="none"
    fill-rule="evenodd"
  >
    <path
      stroke="{{include.stroke | default: '#509ee3'}}"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.5"
      d="m16 7 9 5.276-9 5.276-9-5.276z"
    />
    <path
      stroke="#509EE3"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.5"
      d="M12.586 16 7 19.724 16 25l9-5.276L19.317 16"
    />
    <path
      d="M0 0h32v32H0z"
    />
  </g>
</svg>
