<svg
  width="70"
  height="70"
  viewBox="0 0 70 70"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g filter="url(#filter0_dd_3121_1075)">
    <rect x="7" y="3" width="56" height="56" rx="28" fill="white" />
    <rect x="7" y="3" width="56" height="56" rx="28" stroke="#E4ECFB" />
    <rect x="11" y="7" width="48" height="48" rx="24" fill="#EEF6FC" />
    <rect x="11" y="7" width="48" height="48" rx="24" stroke="#E4ECFB" />
    <line
      x1="25.9023"
      y1="8.19971"
      x2="25.9023"
      y2="53.7997"
      stroke="#E4ECFB"
    />
    <line
      x1="57.7988"
      y1="21.9001"
      x2="12.1988"
      y2="21.9001"
      stroke="#E4ECFB"
    />
    <line
      x1="43.2988"
      y1="8.19971"
      x2="43.2988"
      y2="53.7997"
      stroke="#E4ECFB"
    />
    <line
      x1="57.7988"
      y1="39.3003"
      x2="12.1988"
      y2="39.3003"
      stroke="#E4ECFB"
    />
    <g clip-path="url(#clip0_3121_1075)">
      <path
        d="M41.3449 21.7408H28.6574C27.3227 21.7408 26.2407 22.8227 26.2407 24.1574V36.8449C26.2407 38.1796 27.3227 39.2616 28.6574 39.2616H41.3449C42.6796 39.2616 43.7616 38.1796 43.7616 36.8449V24.1574C43.7616 22.8227 42.6796 21.7408 41.3449 21.7408Z"
        fill="white"
        stroke="#509EE3"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M31.0732 28.9919L34.0941 31.7107L31.0732 34.4294"
        stroke="#509EE3"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </g>
  </g>
  <defs>
    <filter
      id="filter0_dd_3121_1075"
      x="0.5"
      y="0.5"
      width="69"
      height="69"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feMorphology
        radius="2"
        operator="erode"
        in="SourceAlpha"
        result="effect1_dropShadow_3121_1075"
      />
      <feOffset dy="2" />
      <feGaussianBlur stdDeviation="2" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.06 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_3121_1075"
      />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feMorphology
        radius="2"
        operator="erode"
        in="SourceAlpha"
        result="effect2_dropShadow_3121_1075"
      />
      <feOffset dy="4" />
      <feGaussianBlur stdDeviation="4" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.1 0"
      />
      <feBlend
        mode="normal"
        in2="effect1_dropShadow_3121_1075"
        result="effect2_dropShadow_3121_1075"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect2_dropShadow_3121_1075"
        result="shape"
      />
    </filter>
    <clipPath id="clip0_3121_1075">
      <rect
        width="19"
        height="19"
        fill="white"
        transform="translate(25.5 21)"
      />
    </clipPath>
  </defs>
</svg>
