<svg
  width="32"
  height="32"
  viewBox="0 0 32 32"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M14.6667 22.9999C19.2691 22.9999 23 19.269 23 14.6666C23 10.0642 19.2691 6.33325 14.6667 6.33325C10.0643 6.33325 6.33337 10.0642 6.33337 14.6666C6.33337 19.269 10.0643 22.9999 14.6667 22.9999Z"
    stroke="{{include.stroke | default: '#509ee3'}}"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M20.6666 20.6667L25.6666 25.6667"
    stroke="{{include.stroke | default: '#509ee3'}}"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M14.6666 11.6667V17.6667"
    stroke="{{include.stroke | default: '#509ee3'}}"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M17.6666 14.6667H11.6666"
    stroke="{{include.stroke | default: '#509ee3'}}"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
