<svg
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  fill="none"
  viewBox="0 0 24 24"
>
  <path
    stroke="{{ include.stroke | default: 'currentColor' }}"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.5"
    d="M17.25 4.75H6.75a2 2 0 0 0-2 2v10.5a2 2 0 0 0 2 2h10.5a2 2 0 0 0 2-2V6.75a2 2 0 0 0-2-2"
  />
  <path
    stroke="{{ include.stroke | default: 'currentColor' }}"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.5"
    d="M15.571 7.177h-7.14c-.75 0-1.36.46-1.36 1.03v5.413c0 .57.61 1.03 1.36 1.03h7.14c.75 0 1.36-.46 1.36-1.03V8.208c0-.57-.61-1.031-1.36-1.031"
  />
  <path
    stroke="{{ include.stroke | default: 'currentColor' }}"
    d="M10.734 12.418a1.266 1.266 0 1 1 2.532 0M15.196 9.247a.822.822 0 0 1-1.643 0M10.448 9.247a.822.822 0 0 1-1.644 0"
  />
  <path
    stroke="{{ include.stroke | default: 'currentColor' }}"
    stroke-linecap="round"
    stroke-width="1.5"
    d="M14.71 17.079h2.002"
  />
</svg>
