<svg
  id="{{include.id}}"
  class="{{include.class}}"
  width="{{include.width | default: 24}}"
  height="{{include.height | default: 24}}"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    stroke="{{ include.stroke | default: '#509EE3' }}"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.5"
    d="M19.25 12a7.25 7.25 0 1 1-14.5 0 7.25 7.25 0 0 1 14.5 0Z"
  />
  <path
    stroke="{{ include.stroke | default: '#509EE3' }}"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.5"
    d="M6.064 15.584a7.242 7.242 0 0 0 3.181-6.001c0-1.232-.307-2.391-.848-3.407M15.145 18.287a7.248 7.248 0 0 1-.326-2.158 7.248 7.248 0 0 1 3.705-6.326"
  />
</svg>
