.embedding-page {
  .tabs-with-timer__button {
    @include media-breakpoint-down(lg) {
      width: 100px;
    }

    &#sincera {
      background-image: url("/images/icons/customers/sincera-gray.png");
      background-position: center 7px;
      background-repeat: no-repeat;
      background-size: 120px;
      height: 48px;

      @include media-breakpoint-down(lg) {
        background-size: 90px;
      }

      &.selected,
      &:hover {
        background-image: url("/images/icons/customers/sincera.png");
      }
    }

    &#faros {
      background-image: url("/images/icons/customers/faros-gray.png");
      background-position: center 10px;
      background-repeat: no-repeat;
      background-size: 45px;
      height: 48px;

      &.selected,
      &:hover {
        background-image: url("/images/icons/customers/faros.png");
      }
    }
  }
}
