<div class="pricing-add-storage deployment deployment-cloud">
  <div>
    Use Metabase without a database <span>{% include svg-icons/stars.html %}
New</span>
  </div>
  <p>
    Start visualizing your data right away with an easy, secure place to store data from your uploaded CSVs or spreadsheets.
  </p>

  <p class="price">
  <span class="dollar">$</span>
  <span id="storage-starter-price-monthly">
    <span class="value">{{ site.data.storage.starter.price.monthly }}</span>
    /month
  </span>
  <span id="storage-starter-price-annual">
    <span class="value">{{ site.data.storage.starter.price.annual }}</span>
    /year
  </span> for {{ site.data.storage.starter.row_count }} stored rows <span class="or">or</span>
  <span class="dollar">$</span>
  <span id="storage-pro-price-monthly">
  <span class="value">{{ site.data.storage.pro.price.monthly }}</span>
  /month
  </span>
  <span id="storage-pro-price-annual">
    <span class="value">{{ site.data.storage.pro.price.annual }}</span>
    /year
  </span> for {{ site.data.storage.pro.row_count }} stored rows
  </p>

  <a class="fs-13 Button btn btn-primary rounded-3" href="https://store.metabase.com/checkout?plan=starter-with-dwh">
    Start free trial with Storage
  </a>
</div>
