<div class="w-auto billing-selection">
  <input
    class="d-none"
    type="checkbox"
    id="billing-{{ include.id }}"
    name="billing-{{ include.id }}"
  />

  <label
    class="align-items-center d-flex flex-nowrap flex-row user-select-none"
    for="billing-{{ include.id }}"
    title="Billing - Toggle"
  >
    <span class="fw-700 neutral-80 billing-selection__label--off"
      >Bill monthly</span
    >

    <div class="mx-2 billing-selection__icon">
      <div class="billing-selection__icon__handle"></div>
    </div>

    <div
      class="neutral-80 billing-selection__label--on pricing-tooltip pricing-tooltip--top"
    >
      <span class="fw-700 pricing-tooltip__text">Bill annually</span>
      <div class="pricing-tooltip__content pricing-tooltip__content--300">
        <span>Choose annual billing in the checkout and save 10%.</span>
      </div>
    </div>
    <span class="ml-2 billing-selection__badge billing-selection__badge--off"
      >Save 10%</span
    >
    <span class="ml-2 billing-selection__badge billing-selection__badge--on"
      >Saving 10%</span
    >
  </label>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    function updateAllCheckboxes(billing) {
      document
        .querySelectorAll(`input[name^=billing-]`)
        .forEach(($checkbox) => {
          $checkbox.checked = billing;
        });
    }

    function updateStoragePrices(isAnnualBilling) {
      const $starterMonthly = document.querySelector(
        "#storage-starter-price-monthly",
      );
      const $proMonthly = document.querySelector("#storage-pro-price-monthly");
      const $starterAnnual = document.querySelector(
        "#storage-starter-price-annual",
      );
      const $proAnnual = document.querySelector("#storage-pro-price-annual");

      if (isAnnualBilling) {
        $starterMonthly.style.display = "none";
        $proMonthly.style.display = "none";
        $starterAnnual.style.display = "inline";
        $proAnnual.style.display = "inline";
      } else {
        $starterMonthly.style.display = "inline";
        $proMonthly.style.display = "inline";
        $starterAnnual.style.display = "none";
        $proAnnual.style.display = "none";
      }
    }

    document
      .querySelectorAll("input[name^=billing-{{ include.id }}]")
      .forEach(($checkbox) => {
        $checkbox.addEventListener("change", (e) => {
          const isAnnualBilling = e.currentTarget.checked || false;
          const billing = isAnnualBilling ? "annual" : "monthly";
          const state = {
            billing,
          };

          // event
          updateAllCheckboxes(isAnnualBilling);
          updateStoragePrices(isAnnualBilling);
          window.dispatchEvent(new CustomEvent("billing", { detail: state }));
        });
      });
  });
</script>
