<div class="bootstrap">
  <div class="plans-compare header-only">
    <div class="header">&nbsp;</div>
    <div class="header pricing-tier-oss">
      Open Source
      <a class="Button block mb1 mt-3" href="/start/oss/">How to install</a>
    </div>
    <div class="header pricing-tier-starter">
      Starter
      <a class="Button block mb1 mt-3" href="https://store.metabase.com/checkout/starter" target="_blank" rel="noreferrer">Start free trial</a>
    </div>
    <div class="header pricing-tier-pro">
      Pro
      <a class="Button block mb1 mt-3" href="https://store.metabase.com/checkout/pro" target="_blank" rel="noreferrer">Start free trial</a>
    </div>
    <div class="header pricing-tier-enterprise">
      Enterprise
      <a class="Button block mb1 mt-3" href="/sales/">Talk to Sales</a>
    </div>
  </div>

  <div class="plans-compare full">
    <div class="header">&nbsp;</div>
    <div class="header pricing-tier-oss">
      Open Source
      <a class="Button block mb1 mt-3" href="/start/oss/">How to install</a>
    </div>
    <div class="header pricing-tier-starter">
      Starter
      <a class="Button block mb1 mt-3" href="https://store.metabase.com/checkout/starter" target="_blank" rel="noreferrer">Start free trial</a>
    </div>
    <div class="header pricing-tier-pro">
      Pro
      <a class="Button block mb1 mt-3" href="https://store.metabase.com/checkout/pro" target="_blank" rel="noreferrer">Start free trial</a>
    </div>
    <div class="header pricing-tier-enterprise">
      Enterprise
      <a class="Button block mb1 mt-3" href="/sales/">Talk to Sales</a>
    </div>

    {% for section in site.data.feature-comparison %}
      <div class="section-title">
          {% if section.heading %}
            <h3 class="mt2 mb0">{{ section.heading }}</h3>
          {% endif %}
          {{ section.description }}
      </div>

      {% for row in section.rows %}
      {% if row.pricing %}
      <div class="label" data-row="{{row.name}}" id="{{ row.name | split: " " | join: "-" | downcase | replace: "(", "" | replace: ")", "" }}">
            {% if row.link %}
            <a href="{{row.link}}">{% if row.details %}<span class="apply-tooltip" data-tippy-content="{{ row.details }}">
                {% endif %}{{ row.name }} {% if row.details %}<img src="/images/info.svg" width="15" /></span>{% endif %}</a>
            {% else %}
            {% if row.details %}<span class="apply-tooltip" data-tippy-content="{{ row.details }}">
              {% endif %}{{ row.name }} {% if row.details %}<img src="/images/info.svg" width="15" /></span>{% endif %}{% endif %}
          </div>

          <div class="pricing-tier pricing-tier-oss" data-row="{{row.name}}">
            <div>
              {% if row.oss == true %}
                {% include svg-icons/tick-icon.html color="#5a6072" %}
              {% elsif row.oss == false %}
                &nbsp;
              {% else %}
                {{ row.oss }}
              {% endif %}
            </div>
          </div>

          <div class="pricing-tier pricing-tier-starter" data-row="{{row.name}}">
            <div>
              {% if row.starter == true %}
                {% include svg-icons/tick-icon.html color="#5a6072" %}
              {% elsif row.starter == false %}
                &nbsp;
              {% else %}
                {{ row.starter }}
              {% endif %}
            </div>
          </div>

          <div class="pricing-tier pricing-tier-pro" data-row="{{row.name}}">
            <div>
              {% if row.pro == true %}
                {% include svg-icons/tick-icon.html color="#5a6072" %}
              {% elsif row.pro == false %}
                &nbsp;
              {% else %}
                {{ row.pro }}
              {% endif %}
            </div>
          </div>

          <div class="pricing-tier pricing-tier-enterprise" data-row="{{row.name}}">
            <div>
              {% if row.enterprise == true %}
                {% include svg-icons/tick-icon.html color="#5a6072" %}
              {% elsif row.enterprise == false %}
                &nbsp;
              {% else %}
                {{ row.enterprise }}
              {% endif %}
            </div>
          </div>
          {% endif %}
      {% endfor %}
    {% endfor %}
</div>

<script src="/js/pricing/plans-compare.js"></script>
