<div class="bootstrap">
  <div class="plans-compare-mobile">
    {% for section in site.data.feature-comparison %}
      <div class="section-title">
        {% if section.heading %}
          <h3>{{ section.heading }}</h3>
        {% endif %}
      </div>

      {% for row in section.rows %}
        {% if row.pricing %}
        <div class="row">

          <div class="accordion-toggler">
            <h4 id="{{ row.name | split: " " | join: "-" | downcase | replace: "(", "" | replace: ")", "" }}">{{ row.name }}</h4>
            {% include svg-icons/main-nav-chevron.svg %}
          </div>

          <div class="accordion">
            {% if row.details %}
              <p>{{ row.details }}</p>
            {% endif %}

            {% if row.link %}
              <a href="{{row.link}}">Learn more <img alt="Chevron Blue Right" class="chevron-blue-right" src="/images/chevron_blue_right.svg"></a>
            {% endif %}

            <div class="pricing-tier pricing-tier-oss">
              <span>Open Source</span>
              <div>
                {% if row.oss == true %}
                  {% include svg-icons/tick-icon.html color="#5a6072" %}
                {% elsif row.oss == false %}
                  &nbsp;
                {% else %}
                  {{ row.oss }}
                {% endif %}
              </div>
            </div>

            <div class="pricing-tier pricing-tier-starter">
              <span>Starter</span>
              <div>
                {% if row.starter == true %}
                  {% include svg-icons/tick-icon.html color="#5a6072" %}
                {% elsif row.starter == false %}
                  &nbsp;
                {% else %}
                  {{ row.starter }}
                {% endif %}
              </div>
            </div>

            <div class="pricing-tier pricing-tier-pro">
              <span>Pro</span>
              <div>
                {% if row.pro == true %}
                  {% include svg-icons/tick-icon.html color="#5a6072" %}
                {% elsif row.pro == false %}
                  &nbsp;
                {% else %}
                  {{ row.pro }}
                {% endif %}
              </div>
            </div>

            <div class="pricing-tier pricing-tier-enterprise">
              <span>Enterprise</span>
              <div>
                {% if row.enterprise == true %}
                  {% include svg-icons/tick-icon.html color="#5a6072" %}
                {% elsif row.enterprise == false %}
                  &nbsp;
                {% else %}
                  {{ row.enterprise }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

<script src="/js/pricing/plans-compare-mobile.js"></script>

