<div class="embedding-switcher__toggle-container">
  <div class="align-items-start d-flex flex-nowrap flex-row justify-content-start justify-content-md-end justify-content-lg-center w-100 mb-2">
    <img
      class="mr-1 mt-2 embedding-switcher__tagline__icon embedding-switcher__tagline__icon--left"
      src="/images/icons/arrow-curvy_left.svg"
      alt="Choose how to deploy" />
    <div class="pricing-tooltip pricing-tooltip--top pricing-tooltip--lg-left">
      <span
        class="fw-bold neutral-60 apply-tooltip"
        data-tippy-content="We just use this to show you what’s cool about each plan based on what you’re planning to do. Don’t worry about being locked in, you’ll be able to do both."
        data-tippy-placement="top"
      >
        Choose how you’re planning to use Metabase
      </span>
    </div>
    <img
      class="ml-1 mt-2 embedding-switcher__tagline__icon embedding-switcher__tagline__icon--right"
      src="/images/icons/arrow-curvy_right.svg"
      alt="Choose how to deploy" />
  </div>

  <div class="align-items-center d-flex flex-nowrap flex-row justify-content-stretch w-100 mb-3 embedding-switcher__toggle">
    <div class="embedding-switcher__toggle__indicator hide"></div>

    {% for model in site.data.pricing-tiers %}
      <span class="flex apply-tooltip align-items-center" data-tippy-content="{{model.tooltip}}" data-tippy-placement="bottom">
        <div class="align-items-center d-flex flex-nowrap flex-row embedding-switcher__toggle__item">
          <input
            class="d-none {% if forloop.first %}temporarily-blue{% endif %}"
            type="radio"
            id="{{model.slug}}"
            name="use-case"
            value="{{model.slug}}" />

          <label
            class="align-items-center d-flex flex-nowrap flex-row fw-700 justify-content-center px-4 text-centered w-100 py-2 embedding-switcher__toggle__item__label"
            for="{{model.slug}}"
          >
            <div class="icon mr-1">{{ model.icon }}</div>
            <span>{{ model.name }}</span>
          </label>
        </div>
      </span>
    {% endfor %}
  </div>
</div>

