<div class="guests">
    {% if include.event.guests.size > 1 %}
        <h4>Guests</h4>
    {% else %}
        <h4>Guest</h4>
    {% endif %}

    {% for guest in include.event.guests %}
        <div>
            <div>
                <img src="/images/events/guests/{{ guest.image }}" alt="{{ guest.name }}" loading="lazy" />
                <div class="name-and-title">
                    <p>{{ guest.name }}</p>
                    <p>{{ guest.title }}</p>
                </div>
            </div>

            {% if guest.bio %}
                <p>{{ guest.bio }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
