{% assign event = include.event %}

<div class="hero">
  <div>
    <div>
      <a class="back" href="/events/">
        <img alt="Chevron Blue Right" src="/images/chevron_blue_right.svg" />
        <span>Back to all<span class="desktop">&nbsp;events</span>
        </span>
      </a>
    </div>
    <div>
      <img alt="{{event.category}}" src="/images/events/categories/{{event.category}}.jpg" />
      <h1>{{ event.name }}</h1>

        {% unless event.recurrence == "On-demand" %}
          <h2 class="date-and-length visible">
            <span data-date="{{event.date_utc}}" data-time="{{event.time_utc}}"></span>
            {% if event.length %}
              · {{ event.length }}
            {% endif %}
          </h2>
        {% endunless %}

      <div class="countdown">
        <div>
          <span class="countdown-days">&nbsp;</span>
          <span>days</span>
        </div>
        <div class="separator">
          <span>:</span>
        </div>
        <div>
          <span class="countdown-hours">&nbsp;</span>
          <span>hours</span>
        </div>
        <div class="separator">
          <span>:</span>
        </div>
        <div>
          <span class="countdown-minutes">&nbsp;</span>
          <span>minutes</span>
        </div>
        <div class="separator">
          <span>:</span>
        </div>
        <div>
          <span class="countdown-seconds">&nbsp;</span>
          <span>seconds</span>
        </div>
      </div>

      {% if event.recurrence == "On-demand" and event.registration_snippet %}
        <button class="registration btn btn-primary">
          Watch now
        </button>
      {% elsif event.registration_snippet %}
        <button class="registration btn btn-primary">
          Register now
        </button>
      {% endif %}
    </div>
    <div>&nbsp;</div>
  </div>
</div>
