<form
  action="//metabase.us10.list-manage.com/subscribe/post?u=869fec0e4689e8fd1db91e795&amp;id=b9664113a8"
  class="subscribe validate"
  id="mc-embedded-subscribe-form"
  method="post"
  name="mc-embedded-subscribe-form"
  novalidate
  target="_blank">
  <h5>Don’t miss future live events</h5>
  <p>Stay in touch with updates and news from Metabase. No spam, ever.</p>

  <div>
    <input
      name="EMAIL"
      placeholder="Email address"
      type="email" />
    <input
      class="btn btn-primary"
      name="subscribe"
      type="submit"
      value="Sign up" />
  </div>

  <div id="mce-responses">
    <div class="response" id="mce-error-response"></div>
    <div class="response" id="mce-success-response"></div>
  </div>

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div class="avoid-fake-signup">
    <input
      name="b_869fec0e4689e8fd1db91e795_b9664113a8"
      type="text"
      value="" />
  </div>
</form>

<script type="text/javascript">
  document.getElementById('mc-embedded-subscribe-form').action = `//metabase.us10.list-manage.com/subscribe/post?u=869fec0e4689e8fd1db91e795&amp;id=b9664113a8&SIGNUP=${window.location.href}`;
</script>
