<div class="events">
    <div class="upcoming-events">
        <h2>{{include.title}}</h2>

        {% if include.subtitle %}
            <h3>
                <img src="/images/icons/curved-arrow.svg" />
                {{include.subtitle}}
            </h3>
        {% endif %}

        {% for event in site.data.events %}
            {% if event.slug != include.current_event_slug %}
                {% include pages/events/entry.html event=event %}
            {% endif %}
        {% endfor %}
    </div>
</div>

