{% assign events_in_category =
    site.data.events
    | where: 'category', include.event.category
%}

{% assign category =
    site.data.event-categories
    | where: 'slug', include.event.category
    | first
%}

<div class="watch-other-episodes">
    <div>
        <img src="/images/events/categories/{{category.slug}}-tall.jpg" alt="{{category.name}}" loading="lazy" />
        <h5>{{category.name}}</h5>
        <p>{{category.tagline}}</p>
    </div>

    <div>
        <div class="events">
            <h3>
                Watch other episodes
                <img src="/images/icons/curved-arrow.svg" />
            </h3>

            {% for event in events_in_category %}
                {% include pages/events/entry.html event=event show-thumbnail=false %}
            {% endfor %}
        </div>
    </div>
</div>
