{% assign component = include.component %}

<div class="faq-container">
  <h4 class="faq-headline">Frequently asked questions</h4>

  <div class="faq">
    {% for item in component.items %}
      <div class="faq-question">
        <div>{{ item.question }}</div>
        <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
      </div>
      <div class="faq-answer">
        <div>{{ item.answer }}</div>
      </div>
    {% endfor %}
  </div>

  {% if component.contact-box %}
    <div class="bootstrap">
      <div class="faq-contact-us">
        <div>
          {% include svg-icons/{{ component.contact-box.icon }}.html %}
          {{ component.contact-box.text }}
        </div>
        <a class="fs-13 Button btn btn-primary rounded-3 ms-lg-2" href="{{ component.contact-box.link.href }}">
          {{ component.contact-box.link.text }}
        </a>
      </div>
    </div>
  {% endif %}
</div>

<script src="/js/pricing/faq.js"></script>
