<div>
    <a href="events/getting-more-out-of-metabase" class="in-page-promo CLASSNAME-FOR-TRACKING-HERE">
      <img
        alt="getting-more-out-of-metabase"
        class="no-zoom"
        src="/images/events/categories/mastering-metabase.jpg" loading="lazy"/>
      <div>
        <p>
            Join the live session to explore Metabase’s advanced features
        </p>
        <p class="anchor-like">
          Register now{% include svg-icons/chevron.html %}
        </p>
      </div>
    </a>
  </div>
