---
layout: default
redirect_from:
  - /data_sources/
  - /datasources
title: Data Sources | Metabase
image: /images/datasources/data-sources-og.jpg
summary: "Metabase connects with lots of different databases and data warehouses so you can explore and learn from data, no matter where it’s stored."
---

<div class="bootstrap">
  <div class="data-sources index-page">
    <div class="hero">
      <h2>Data sources</h2>
      <h1>Built to play well with your stack</h1>
      <h3>Metabase fits with tools you’re already using to take your data from black box to accessible insights, while staying in control over who sees what.</h3>
    </div>

    <div class="connector-header" id="official-data-source-connectors">
      <h4>
        {% include svg-icons/medal.html %}
        Official Connectors
      </h4>
      <p>Built and managed by Metabase, available in all editions.</p>
    </div>

    {% include data-sources/connector-list.html connector="Official Connector" %}

    <div class="connector-header" id="partner-data-source-connectors">
      <h4>
        {% include svg-icons/person.html %}
        Partner Connectors
      </h4>
      <p>Built and managed in collaboration between Metabase and partner, available in all editions.</p>
    </div>

    {% include data-sources/connector-list.html connector="Partner Connector" %}

    <div class="connector-header" id="community-data-source-connectors">
      <h4>
        {% include svg-icons/globe.html %}
        Community Connectors
      </h4>
      <p>Built and managed by our open source community, available only when self-hosting, and not officially supported by Metabase.</p>
    </div>

    {% include data-sources/connector-list.html connector="Community Connector" %}
  </div>
</div>
