<div class="hero-container">
  <div class="lottie-container">
    <lottie-player
      autoplay
      loop
      class="lottie-animation"
      src="/images/animations/data-stack-report-cover.json"
      background="transparent"
      speed="1"></lottie-player>
  </div>

  <div class="hero">
    <h1>The 2023 Metabase Community Data Stack Report</h1>
    <h2>
      A look at the current state of data tooling and self-service analytics
    </h2>

    <div>
      <a
        href="#report"
        class="button"
        id="navigate-to-report">Read the report{% include svg-icons/arrow-down.html %}</a>
      <a href="/data-stack-report-2023/dashboard" class="button outline">Explore the dashboard {% include svg-icons/arrow-up-right.html %}</a>
    </div>
  </div>
</div>