<div class="social-widgets">
  <h6>Share the report</h6>

  <div>
    <a
      href="https://twitter.com/intent/tweet?text=https%3A%2F%2Fwww.metabase.com%2Fdata-stack-report-2023"
      target="_blank"
      class="twitter"
    >
      {% include svg-icons/twitter-x.html width="28" height="28" %}
    </a>

    <a
      href="https://linkedin.com/shareArticle?url=https://www.metabase.com/data-stack-report-2023/&title=Metabase Data Stack Report 2023"
      target="_blank"
      class="linkedin"
    >
      {% include svg-icons/linkedin-icon.html width="28" height="28" %}
    </a>

    <a href="#" class="copy-url-to-clipboard">
      {% include svg-icons/link.html width="28" height="28" %}
      <span>Copy to clipboard</span>
    </a>

  </div>
</div>
