<div class="hero-container take-survey-container">
  <div class="lottie-container">
    <lottie-player
      autoplay
      loop
      class="lottie-animation"
      src="/images/animations/data-stack-report-cover.json"
      background="transparent"
      speed="1"></lottie-player>
  </div>

  <div class="take-survey">
    <h3>The future of the data stack survey</h3>

    <p>The data stack survey is still open. You can submit your answers now via the form. We’ll create follow-up posts on new, interesting findings as they roll in.</p>

    <p>The dashboard and this report are static data for you to use. If you do use the data for something cool, make sure to share it with us!</p>

    <div>
      <a href="https://jjcp5mdurex.typeform.com/to/q9QZaXLt?utm_source=metabase&typeform-source=www.metabase.com" class="button">Submit your answers {% include svg-icons/arrow-up-right.html %}</a>
    {% if page.url contains "dashboard" %}
      <a href="/data-stack-report-2023/" class="button outline">Read the report {% include svg-icons/arrow-up-right.html %}</a>
    {% else %}
      <a href="/data-stack-report-2023/dashboard" class="button outline">Explore the dashboard {% include svg-icons/arrow-up-right.html %}</a>
    {% endif %}
    </div>
  </div>
</div>
