<div
  class="Button btn btn-transparent px-3 py-2 button-desktop"
  id="docs-nav-button-desktop"
  tabindex="0">
  <div class="fs-13 d-flex align-items-center">
    Docs
    {% include svg-icons/main-nav-chevron.svg %}
  </div>

  <div class="text-start fw-normal" id="docs-nav-menu-wrapper">
    <div class="nav-menu overflow-hidden">
      <div class="button-style-link-container">
        <a href="/docs/latest/">
          <div>
            {% include svg-icons/book.svg color="#509EE3" %}
          </div>
          <div>
            <h6>Documentation</h6>
            <p>The Metabase manual</p>
          </div>
        </a>
        <a href="/learn/">
          <div>
            <img src="/images/icons/Type=Learn.svg" alt="Learn icon" />
          </div>
          <div>
            <h6>Learn</h6>
            <p>Guides and tutorials</p>
          </div>
        </a>
      </div>

      <div>
        <div>
          <span class="menu-heading">Getting Started</span>
          <a href="/learn/metabase-basics/getting-started/index">
            <div>
              {% include svg-icons/gridded-circles/querying.html%}
            </div>
            <div>
              <p>Querying and Dashboards</p>
              <p>Everyone exploring and analyzing data</p>
            </div>
          </a>

          <a href="/learn/metabase-basics/embedding/overview">
            <div>
              {% include svg-icons/gridded-circles/embedding.html%}
            </div>
            <div>
              <p>Embedding </p>
              <p>Developers building in-product analytics</p>
            </div>
          </a>

          <a href="/learn/metabase-basics/administration/administration-and-operation/guide">
            <div>
              {% include svg-icons/gridded-circles/administration.html%}
            </div>
            <div>
              <p>Administration</p>
              <p>People running their company's instance</p>
            </div>
          </a>
        </div>

        <div>
          <span class="menu-heading">Guides</span>

          <a href="/docs/latest/installation-and-operation/installing-metabase">Installing Metabase</a>
          <a href="/docs/latest/databases/connecting">Adding a database</a>
          <a href="/docs/latest/questions/introduction">Asking questions</a>
          <a href="/docs/latest/dashboards/introduction">Creating a dashboard</a>
          <a href="/docs/latest/troubleshooting-guide/">Solving common problems</a>
        </div>
      </div>

    </div>
  </div>
</div>
