<div
  class="Button btn btn-transparent px-3 py-2 button-desktop"
  id="features-nav-button-desktop"
  tabindex="0">
  <div class="fs-13 d-flex align-items-center">
    Features
    {% include svg-icons/main-nav-chevron.svg %}
  </div>
  <div class="text-start fw-normal" id="features-nav-menu-wrapper">
    <div class="nav-menu overflow-hidden">
      <div class="d-flex flex-row">
        <div class="menu-links-wrapper">
          {% include header/desktop/link.html
            title="Analytics dashboards"
            href="/features/analytics-dashboards"
            icon-from-includes="true"
            icon-src="interactive-dashboards"
          %}

          {% include header/desktop/link.html
            title="Query builder"
            href="/features/query-builder"
            icon-from-includes="true"
            icon-src="cloud-or-self-hosted"
          %}

          {% include header/desktop/link.html
            title="Models"
            href="/features/models"
            icon-from-includes="true"
            icon-src="model"
          %}

          {% include header/desktop/link.html
            title="CSV upload"
            href="/product/csv-uploads"
            icon-src="upload"
            icon-from-includes="true"
            icon-src="csv-upload"
          %}

          {% include header/desktop/link.html
            title="Usage analytics"
            href="/features/usage-analytics"
            icon-from-includes="true"
            icon-src="usage-analytics"
          %}

          {% include header/desktop/link.html
            title="Sandboxing"
            href="/features/data-sandbox"
            icon-from-includes="true"
            icon-src="sandbox"
          %}
        </div>

        <div class="menu-links-wrapper">
          {% include header/desktop/link.html
            title="Embedded analytics SDK"
            href="/product/embedded-analytics-sdk"
            icon-from-includes="true"
            icon-src="embedded-analytics-sdk"
          %}

          {% include header/desktop/link.html
            title="White-label analytics"
            href="/features/white-label-analytics"
            icon-from-includes="true"
            icon-src="white-label"
          %}

          {% include header/desktop/link.html
            title="Drill-through"
            href="/features/drill-through"
            icon-from-includes="true"
            icon-src="magnifying-glass"
          %}

          {% include header/desktop/link.html
            title="SQL editor"
            href="/features/sql-editor"
            icon-from-includes="true"
            icon-src="rows"
          %}

          {% include header/desktop/link.html
            title="Permissions"
            href="/features/permissions"
            icon-from-includes="true"
            icon-src="view"
          %}

          {% include header/desktop/link.html
            title="Collections"
            href="/features/collections"
            icon-from-includes="true"
            icon-src="layers"
          %}
        </div>
      </div>
      {% include header/desktop/features-menu-footer.html %}
    </div>
  </div>
</div>
