<div
  class="Button btn btn-transparent px-3 py-2 button-desktop"
  id="product-nav-button-desktop"
  tabindex="0">
  <div class="fs-13 d-flex align-items-center">
    Product
    {% include svg-icons/main-nav-chevron.svg %}
  </div>
  <div class="text-start fw-normal" id="product-nav-menu-wrapper">
    <div class="nav-menu overflow-hidden">
      <div class="button-style-link-container">
        {% include header/link-to-self-service-analytics.html %}
        {% include header/link-to-embedded-analytics.html %}
      </div>
      <div class="menu-links-container">
        <div class="menu-links-wrapper">
          <span class="menu-heading">Metabase Plans</span>

          {% include header/desktop/link.html
            title="Starter and Open Source"
            href="/product/starter"
            icon-src="people"
          %}

          {% include header/desktop/link.html
            title="Pro"
            href="/product/pro"
            icon-src="growing-businesses"
          %}

          {% include header/desktop/link.html
            title="Enterprise"
            href="/product/enterprise"
            icon-src="globe"
          %}
        </div>

        <div class="menu-links-wrapper">
          <span class="menu-heading">Platform</span>

          {% include header/desktop/link.html
            title="Data Sources"
            href="/data-sources/"
            icon-src="data-sources"
          %}

          {% include header/desktop/link.html
            title="Security"
            href="/security"
            icon-src="secure-shield-outline"
          %}

          {% include header/desktop/link.html
            title="Cloud"
            href="/cloud/"
            icon-src="cloud"
          %}
        </div>
      </div>

      {% include header/desktop/product-menu-footer.html %}
    </div>
  </div>
</div>
