<div
  class="Button btn btn-transparent px-3 py-2 button-desktop"
  id="product-nav-button-desktop"
  tabindex="0">
  <div class="fs-13 d-flex align-items-center">
    Product
    {% include svg-icons/main-nav-chevron.svg %}
  </div>
  <div class="text-start fw-normal" id="product-nav-menu-wrapper">
    <div class="nav-menu overflow-hidden">
      <div class="button-style-link-container">
        {% include header/link-to-self-service-analytics.html %}
        {% include header/link-to-embedded-analytics.html %}
      </div>

      {% include header/desktop/product-menu-footer.html %}
    </div>
  </div>
</div>
