<section class="bg-neutral-98 m-0 p-7 px-lg-14 py-lg-17 rounded-7 mb-20 d-flex flex-column align-items-center">
    <h2 class="mb-6 embedding-page__section-title">The perfect balance of plug-and-play<span class="embedding-page__line-return"><br /></span>and customizability</h2>
    <p class="mb-12 embedding-page__tagline">You sweat every detail of your product—we'll make sure your reporting fits right in. <a href="/features/white-label-analytics">Customize labels, colors, fonts, branding</a>, and more for a seamless, ready-to-go analytics experience.</p>

    <div class="tabs-with-timer d-block d-lg-none w-100">
        <div class="pt-7 pt-md-10 pt-lg-13 tabs-with-timer__container">
            <div class="flex-column flex-lg-row p-0 tabs-with-timer__content col-lg-10">
                <iframe
                    id="customizability-chart-mobile"
                    class="rounded-3"
                    src="https://metabase-www-1.metabaseapp.com/public/question/d6cc184d-78c2-44c3-b559-199ec2b2aa96"
                    width="100%"
                    height="300"
                    allowtransparency
                ></iframe>
            </div>
            <div class="flex-column flex-lg-row p-0 tabs-with-timer__content">
                <div class="p-4 parameters-wrapper parameters-wrapper-classic-mobile d-flex justify-content-start ms-8 align-items-start flex-column">
                    <h6 class="mb-6 parameters-title">CHART COLORS</h6>
                    <div class="d-flex flex-row align-items-center gap-2 mb-4">
                        <div class="customizability-color-box" style="background-color: #FFFFFF"></div>
                        <p class="paragraph-6 m-0 parameters-content">#FFFFFF</p>
                    </div>
                    <div class="d-flex flex-row align-items-center gap-2 mb-4">
                        <div class="customizability-color-box" style="background-color: #509EE3"></div>
                        <p class="paragraph-6 m-0 parameters-content">#509EE3</p>
                    </div>
                    <div class="d-flex flex-row align-items-center gap-2 mb-8">
                        <div class="customizability-color-box" style="background-color: #4C5773"></div>
                        <p class="paragraph-6 m-0 parameters-content">#4C5773</p>
                    </div>
                    <h6 class="mb-6 parameters-title">FONT</h6>
                    <p class="paragraph-6 mb-8 parameters-content">Lato</p>
                    <h6 class="mb-6 parameters-title">APPEARANCE</h6>
                    <p class="paragraph-6 m-0 parameters-content">Light</p>
                </div>

                <div class="d-none p-4 parameters-wrapper parameters-wrapper-tech-mobile d-flex justify-content-start ms-8 align-items-start flex-column">
                    <h6 class="mb-6 parameters-title">CHART COLORS</h6>
                    <div class="d-flex flex-row align-items-center gap-2 mb-4">
                        <div class="customizability-color-box" style="background-color: #22242B"></div>
                        <p class="paragraph-6 m-0 parameters-content">#22242B</p>
                    </div>
                    <div class="d-flex flex-row align-items-center gap-2 mb-4">
                        <div class="customizability-color-box" style="background-color: #64BD0D"></div>
                        <p class="paragraph-6 m-0 parameters-content">#64BD0D</p>
                    </div>
                    <div class="d-flex flex-row align-items-center gap-2 mb-8">
                        <div class="customizability-color-box" style="background-color: #5A6072"></div>
                        <p class="paragraph-6 m-0 parameters-content">#5A6072</p>
                    </div>
                    <h6 class="mb-6 parameters-title">FONT</h6>
                    <p class="paragraph-6 mb-8 parameters-content" style="font-family: 'Source Code Pro', serif">Source Code Pro</p>
                    <h6 class="mb-6 parameters-title">APPEARANCE</h6>
                    <p class="paragraph-6 m-0 parameters-content">Dark</p>
                </div>

                <div class="d-none p-4 parameters-wrapper parameters-wrapper-elegant-mobile d-flex justify-content-start ms-8 align-items-start flex-column">
                    <h6 class="mb-6 parameters-title">CHART COLORS</h6>
                    <div class="d-flex flex-row align-items-center gap-2 mb-4">
                        <div class="customizability-color-box" style="background-color: #FFFFFF"></div>
                        <p class="paragraph-6 m-0 parameters-content">#FFFFFF</p>
                    </div>
                    <div class="d-flex flex-row align-items-center gap-2 mb-4">
                        <div class="customizability-color-box" style="background-color: #428E60"></div>
                        <p class="paragraph-6 m-0 parameters-content">#428E60</p>
                    </div>
                    <div class="d-flex flex-row align-items-center gap-2 mb-8">
                        <div class="customizability-color-box" style="background-color: #4C5773"></div>
                        <p class="paragraph-6 m-0 parameters-content">#4C5773</p>
                    </div>
                    <h6 class="mb-6 parameters-title">FONT</h6>
                    <p class="paragraph-6 mb-8 parameters-content" style="font-family: Ubuntu, serif">Georgia</p>
                    <h6 class="mb-6 parameters-title">APPEARANCE</h6>
                    <p class="paragraph-6 m-0 parameters-content">Light</p>
                </div>

                <div class="d-none p-4 parameters-wrapper parameters-wrapper-playful-mobile d-flex justify-content-start ms-8 align-items-start flex-column">
                    <h6 class="mb-6 parameters-title">CHART COLORS</h6>
                    <div class="d-flex flex-row align-items-center gap-2 mb-4">
                        <div class="customizability-color-box" style="background-color: #22242B"></div>
                        <p class="paragraph-6 m-0 parameters-content">#22242B</p>
                    </div>
                    <div class="d-flex flex-row align-items-center gap-2 mb-4">
                        <div class="customizability-color-box" style="background-color: #F25353"></div>
                        <p class="paragraph-6 m-0 parameters-content">#F25353</p>
                    </div>
                    <div class="d-flex flex-row align-items-center gap-2 mb-8">
                        <div class="customizability-color-box" style="background-color: #5A6072"></div>
                        <p class="paragraph-6 m-0 parameters-content">#5A6072</p>
                    </div>
                    <h6 class="mb-6 parameters-title">FONT</h6>
                    <p class="paragraph-6 mb-8 parameters-content" style="font-family: Lora, serif">Varela Round</p>
                    <h6 class="mb-6 parameters-title">APPEARANCE</h6>
                    <p class="paragraph-6 m-0 parameters-content">Dark</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-flex flex-row w-100 col-lg-10">
        <iframe
            id="customizability-chart"
            class="rounded-3"
            src="https://metabase-www-1.metabaseapp.com/public/question/d6cc184d-78c2-44c3-b559-199ec2b2aa96"
            width="100%"
            height="350"
            allowtransparency
        ></iframe>
        <div class="p-4 parameters-wrapper parameters-wrapper-classic d-flex justify-content-start ms-8 align-items-start flex-column">
            <h6 class="mb-6 parameters-title">CHART COLORS</h6>
            <div class="d-flex flex-row align-items-center gap-2 mb-4">
                <div class="customizability-color-box" style="background-color: #FFFFFF"></div>
                <p class="paragraph-6 m-0 parameters-content">#FFFFFF</p>
            </div>
            <div class="d-flex flex-row align-items-center gap-2 mb-4">
                <div class="customizability-color-box" style="background-color: #509EE3"></div>
                <p class="paragraph-6 m-0 parameters-content">#509EE3</p>
            </div>
            <div class="d-flex flex-row align-items-center gap-2 mb-8">
                <div class="customizability-color-box" style="background-color: #4C5773"></div>
                <p class="paragraph-6 m-0 parameters-content">#4C5773</p>
            </div>
            <h6 class="mb-6 parameters-title">FONT</h6>
            <p class="paragraph-6 mb-8 parameters-content">Lato</p>
            <h6 class="mb-6 parameters-title">APPEARANCE</h6>
            <p class="paragraph-6 m-0 parameters-content">Light</p>
        </div>

        <div class="d-none p-4 parameters-wrapper parameters-wrapper-tech d-flex justify-content-start ms-8 align-items-start flex-column">
            <h6 class="mb-6 parameters-title">CHART COLORS</h6>
            <div class="d-flex flex-row align-items-center gap-2 mb-4">
                <div class="customizability-color-box" style="background-color: #22242B"></div>
                <p class="paragraph-6 m-0 parameters-content">#22242B</p>
            </div>
            <div class="d-flex flex-row align-items-center gap-2 mb-4">
                <div class="customizability-color-box" style="background-color: #64BD0D"></div>
                <p class="paragraph-6 m-0 parameters-content">#64BD0D</p>
            </div>
            <div class="d-flex flex-row align-items-center gap-2 mb-8">
                <div class="customizability-color-box" style="background-color: #5A6072"></div>
                <p class="paragraph-6 m-0 parameters-content">#5A6072</p>
            </div>
            <h6 class="mb-6 parameters-title">FONT</h6>
            <p class="paragraph-6 mb-8 parameters-content" style="font-family: 'Source Code Pro', serif">Source Code Pro</p>
            <h6 class="mb-6 parameters-title">APPEARANCE</h6>
            <p class="paragraph-6 m-0 parameters-content">Dark</p>
        </div>

        <div class="d-none p-4 parameters-wrapper parameters-wrapper-elegant d-flex justify-content-start ms-8 align-items-start flex-column">
            <h6 class="mb-6 parameters-title">CHART COLORS</h6>
            <div class="d-flex flex-row align-items-center gap-2 mb-4">
                <div class="customizability-color-box" style="background-color: #FFFFFF"></div>
                <p class="paragraph-6 m-0 parameters-content">#FFFFFF</p>
            </div>
            <div class="d-flex flex-row align-items-center gap-2 mb-4">
                <div class="customizability-color-box" style="background-color: #428E60"></div>
                <p class="paragraph-6 m-0 parameters-content">#428E60</p>
            </div>
            <div class="d-flex flex-row align-items-center gap-2 mb-8">
                <div class="customizability-color-box" style="background-color: #4C5773"></div>
                <p class="paragraph-6 m-0 parameters-content">#4C5773</p>
            </div>
            <h6 class="mb-6 parameters-title">FONT</h6>
            <p class="paragraph-6 mb-8 parameters-content" style="font-family: Lora, serif">Georgia</p>
            <h6 class="mb-6 parameters-title">APPEARANCE</h6>
            <p class="paragraph-6 m-0 parameters-content">Light</p>
        </div>

        <div class="d-none p-4 parameters-wrapper parameters-wrapper-playful d-flex justify-content-start ms-8 align-items-start flex-column">
            <h6 class="mb-6 parameters-title">CHART COLORS</h6>
            <div class="d-flex flex-row align-items-center gap-2 mb-4">
                <div class="customizability-color-box" style="background-color: #22242B"></div>
                <p class="paragraph-6 m-0 parameters-content">#22242B</p>
            </div>
            <div class="d-flex flex-row align-items-center gap-2 mb-4">
                <div class="customizability-color-box" style="background-color: #F25353"></div>
                <p class="paragraph-6 m-0 parameters-content">#F25353</p>
            </div>
            <div class="d-flex flex-row align-items-center gap-2 mb-8">
                <div class="customizability-color-box" style="background-color: #5A6072"></div>
                <p class="paragraph-6 m-0 parameters-content">#5A6072</p>
            </div>
            <h6 class="mb-6 parameters-title">FONT</h6>
            <p class="paragraph-6 mb-8 parameters-content" style="font-family: Ubuntu, serif">Varela Round</p>
            <h6 class="mb-6 parameters-title">APPEARANCE</h6>
            <p class="paragraph-6 m-0 parameters-content">Dark</p>
        </div>
    </div>

    <div class="p-4 mt-8 pb-10 d-flex flex-row width-fit-content bg-neutral-white gap-5 rounded-3 customizability-buttons-wrapper">
        <button id="customizability-classic" class="btn btn-primary customizability-button active">
            {% include svg-icons/classic-icon.html class="pointer-events-none" width="32" height="32" stroke="#C6C9D2" %}
            <b class="customizability-button-text">Classic</b>
        </button>
        <button id="customizability-tech" class="btn btn-primary customizability-button">
            {% include svg-icons/tech-icon.html class="pointer-events-none" width="32" height="32" stroke="#C6C9D2" %}
            <b class="customizability-button-text">Tech</b>
        </button>
        <button id="customizability-elegant" class="btn btn-primary customizability-button">
            {% include svg-icons/elegant-icon.html class="pointer-events-none" width="32" height="32" stroke="#C6C9D2" %}
            <b class="customizability-button-text">Elegant</b>
        </button>
        <button id="customizability-playful" class="btn btn-primary customizability-button">
            {% include svg-icons/playful-icon.html class="pointer-events-none" width="32" height="32" stroke="#C6C9D2" %}
            <b class="customizability-button-text">Playful</b>
        </button>
    </div>
</section>
