<section class="embedding-options">
  <h3>The right implementation type for whatever you need</h3>

  <div>
    <div>
      <div>
        <h6>Fast</h6>
        <h4>Iframe embedding</h4>
        <h5>
          For organizations that need embedded analytics really fast with little
          engineering overhead.
        </h5>
        <ul>
          <li>
            Charts, dashboards, and reporting in your app. Available as
            Interactive or Static.
          </li>
          <li>
            Interactive embedding lets you white-label and set permissions with
            so customers can query, visualize, and drill-down on the data.
          </li>
          <li>
            Static embedding lets your users see your data in a simple
            dashboard, but not click through into it.
          </li>
        </ul>
        <a href="/product/embedded-analytics#fast-to-prototype">
          Learn more {% include svg-icons/chevron.html %}
        </a>
      </div>
      <img
        src="/images/embedding/iframe-embedding.png"
        alt="Interactive Embedding"
      loading="lazy"/>
    </div>

    <div>
      <div>
        <h6>Custom-fit</h6>
        <h4>Embedded analytics SDK for React</h4>
        <h5>
          For organizations that need bespoke in-app analytics. Everything you
          get with iframes with more control and flexibility.
        </h5>
        <ul>
          <li>
            Choose which components you embed, and where they’re placed for deep
            integration with your app.
          </li>
          <li>
            Manage permissions and interactivity per component and user.
          </li>
          <li>
            Granular theming for analytics that looks like part of your product.
          </li>
        </ul>
        {% assign current_page = page.url | split: '/' | last %}
        {% if current_page == 'embedded-analytics-sdk' %}
          <a target="_blank" href="https://embedded-analytics-sdk-demo.metabase.com/admin/products/19">
            Try the demo {% include svg-icons/chevron.html %}
          </a>
        {% else %}
          <a href="/product/embedded-analytics-sdk">
            Learn more {% include svg-icons/chevron.html %}
          </a>
        {% endif %}
      </div>
      <img src="/images/embedding/custom-fit.png" alt="Interactive Embedding" loading="lazy" />
    </div>
  </div>
</section>
