<section class="p-0 my-19" id="fast-to-prototype">
    <h2 class="mb-6 embedding-page__section-title">Fast to prototype, fast to<span class="embedding-page__line-return"><br /></span>implement, fast to iterate.</h2>
    <p class="mb-12 embedding-page__tagline">Sign up, connect to your data, and have your first visualizations<span class="embedding-page__line-return"><br /></span>on your branch in 5 minutes.</p>

    <div class="tabs-with-timer">
        <nav class="tabs-with-timer__nav">
            <ul class="tabs-with-timer__nav__list">
                <li class="tabs-with-timer__nav__list__item">
                    <button class="tabs-with-timer__button tabs-with-timer__button--13">Super-fast setup</button>
                </li>
                <li class="tabs-with-timer__nav__list__item">
                    <button class="tabs-with-timer__button">Enable self-service</button>
                </li>
                <li class="tabs-with-timer__nav__list__item">
                    <button class="tabs-with-timer__button">No-code iteration</button>
                </li>
            </ul>
        </nav>
        <div class="pt-7 pt-md-10 pt-lg-13 tabs-with-timer__container">
            <div class="flex-column flex-lg-row p-0 tabs-with-timer__content">
                <div class="col-12 col-lg-6 tabs-with-timer__content__image-container">
                    <div class="bg-blue-95 tabs-with-timer__content__image">
                        <lottie-player
                            class="lottie-animation"
                            src="/images/animations/super-fast-setup_781.json"
                            background="transparent"
                            speed="1"
                            style="width: 100%; height: 100%;">
                        </lottie-player>
                    </div>
                </div>
                <div class="mt-7 mt-lg-0 col-12 col-lg-6 tabs-with-timer__content__text">
                    <h3 class="tabs-with-timer__title">Launch faster than you can pick a charting library</h3>
                    <p class="tabs-with-timer__body">Seriously quick—get started in a few minutes and have your first visualizations before lunchtime. And when you're ready, getting them into production is just a snippet away.</p>
                    {% include quote.html avatar="/images/profiles/course-key_fadee-kannah.png" text="Metabase embedding feature has saved our team ton of time and headache! We only had to plug in a snippet of code and it automatically connected to a beautiful dashboard that is maintained non engineering team members!" name="Fadee Kannah" role="CTO at CourseKey" %}
                </div>
            </div>
            <div class="flex-column flex-lg-row p-0 tabs-with-timer__content">
                <div class="col-12 col-lg-6 tabs-with-timer__content__image-container">
                    <div class="bg-blue-95 tabs-with-timer__content__image">
                        <img src="/images/embedding/enable-self-service.png" loading="lazy" />
                    </div>
                </div>
                <div class="mt-7 mt-lg-0 col-12 col-lg-6 tabs-with-timer__content__text">
                    <h3 class="tabs-with-timer__title">Unlock self-service with interactive embedding</h3>
                    <p class="tabs-with-timer__body">Help your users explore on their own with intuitive actions like drill-throughs and breakouts. Or take it to the next level by including query interfaces and pre-built Models.</p>
                    {% include quote.html avatar="/images/case-studies/testimonials/thomas-pedersen.png" text="Metabase has provided a critical component of our product, which gives our customers intuitive analytics while allowing our engineering team to focus on other things that are core to our business." name="Thomas Pedersen" role="CEO & co-founder at Bunny" %}
                </div>
            </div>
            <div class="flex-column flex-lg-row p-0 tabs-with-timer__content">
                <div class="col-12 col-lg-6 tabs-with-timer__content__image-container">
                    <div class="bg-blue-95 tabs-with-timer__content__image">
                        <img src="/images/embedding/no-code-iteration.png" loading="lazy" />
                    </div>
                </div>
                <div class="mt-7 mt-lg-0 col-12 col-lg-6 tabs-with-timer__content__text">
                    <h3 class="tabs-with-timer__title">Need a change? No problem.</h3>
                    <p class="tabs-with-timer__body">Iterate on your customer-facing reporting without needing to touch your product's code. Quickly update queries, define custom click behavior, and more—all within Metabase's interface. Or better yet, let your data analysts do it on their own.</p>
                    {% include quote.html avatar="/images/profiles/rechat_email-sedgh.png" text="Embedding Metabase has allowed us to quickly develop, iterate and maintain analytics on our platform that would've taken a lot engineering efforts otherwise. We love Metabase." name="Emil Sedgh" role="Lead Engineer at Rechat" %}
                </div>
            </div>
        </div>
    </div>
</section>
