<div class="embedding-page__header-container">
    <div class="container">
        <header class="py-13 embedding-page__header">
            <span class="align-items-center blue-60 d-inline-block d-inline-flex flex-row justify-content-center mb-3 mb-lg-4 embedding-page__header__icon">
                {% include svg-icons/embedded-analytics.html %}
                <span><b>Embedded Analytics</b></span>
            </span>
            <h1 class="mb-6 embedding-page__title">In-product analytics<span class="embedding-page__line-return"><br /></span>in days, not sprints</h1>
            <p class="embedding-page__tagline">Customizable, flexible, and scalable customer-facing analytics<span class="embedding-page__line-return"><br /></span>is just a snippet away.</p>
            <a href="https://store.metabase.com/checkout" class="fs-13 Button btn btn-primary rounded-3 ms-lg-2 mr-2">Get started</a>
            <a class="fs-13 Button btn btn-outline-blue rounded-3 ml-0 ml-lg-2 mt-4 mt-lg-0" href="/talk-to-a-person">Talk to sales</a>

            <section class="align-items-stretch d-flex flex-column flex-lg-row justify-content-start p-0 mt-12">
                <div class="col-12 col-lg-7 align-items-stretch d-flex flex-column flex-lg-row flex-wrap justify-content-start embedding-page__chart-container">
                    <div class="w-100 embedding-page__chart">
                        <iframe
                            src="https://metabase-public.metabaseapp.com/public/question/e048a0eb-6b52-43b0-8d61-22b02175f1b3#bordered=false&titled=true"
                            frameborder="0"
                            width="100%"
                            height="100%"
                            allowtransparency
                        ></iframe>
                    </div>
                </div>
                <div class="col-12 col-lg-5 p-0 d-flex embedding-page__code" id="embedding-code"></div>
            </section>
            {% include shared/in-page-promo.html %}
        </header>
    </div>
</div>
