<section class="bg-neutral-98 m-0 p-7 px-lg-14 py-lg-17 rounded-7">
    <h2 class="mb-6 embedding-page__section-title">Our customers build great data experiences</h2>
    <p class="mb-12 embedding-page__tagline">See how leading companies help their users work with data.</p>

    <div class="tabs-with-timer">
        <nav class="tabs-with-timer__nav">
            <ul class="tabs-with-timer__nav__list">
                <li class="tabs-with-timer__nav__list__item">
                    <button class="tabs-with-timer__button tabs-with-timer__button--12" id="sincera">
                    </button>
                </li>
                <li class="tabs-with-timer__nav__list__item">
                    <button class="tabs-with-timer__button tabs-with-timer__button--10" id="faros">
                    </button>
                </li>
            </ul>
        </nav>
        <div class="pt-7 pt-md-10 pt-lg-13 tabs-with-timer__container">
            <div class="flex-column flex-lg-row p-0 tabs-with-timer__content">
                <div class="col-12 col-lg-6 tabs-with-timer__content__image-container">
                    <div class="bg-blue-95 tabs-with-timer__content__image">
                        <img src="/images/embedding/sincera.gif" loading="lazy" />
                    </div>
                </div>
                <div class="mt-7 mt-lg-0 col-12 col-lg-6 tabs-with-timer__content__text">
                    <h3 class="tabs-with-timer__title">Sincera uses Metabase embedding to provide their customers with digital advertising and media insights</h3>
                    {% include quote.html avatar="/images/profiles/sincera_ian-meyers.png" text="Metabase was the embedded solution we were looking for: easy-to-integrate, customizable and performant." name="Ian Meyers" role="Co-Founder at Sincera" %}
                    <a class="mt-8 embedding-page__cta" href="/case-studies/sincera">Read the full Sincera story<img src="/images/chevron_blue_right.svg" /></a>
                </div>
            </div>
            <div class="flex-column flex-lg-row p-0 tabs-with-timer__content">
                <div class="col-12 col-lg-6 tabs-with-timer__content__image-container">
                    <div class="bg-blue-95 tabs-with-timer__content__image">
                        <img src="/images/embedding/faros.gif" loading="lazy" />
                    </div>
                </div>
                <div class="mt-7 mt-lg-0 col-12 col-lg-6 tabs-with-timer__content__text">
                    <h3 class="tabs-with-timer__title">Faros uses Metabase embedding to provide visibility and insights to engineering leaders</h3>
                    {% include quote.html avatar="/images/profiles/faros_natalie-casey.png" text="Full app embedding allows our customers to completely customize their own metrics. This unlocks incredible value for us at Faros and the platform capabilities we provide." name="Natalie Casey" role="Software Engineer at Faros" %}
                    <a class="mt-8 embedding-page__cta" href="/case-studies/faros">Read the full Faros story<img src="/images/chevron_blue_right.svg" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
