.bg-blue-15 {
  background: $blue-15;
}

.bg-blue-25 {
  background: $blue-25;
}

.bg-blue-40 {
  background: $blue-40;
}

.bg-blue-50 {
  background: $blue-50;
}

.bg-blue-60 {
  background: $blue-60;
}

.bg-blue-75 {
  background: $blue-75;
}

.bg-blue-85 {
  background: $blue-85;
}

.bg-blue-90 {
  background: $blue-90;
}

.bg-blue-95 {
  background: $blue-95;
}

.bg-blue-99 {
  background: $blue-99;
}

.bg-blue-100 {
  background: $blue-100;
}

.bg-blue-90 {
  background: $blue-90;
}

.bg-purple-50 {
  background: $purple-50;
}

.bg-purple-80 {
  background: $purple-80;
}

.bg-neutral-black {
  background: $neutral-black;
}

.bg-neutral-15 {
  background: $neutral-15;
}

.bg-neutral-40 {
  background: $neutral-40;
}

.bg-neutral-60 {
  background: $neutral-60;
}

.bg-neutral-80 {
  background: $neutral-80;
}

.bg-neutral-95 {
  background: $neutral-95;
}

.bg-neutral-98 {
  background: $neutral-98;
}

.bg-neutral-99 {
  background: $neutral-99;
}

.bg-neutral-white {
  background: $neutral-white;
}

.bg-neutral-98-gradient {
  background: linear-gradient(0deg, $neutral-white 0%, $neutral-98 5%);
}

.bg-neutral-98-gradient--gradual {
  background: linear-gradient(0deg, $neutral-white 0%, $neutral-98 100%);
}

.bg-neutral-99-gradient {
  background: linear-gradient(0deg, $neutral-white 0%, $neutral-99 100%);
}

.bg-transparent {
  background: transparent;
}
