.rounded-top-3 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded-4 {
  border-radius: 0.75rem;
}

.rounded-lg-4 {
  @include media-breakpoint-up(lg) {
    border-radius: 0.75rem !important;
  }
}

.rounded-5 {
  border-radius: 1rem;
}

.rounded-6 {
  border-radius: 1.25rem;
}

.rounded-7 {
  border-radius: 1.5rem;
}

.rounded-lg-7 {
  @include media-breakpoint-up(lg) {
    border-radius: 1.5rem;
  }
}

.rounded-7-tl {
  border-top-left-radius: 1.5rem;
}

.rounded-50 {
  border-radius: 50%;
}

@include media-breakpoint-up(md) {
  .rounded-md-4 {
    border-radius: 0.75rem;
  }
}

.border--blue-85 {
  border: 1px solid $blue-85;
}

.border--neutral-95 {
  border: 1px solid $neutral-95;
}

.border--blue-90 {
  border: 1px solid $blue-90;
}

.border--blue-95 {
  border: 1px solid $blue-95;
}

.border--blue-95--top {
  border-top: 1px solid $blue-95;
}

.border--blue-90 {
  border: 1px solid $blue-90;
}

.border--blue-90--top {
  border-top: 1px solid $blue-90;
}

.border--neutral-95--top {
  border-top: 1px solid $neutral-95;
}

.border--neutral-95--bottom {
  border-bottom: 1px solid $neutral-95;
}

.drop-shadow {
  box-shadow: $box-shadow;
}
