.blue-25 {
  color: $blue-25;
}

.blue-40 {
  color: $blue-40;
}

.blue-40-hover:hover {
  color: $blue-40;
}

.blue-60 {
  color: $blue-60;
}

.blue-60-hover:hover {
  color: $blue-60;
}

.blue-75 {
  color: $blue-75;
}

.blue-85 {
  color: $blue-85;
}

.blue-link-hover:hover {
  color: $blue-link-hover !important;
}

.green-40 {
  color: $green-40;
}

.green-50 {
  color: $green-50;
}

.purple-40 {
  color: $purple-40;
}

.purple-50 {
  color: $purple-50;
}

.purple-70 {
  color: $purple-70;
}

.purple-95 {
  color: $purple-95;
}

.yellow-40 {
  color: $yellow-40;
}

.yellow-50 {
  color: $yellow-50;
}

.yellow-60 {
  color: $yellow-60;
}

.yellow-95 {
  color: $yellow-95;
}

.red-40 {
  color: $red-40;
}

.red-60 {
  color: $red-60;
}

.red-95 {
  color: $red-95;
}

.neutral-black {
  color: $neutral-black;
}

.neutral-15 {
  color: $neutral-15;
}

.neutral-40 {
  color: $neutral-40;
}

.neutral-60 {
  color: $neutral-60;
}

.neutral-80 {
  color: $neutral-80;
}

.neutral-95 {
  color: $neutral-95;
}

.neutral-99 {
  color: $neutral-99;
}

.neutral-white {
  color: $neutral-white;
}

.neutral-white-hover:hover {
  color: $neutral-white !important;
}

img.greyscale {
  filter: grayscale(100%);
}
