.svg-icon-list.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 28px;

  > div {
    display: flex;
    flex-direction: column;
    gap: 2px;

    p {
      margin-bottom: 0;
    }
  }
}

.chevron {
  align-items: center;
  display: flex;
  flex-direction: row;

  &.blue-small-right::after {
    content: url("/images/chevron_blue_right.svg");
    display: block;
    height: 13px;
    margin-left: 0.25rem;
  }

  &.blue-medium-right::after {
    content: url("/images/chevron_blue_medium.svg");
    display: block;
    margin-left: 0.25rem;
    transform: rotate(-90deg);
  }

  &.white-small-right::after {
    content: url("/images/chevron_white_small.svg");
    display: block;
    margin-left: 0.25rem;
    transform: rotate(-90deg);
  }

  &.white-right::after {
    content: url("/images/chevron_white.svg");
    display: block;
    margin-left: 0.25rem;
    transform: rotate(-90deg);
  }

  &.blue-small-left::before {
    content: url("/images/chevron_blue_right.svg");
    display: block;
    height: 19px;
    margin-right: 0.25rem;
    transform: rotate(-180deg);
  }

  &.blue-medium-left::before {
    content: url("/images/chevron_blue_medium.svg");
    display: block;
    margin-right: 0.25rem;
    transform: rotate(90deg);
  }

  &.white-small-left::before {
    content: url("/images/chevron_white_small.svg");
    display: block;
    margin-right: 0.25rem;
    transform: rotate(90deg);
  }

  &.white-left::before {
    content: url("/images/chevron_white.svg");
    display: block;
    margin-right: 0.25rem;
    transform: rotate(90deg);
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  height: 26px;
}

.icon-container {
  height: 1rem;
  width: 1rem;

  & > svg {
    display: flex;
    height: 100%;
    width: 100%;
  }
}
