.height-fit-content {
  height: fit-content;
}

.width-fit-content {
  width: fit-content;
}

.h-0 {
  height: 0;
}

.w-0 {
  width: 0;
}

// To use this class, you need to use an inline style for the specific image you want displayed
// e.g. background-image: url('path/to/image');
.fill-image {
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

@each $key, $value in $grid-breakpoints {
  .max-width--#{$key},
  .mw--#{$key} {
    max-width: $value;
  }
}
