.rotate-90-negative {
  transform: rotate(-90deg);
}

.rotate-45-negative {
  transform: rotate(-45deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}
