.paragraph-1 {
  color: $neutral-15;
  font-size: $font-size-base * 3;
  line-height: 1.25;
}

.paragraph-2 {
  color: $neutral-15;
  font-size: $font-size-base * 2;
  line-height: 1.25;
}

.paragraph-3 {
  color: $neutral-15;
  font-size: $font-size-base * 1.5;
  line-height: 1.33;

  &.responsive {
    @include media-breakpoint-down(md) {
      font-size: $font-size-base * 1.125;
    }
  }
}

.paragraph-4 {
  color: $neutral-15;
  font-size: $font-size-base * 1.25;
  line-height: 1.4;
}

.paragraph-4-5 {
  color: $neutral-15;
  font-size: $font-size-base * 1.13;
  line-height: 1.4;
}

.paragraph-5 {
  color: $neutral-15;
  font-size: $font-size-base;
  line-height: 1.5;
}

.paragraph-5-5 {
  color: $neutral-15;
  font-size: $font-size-base * 0.875;
  line-height: 1.5;
}

.paragraph-6 {
  color: $neutral-15;
  font-size: $font-size-base * 0.75;
  line-height: 1.33;
}

@include media-breakpoint-down(md) {
  .paragraph--mobile__smaller {
    font-size: 0.75rem;
  }
}

// TITLES
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-weight: 900;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-weight: 700;
}

h1,
.h1 {
  line-height: 1.2;
}

h2,
.h2 {
  line-height: 1.17;
}

h3,
.h3 {
  line-height: 1.11;
}

.h3-5 {
  font-size: 1.875rem;
}

h4,
.h4 {
  line-height: 1.33;
}

.h4-5 {
  font-size: 1.25rem;
}

h5,
.h5 {
  line-height: 1.5;
}

.h5-5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  line-height: 1.33;
}

.letter-spacing-005 {
  letter-spacing: 0.05rem;
}

code {
  background-color: $blue-25;
  border-radius: 8px;
  color: white;
  font-family: "Roboto Mono", monospace;
  padding: 1.5rem;
}
