$purple-for-background: #f9f9fb;

.responsive-page.enterprise-page .hero-container {
  position: relative;
  width: 100%;

  &::before {
    $bg-square-color: rgba(158, 159, 199, 0.2);

    background:
      repeating-linear-gradient(
        to right,
        transparent,
        transparent 10px,
        $bg-square-color 10px,
        $bg-square-color 80px
      ),
      repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 10px,
        $bg-square-color 10px,
        $bg-square-color 80px
      ),
      $purple-for-background;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &::after {
    background: linear-gradient(to bottom, $purple-for-background, white 30%);
    bottom: 0;
    content: "";
    height: 32%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
  }
}

.responsive-page.enterprise-page .hero {
  background-color: $purple-for-background;
  background-image: url("/images/product/enterprise/hero-background.png");
  background-size: 80px 80px;

  a {
    &.btn-outline-blue {
      padding: 12px 18px;
    }
  }

  div {
    &.align-items-center {
      position: relative;
      z-index: 3;
    }

    &#gradient-background {
      background: radial-gradient(ellipse 110% 65% at 50% 62%, transparent 35%, $purple-for-background 43%);
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;

      @include media-breakpoint-down(lg) {
        background: radial-gradient(ellipse 110% 65% at 50% 48%, transparent 35%, $purple-for-background 43%);
      }
    }

    &#cloud-cover-left {
      background-color: $purple-for-background;
      height: 100%;
      left: -100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 3;
    }

    &#cloud-cover-right {
      background-color: $purple-for-background;
      height: 100%;
      left: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 3;
    }

    &.cloud {
      position: absolute;
    }

    &#cloud-1 {
      animation: cloud 240s;
      animation-delay: -36s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background-image: url("/images/product/starter/hero/cloud-1.png");
      background-size: 131px 33px;
      height: 33px;
      top: 17%;
      width: 131px;
    }

    &#cloud-2 {
      animation: cloud 220s;
      animation-delay: -179s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background-image: url("/images/product/starter/hero/cloud-2.png");
      background-size: 81px 44px;
      height: 44px;
      top: 23%;
      width: 81px;
    }

    &#cloud-3 {
      animation: cloud 240s;
      animation-delay: -214s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background-image: url("/images/product/starter/hero/cloud-3.png");
      background-size: 101px 23px;
      height: 23px;
      left: 26%;
      top: 41%;
      width: 101px;
    }

    &#cloud-4 {
      animation: cloud 200s;
      animation-delay: -77s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background-image: url("/images/product/starter/hero/cloud-4.png");
      background-size: 140px 30px;
      height: 30px;
      left: 84%;
      position: absolute;
      top: 46%;
      width: 140px;
    }
  }

  .cards-container {
    z-index: 4;
  }

  .trusted-by {
    z-index: 4;
  }

  .logos {
    z-index: 4;
  }

  h6 {
    background-color: $purple-95;
    border: 1px solid rgba(158, 159, 199, 0.3);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    color: $purple-50;
  }

  @include media-breakpoint-down(lg) {
    .cards-container {
      flex-direction: column;
      justify-content: center;
      margin-top: 64px;
      max-width: 592px;

      .card {
        padding-bottom: 25px;
      }
    }

    .logos {
      flex-wrap: wrap;
      gap: 15px;
      padding: 0;

      img {
        width: 80px;

        &:last-child {
          display: none;
        }
      }
    }
  }
}
