<div class="cards-container small-margin-top">
    <div class="card no-icon">
        <h4>Real-life data pros</h4>
        <p>Real advice from actual technical experts. We’re all real-life data practitioners and have years of hands-on experience solving problems like yours.</p>
</div>

    <div class="card no-icon">
        <h4>Fluff-free services</h4>
        <p>Our packages are designed to  get you up and running in no time. We do them all the time, so you benefit from our practiced playbooks.</p>
    </div>


    <div class="card no-icon">
        <h4>Metabase experts</h4>
        <p>We know and love Metabase, and talk to lots of customers every day. That means you get our first-hand knowledge of what works and what doesn’t.</p>
    </div>
</div>

