<div class="hero-container">
  <div class="hero">
    <div class="d-flex flex-column align-items-center">
      <h6>Professional Services</h6>
      <h1 class="fw-bold mb-5 text-center h3">
        Get expert guidance and<br/>services from the team<br/>that knows Metabase best
      </h1>
      <p class="paragraph-4 responsive neutral-40 mb-6 text-center subtitle">
        Get personalized professional services from our team of expert data practitioners who know Metabase inside and out.
      </p>
    </div>
  </div>
</div>
