<div class="two-column-cards">
  <div>
    <span><img src="/images/icons/magnifying-glass.svg"></span>
    <h4>Discovery session</h4>
    <p>We’ll review your data stack and make recommendations for how to meet your goals</p>
    <div>
      <b>Best for</b>
      <span>Evaluating Metabase or getting some expert help on your existing stack</span>
    </div>
  </div>

  <div>
    <span><img src="/images/icons/lightbulb.svg"></span>
    <h4>Proof of concept</h4>
    <p>We’d set up Metabase for you, connect to your Data Warehouse, and create up to 3 Models and 3 dashboards for you.</p>
    <div>
      <b>Best for</b>
      <span>Trying Metabase</span>
    </div>
  </div>

  <div>
    <span><img src="/images/icons/person-plus-person.svg"></span>
    <h4>Custom onboarding</h4>
    <p>We’ll help you connect Metabase to your database, train you on Metabase concepts, walk you through decision-making for permissions and authentication, and help you decide how to share your Metabase with customers or external parties. <a href="/product/onboarding-professional-service">Learn more</a>.</p>
    <div>
      <b>Best for</b>
      <span>Getting started with Metabase</span>
    </div>
  </div>

  <div>
    <span><img src="/images/icons/shell.svg"></span>
    <h4>Self-hosted setup and ongoing maintenance</h4>
    <p>We’ll set up Metabase in your cloud environment (AWS/GCP/Azure) and help maintain it. If you prefer another cloud provider, just let us know and we can talk about it.</p>
    <div>
      <b>Best for</b>
      <span>You want to host Metabase but don’t want to deal with it</span>
    </div>
  </div>

  <div>
    <span><img src="/images/icons/arrow-diagonal.svg"></span>
    <h4>Self-service embedding reference architecture</h4>
    <p>We’ll set up a RDS—a Metabase instance, application database, and a reference embedding application in NodeJS. We also create up to 3 customer-facing data sets for you, as well as 3 specified dashboards.</p>
    <div>
      <b>Best for</b>
      <span>Getting started with interactive embedding</span>
    </div>
  </div>

  <div>
    <span><img src="/images/icons/bar-graph.svg"></span>
    <h4>Performance-tuned self-service embedding reference architecture</h4>
    <p>All of Self-Service Embedding Reference Architecture plus we’ll maintain a dedicated datamart, ETL of data into it, as well as tuning the data model for the best customer experience.</p>
    <div>
      <b>Best for</b>
      <span>Getting started with interactive embedding and letting someone else maintain your data set up for you</span>
    </div>
  </div>

  <div>
    <span><img src="/images/icons/bar-graph.svg"></span>
    <h4>End-to-end set-up for a specific product</h4>
    <p>We’ll create a data warehouse for you in your cloud, set up ETL using Fivetran for a common product (like Shopify, Zendesk, Jira, or Hubspot), build Models for you for you to self-explore, and create your first 3 dashboards.</p>
    <div>
      <b>Best for</b>
      <span>Letting someone else get you going for a specific product</span>
    </div>
  </div>

  <div>
    <span><img src="/images/icons/recycle.svg"></span>
    <h4>Ongoing Services</h4>
    <p>Need some professional help on a recurring or one-time basis? We’re here for you.</p>
    <div>
      <b>Best for</b>
      <span>Getting some extra help when you need it</span>
    </div>
  </div>
</div>
