---
layout: default
title: "The 2023 Metabase Community Data Stack Dashboard"
image: /images/opengraph/data-stack-dashboard-2023.png
summary: "Explore the results of the 2023 Data Stack Survey with our interactive dashboard. Dig into the data, uncover insights, and see the latest trends."
---

<div class="bootstrap">
  <div class="data-stack-report-2023 dashboard-container">
    <div class="container dashboard-hero">
      <h1>The 2023 Metabase Community Data Stack Report</h4>
      <div class="explore-container">
        <div>
          Explore the results of the 2023 community data stack survey or <a href="/data-stack-report-2023/">read the summary report.</a>
        </div>
        <div>
          <b>Explore the dashboard<img src="/images/icons/curved-arrow.svg" class="curved-arrow"></b>
        </div>
      </div>
  </div>

  <iframe
    src="https://metabase-public.metabaseapp.com/public/dashboard/5a135b59-214b-4401-8ab2-01e0e7129b0d#bordered=false"
    frameborder="0"
    allowtransparency
  ></iframe>

  {% include data-stack-report-2023/take-survey.html %}
  {% include data-stack-report-2023/social-widgets.html %}
</div>

<script src="https://unpkg.com/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.js"></script>
