---
layout: default
title: "The 2023 Metabase Community Data Stack Report"
image: /images/opengraph/data-stack-report-2023.png
summary: "A look at the current state of data tooling and self-service analytics."

---

<div class="bootstrap">
  <div class="data-stack-report-2023">
    {% include data-stack-report-2023/hero.html %}

    <section class="intro" id="report">
      <p>Earlier this year, we released an anonymous data stack survey, through social channels and email, to find out more about data tooling and its impact on different company sizes and roles.</p>
      <p>The survey was available to anyone but, out of the 189 responses we received, 89% were Metabase customers.</p>
      <p>While we can’t say our insights are a statistically significant representation of data folks everywhere because of the small sample size, the results have a few things you may want to know, like how one specific database could be worse for your team’s morale... Keep reading to find out more.</p>
    </section>

    <img
      src="/images/data-stack-report-2023/blue-star.svg"
      alt="Blue Star"
      class="spinning-decoration" />

    <section>
      <h3 id="larger-companies-open-source-data-tool">
        <span class="tooltip">Copy to clipboard</span>
        {% include svg-icons/link.html width="28" height="28" %}
        Larger companies are more likely to choose a data tool if it's open source
      </h3>

      <iframe
        src="https://metabase-public.metabaseapp.com/public/question/f23e4160-4f23-4e25-ac9f-ef3f8a07c4ff#hide_parameters=%23397-data-stack-survey&bordered=false"
        frameborder="0"
        width="100%"
        height="600"
        allowtransparency></iframe>
      <a href="/data-stack-report-2023/dashboard" class="explore-dashboard">Explore the dashboard {% include svg-icons/arrow-up-right.html %}</a>

      <p>
        <b>75% of survey respondents said they’re using an open-source production database</b>, so it’s no surprise that Postgres and MySQL were mentioned most often throughout the survey. But one surprise: larger companies choose an open source production database more often than not.</p>
      <a
        href="https://twitter.com/intent/tweet?text=Large companies said open source, over performance, scalability, and security, was the deciding factor in choosing their production database. https%3A%2F%2Fwww.metabase.com%2Fdata-stack-report-2023%23open-source-deciding-factor"
        id="open-source-deciding-factor"
        target="_blank"
        class="takeaway"
      >
        {% include svg-icons/twitter-x.html %}
        Large companies said open source, over performance, scalability, and security, was the deciding factor in choosing their production database.
      </a>

      <a
        href="https://twitter.com/intent/tweet?text=Large companies said open source was the deciding factor in choosing their production database… https%3A%2F%2Fwww.metabase.com%2Fdata-stack-report-2023%23open-source-deciding-factor"
        target="_blank"
        class="mobile-share-on-x"
      >
        {% include svg-icons/twitter-x.html %}
        Share on x.com
      </a>

      <p>On trend, 75% of respondents at larger companies said dbt is currently a  part of their data stack. Open source was also in their top three reasons for choosing a data modeling tool.</p>

      <p>Open source was in every corner of the survey results, which is not surprising given that our community rallies around all open-source tools, not just BI.</p>
    </section>

    <img
      src="/images/data-stack-report-2023/beige-s.svg"
      alt="Beige S"
      class="spinning-decoration" />

    <div class="container two-columns">
      <div>
        <h3 id="customer-data-more-valuable">
          <span class="tooltip">Copy to clipboard</span>
          {% include svg-icons/link.html width="28" height="28" %}
          Customer data is more valuable than ever. Social media data? Not so much.</h3>

        <p>Salesforce was the number one upstream data source. Stripe and Slack were also in the top five. We’re curious to know what Slack data you’re ingesting...</p>

        <p>Speaking of the top five, these tools all contain quite a bit of PII so it came as a surprise to us that 92% of respondents didn’t choose security and compliance as their top reason for choosing a data storage option. (This warrants a whole other survey...)</p>

        <p>What wasn’t shocking to see: many folks aren’t ingesting data from one social media platform anymore.</p>

        <a
          href="https://twitter.com/intent/tweet?text=That $42,000 per month enterprise API cost may have been the final nail in the coffin. X, formerly known as Twitter (RIP), barely made our top ten upstream data sources… https%3A%2F%2Fwww.metabase.com%2Fdata-stack-report-2023%23twitter-not-in-top-ten-data-sources"
          id="twitter-not-in-top-ten-data-sources"
          target="_blank"
          class="takeaway"
        >
          {% include svg-icons/twitter-x.html width="28" height="28" %}
          That $42,000 per month enterprise API cost may have been the final nail in the coffin. X, formerly known as Twitter (RIP), barely made our top ten upstream data sources.
        </a>
        <a
          href="https://twitter.com/intent/tweet?text=People just want to be productive: familiarity with a tool beats security and compliance by a mile… https%3A%2F%2Fwww.metabase.com%2Fdata-stack-report-2023%23twitter-not-in-top-ten-data-sources"
          id="twitter-not-in-top-ten-data-sources"
          target="_blank"
          class="mobile-share-on-x"
        >
          {% include svg-icons/twitter-x.html %}
          Share on x.com
        </a>
      </div>
      <div>
        <iframe
          src="https://metabase-public.metabaseapp.com/public/question/7fba4bdf-0364-4989-b2d2-7869be4981d7#hide_parameters=%23397-data-stack-survey&bordered=false"
          frameborder="0"
          loading="lazy"
          width="100%"
          height="600"
          allowtransparency></iframe>
        <a href="/data-stack-report-2023/dashboard" class="explore-dashboard">Explore the dashboard {% include svg-icons/arrow-up-right.html %}</a>
      </div>
    </div>

    <img
      src="/images/data-stack-report-2023/pink-hourglass.svg"
      alt="Pink Hourglass"
      class="spinning-decoration" />

    <section>
      <h3 id="data-ingestion-in-house">
        <span class="tooltip">Copy to clipboard</span>
        {% include svg-icons/link.html width="28" height="28" %}
        Even with all of the options on the market, most companies still keep data ingestion in-house
      </h3>

      <p>Airbyte and Fivetran rounded out the top three, but in-house data ingestion was still more popular than the two combined.</p>

      <iframe
        src="https://metabase-public.metabaseapp.com/public/question/756eba62-8a79-40a3-aae0-a4b22c7379c1#hide_parameters=%23397-data-stack-survey&bordered=false"
        frameborder="0"
        loading="lazy"
        width="100%"
        height="600"
        allowtransparency></iframe>
      <a href="/data-stack-report-2023/dashboard" class="explore-dashboard">Explore the dashboard {% include svg-icons/arrow-up-right.html %}</a>

      <p>Maybe legacy architecture forces people to build in-house ingestion tools. Or the cost of third-party tooling outweighs the benefits.</p>

      <p>It could also just be that third-party ingestion tools are still growing, so maybe we’ll see a shift to them in the coming year.</p>

      <p>But a good amount of companies are still choosing to build their own ingestion pipelines. We’ve seen a similar trend in data cataloging (more on that below).</p>

      <p>You can keep those Python scripts handy for now. In-house data ingestion seems poised to stay as a complement to commercial offerings versus being replaced entirely by third-party ingestion tooling.</p>
    </section>

    <img
      src="/images/data-stack-report-2023/mustard-ellipsis.svg"
      alt="Mustard Ellipsis"
      class="spinning-decoration" />

    <div class="container two-columns embedding-to-the-left">
      <div>
        <iframe
          src="https://metabase-public.metabaseapp.com/public/question/f17c1f6f-b37f-45f3-9ba9-0d9b7c749c75#hide_parameters=%23397-data-stack-survey&bordered=false"
          frameborder="0"
          loading="lazy"
          width="100%"
          height="600"
          allowtransparency></iframe>
        <a href="/data-stack-report-2023/dashboard" class="explore-dashboard">Explore the dashboard {% include svg-icons/arrow-up-right.html %}</a>
      </div>

      <div>
        <h3 id="future-not-data-cataloging">
          <span class="tooltip">Copy to clipboard</span>
          {% include svg-icons/link.html width="28" height="28" %}
          Is the future of data cataloging... not data cataloging?
        </h3>

        <p>40% of those using a data catalog said they use an in-house tool to host it. And there wasn’t any one commercial tool that came close to that option.</p>

        <p>Less surprising, an overwhelming majority of people said they’re not using a data catalog at all.</p>

        <p>80% of respondents from small companies said they either don’t use a data catalog or don’t know if they use one. 75% of respondents from midsize companies reported the same.</p>

        <p>While 77% of respondents from large companies said they do use a data catalog, data cataloging has a bit of a bad reputation.</p>

        <a
          href="https://twitter.com/intent/tweet?text=The pain of switching between multiple tools in the modern data stack, and adding a data catalog on top of it, is a noted pain point. Data cataloging requires a bit of ingenuity if it is to stay relevant.  https%3A%2F%2Fwww.metabase.com%2Fdata-stack-report-2023%23data-cataloging-needs-ingenuity"
          id="data-cataloging-needs-ingenuity"
          target="_blank"
          class="takeaway"
        >
          {% include svg-icons/twitter-x.html width="28" height="28" %}

          The pain of switching between multiple tools in the modern data stack, and adding a data catalog on top of it, is a noted pain point. Data cataloging requires a bit of ingenuity if it is to stay relevant.
        </a>

        <a
          href="https://twitter.com/intent/tweet?text=Data cataloging requires a bit of ingenuity if it is to stay relevant.  https%3A%2F%2Fwww.metabase.com%2Fdata-stack-report-2023%23data-cataloging-needs-ingenuity"
          target="_blank"
          class="mobile-share-on-x"
        >
          {% include svg-icons/twitter-x.html %}
          Share on x.com
        </a>

        <p>Now feels like the time that existing data tools to offer customers new ways to organize their data assets; will require alternatives to data cataloging.</p>
      </div>
    </div>

    <img
      src="/images/data-stack-report-2023/gray-glider.svg"
      alt="Gray Glider"
      class="spinning-decoration" />

    <section>
      <h3 id="postgres-most-satisfying">
        <span class="tooltip">Copy to clipboard</span>
        {% include svg-icons/link.html width="28" height="28" %}
        Postgres is the most satisfying database... even more if you're on a distributed team</h3>

      <p>Although it’s one of the most widely used database in the industry, MySQL had the lowest role satisfaction score out of the three most commonly used analytics databases.</p>

      <iframe
        src="https://metabase-public.metabaseapp.com/public/question/ea36d747-73e7-4105-8a7b-7ae390569fdd#hide_parameters=%23397-data-stack-survey&bordered=false"
        frameborder="0"
        loading="lazy"
        width="100%"
        height="600"
        allowtransparency></iframe>
      <a href="/data-stack-report-2023/dashboard" class="explore-dashboard">Explore the dashboard {% include svg-icons/arrow-up-right.html %}</a>


        <a
          href="https://twitter.com/intent/tweet?text=You may want to rethink your database... and your return to office policy, too. Those happiest in their role said they use PostgreSQL in a distributed team setting. https%3A%2F%2Fwww.metabase.com%2Fdata-stack-report-2023%23happiest-in-a-distributed-team-setting"
          id="happiest-in-a-distributed-team-setting"
          target="_blank"
          class="takeaway"
        >
          {% include svg-icons/twitter-x.html width="28" height="28" %}
          You may want to rethink your database... and your return to office policy, too. Those happiest in their role said they use PostgreSQL in a distributed team setting.
      </a>

      <a
        href="https://twitter.com/intent/tweet?text=Those happiest in their role said they use PostgreSQL in a distributed team setting. https%3A%2F%2Fwww.metabase.com%2Fdata-stack-report-2023%23happiest-in-a-distributed-team-setting"
        id="happiest-in-a-distributed-team-setting"
        target="_blank"
        class="mobile-share-on-x"
      >
        {% include svg-icons/twitter-x.html %}
        Share on x.com
      </a>

      <p>
        <b>
          <i>If you’re using MySQL and have opposing opinions to share, we’re all ears.</i>
        </b>
        As for our theory on MySQL's lower score: it's a battle-hardened database, but maybe MySQL is keeping older (less fun) codebases afloat.</p>

      <p>Postgres users also said their companies are more self-serve than users of other analytics databases, so it may be a wise option if you’re a global, fully remote team.</p>


      <iframe
        src="https://metabase-public.metabaseapp.com/public/question/8bcb8c67-ea52-42bb-8716-8deb7d4dd9a7#hide_parameters=%23397-data-stack-survey&bordered=false"
        frameborder="0"
        loading="lazy"
        width="100%"
        height="600"
        allowtransparency></iframe>
      <a href="/data-stack-report-2023/dashboard" class="explore-dashboard">Explore the dashboard {% include svg-icons/arrow-up-right.html %}</a>

    </section>

    <img
      src="/images/data-stack-report-2023/orange-star.svg"
      alt="Orange Star"
      class="spinning-decoration" />

    <section class="last">
      <h3 id="self-service-score-higher-distributed-teams">
        <span class="tooltip">Copy to clipboard</span>
        {% include svg-icons/link.html width="28" height="28" %}
        Self-service score was higher for distributed teams, but there was one role that scored different than the rest
      </h3>

      <p>People working on distributed teams said their companies are more self-serve than localized teams. Distributed companies need self-service tools and processes to work asynchronously and let workers query on their own time. This is pretty straightforward.</p>

      <iframe
        src="https://metabase-public.metabaseapp.com/public/question/e1c0686c-c4a5-49dd-a7ac-5c1ad14d0cd3#hide_parameters=%23397-data-stack-survey&bordered=false"
        frameborder="0"
        loading="lazy"
        width="100%"
        height="600"
        allowtransparency></iframe>
      <a href="/data-stack-report-2023/dashboard" class="explore-dashboard">Explore the dashboard {% include svg-icons/arrow-up-right.html %}</a>

      <p>But from the results around employee satisfaction, there is one large caveat. Perceptions of self-serve differ by role.</p>

      <a
        href="https://twitter.com/intent/tweet?text=People in data roles perceived their companies as less self-serve than their C-level and Engineering counterparts. https%3A%2F%2Fwww.metabase.com%2Fdata-stack-report-2023%23people-in-data-roles"
        id="people-in-data-roles"
        target="_blank"
        class="takeaway"
      >
        {% include svg-icons/twitter-x.html width="28" height="28" %}
        People in data roles perceived their companies as less self-serve than their C-level and Engineering counterparts.
      </a>

      <a
        href="https://twitter.com/intent/tweet?text=People in data roles perceived their companies as less self-serve than their C-level and Engineering counterparts. https%3A%2F%2Fwww.metabase.com%2Fdata-stack-report-2023%23people-in-data-roles"
        target="_blank"
        class="mobile-share-on-x"
      >
        {% include svg-icons/twitter-x.html %}
        Share on x.com
      </a>

      <iframe
        src="https://metabase-public.metabaseapp.com/public/question/941bc23a-2156-47a6-ad77-1783e99706fd#hide_parameters=%23397-data-stack-survey&bordered=false"
        frameborder="0"
        loading="lazy"
        width="100%"
        height="600"
        allowtransparency></iframe>
      <a href="/data-stack-report-2023/dashboard" class="explore-dashboard">Explore the dashboard {% include svg-icons/arrow-up-right.html %}</a>


      <p>It’s not surprising that C-Levels and Engineers see their companies as more self-serve. They’re the ones using self-serve tooling.</p>

      <p>These results could mean that self-serve is doing as it was intended to do. It could also mean that Data Analytics folks think their companies aren’t as self-serve as they hoped for. There isn’t a huge variation here, but it’s good to keep an eye on.</p>

      <p>The good news is we can let you know if that changes! Fill out the survey below to help us figure it out.</p>
    </section>

    {% include data-stack-report-2023/take-survey.html %}
    {% include data-stack-report-2023/social-widgets.html %}
  </div>
</div>

<script src="https://unpkg.com/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.js"></script>
<script src="/js/data-stack-report-2023.js"></script>
