<div class="customer-list active">
  <h1><span>Turn endless questions</span><br><span>into answers</span></h1>

  <div class="buttons">
      <a
        id="get-started-btn-home"
        class="fs-13 Button btn btn-primary rounded-3 get-started-btn-home-vwo"
        href="https://store.metabase.com/checkout"
      >
        Try Metabase Cloud free
      </a>
      <a
        class="fs-13 Button btn btn-outline-blue rounded-3 watch-demo-btn-home-vwo"
        href="/start/oss/"
      >
        Deploy Metabase Open Source
      </a>
  </div>

  {% include selling-points.html %}

  <div class="slack-message-container">
    <div class="slack-message">
      <img src="images/home-page-2025/notion.png" alt="Notion icon"/>
      <div>
        <p>Q4 Board Meeting Notes</p>
        <p>…where is the competitors comparison we were talking about?</p>
      </div>
    </div>

    <div class="slack-message">
      <img src="images/home-page-2025/slack.png" alt="Slack icon"/>
      <div>
        <p>#team-growth</p>
        <p>Liam: Could you provide a breakdown of NRR by segment?</p>
      </div>
    </div>

    <div class="slack-message">
      <img src="images/home-page-2025/slack.png" alt="Slack icon"/>
      <div>
        <p>#biz-ops</p>
        <p>Sofia: Asking again, can we REFRESH the metrics on expansion revenue?</p>
      </div>
    </div>

    <div class="slack-message">
      <img src="images/home-page-2025/mail.png" alt="Mail icon"/>
      <div>
        <p>FWD: Q3 Review</p>
        <p>I sent a request yesterday about churn modeling. Any updates?</p>
      </div>
    </div>

    <div class="slack-message">
      <img src="images/home-page-2025/notion.png" alt="Notion icon"/>
      <div>
        <p>Company Goals 2025</p>
        <p>Can we get a status update on the new charts for the company goals?</p>
      </div>
    </div>

    <div class="slack-message">
      <img src="images/home-page-2025/slack.png" alt="Slack icon"/>
      <div>
        <p>#ama-data</p>
        <p>Dan: Any luck pulling win/loss data by vertical? I need this ASAP</p>
      </div>
    </div>
  </div>

  <div class="padded">
    <img
      src="/images/home-page-2025/hero-screenshot.png"
      alt="Home Page 2025 Hero Screenshot"
    >
  </div>

  <div class="trusted-by">
    Metabase is open source analytics that makes it easy for your teams and customers to explore and work with data.
  </div>

  <div class="logos customer-logos-container">
    <div class="track">
      {% for i in (1..10) %}
        {% include customer-logos.html group="home_2025" limit="20" %}
      {% endfor %}
    </div>
    <div class="track" aria-hidden="true"></div>
  </div>
</div>
