<div class="explore with-side-divs">
  <div>
    <div class="side">
      <ul class="li-active-0">
        <li class="active">Metabot</li>
        <li>Query builder</li>
        <li>Drill throughs</li>
        <li>SQL editor</li>
      </ul>
    </div>
    <div class="center padded">
      {% include video-player.html
        id="ai-assistant-video-player"
        autoplay="true"
        loop="true"
        rounded="true"
        source_mp4="/images/home-page-2025/ai-assistant.mp4"
      %}
      {% include video-player.html
        id="query-builder-video-player"
        autoplay="true"
        loop="true"
        rounded="true"
        source_mp4="/images/home-page-2025/query-builder.mp4"
      %}
      {% include video-player.html
        id="drill-through-video-player"
        autoplay="true"
        loop="true"
        rounded="true"
        source_mp4="/images/home-page-2025/drill-through.mp4"
      %}
      {% include video-player.html
        id="sql-editor-video-player"
        autoplay="true"
        loop="true"
        rounded="true"
        source_mp4="/images/home-page-2025/sql-editor.mp4"
      %}
    </div>
    <div class="side"></div>
  </div>

  <div class="title">
    <span>Explore</span>
    <div></div>
    <span>however’s easiest</span>
  </div>
</div>
