<div class="full-width-centered footer">
  {% include video-player.html source_mp4="/images/home-page-2025/moving-clouds.mp4" autoplay="true" loop="true" %}

  <h2>Ready for peace of mind?</h2>
  <p>Get up and running in 5 minutes.</p>
  <div class="buttons-container">
    <a id="get-started-btn-home" class="fs-13 Button btn btn-primary rounded-3 ms-lg-2" href="https://store.metabase.com/checkout">
      Get started
    </a>
    <a id="get-started-btn-home" class="fs-13 Button btn btn-primary btn-outline-blue rounded-3 ms-lg-2" href="/talk-to-a-person/">
      Contact us
    </a>
  </div>
  <div class="selling-points">
    <span>
      {% include svg-icons/check-circle.html color="#8d93a5" %}
      Free 14-day trial
    </span>
    <span>
      {% include svg-icons/rounded-lightning.html color="#8d93a5" %}
      Super-fast setup
    </span>
  </div>
</div>
