<section class="hero-wrap">
  <div class="blurry-light">
    <div></div>
    <div></div>
    <div class="white-section"></div>
  </div>
  <div class="hero">
    <div class="container">
      <h1><span>Tired of</span><br><span>endless data questions?</span></h1>
      <h2><span>Turn them</span><br><span>into answers</span></h2>

      <div class="slack-message-container">
        <div class="slack-message">
          <img src="images/home-page-2025/slack.png" alt="Slack icon"/>
          <div>
            <p>#team-growth</p>
            <p>Liam: Could you provide a breakdown of NRR by segment?</p>
          </div>
        </div>

        <div class="slack-message">
          <img src="images/home-page-2025/mail.png" alt="Mail icon"/>
          <div>
            <p>Reminder</p>
            <p>Any update on when we’ll get the latest funnel conversion rates by channel?</p>
          </div>
        </div>

        <div class="slack-message">
          <img src="images/home-page-2025/slack.png" alt="Slack icon"/>
          <div>
            <p>#ama-data</p>
            <p>Lila: Do you have those updated CAC numbers?</p>
          </div>
        </div>

        <div class="slack-message">
          <img src="images/home-page-2025/notion.png" alt="Notion icon"/>
          <div>
            <p>Company Goals 2025</p>
            <p>Can we get a status update on the new charts for the company goals?</p>
          </div>
        </div>

        <div class="slack-message">
          <img src="images/home-page-2025/notion.png" alt="Notion icon"/>
          <div>
            <p>Q4 Board Meeting Notes</p>
            <p>…where is the competitors comparison we were talking about?</p>
          </div>
        </div>

        <div class="slack-message">
          <img src="images/home-page-2025/mail.png" alt="Mail icon"/>
          <div>
            <p>FWD: Q3 Review</p>
            <p>I sent a request yesterday about churn modeling. Any updates?</p>
          </div>
        </div>

        <div class="slack-message">
          <img src="images/home-page-2025/slack.png" alt="Slack icon"/>
          <div>
            <p>#biz-ops</p>
            <p>Sofia: Asking again, can we REFRESH the metrics on expansion revenue?</p>
          </div>
        </div>

        <div class="slack-message">
          <img src="images/home-page-2025/slack.png" alt="Slack icon"/>
          <div>
            <p>#ama-data</p>
            <p>Dan: Any luck pulling win/loss data by vertical? I need this ASAP</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
