<div class="ready-at-all-stages">
  <div class="ready-at-all-stages-scroll-lockable">
    <div class="headline-container">
      <h2>Ready at all stages</h2>
      <h3>From pre-seed to post-IPO</h3>
    </div>

    <div class="card card-1">
      <h4>Open source</h4>
      <p>5-minute deployment with a single command</p>
      <span class="apply-tooltip" data-tippy-content="Copy to clipboard" data-tippy-placement="top"><pre>{% include svg-icons/windows.html %} <span>docker run -d -p 3000:3000 metabase/metabase</span></pre></span>
    </div>

    <div class="card card-2">
      <h4>Privacy-first</h4>
      <p>On-database analytics and SSO with fully granular data permissions</p>
      <a href="/security">Why we don’t want your data {% include svg-icons/chevron.html %}</a>
    </div>

    <div class="card">
      <h4>Enterprise-grade security</h4>
      <p>SOC2 Type II compliant and options for fully air-gapped deployments</p>
      <div class="badges">
        <img src="/images/home-page-2025/soc2.svg" alt="SOC2 Badge">
        <img src="/images/home-page-2025/european-union.svg" alt="European Union Badge">
        <img src="/images/home-page-2025/ccpa.svg" alt="CCPA Badge">
      </div>
    </div>
  </div>
</div>
