<div class="unlock-data container">
  <h2><span>Unlock</span> <span>data</span> <span>for</span> <span>everyone</span></h2>
  <div class="container">
    <a href="/product/business-intelligence" target="_blank">
      <h4>For your team</h4>
      <h5>Data exploration and visualization teams love.</h5>
      <span>Explore Business Intelligence {% include svg-icons/chevron.html %}</span>
      <img class="large" src="/images/home-page-2025/e-commerce-dashboard.png" alt="For your team"/>
    </a>
    <a href="/product/embedded-analytics" target="_blank">
      <h4>For your customers</h4>
      <h5>In-product reporting embedded in your app.</h5>
      <span>Explore Embedded Analytics {% include svg-icons/chevron.html %}</span>
      <img class="large" src="/images/home-page-2025/proficiency-labs.png" alt="For your team"/>
      <img class="large page-views" src="/images/home-page-2025/page-views.png" alt="For your team"/>
    </a>
  </div>
</div>
