<section class="embedding-options">
  <h3>The right implementation type for whatever you need</h3>

  <div>
    <div>
      <div>
        <h6>Fast</h6>
        <h4>Modular embedding</h4>
        <h5>
          For organizations that need embedded analytics really fast with little
          engineering overhead.
        </h5>
        <ul>
          <li>
            Embed individual charts, dashboards, and reporting in your app as components.
          </li>
          <li>
            White-label and set multi-tenant permissions
            so customers can query, visualize, and drill-down on the data.
          </li>
          <li>
            Guest embedding lets users view your data in a simple, read-only dashboard with no user authentication required.
          </li>
        </ul>
        <a href="/embedding-demo">
          Check out the live demo {% include svg-icons/chevron.html %}
        </a>
      </div>
      <img
        src="/images/embedding/iframe-embedding.png"
        alt="Interactive Embedding"
      loading="lazy"/>
    </div>

    <div>
      <div>
        <h6>Custom-fit</h6>
        <h4>Modular Embedding SDK for React</h4>
        <h5>
          For organizations that need bespoke in-app analytics. Everything you
          get with iframes with more control and flexibility.
        </h5>
        <ul>
          <li>
            Choose which components you embed, and where they’re placed for deep
            integration with your app.
          </li>
          <li>
            Manage permissions and interactivity per component and user.
          </li>
          <li>
            Granular theming for analytics that looks like part of your product.
          </li>
        </ul>
        <a href="/product/embedded-analytics-sdk">
          Learn more {% include svg-icons/chevron.html %}
        </a>
      </div>
      <img src="/images/embedding/custom-fit.png" alt="Interactive Embedding" loading="lazy" />
    </div>
  </div>
</section>
