<div class="hero-container">
  <div class="hero">
    <h6>Modular Embedding SDK for React</h6>
    <h1 class="fw-bold mb-5 text-center h3">
      Build custom in-app analytics, fast
    </h1>
    <p class="paragraph-4 responsive neutral-40 mb-6 text-center subtitle">
      The React toolkit for in-app reporting that looks, acts, and smells like it’s part of your app. Get full control to prototype, style, and ship sophisticated analytics without complicated development.
    </p>
    <code class="one-liner"><pre data-event-category="sdk-script" data-event-action="script-copied" data-event-label="sdk-start-page">npx @metabase/embedding-sdk-react@latest start</pre></code>

    <a target="_blank" href="https://embedded-analytics-sdk-demo.metabase.com/admin/products/3" class="mobile play-with-live-demo">
      {% include svg-icons/play-outline.html %}Explore the live demo
    </a>
   <a href="/docs/latest/embedding/sdk/quickstart" class="quickstart">Go to quickstart{% include svg-icons/chevron.html %}</a>
    <div class="image-container">
      <img src="/images/product/embedded-analytics-sdk/hero-sdk.png" alt="Embedded analytics SDK for React" />
      <a target="_blank" href="https://embedded-analytics-sdk-demo.metabase.com/admin/products/3" class="desktop play-with-live-demo">
        {% include svg-icons/play-outline.html %}Explore the live demo
      </a>
    </div>

    <div class="cards-container">
      <div class="card">
        {% include svg-icons/secure-shield-outline.html %}
        <h4>Multi-tenant and secure</h4>
        <p>Make sure customers only see what they need to. Your data never leaves your server.</p>
      </div>
      <div class="card">
        {% include svg-icons/fast-forward.html %}
        <h4>Get started in minutes</h4>
        <p>Install the SDK and embed your first chart fast. Build out advanced analytics as needs grow.</p>
      </div>
      <div class="card">
        {% include svg-icons/lifesaver.html %}
        <h4>Rich documentation and support</h4>
        <p>Developer-first tools and expert support to keep the integration process on your schedule. </p>
      </div>
    </div>

    <div class="trusted-by">
      {% include trusted-by.html %}
    </div>

    <div class="logos customer-logos-container">
      {% include customer-logos.html group="pro"  %}
    </div>
  </div>
</div>
