<div class="feature-plus-headline-container">
  <div>
    <h2>Manage what people can see and do per component</h2>
    <p>
      Define permissions and interactive tools for data discovery at scale. Give
      some people read-only access. Some drill-through on charts without saving.
      Others get an all access pass to create, modify, and save questions,
      create dashboards and more.
    </p>
  </div>
  <div class="feature-container">
    <div class="integrate-with-ui-illustration has-buttons">
      <img
        src="/images/product/embedded-analytics-sdk/manage-what-people-can-see-1.png"
        loading="lazy"/>
      <img
        src="/images/product/embedded-analytics-sdk/manage-what-people-can-see-2.png"
        loading="lazy"/>
      <div class="buttons docs-learn-toggler">
        <div class="hover-highlight"></div>
        <a href="#" class="active">
        {% include svg-icons/view.html %}Read-only
        </a>
        <a href="#">
        {% include svg-icons/play-outline.html %}Interactive
        </a>
      </div>
    </div>
    <div class="language-javascript">
      <div class="highlight">
        <pre class="highlight">
        <code class="language-javascript do-not-display-copy-button">
switch(currentUser.role) {
  case curator: {
    return (
      &lt;MetabaseProvider config=&#123;config&#125; theme=&#123;theme&#125;&gt;
        &lt;InteractiveQuestion questionId=&#123;questionId&#125; /&gt;
      &lt;/MetabaseProvider&gt;
    );
    break;
  }
  default: {
    &lt;MetabaseProvider config=&#123;config&#125; theme=&#123;theme&#125;&gt;
      &lt;StaticQuestion questionId=&#123;questionId&#125; /&gt;
    &lt;/MetabaseProvider&gt;
  }
}
return &lt;GuestGreeting /&gt;;
        </code>
      </pre>
      </div>
      <div class="highlight">
        <pre class="highlight">
        <code class="language-javascript do-not-display-copy-button">
switch (currentUser.role) {
  case (curator): {
    return (
      &lt;MetabaseProvider config=&#123;config&#125; theme=&#123;theme&#125;&gt;
        &lt;InteractiveQuestion questionId=&#123;questionId&#125; /&gt;
      &lt;/MetabaseProvider&gt;
    );
  }
  default: {
    return (
      &lt;MetabaseProvider config=&#123;config&#125; theme=&#123;theme&#125;&gt;
        &lt;StaticQuestion questionId=&#123;questionId&#125; /&gt;
      &lt;/MetabaseProvider&gt;
    )
  }
}

return &lt;GuestGreeting /&gt;;
        </code>
      </pre>
      </div>
    </div>
  </div>
</div>
