* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
  scroll-padding-top: 10em;
}

body {
  background-color: white;
  color: #5a6072;
  display: flex;
  flex-direction: column;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  margin: 0;
  min-height: 100vh;

  /* needed to keep offset imagery from causing horizontal scrolling */
  overflow-x: hidden;
  overscroll-behavior-y: none;
  text-rendering: optimizelegibility;
}

header.bootstrap {
  position: sticky;
  top: -48px;
  z-index: 10000;

  &.scrollable {
    position: static;
  }
}

@media screen and (max-width: 62rem) {
  header.bootstrap {
    top: 0;
  }
}

header.bootstrap.promo-banner-hidden {
  top: 0;
}

img,
svg,
object {
  max-width: 100%;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #22242b;
  font-weight: 900;
}

h1,
.h1 {
  font-size: 40px;
}

@media screen and (max-width: 60em) {
  h1,
  .h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: 32px;
}

.text-white > h1,
.text-white > h2,
.text-white > h3,
.text-white > h4,
.text-white > h5,
.text-white > h6 {
  color: white;
}

ul,
ol {
  padding-inline-start: 20px;
}

/* ordered lists need a smidge more padding */
ol {
  padding-inline-start: 25px;
}

p,
.blog-post li {
  font-size: 18px;
  line-height: 30px;
}

p {
  line-height: 26px;
}

p,
li {
  margin-bottom: 1.3em;
}

/* nested lists need a bit of top margin to accomodate for the line above */
li > ul,
li > ol {
  margin-top: 1.3em;
}

a {
  color: #509ee3;

  /* set a display context for links, helps prevent issues where titles
   * inside of links have odd formatting like
   * https://github.com/metabase/metabase.github.io/issues/573 */
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p a {
  display: inline;
}

a:hover {
  color: #2d86d4;
  transition: color 0.3s ease-in-out;
}

.container a:hover {
  color: #509ee3;
  cursor: pointer;
}

.Button {
  background-color: transparent;
  border: 1px solid #5ea4e3;
  border-radius: 6px;
  color: #5ea4e3;
  display: block;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.843rem;
  padding: 16px 20px;
  text-align: center;
}

@media screen and (min-width: 60em) {
  .Button {
    display: inline-block;
  }
}

.Button:hover {
  border-color: #5ea4e3;
  color: #5ea4e3;
  cursor: pointer;
  transition: all 0.3s linear;
}

.Button.Button--primary {
  background-color: #5ea4e3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  color: #fff;
  transition: background 0.3s ease;
}

.Button.Button--primary:hover {
  background-color: #2d86d4;
  border-color: #2d86d4;
  color: #fff;
}

.pt0 {
  padding-top: 0;
}

.py1 {
  padding-bottom: 1.2em;
  padding-top: 1.2em;
}

.pt4 {
  padding-top: 4.3em;
}

.mt2 {
  margin-top: 1.728em;
}

.m-0 {
  margin: 0;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 16px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 32px;
}

.py2 {
  padding-bottom: 1.728em;
  padding-top: 1.728em;
}

.text-white {
  color: #fff;
}

.text-underline {
  text-decoration: underline;
}

.flex {
  display: box;
  display: flex;
  display: flexbox;
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.block {
  display: block;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.text-centered {
  text-align: center;
}

.bg-white {
  background-color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1640px;
  padding: 0 2.074em;
  position: relative;
}

.container::after,
.row::after {
  clear: both;
  content: "";
  display: table;
}

/* @code */

pre,
code {
  text-align: left;
}

pre code {
  display: block;
  overflow-x: auto;
}

code {
  background-color: #f9fbfe;
  border-radius: 6px;
  color: #2d86d4;
  display: inline;
  overflow-x: auto;
  padding: 8px;
  white-space: pre;
}

.columns {
  float: left;
  width: 100%;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    padding: 0;
    width: 85%;
  }
}

/* For devices larger than 550px */
@media (min-width: 60em) {
  .container {
    max-width: 1440px;
    width: 80%;
  }

  .columns {
    margin-left: 4%;
  }

  .columns:first-child {
    margin-left: 0;
  }

  .ten.columns {
    width: 82.6667%;
  }

  .offset-by-one.columns {
    margin-left: 8.6667%;
  }
}

.MB-Logo-small {
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-size: 32px;
  height: 32px;
  width: 32px;
}

.zoomImg-wrap img:hover {
  cursor: zoom-out;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.6rem;
  margin-bottom: 0;
  text-align: left;
  width: 100%;
}

table thead,
table tr {
  border-bottom: 1px solid #e7e9ec;
}

table tr:last-child {
  border-bottom: none;
}

table th,
table td {
  padding: 1em;
}

table td {
  vertical-align: top;
}

.MB-PostTableWrapper {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow-y: scroll;
}

.pull-quote {
  color: #2d86d4;
  display: block;
  font-weight: 700;
  line-height: 3.1rem;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.bootstrap blockquote p {
  font-size: 19px;
}

.bootstrap blockquote p em,
.bootstrap blockquote p strong {
  font-size: 16px;
}

.bootstrap blockquote p em {
  color: #5a6072;
  font-style: normal;
}

@media screen and (min-width: 440px) {
  .pull-quote {
    float: right;
    margin-left: 2em;
    padding: 2em;
    width: 360px;
  }
}

.tweet-link {
  color: #e8e8e8;
  display: block;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 1em;
}

.tweet-link::before {
  background-image: url("/images/twitter.svg");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 22px;
  margin-right: 0.2em;
  width: 26px;
}

.full {
  width: 100%;
}

section {
  padding: 60px 0;

  /* use relative units so the padding is not as dramatic on mobile */
  padding: 2rem 0;
}

.input {
  border: 1px solid #aab7c3;
  border-radius: 4px;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.834em;
  padding: 1em 1.2em;
  transition: border 0.3s linear;
}

.input:active,
.input:focus {
  border-color: #509ee3;
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

.text-white-hover:hover {
  color: #fff;
}

.text-purple {
  color: #509ee3 !important;
}

.Search {
  background-color: white;
  border-radius: 99px;
  display: inline-block;
  padding-left: 18px;
  padding-right: 12px;
}

.Search .Search-Input {
  border: none;
  padding-left: 0;
}

.Search .Search-Button {
  appearance: none;
  background-color: #509ee3;
  border: none;
  border-radius: 99px;

  /* TODO - don't default to docs color, fine for now though */
  color: white;
  cursor: pointer;
  font-weight: 900;
  outline: none;
  padding: 0.75em;
  text-transform: uppercase;
}

.fs-18 {
  font-size: 18px;
}

.fw-bold {
  font-weight: bold;
}

/* ensure blog posts images don't get too big */
.blog-post article img,
.blog-post article iframe {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.08);
  margin-top: 1.2em;
  max-width: 100%;
  overflow: hidden;
}

.blog-post code {
  font-size: 14px;
  padding: 4px 6px;
}

/*
Figure and figcaption used in _includes/image_and_caption.html
*/

figure {
  display: block;
  margin: 1em auto 1.8em;
  width: 100%;
}

figcaption {
  color: #6b7389;
  font-size: 0.85em;
}

.blog-post h2 {
  font-size: 24px;
}

.blog-post article {
  margin-bottom: 64px;
}

/* add a hover state for learn images */
.ZoomImages article img:hover {
  cursor: zoom-in;
}

/* Feedback widget styling, for both learn and docs */

.vote-button {
  border-radius: 6px !important;
  max-height: 40px;
}

#feedback-comment-text {
  width: 100%;
}

textarea#feedback-comment-text:focus {
  border: 1px solid #5d60a2;
  outline: none;
}

p.page-feedback-title {
  color: #22242b;
  font-weight: 900;
  margin-top: 1rem;
  padding-top: 4px;
}

.widget-separator {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 32px;
  margin-right: 8px;
  margin-top: 25px;
}

div.vjs-player + p {
  margin-top: 30px;
}

.image-zoom-wrapper {
  z-index: 100000 !important;
}
