<header class="d-flex flex-column flex-lg-row flex-nowrap align-center justify-content-center m-0 p-0 px-7 pt-8 pb-15 p-lg-0 pb-lg-20 pt-lg-13 w-100 hero">
  <div class="hero__background"></div>
  <div class="flex-half m-0 p-0 px-lg-10 w-100 hero__content-panel">
    <div class="max-width--sm ml-auto my-0 p-0 hero__content-panel__wrapper">
      <div class="d-inline-flex flex-row align-center justify-center hero__badge">
        <img
          alt="Metabase Cloud"
          class="hero__badge__image"
          src="/images/cloud_2.svg" />
        <span class="fw-bold ml-2 text-brand">Metabase Cloud</span>
      </div>

      <h1 class="fs-4 m-0">Check hosting off your to-do list</h1>

      <p class="m-0 mt-4 mt-lg-6">Get fast, reliable, and secure deployment with none of the work or hidden costs that come with self-hosting.</p>

      </br>
      <div class="d-flex justify-content-left align-items-left gap-4">
        <a id="get-started-btn-home" class="fs-13 Button btn btn-primary rounded-3" href="https://store.metabase.com/checkout">Get started</a>
        <a class="fs-13 Button btn btn-outline-blue rounded-3" href="/docs/latest/cloud/migrate/guide">Migrate from self-hosted</a>
      </div>

      <blockquote class="border-left m-0 mt-6 mt-lg-8 pl-6 hero__profile">
        <p class="fs-12 lh-base m-0">
          <cite>With Metabase Cloud, we save the time needed for setup and maintenance of the platform, focusing only on the insights we can get from our data.</cite>
        </p>
        <div class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-6 w-100">
          <img
            alt="Nicolò Barbano"
            class="hero__profile__avatar"
            src="/images/cloud/avatar_x-farm.png" />
          <p class="fs-12 lh-sm m-0 ms-4">
            <span class="fw-bold">Nicolò Barbano</span><br/>
            <span>Head of Marketing, xFarm Technologies</span>
          </p>
        </div>
      </blockquote>
    </div>
  </div>

  <div class="flex-half m-0 mt-11 m-lg-0 p-0 px-lg-13 w-100 hero__content-panel" id="cloudHeroToggleList">
    <div class="bg-white drop-shadow p-3 p-lg-6 rounded-4 rounded-lg-7 w-100 hero__content-panel__wrapper hero__content-panel__wrapper--animated">
      <div class="d-flex flex-column flex-nowrap align-center justify-content-center">
        <input
          class="d-none"
          id="cloudHeroToggleCheckbox"
          type="checkbox" />
        <label
          class="align-center bg-blue-95 border--blue-90 cursor-pointer d-flex flex-nowrap flex-row justify-content-center mb-6 mb-lg-0 mt-0 mt-lg-8 order-0 order-lg-1 p-2 p-lg-4 rounded-3 rounded-lg-4 user-select-none w-100"
          for="cloudHeroToggleCheckbox"
          id="cloudHeroToggle">
          <div class="align-center d-inline-flex flex-nowrap flex-row justify-center m-0 hero__toggle__text">
            <img alt="Self-hosted" src="/images/cloud/icon_toggle_self-hosted.svg" />
            <span class="neutral-40 ms-2 text-bold">Self-hosted</span>
          </div>
          <div class="m-1 mx-sm-2 hero__toggle">
            <div class="align-center d-flex justify-center text-center hero__toggle__handle">{% include svg-icons/tick-icon.html color = "#ffffff" %}</div>
          </div>
          <div class="align-center d-inline-flex flex-nowrap flex-row justify-center m-0 hero__toggle__text">
            <span class="blue-60 me-2 text-bold text-right">Metabase Cloud</span>
            <img alt="Metabase Cloud" src="/images/cloud/icon_toggle_cloud.svg" />
          </div>
        </label>

        <ul class="list-unstyled m-0 p-0 order-1 order-lg-0 w-100 hero__list">
          <li class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item">
            <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
              <div class="flex-grow-1 flex-shrink-0 hero__tick me-2">{% include svg-icons/tick-icon.html %}</div>
              <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Automatic backups and restores</p>
            </div>
          </li>
          <li class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item">
            <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
              <div class="flex-grow-1 flex-shrink-0 hero__tick me-2">{% include svg-icons/tick-icon.html %}</div>
              <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Automatic upgrades</p>
            </div>
          </li>
          <li class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item">
            <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
              <div class="flex-grow-1 flex-shrink-0 hero__tick__wrapper me-2">
                <div class="hero__tick">{% include svg-icons/tick-icon.html %}</div>
              </div>
              <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Built-in network monitoring</p>
            </div>
          </li>
          <li class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item">
            <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
              <div class="flex-grow-1 flex-shrink-0 hero__tick me-2">{% include svg-icons/tick-icon.html %}</div>
              <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Enterprise grade compliance (SOC 2 Type II)</p>
            </div>
          </li>
          <li class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item">
            <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
              <div class="flex-grow-1 flex-shrink-0 hero__tick me-2">{% include svg-icons/tick-icon.html %}</div>
              <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Ultra-high, multi-zone availability</p>
            </div>
          </li>
          <li class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item">
            <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
              <div class="flex-grow-1 flex-shrink-0 hero__tick me-2">{% include svg-icons/tick-icon.html %}</div>
              <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Preconfigured SMTP Server</p>
            </div>
          </li>
          <li class="m-0 hero__list__item">
            <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
              <div class="flex-grow-1 flex-shrink-0 hero__tick me-2">{% include svg-icons/tick-icon.html %}</div>
              <p class="m-0 neutral-40 text-bold w-100 hero__list__text">Unlimited support from engineers</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<script src="/js/cloud-self-hosted-comparison.js"></script>

