<section class="m-0 p-0 center-xs max-width--sm mx-auto">
  <h2 class="fs-8 fw-bold mb-6">When it comes to hosting your Metabase, you always have a choice</h2>
  <p>For some setups, self-hosting may be more suitable, or even a necessity. But oftentimes it can be a lot of extra work you probably don't need, even just to host a minimal setup.</p>
  <p class="m-0">With Metabase Cloud, we'll take care of everything, and if you're on
    <a class="d-inline blue-link-hover text-bold" href="/pricing/">Pro or Enterprise</a>, it won't cost any more than doing it yourself.
  </p>
</section>
