<section class="border--blue-90--top m-0 mt-10 mt-lg-15 p-0 pt-10 pt-lg-15 center-xs max-width--sm mx-auto">
  <h2 class="fs-8 fw-bold mb-6">When Cloud isn&apos;t the right choice</h2>

  <p class="m-0 mt-4 mt-lg-6">If you need any of the following, self-hosting is a better way to go:</p>

  <div class="bg-neutral-98 border--blue-95 box-shadow-xs m-0 mt-6 mt-lg-12 p-4 p-lg-6 rounded-4 text-left">
    <ul class="list-unstyled m-0 mx-auto">
      <li class="mb-2 mb-lg-3">
        <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
          <div class="flex-grow-1 flex-shrink-0 mr-25 w-auto">{% include svg-icons/list-dot-icon.html %}</div>
          <p class="m-0 w-100">An <a href="/product/air-gapping">air-gapped environment</a></p>
        </div>
      </li>
      <li class="mb-2 mb-lg-3">
        <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
          <div class="flex-grow-1 flex-shrink-0 mr-25 w-auto">{% include svg-icons/list-dot-icon.html %}</div>
          <p class="m-0 w-100">You&apos;re using a community or custom driver to connect to your data source</p>
        </div>
      </li>
      <li class="mb-2 mb-lg-3">
        <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
          <div class="flex-grow-1 flex-shrink-0 mr-25 w-auto">{% include svg-icons/list-dot-icon.html %}</div>
          <p class="m-0 w-100">A custom build of Metabase</p>
        </div>
      </li>
      <li class="mb-2 mb-lg-3">
        <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
          <div class="flex-grow-1 flex-shrink-0 mr-25 w-auto">{% include svg-icons/list-dot-icon.html %}</div>
          <p class="m-0 w-100"><s>Data stored outside of the United States</s>. <i>Metabase Cloud can now be hosted in the US, Europe, Latin America, or Asia-Pacific!</i>
          </p>
        </div>
      </li>
      <li class="m-0">
        <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
          <div class="flex-grow-1 flex-shrink-0 mr-25 w-auto">{% include svg-icons/list-dot-icon.html %}</div>
          <p class="m-0 w-100">Or if you have specific regulations about how you run your software (like HIPAA)</p>
        </div>
      </li>
    </ul>
  </div>

  <p class="m-0 mt-6 mt-lg-12">But if none of the above apply to you, Metabase Cloud will save you time, money, (maybe even tears).</p>
</section>
