<section class="align-center bg-neutral-98 border--blue-95 box-shadow-xs d-flex flex-column flex-lg-row flex-nowrap justify-content-center m-0 mt-15 mt-lg-20 p-0 rounded-7 success-team">
  <div class="flex-half m-0 max-width--sm p-8 pe-lg-12 ps-lg-14 py-lg-14">
    <span class="fs-14 fw-bolder letter-spacing-005 text-brand text-uppercase">Cloud hosting includes</span>

    <h2 class="fs-8 fw-bold m-0 mt-3">Help from our world-class success team</h2>

    <p class="fs-11 m-0 mt-3">We don&apos;t like to brag, so we&apos;ll let our customers do it for us.</p>

    <p class="fs-12 lh-base m-0 mt-8 text-bold w-100">You&apos;ll get access to:</p>
    <ul class="list-unstyled mb-0">
      <li>
        <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
          <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">{% include svg-icons/tick-icon.html %}</div>
          <p class="fs-12 lh-base m-0 w-100">Support from actual technical experts. We&apos;re all avid Metabase users, so we&apos;ve been in your shoes.</p>
        </div>
      </li>
      <li>
        <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
          <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">{% include svg-icons/tick-icon.html %}</div>
          <p class="fs-12 lh-base m-0 w-100">Help with whatever your problem is, be it admin troubleshooting or advice on best practices.</p>
        </div>
      </li>
      <li class="m-0">
        <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
          <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">{% include svg-icons/tick-icon.html %}</div>
          <p class="fs-12 lh-base m-0 w-100">No chatbots, no hold lines, no customer service runaround. Just email us, we&apos;re right here.</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="flex-half success-team__quotes">
    <div class="px-8 py-0 pe-lg-14 ps-lg-12 success-team__quotes-container">
      {% include pages/cloud/success-team-quotes-animation.html %}

      <!-- Second animation -->
      {% include pages/cloud/success-team-quotes-animation.html %}
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    setTimeout(() => {
      const $quotesAnimations = document.querySelectorAll('.success-team__quotes-animation');
      $quotesAnimations.forEach(($quotesAnimation) => $quotesAnimation.classList.add('animate'));
    }, 500);
  });
</script>
