<div class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100">
  <blockquote class="m-0 success-team__quote">
    <p class="fs-13 lh-base m-0">
      <cite>{{ include.review.quote }}</cite>
    </p>
    <div class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100">
      <div class="success-team__quote__avatars">
        <img
          alt="Nicolò Barbano"
          class="success-team__quote__avatar"
          src="{{ include.review.headshot }}" loading="lazy"/>
        <img
          alt="Nicolò Barbano"
          class="success-team__quote__avatar"
          src="{{ include.review.logo }}" loading="lazy"/>
      </div>
      <p class="fs-13 lh-base m-0 ms-3">
        <span class="fw-bold">{{ include.review.name }}</span><br/>
        <span>{{ include.review.title }}, {{ include.review.company }}</span>
      </p>
    </div>
  </blockquote>
</div>
