<section class="m-0 mt-15 mt-lg-20 p-0 center-xs max-width--sm mx-auto">
  <img
    alt="Switch from self-hosted to the cloud smoothly"
    class="mb-6 mb-lg-12"
    src="/images/cloud/switch-to-cloud.svg" />

  <h2 class="fs-8 fw-bold">Switch from self-hosted to the cloud smoothly</h2>

  <p class="m-0 mt-4 mt-lg-6">And back again if you need to. All of your existing questions and dashboards will be migrated over, so there&apos;s
    no need to start over from scratch.</p>

  <a class="align-baseline blue-link-hover d-inline-flex flex-nowrap flex-row fs-11 justify-center mb-0 mx-auto mt-4 mt-lg-6 text-bold" href="/docs/latest/cloud/migrate/guide">
    <span class="me-2">Here are some migrations tips</span>
    <img
      alt="Here are some migrations tips"
      class="SidebarChevron m-0 no-zoom"
      height="14px"
      src="/images/chevron_blue.svg"
      width="14px">
  </a>
</section>
