<section class="m-0 mt-15 mt-lg-20 p-0">
  <div class="d-flex flex-column flex-lg-row flex-nowrap align-center justify-content-center">
    <div class="flex-half max-width--sm pr-lg-12">
      <h2 class="fs-8 fw-bold mb-6">Trustworthy, production-grade deployment by people who do this stuff for a living</h2>
      <p class="m-0">With the infrastructure, specialists, and thousands of Metabases in our cloud, we&apos;ve put a lot of thought and resources into optimizing hosting.</p>
    </div>

    <div class="bg-neutral-98 border--blue-95 box-shadow-xs flex-half max-width--sm mt-8 mt-lg-0 p-8 p-lg-11 rounded-7">
      <ul class="list-unstyled m-0 p-0">
        <li>
          <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
            <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
              <img alt="Get up and running in minutes" src="/images/cloud/icon_get-up-and-running.svg" />
            </div>
            <p class="fs-12 lh-base m-0 w-100">Get up and running in minutes. All you have to do is connect your database, invite your team, and start asking questions.</p>
          </div>
        </li>
        <li>
          <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
            <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
              <img alt="Stay up and running" src="/images/cloud/icon_stay-up-and-running.svg" />
            </div>
            <p class="fs-12 lh-base m-0 w-100">Stay up and running —
              <a
                class="d-inline blue-link-hover text-bold"
                href="https://status.metabase.com"
                target="_blank">check out our historical uptime</a>.</p>
          </div>
        </li>
        <li>
          <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
            <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
              <img alt="It&apos;ll scale with you" src="/images/cloud/icon_scale-with-you.svg" />
            </div>
            <p class="fs-12 lh-base m-0 w-100">It&apos;ll scale with you. Add as many people, questions, and as much traffic as you want. It&apos;ll keep a quick pace.</p>
          </div>
        </li>
        <li>
          <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
            <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
              <img alt="Your own application database" src="/images/cloud/icon_managed-by-us.svg" />
            </div>
            <p class="fs-12 lh-base m-0 w-100">Your own application database, managed by us (PostgreSQL via AWS&apos;s RDS).</p>
          </div>
        </li>
        <li>
          <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
            <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
              <img alt="Make it yours with a custom domain" src="/images/cloud/icon_custom-domain.svg" />
            </div>
            <p class="fs-12 lh-base m-0 w-100">Make it yours with a custom domain.</p>
          </div>
        </li>
        <li class="m-0">
          <div class="align-top d-flex flex-nowrap flex-row justify-content-start">
            <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
              <img alt="Secure multi-tenant environments" src="/images/cloud/icon_multi-tenants-env.svg" />
            </div>
            <p class="fs-12 lh-base m-0 w-100">Ensure people don&apos;t see anything they shouldn&apos;t with secure multi-tenant environments. Our architecture prioritizes isolation, so every hosted customer has their own container. Need single-tenancy?
              <a class="d-inline blue-link-hover text-bold" href="/talk-to-a-person/">Contact us.</a>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
