<section class="bg-blue-99 m-0 mt-10 mt-lg-20 py-10 py-lg-15 border-card border-bottom-0">
  <div class="container py4 mt4 mx-auto center-xs">
    <h3 class="fs-7 mb-6">Try Metabase Cloud<br class="d-md-none" /><span class="d-none d-md-inline">&nbsp;</span>14 days free</h3>

    <p class="mb-6 mx-auto mw--sm">Cloud-host your Metabase
      <a class="d-inline blue-link-hover text-bold" href="/pricing/">on any plan</a>. For Pro and Enterprise, it&apos;s the same price as self-hosting.</p>

    <a
      class="btn btn-primary px-4 px-lg-5 py-3"
      href="https://store.metabase.com/checkout?deployment=cloud"
      id="get-started-btn-home">
      Get started
    </a>
  </div>
</section>
