<section class="m-0 mt-15 mt-lg-20 p-0 center-xs">
  <h2 class="fs-8 fw-bold mb-4 mb-lg-6 mx-auto">Worry-free upgrades, backups, and more</h2>
  <p class="mx-auto my-0">Hand off time-consuming, manual hosting tasks. Here&apos;s what you get:</p>

  <div class="align-stretch d-flex flex-column flex-lg-row flex-nowrap gap-6 gap-lg-8 justify-content-between mt-8 mt-lg-13">
    <div class="bg-white border--blue-95 box-shadow-xs m-0 p-4 p-lg-6 rounded-4 text-left">
      <img
        alt="Worry-free upgrades, backups, and more - Upgrades"
        class="mb-4 mb-lg-6"
        src="/images/cloud/icon_upgrades.svg" />
      <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4">Upgrades</h3>
      <p class="fs-12 lh-base m-0 neutral-60">Automatically upgrade to the current version, so you&apos;re always getting the latest and greatest of Metabase.</p>
    </div>

    <div class="bg-white border--blue-95 box-shadow-xs mt-0 p-4 p-lg-6 rounded-4 text-left">
      <img
        alt="Worry-free upgrades, backups, and more - Backups"
        class="mb-4 mb-lg-6"
        src="/images/cloud/icon_backups.svg" />
      <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4">Backups</h3>
      <p class="fs-12 lh-base m-0 neutral-60">The way they should be: there when you need them, out of sight and out of mind when you don&apos;t.</p>
    </div>

    <div class="bg-white border--blue-95 box-shadow-xs mt-0 p-4 p-lg-6 rounded-4 text-left">
      <img
        alt="Worry-free upgrades, backups, and more - SMTP server"
        class="mb-4 mb-lg-6"
        src="/images/cloud/icon_smtp-server.svg" />
      <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4">SMTP server</h3>
      <p class="fs-12 lh-base m-0 neutral-60">Even your alerts and dashboard subscriptions covered with a preconfigured and managed SMTP server.</p>
    </div>
  </div>
</section>
