<div class="col-xs-12 d-flex d-none d-lg-none flex-column bg-neutral-white p-0" id="nav-menu-mobile">

  {% include header/mobile/product.html %}
  {% include header/mobile/features.html %}
  {% include header/mobile/docs.html %}
  {% include header/mobile/resources.html %}

  <a class="nav-button-mobile py-6 px-7" href="/pricing/">
    <span class="h4 m-0">Pricing</span>
  </a>

  <a
    class="py-8 d-flex justify-content-center bg-neutral-99"
    href="/cloud/login"
    id="mobile-login-button">
    <span class="h4 mb-0">Log in</span>
  </a>
</div>
