---
title: Metabase Contact Successful
summary: "Thank you for contacting Metabase! We'll get back to you as soon as possible."
layout: default_bare
---

<div class="bootstrap">
  <div class="landing-page get-demo-success">
    {% include header.html hide-menu=true %}
    <div class="get-demo-success__content">
      <div class="get-demo-success__content__message-received">
        <h1>Let’s start your 14-day free trial</h1>
        <p>Choose your own adventure below.<p>
      </div>


      <a href="https://store.metabase.com/checkout">
        <h3>Continue to set up your account now</h3>
        <p>
          Get everything you need to start exploring data in five minutes
        </p>
        <img src="/images/arrow.svg" alt="Arrow" />
      </a>

      <span>or</span>

      <div class="get-demo-success__content__calendly">
        <h3>Get live help from an expert</h3>
        <p>
          Schedule a personalized demo and get assistance in setting up your trial
        </p>
        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/d/cp46-64x-wgy/intro-call-with-metabase?hide_event_type_details=1&hide_gdpr_banner=1&primary_color=509ee3" style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Calendly inline widget end -->
      </div>
    </div>

    <div class="light-blue-footer-container">
      {% include footer.html %}
    </div>
  </div>
</div>
