{% assign component = include.component %}

<div class="full-width-centered landing-page__comparison-table">
  <h3>{{ component.headline }}</h3>
  <p>{{ component.subheading }}</p>

  <div class="comparison-table">
    <table>
      <thead>
        <tr>
          <th>
            &nbsp;
          </th>
          <th style="width: 17%">
            <span class="gray">{{ component.option1 }}</span>
          </th>
          <th style="width: 17%">
            <span class="blue">{{ component.option2 }}</span>
          </th>
        </tr>
      </thead>

      <tbody>
        {% for row in component.rows %}
          <tr>
            <td>{{ row.text }}</td>
            <td>
              {% if row.option1 == 'check' %}
                {% include svg-icons/tick-icon.html color="#5a6072" %}
              {% else %}
                {{ row.option1 }}
              {% endif %}
            </td>
            <td>
              {% if row.option2 == 'check' %}
                {% include svg-icons/tick-icon.html color="#5a6072" %}
              {% else %}
                {{ row.option2 }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <a href="{{ component.link.href }}" class="m-auto">{{ component.link.text }}</a>
</div>

