{% assign component = include.component %}

<section class="m-0 mb-15 mb-lg-20 mx-auto p-0 center-xs container landing-page__ctas">
  <h2 class="fs-8 fw-bold mx-auto my-0">{{ component.title }}</h2>
  {% if component.description %}
    <p class="mw--sm mt-4 mt-lg-6 mx-auto">{{ component.description }}</p>
  {% endif %}

  {% if component.cta.text %}
    <a
      class="align-baseline blue-link-hover d-inline-flex flex-nowrap flex-row fs-11 justify-center mb-0 mx-auto mt-4 mt-lg-6 text-bold"
      href="{{ component.cta.href }}"
      title="Metabase - {{ component.cta.text }}">
      <span class="me-2">{{ component.cta.text }}</span>
      <img
        alt="Here are some migrations tips"
        class="SidebarChevron m-0 no-zoom"
        height="14px"
        src="/images/chevron_blue.svg"
        width="14px">
    </a>
  {% endif %}

  <div class="align-stretch d-flex flex-column flex-lg-row flex-nowrap gap-6 gap-lg-8 justify-content-between mt-8 mt-lg-13 ctas__cards">
    {% for item in component.items %}
      <a
        class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
        href="{{ item.href }}"
        title="{{ item.badge }} - {{ item.text }}">
        <span class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase">{{ item.badge }}</span>
        <h3 class="fs-10 fw-bold lh-base m-0 mt-4">{{ item.text }}</h3>
      </a>
    {% endfor %}
  </div>
</section>
