{% assign component = include.component %}
{% assign media = component.media %}

<div class="feature-container flex-row-reverse container">
  <div>
    <h2>{{component.headline}}</h2>
    <p>{{component.subheading}}</p>

    {% if component.list-items %}
      <ul class="checklist-outline">
        {% for item in component.list-items %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div>
    {% if media.type == 'image' %}
      <img src="{{component.media.src}}" alt="{{component.media.alt}}" loading="lazy" />
    {% elsif component.media.type == 'youtube' %}
      <iframe width="100%" height="315" src="{{ component.media.src }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    {% elsif component.media.type == 'video' %}
      {% include video-player.html id=media.id autoplay="true" poster=media.poster source_mp4=media.source_mp4 source_webm=media.source_webm %}
    {% endif %}

    {% if component.left-hand-list-items %}
      <ul class="checklist-outline">
        {% for item in component.left-hand-list-items %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>


