{% assign component = include.component %}

<section class="feature-container background-color-both-sides container landing-page__feature-and-rolling-testimonial">
  <div>
    <h2>{{ component.headline }}</h2>
    <p>{{ component.subheading }}</p>
    {% if component.text-before-list %}
    <p>
      <b>{{ component.text-before-list }}</b>
    </p>
    {% endif %}
    {% if component.list-items %}
      <ul class="checklist-outline">
        {% for list-item in component.list-items %}
          <li>{{ list-item }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="client-reviews">
    <div class="review-card-container">
      <div class="flex flex-column review-card-container">
        <div class="review-card-absolute-container px-8">
          {% for review in site.data.reviews %}
            <div class="review-card p-6 mb-6">
              <p class="review-quote">{{ review.quote }}</p>
              <div class="flex flex-row">
                <div class="review-headshot rounded-circle">
                  <img alt="review headshot" src="{{ review.headshot }}" loading="lazy" />
                </div>
                <div class="review-logo rounded-circle">
                  <img alt="review logo" src="{{ review.logo }}" loading="lazy" />
                </div>
                <div class="flex flex-column justify-content-around flex-grow-1">
                  <div class="review-name">{{ review.name }}</div>
                  <div class="review-title">{{ review.title }}, {{ review.company }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="review-card-absolute-container secondary-animation px-8">
          {% for review in site.data.reviews %}
            <div class="review-card p-6 drop-shadow mb-6">
              <p class="review-quote">{{ review.quote }}</p>
              <div class="flex flex-row">
                <div class="review-headshot rounded-circle">
                  <img alt="review headshot" src="{{ review.headshot }}" loading="lazy" />
                </div>
                <div class="review-logo rounded-circle">
                  <img alt="review logo" src="{{ review.logo }}" loading="lazy" />
                </div>
                <div class="flex flex-column justify-content-around">
                  <div class="review-name">{{ review.name }}</div>
                  <div class="review-title">{{ review.title }}, {{ review.company }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
