{% assign component = include.component %}
{% assign left = include.component.left-checklist %}
{% assign right = include.component.right-checklist %}

<div class="feature-container container two-checklists">
  <div>
    <h2>{{left.headline}}</h2>
    <p>{{left.subheading}}</p>

    {% if left.list-items %}
      <ul class="checklist-outline">
        {% for item in left.list-items %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div>
    <h2>{{right.headline}}</h2>
    <p>{{right.subheading}}</p>

    {% if right.list-items %}
      <ul class="checklist-outline">
        {% for item in right.list-items %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>


