<div class="learn__article__nav__container {% unless previous_page and next_page %}one-nav{% endunless %}">
  {% if previous_page %}
    <a href="{{previous_page.url}}" class="learn__article__nav previous">
      <div class="learn__article__nav__icon">
        {% include svg-icons/arrow-left.html %}
      </div>
      <div>
        <h5>Previous</h5>
        <h4>{{ previous_page.name }}</h4>
      </div>
    </a>
  {% else %}
    <div></div>
  {% endif %}

  {% if next_page %}
    <a href="{{next_page.url}}" class="learn__article__nav next">
      <div>
        <h5>Next</h5>
        <h4>{{ next_page.name }}</h4>
      </div>
      <div class="learn__article__nav__icon">
        {% include svg-icons/arrow-right.html %}
      </div>
    </a>
  {% endif %}
</div>
