<div class="bootstrap">
  <nav style="--bs-breadcrumb-divider: url('/images/chevron_blue_right.svg');" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item m-0 d-flex align-items-baseline">
        <a href="/learn/">Learn</a>
      </li>

      {% if track %}
        <li class="breadcrumb-item m-0 d-flex align-items-baseline">
          <a href="/learn/{{category.slug}}/{{track.slug}}">
            {{track.name}}
          </a>
        </li>
      {% endif %}

      {% if course %}
        {% if lesson %}
          <li class="breadcrumb-item m-0 d-flex align-items-baseline">
            <a href="/learn/{{category.slug}}/{{track.slug}}/{{course.slug}}">
              {{course.name}}
            </a>
          </li>
        {% endif %}
      {% endif %}
    </ol>
  </nav>
</div>
