{% assign cleanPageURL = page.url | replace: '/index' '' %}

{% for category in include.categories %}
  <h5>{{category.name}}</h5>

  <ul>
    {% for track in category.pages %}
      {% assign shouldBeExpanded = false %}

      {% if cleanPageURL == track.url %}
        {% assign shouldBeExpanded = true %}
      {% endif %}

      {% for course in track.pages %}
        {% if cleanPageURL == course.url %}
          {% assign shouldBeExpanded = true %}
        {% endif %}

        {% for lesson in course.pages %}
          {% if cleanPageURL == lesson.url %}
            {% assign shouldBeExpanded = true %}
          {% endif %}

          {% for section in lesson.pages %}
            {% if cleanPageURL == section.url %}
              {% assign shouldBeExpanded = true %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endfor %}

      {% if track.navName %}
        {% assign track_name = track.navName %}
      {% else %}
        {% assign track_name = track.name %}
      {% endif %}

      <li class="{% if shouldBeExpanded == true %}expanded{% endif %}">
        <a
            href="{{track.url}}"
          class="{% if cleanPageURL == track.url %}selected{% endif %}"
        >
        {{track_name}}

          {% if track.pages.size > 0 %}
            <div>
              {% include svg-icons/chevron.html %}
            </div>
          {% endif %}
        </a>

        {% if track.pages %}
          <ul>
            {% for course in track.pages %}
              {% assign shouldBeExpanded = false %}

              {% for lesson in course.pages %}
                {% if cleanPageURL == lesson.url %}
                  {% assign shouldBeExpanded = true %}
                {% endif %}

                {% for section in lesson.pages %}
                  {% if cleanPageURL == section.url %}
                    {% assign shouldBeExpanded = true %}
                  {% endif %}
                {% endfor %}
              {% endfor %}

              {% if course.navName %}
                {% assign course_name = course.navName %}
              {% else %}
                {% assign course_name = course.name %}
              {% endif %}

              <li class="{% if shouldBeExpanded == true %}expanded{% endif %}">
                <a
                  href="{{course.url}}"
                  class="{% if cleanPageURL == course.url %}selected{% endif %}"
                >
                  {{course_name}}

                  {% if course.pages.size > 0 %}
                    <div>
                      {% include svg-icons/chevron.html %}
                    </div>
                  {% endif %}
                </a>
                {% if course.pages %}
                  <ul>
                    {% for lesson in course.pages %}
                      {% assign shouldBeExpanded = false %}

                      {% for section in lesson.pages %}
                        {% if cleanPageURL == section.url %}
                          {% assign shouldBeExpanded = true %}
                        {% endif %}
                      {% endfor %}

                      {% if lesson.navName %}
                        {% assign lesson_name =lesson.navName %}
                      {% else %}
                        {% assign lesson_name = lesson.name %}
                      {% endif %}
                      <li class="{% if shouldBeExpanded == true %}expanded{% endif %}">
                        <a
                          href="{{lesson.url}}"
                          class="{% if cleanPageURL == lesson.url %}selected{% endif %}"
                        >
                          {{lesson_name}}

                          {% if lesson.pages.size > 0 %}
                            <div>
                              {% include svg-icons/chevron.html %}
                            </div>
                          {% endif %}
                        </a>
                        {% if lesson.pages %}
                          <ul>
                            {% for section in lesson.pages %}
                              {% if section.navName %}
                                {% assign section_name = section.navName %}
                              {% else %}
                                {% assign section_name = section.name %}
                              {% endif %}
                              <li>
                                <a
                                  href="{{section.url}}"
                                  class="{% if cleanPageURL == section.url %}selected{% endif %}"
                                >
                                  {{section_name}}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}
