{% assign cleanPageURL = page.url | replace: '/index' '' %}

{% for category in include.categories %}
  <h5>{{category.name}}</h5>

  <ul>
    {% for track in category.pages %}
      {% assign shouldBeExpanded = false %}

      {% if cleanPageURL == track.url %}
        {% assign shouldBeExpanded = true %}
      {% endif %}

      {% for course in track.pages %}
        {% if cleanPageURL == course.url %}
          {% assign shouldBeExpanded = true %}
        {% endif %}

        {% for lesson in course.pages %}
          {% if cleanPageURL == lesson.url %}
            {% assign shouldBeExpanded = true %}
          {% endif %}
        {% endfor %}
      {% endfor %}

      <li class="{% if shouldBeExpanded == true %}expanded{% endif %}">
        <a
            href="{{track.url}}"
          class="{% if cleanPageURL == track.url %}selected{% endif %}"
        >
        {{track.name}}

          {% if track.pages.size > 0 %}
            <div>
              {% include svg-icons/chevron.html %}
            </div>
          {% endif %}
        </a>

        {% if track.pages %}
          <ul>
            {% for course in track.pages %}
              {% assign shouldBeExpanded = false %}

              {% for lesson in course.pages %}
                {% if cleanPageURL == lesson.url %}
                  {% assign shouldBeExpanded = true %}
                {% endif %}
              {% endfor %}

              <li class="{% if shouldBeExpanded == true %}expanded{% endif %}">
                <a
                  href="{{course.url}}"
                  class="{% if cleanPageURL == course.url %}selected{% endif %}"
                >
                  {{course.name}}

                  {% if course.pages.size > 0 %}
                    <div>
                      {% include svg-icons/chevron.html %}
                    </div>
                  {% endif %}
                </a>
                {% if course.pages %}
                  <ul>
                    {% for lesson in course.pages %}
                      <li>
                        <a
                          href="{{lesson.url}}"
                          class="{% if cleanPageURL == lesson.url %}selected{% endif %}"
                        >
                          {{lesson.name}}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}
