{% assign path = page.path | replace: '_', '/' | replace: '/index.md', '' |
replace: '.md', '' %} {% for category in site.data.learn.categories %} {% for
track in category.pages %} {% if path == track.url %} {% assign category =
category %} {% assign track = track %} {% assign article = track %} {% endif %}
{% for course in track.pages %} {% if path == course.url %} {% assign category =
category %} {% assign track = track %} {% assign course = course %} {% assign
article = course %} {% endif %} {% for lesson in course.pages %} {% if path ==
lesson.url %} {% assign category = category %} {% assign track = track %} {%
assign course = course %} {% assign lesson = lesson %} {% assign article =
lesson %} {% endif %} {% endfor %} {% endfor %} {% endfor %} {% endfor %} {%
comment %} Determine previous and next pages for navigation {% endcomment %} {%
if lesson %} {% assign parent_level = course %} {% else if course %} {% assign
parent_level = track %} {% endif %} {% for sibling in parent_level.pages %} {%
if path == sibling.url %} {% assign page_index_in_parent_level = forloop.index |
minus: 1 %} {% endif %} {% endfor %} {% if page_index_in_parent_level > 0 %} {%
assign previous_index = page_index_in_parent_level | minus: 1 %} {% assign
previous_page = parent_level.pages[previous_index] %} {% endif %} {% if
page_index_in_parent_level < parent_level.pages.size | minus: 1 %} {% assign
next_index = page_index_in_parent_level | plus: 1 %} {% assign next_page =
parent_level.pages[next_index] %} {% endif %} {% assign image_social =
article.imageSocial | default:
"/workspaces/metabase.github.io/images/learn/default-learn-og.png" %}
