{% comment %}
This template is used on the /_learn/index.html home page.
Each section should show up to 6 links to articles.
If there are more than 6 articles, it adds a "more" link. 
{% endcomment %}

{% if include.section.pages.first.pages %}
  {% assign section = include.section.pages.first %}
{% else %}
  {% assign section = include.section %}
{% endif %}

{% assign total_pages = 0 %}
{% for page in section.pages %}
  {% if page.pages %}
    {% assign total_pages = total_pages | plus: page.pages.size %}
  {% else %}
    {% assign total_pages = total_pages | plus: 1 %}
  {% endif %}
{% endfor %}

<div>
  <div>
    <h4><a href="{{include.section.url}}">{{include.section.name}}</a></h4>
    <p>{{include.section.summary | default: "We need a summary here"}}</p>

    {% assign displayed_pages = 0 %}
    {% for page in section.pages %}
      {% if page.pages %}
        {% for subPage in page.pages %}
          {% if displayed_pages < 6 %}
            <a href="{{subPage.url}}" {% if displayed_pages == 5 %}class="no-border-bottom"{% endif %}>
              <span>{{subPage.name}}</span>
              {% assign page_for_read_time = site.learn | find: "url", subPage.url %}
              <span>{{ page_for_read_time.content | number_of_words | divided_by: 238}} min</span>
            </a>
            {% assign displayed_pages = displayed_pages | plus: 1 %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% if displayed_pages < 6 %}
          <a href="{{page.url}}" {% if displayed_pages == 5 %}class="no-border-bottom"{% endif %}>
            <span>{{page.name}}</span>
            {% assign page_for_read_time = site.learn | find: "url", page.url %}
            <span>{{ page_for_read_time.content | number_of_words | divided_by: 238}} min</span>
          </a>
          {% assign displayed_pages = displayed_pages | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if total_pages > 6 %}
      <a href="{{include.section.url}}" class="more">
        {{ total_pages | minus: 6 }} more
        {% include svg-icons/chevron.html %}
      </a>
    {% endif %}
  </div>
  <div style="background-image: url({{section.image_large}})">
  </div>
</div>
