<div class="top-bar">
  <div>
    {% if include.show_breadcrumb %}
      <div class="learn-breadcrumb-trail">
        {% if include.domain == "docs" %}
          {% include docs_breadcrumb.html %}
        {% else %}
          {% unless page.url contains "/search"  %}
            {% include learn/breadcrumbs.html %}
          {% endunless %}
        {% endif %}
      </div>
    {% else %}
      {% include docs-learn-toggler.html domain=include.domain %}
    {% endif %}
  </div>

  <div>
    {% if include.domain == "docs" %}
      {% include docs_version.html %}
    {% endif %}

    <a href="/releases" class="whats-new">
      {% include svg-icons/stars.html %}
      What’s new
    </a>

    {% include learn/search-input.html domain=include.domain %}
  </div>
</div>
