<div class="embedding-page__header-container embedding-page__header-container--with-form">
  <div class="container">
    <div class="row align-items-start pt-13 pb-3">
      <div class="col-12 col-lg-6 embedding-page__header__content-col">
        <header class="embedding-page__header embedding-page__header--with-form">
          <span class="align-items-center blue-60 d-inline-flex flex-row embedding-page__header__icon">
            {% include svg-icons/embedded-analytics-light-blue-bg.html %}
            <span><b>Embedded Analytics</b></span>
          </span>
          <h1>Get in-product reporting in days, not sprints</h1>
          <p class="embedding-page__tagline">Embed customizable, flexible, and scalable analytics in a fraction of the time, cost, and friction. Get to proof of concept super fast.</p>

          <p class="mt-3 embedding-page__header__trusted-by">{% include trusted-by.html %}</p>

          <div class="customer-logos-container">
            {% include customer-logos.html group="home" %}
          </div>
        </header>
      </div>
      <div class="col-12 col-lg-6 embedding-page__header__form-col mt-6 mt-lg-0">
        <h2 class="embedding-page__header-form-title">Talk to our sales team</h2>
        <div class="embedding-page__header-form-wrapper">
          <div class="embedding-page__header-form" data-fillout-id="jgheZPmqQuus" data-fillout-embed-type="standard" data-fillout-inherit-parameters data-fillout-dynamic-resize></div>
          <script src="https://server.fillout.com/embed/v1/"></script>
        </div>
      </div>
    </div>
  </div>
</div>
