.badge {
  background-color: $blue-90;
  border-radius: 4px;
  color: $blue-60;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 6px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:hover {
    background-color: $blue-85;
    color: $blue-40;
  }
}
