.cards-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 96px;
  z-index: 3;

  &.small-margin-top {
    margin-top: 36px;
  }

  &.two-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr;
    }

    .card {
      width: 100%;
    }
  }

  .card {
    background: white;
    border: 1px solid $blue-90;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    padding: 24px;
    text-align: left;
    width: 33%;

    &.no-icon {
      h4 {
        margin-top: 0;
      }
    }

    h4 {
      color: $neutral-40;
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      margin-top: 28px;
    }

    h5 {
      color: $neutral-60;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      margin: 24px 0 4px;

      @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    h5 + h4 {
      margin-top: 0;
    }

    p {
      color: $neutral-60;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
    }

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
}
