.carousel,
.carousel__slides {
  height: 100%;
  margin: auto;
  position: relative;
  width: 100%;
}

.carousel {
  cursor: pointer;
  height: 100%;
  user-select: none;

  &.bg-neutral-98-fade {
    &::before {
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(250, 251, 254, 1) 90%);
    }

    &::after {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(250, 251, 254, 1) 90%);
    }
  }

  &::before,
  &::after {
    bottom: 0;
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 12em;
    z-index: 2;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &::before {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
    left: 0;
  }

  &::after {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
    right: 0;
  }

  &__slides {
    display: flex;
    min-height: 360px;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      min-height: 270px;
    }
  }

  &__slide {
    animation: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
    animation-fill-mode: forwards;
    height: 100%;
    left: 0;
    margin: auto;
    max-width: 552px;
    opacity: 0;
    padding: 0 2rem;
    position: absolute;
    right: 0;
    transition: 1s;
    width: 100%;
    z-index: 1;

    &.carousel-preload {
      transition: none !important;
    }

    &.carousel__slide--current {
      opacity: 1;
      transform: scale(1);
      z-index: 2;
    }

    &.carousel__slide--prev {
      left: -85%;
      opacity: 0.5;
      transform: scale(0.7);

      @include media-breakpoint-down(xxl) {
        left: -100%;
      }

      @include media-breakpoint-down(xl) {
        left: -200%;
        opacity: 0;
      }

      @include media-breakpoint-down(sm) {
        min-height: 270px;
      }
    }

    &.carousel__slide--next {
      opacity: 0.5;
      right: -85%;
      transform: scale(0.7);

      @include media-breakpoint-down(xxl) {
        right: -100%;
      }

      @include media-breakpoint-down(xl) {
        opacity: 0;
        right: -200%;
      }
    }

    .drop-shadow {
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    }

    .testimonial {
      &__headshot-container {
        border: 2px solid white;
        box-sizing: border-box;
        height: 3rem;
        left: 0.5rem;
        overflow: hidden;
        width: 3rem;
      }

      &__headshot {
        height: 100%;
        width: 100%;
      }

      &__logo {
        bottom: 0;
        height: 3rem;
        width: 3rem;
      }

      &__link {
        left: 0;
        margin: 0 auto;
        right: 0;
        width: 100%;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    left: 0;
    padding: 20px 0;
    width: 100%;

    &--button {
      background: white;
      border: 2px solid #f1f2f4;
      box-sizing: border-box;
      height: 2rem;
      transition: 0.3s;
      width: 2rem;

      &:first-child {
        margin-right: 8px;
      }

      &:hover {
        background: #f1f2f4;
        border: 2px solid #5a6072;
      }

      &:disabled {
        cursor: pointer;
      }
    }
  }
}

@keyframes right-in {
  from {
    opacity: 0;
    transform: translateX(200%) scale(0.7);
  }

  to {
    opacity: 0.5;
    transform: translateX(0%) scale(0.7);
  }
}

@keyframes left-in {
  from {
    opacity: 0;
    transform: translateX(-200%) scale(0.7);
  }

  to {
    opacity: 0.5;
    transform: translateX(0%) scale(0.7);
  }
}

@keyframes right-out {
  from {
    opacity: 0.5;
    transform: translateX(0%) scale(0.7);
  }

  to {
    opacity: 0;
    transform: translateX(200%) scale(0.7);
  }
}

@keyframes left-out {
  from {
    opacity: 0.5;
    transform: translateX(0%) scale(0.7);
  }

  to {
    opacity: 0;
    transform: translateX(-200%) scale(0.7);
  }
}

// @include media-breakpoint-down(xl) {
//   @keyframes right-in {
//     from { opacity: 0; }
//     to { opacity: 0; }
//   }

//   @keyframes left-in {
//     from { opacity: 0; }
//     to { opacity: 0; }
//   }

//   @keyframes right-out {
//     from { opacity: 0; }
//     to { opacity: 0; }
//   }

//   @keyframes left-out {
//     from { opacity: 0; }
//     to { opacity: 0; }
//   }
// }
