.code-embedding {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;

  &__nav {
    border-bottom: 1px solid $blue-40;
    width: 100%;
  }

  &__button {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    color: $neutral-white;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4286;
    opacity: 1;
    text-align: center;
    transition: color 200ms, opacity 200ms;
    user-select: none;

    &:hover,
    &:focus {
      opacity: 0.75;
    }

    &:disabled {
      background-color: $blue-40;
      cursor: default;
      opacity: 1;
      pointer-events: none;
    }
  }

  // custom code for React Syntax Highlighter

  &__snippet {
    flex: 1 0 auto;
    position: relative;
    width: 100%;

    // container
    .language-javascript,
    .language-ruby,
    .language-python,
    .language-clojure {
      max-width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 1.5rem;
      position: relative;
    }

    // line number
    .linenumber {
      color: $blue-40;
      left: 0;
      position: sticky;
      top: 0;

      &::before {
        background-color: $blue-25;
        bottom: 0;
        box-shadow: 1.1rem 0 0.75rem 0.25rem $blue-25;
        content: "";
        left: -1.5rem;
        position: absolute;
        top: 0;
        width: 2.75rem;
        z-index: 1;
      }

      & > span {
        position: relative;
        z-index: 2;
      }
    }
  }
}
