.comparison-table {
  @include shadow-xs;

  border: 1px solid $blue-90;
  border-radius: 24px;
  margin: 48px 0 64px;
  max-width: 600px;
  padding: 28px 12px 28px 20px;
  width: 100%;

  th {
    letter-spacing: 0.1rem;
    padding-top: 10px;
    text-transform: uppercase;

    span {
      @include shadow-xs;

      border-radius: 8px;
      font-size: 11px;
      padding: 8px 12px;
      text-wrap: nowrap;
      white-space: nowrap;

      &.oss {
        background-color: $yellow-95;
        border: 1px solid #f7be0833;
        color: $yellow-50;
      }

      &.starter {
        background-color: $green-90;
        border: 1px solid #80b94633;
        color: $green-50;
      }

      &.pro {
        background-color: $blue-95;
        border: 1px solid $blue-85;
        color: $blue-50;
      }

      &.enterprise {
        background-color: $purple-95;
        border: 1px solid #9e9fc74d;
        color: $purple-50;
      }

      &.gray {
        background-color: $neutral-98;
        border: 1px solid $neutral-95;
        color: $neutral-60;
      }

      &.blue {
        background-color: $neutral-98;
        border: 1px solid $blue-90;
        color: $blue-60;
      }

      @include media-breakpoint-down(lg) {
        letter-spacing: 0;
      }
    }
  }

  td {
    border-right: 1px solid $blue-90;
    color: $neutral-40;
    font-size: 12px;
    font-weight: 700;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      border-right: none;
    }

    img {
      position: relative;
      top: -5px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 10px 0;

    th span {
      font-size: 10px;
      padding: 6px 8px;
    }
  }
}
