@use "sass:math";

$ctas-cards-spacing-lg: 32px;

.ctas {
  &__cards {
    &__card {
      min-width: 100%;
      transition: border-color 200ms;

      @include media-breakpoint-up(sm) {
        min-width: calc(math.div(100%, 3) - math.div($ctas-cards-spacing-lg * 2, 3));
      }

      &:hover,
      &:focus {
        border-color: $blue-75;
      }

      span {
        border: 1px solid $blue-60;
        letter-spacing: 1.2px;
      }
    }
  }
}
