.customer-logos-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: calc(100vw - 40px);

  @include media-breakpoint-down(lg) {
    gap: 8px;
  }

  img {
    flex-grow: 1;
    height: 38px;
    margin-bottom: 10px;
    max-width: 135px;

    // flex crazyness, otherwise images will
    // outgrow the container
    min-width: 1px;
    object-fit: contain;
    opacity: 0.6;
    padding: 0 0.5rem;
    transition: all 0.2s ease-in-out;
    width: auto;

    @include media-breakpoint-down(xl) {
      height: 32px;
      padding: 0;
      width: auto;
    }

    @include media-breakpoint-up(lg) {
      height: 38px;
      width: auto;
    }
  }
}

a.customer-logos-container {
  &:hover {
    img {
      opacity: 1;
    }
  }
}
