.data-sources-marquee-no-names {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .inner-marquee {
    display: flex;

    a {
      @include shadow-sm;

      background-color: white;
      border-radius: 50%;
      display: inline-block;
      flex-shrink: 0;
      margin-right: 8px;
      padding: 20px;
      transform: scale(1);
      transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

      &:hover {
        @include shadow-xl;

        transform: scale(1.05);
      }

      img {
        height: 32px;
        width: 32px;
      }
    }
  }
}
