.feature-container {
  display: flex;
  margin: 40px auto 140px;

  a {
    align-items: center;
    color: $blue-60;
    display: flex;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 28px;
    transition: color 0.15s ease;

    &.btn {
      font-size: 16px;
    }

    &:hover {
      color: $blue-40;

      img path {
        stroke: $blue-40;
      }
    }

    img.chevron-blue-right {
      height: 26px;
      left: 4px;
      position: relative;
      top: 1px;
    }
  }

  p > a {
    display: inline;
    font-size: inherit;
  }

  > div {
    display: flex;
    flex: 1 50%;
    flex-direction: column;
    justify-content: center;
    padding-left: 72px;
    padding-right: 72px;

    > img {
      margin: 0;
      width: 100%;
    }
  }

  > div:first-child {
    padding-left: 0;
    width: 50%;
  }

  &.two-checklists {
    > div:last-child {
      align-items: flex-start;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
      display: flex;
      justify-content: start;
      text-align: left;

      ul {
        margin: 0;
      }
    }
  }

  > div:last-child {
    align-items: center;
    background-color: $neutral-98;
    border: 1px solid $blue-90;
    border-radius: 24px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    overflow: hidden;
    padding: 0;

    @include media-breakpoint-down(lg) {
      padding-top: 44px;
    }

    p:empty {
      margin-bottom: 31px;
    }

    ul {
      margin: 32px 24px;
    }
  }

  > div.no-background {
    background-color: $white;
    border: none;
    box-shadow: none;
  }

  &.flex-row-reverse {
    > div:first-child {
      padding-left: 72px;
    }
  }

  div.badge {
    background-color: $blue-90;
    border: 1px solid $blue-85;
    border-radius: 8px;
    color: $blue-60;
    margin-bottom: 16px;
    padding: 8px;
    place-self: flex-start;
    text-transform: uppercase;
  }

  ul.checklist-outline {
    margin-bottom: 0;

    li {
      font-size: 18px;
      line-height: 26px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: inline;
      }
    }
  }

  .feature-title {
    align-items: center;
    color: $blue-60;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    gap: 10px;
    margin-bottom: 32px;
    margin-top: 28px;
  }

  &.background-color-both-sides {
    background-color: $neutral-98;
    border: 1px solid $blue-90;
    border-radius: 24px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    overflow: hidden;

    > div:first-child {
      padding-bottom: 72px;
      padding-left: 72px;
      padding-top: 72px;
    }

    > div:last-child {
      border: none;
      border-radius: 0;
    }

    &.flex-row-reverse {
      > div:first-child {
        padding-left: 72px;
      }

      > div:last-child {
        padding-left: 0;
      }
    }
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  p {
    font-size: 20px;
    line-height: 28px;
  }
}

@include media-breakpoint-down(lg) {
  .feature-container {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 80px;

    > div:first-child {
      padding: 0 8px;
      width: 100%;
    }

    &.flex-row-reverse {
      flex-direction: column !important;

      > div:first-child {
        padding-left: 8px;
      }
    }

    &.background-color-both-sides {
      padding: 0;

      > div:first-child {
        padding: 30px 28px 0;
      }

      > div:last-child {
        padding-left: 0;
        padding-right: 0;
      }

      &.flex-row-reverse {
        > div:first-child {
          padding-left: 28px;
          padding-top: 28px;

          div.feature-title {
            margin-top: 0;
          }
        }

        > div:last-child {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 18px;
      line-height: 26px;
    }

    ul.checklist-outline {
      li {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
