.body-footer {
  margin: 0 auto;
  max-width: 1280px;

  // padding-top: 120px;
  padding-top: 80px;
  width: 100%;

  > form {
    border-bottom: 1px solid $neutral-95;
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
    padding-bottom: 36px;

    h5 {
      color: $neutral-40;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      text-align: left;
    }

    p {
      color: $neutral-60;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .mc-field-group {
      margin-top: 8px;

      > div:first-child {
        display: flex;
        gap: 12px;
        height: 50px;
      }
    }

    .response,
    div.mce_inline_error {
      color: $neutral-40;
      font-size: 14px;
      margin-top: 8px;
      text-align: left;
    }

    div.mce_inline_error {
      color: $red-60;
    }

    input#mce-EMAIL {
      color: $neutral-60;
      width: 360px;

      &::placeholder {
        color: $neutral-60;
      }
    }
  }

  > div.links {
    display: flex;
    gap: 10px;

    > div {
      display: flex;
      flex: 1 20%;
      flex-direction: column;

      a {
        align-items: center;
        color: $neutral-60;
        cursor: pointer;
        display: flex;
        font-weight: 400;
        line-height: 1.6em;
        margin-bottom: 16px;

        &:hover {
          color: $blue-60;

          .badge {
            background-color: $blue-85;
            color: $blue-40;
          }
        }
      }

      h6 {
        color: $neutral-40;
        font-size: 16px;
        font-weight: 900;
        margin: 16px 0;
      }

      .badge {
        align-items: center;
        background-color: $blue-90;
        border-radius: 4px;
        color: $blue-60;
        display: flex;
        font-size: 12px;
        font-weight: 700;
        height: 20px;
        margin-left: 4px;
        padding: 0 4px;
        transition: 0.2s ease-in-out;
      }
    }
  }

  .footer-logo-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 50px;

    > div {
      align-items: center;
      color: $neutral-60;
      display: flex;
      gap: 12px;

      &:first-child {
        a {
          align-items: center;
          color: $neutral-60;
          display: flex;
          transition: color 0.2s ease-in-out;
        }

        a:hover {
          color: $neutral-40;
        }
      }

      &:last-child {
        gap: 24px;

        path {
          transition: fill 0.2s ease-in-out;
        }

        a:hover path {
          fill: $neutral-40;
        }
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    max-width: 1100px;
  }

  @include media-breakpoint-down(xl) {
    max-width: 920px;
  }

  @include media-breakpoint-down(lg) {
    max-width: 680px;

    form {
      flex-direction: column;
    }
  }

  @include media-breakpoint-down(md) {
    max-width: 520px;
    padding: 80px 30px 0;

    > div.links {
      flex: 1 50%;
      flex-wrap: wrap;
      gap: 0;

      > div {
        flex: 0 0 auto;
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }
}
