.full-width-centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  div {
    &.cards-container {
      margin-top: 48px;
    }
  }

  h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 auto 24px;
    max-width: 800px;
  }

  p {
    color: $neutral-40;
    font-size: 18px;
    line-height: 32px;
    max-width: 600px;

    &.list-header {
      font-weight: 700;
      margin: 40px 0 0;
    }

    img.curved-arrow {
      margin-right: 5px;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-bottom: 40px;

    h3 {
      font-size: 30px;
    }

    p {
      text-align: left;
    }
  }
}
