.github-button {
  @include shadow-sm;

  align-items: center;
  background-color: $blue-60;
  border: 8px solid #fff;
  border-radius: 36px;
  color: white !important;
  display: flex;
  gap: 14px;
  padding: 12px 20px 12px 18px;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, transform 0.2s ease-in-out !important;
  will-change: transform;

  &:hover {
    @include shadow-xl;

    background-color: $blue-40;
    color: white !important;
    transform: scale(1.05);

    svg:first-child {
      stroke: white;
    }
  }

  span {
    font-size: 20px;
    min-width: 41px;
  }

  svg:first-child {
    height: 34px;
    margin: 0 -10px 0 -2px;
    width: 34px;
  }

  svg:last-child {
    fill: white;
    height: 30px;
    width: 30px;
  }
}
