.hero-container {
  position: relative;
  width: 100%;

  &::after {
    background: linear-gradient(to bottom, $blue-95, white 30%);
    bottom: 0;
    content: "";
    height: 32%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  .hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 28px 96px;
    position: relative;
    width: 100%;

    .cards-container,
    .logos {
      max-width: 1320px;
      z-index: 4;
    }

    .trusted-by {
      z-index: 4;
    }

    h1 {
      font-size: 48px;
    }

    h6 {
      border-radius: 8px;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: 1px;
      margin-top: 96px;
      padding: 10px;
      text-transform: uppercase;
    }

    p.subtitle {
      color: $neutral-40;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      margin: 0 20px;
      max-width: 592px;
    }

    @include media-breakpoint-down(lg) {
      padding-bottom: 40px;

      h1 {
        font-size: 30px;
      }

      h6 {
        margin-top: 62px;
      }

      p.subtitle {
        font-size: 18px;
      }
    }
  }
}
