.hoverable-toggler {
  border: 1px solid $blue-90;
  border-radius: 8px;
  display: flex;
  gap: 4px;
  margin: 0 0 32px;
  padding: 4px;
  position: relative;

  > a > span {
    align-items: center;
    display: flex;
    gap: 6px;
    padding: 0 4px;
  }

  &.hoverable {
    div.hover-highlight {
      background-color: $blue-95;
      transition: left 0.3s ease, margin-left 0.3s ease, width 0.3s ease;
    }

    a.active {
      background-color: transparent;
    }

    a {
      align-items: center;
      background-color: transparent !important;
      justify-content: center;
      text-align: center;
    }
  }

  &.has-3-links {
    div.hover-highlight {
      width: calc(33.3333% - 8px);

      &.link-1 {
        left: calc(33.333% + 4px);
      }

      &.link-2 {
        left: calc(66.666% + 4px);
      }
    }
  }

  &.has-4-links {
    div.hover-highlight {
      width: calc(25% - 8px);

      &.link-1 {
        left: calc(25% + 4px);
      }

      &.link-2 {
        left: calc(50% + 4px);
      }

      &.link-3 {
        left: calc(75% + 4px);
      }
    }
  }

  a {
    align-items: center;
    border-radius: 4px;
    color: $neutral-80 !important;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    gap: 8px;
    padding: 4px 8px;
    transition: background-color 0.3s ease, color 0.3s ease !important;
    width: 50%;
    z-index: 1;

    @media screen and (max-width: 991px) {
      gap: 4px;
    }

    &:hover {
      color: $neutral-60 !important;

      svg path {
        stroke: $neutral-60;
      }
    }

    &.active {
      background-color: $blue-95;
      color: $blue-60 !important;

      &.transparent-background {
        background-color: transparent;
      }

      &:hover {
        span {
          color: $blue-60;
        }
      }

      svg {
        path {
          stroke: $blue-60;
        }
      }
    }

    span {
      position: relative;
      top: -2px;

      &:hover {
        color: $neutral-60;
      }
    }

    svg {
      position: relative;
      top: 1px;

      path {
        stroke: $neutral-80;
        transition: stroke 0.3s ease;
      }
    }
  }

  div.hover-highlight {
    border-radius: 4px;
    height: calc(100% - 8px);
    left: 4px;
    position: absolute;
    width: calc(50% - 8px);
    z-index: 0;

    &.link-1 {
      left: calc(50% + 4px);
    }
  }
}
