.image {
  max-width: 100%;
  vertical-align: bottom;

  &__img {
    width: 100%;

    // medium image
    &--md {
      display: none;

      // show medium image
      @include media-breakpoint-up(md) {
        display: inline-block;
      }

      // hide default image
      & + .image__img {
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }
  }

  &--wide {
    @include media-breakpoint-up(lg) {
      margin-left: -10%;
      margin-right: -10%;
      max-width: none;
      width: auto;
    }

    @include media-breakpoint-up(xl) {
      margin-left: -15%;
      margin-right: -15%;
    }

    @include media-breakpoint-up(xxl) {
      margin-left: -20%;
      margin-right: -20%;
    }

    & > .image__img + figcaption {
      margin-top: 0.5em;
    }
  }
}
