// Juxtapose library image slider

.juxtapose {
  border-radius: 22px;
  box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.1), 0 8px 8px -4px rgba(16, 24, 40, 0.03);
}

.jx-slider {
  overflow: visible;
}

.jx-knightlab {
  display: none;
}

.jx-control {
  background-color: transparent;
}

.jx-controller {
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px $blue-60;
  height: 50px;
  margin-left: 1px;
  transform: translateX(-50%);
  width: 50px;

  &:hover {
    box-shadow: inset 0 0 0 5px $blue-40;
  }
}

.jx-handle:hover .jx-controller {
  box-shadow: inset 0 0 0 5px $blue-40;
}

.jx-arrow {
  visibility: hidden;
}
