#inkeep {
  background-color: $neutral-98;
  flex: 1;
  height: 40px;

  // the width may vary across platforms due to different shortcut labels (Ctrl+K / ⌘K).
  min-width: 140px;
  position: relative;
  width: auto;
}
