.promote-pro-page-container {
  &.product-index {
    margin: 0 auto;
    max-width: 896px;
    width: 100%;
  }

  &.use-case {
    margin: 40px auto;
    max-width: 1440px;
    width: 80%;
  }
}

.promote-pro-page {
  background-color: $neutral-98;
  border: 1px solid $blue-90;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 32px;

  &.home-page {
    max-width: 83.3333%;
  }

  a {
    background-color: $blue-60;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 18px;
    transition: background-color 0.3s ease !important;

    &:hover {
      background-color: $blue-40;
      color: white;
      transition: background-color 0.3s ease;
    }
  }

  > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:last-child {
      padding-left: 30px;
      width: 230px;

      a {
        margin: 0 0 0 auto;
      }
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }

  h6 {
    background-color: $blue-95;
    border-radius: 8px;
    color: $blue-60;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 10px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 992px) {
  .promote-pro-page-container {
    &.product-index,
    &.use-case {
      padding-left: 32px;
      padding-right: 32px;
      width: 100%;
    }
  }

  .promote-pro-page {
    flex-direction: column;

    &.home-page {
      max-width: 100%;
    }

    > div:last-child {
      padding: 0;
      width: 100%;

      a {
        margin: 0;
      }
    }
  }
}
