#right-hand-newsletter-subscribe-widget {
  background-color: $blue-60;
  background-image: url("/images/subscribe-to-ai-newsletter/subscribe-to-ai-newsletter.svg");
  background-position: 100% calc(100% + 40px);
  border-radius: 12px;

  &.bleed-right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    bottom: 112px;
    max-width: 208px;
    position: fixed;
    right: -208px;
    transition: right 0.3s ease;

    &.newsletter-enter {
      right: 0;
    }
  }
}

#right-hand-newsletter-subscribe-widget .right-hand-newsletter-subscribe-form-container {
  background: linear-gradient(148deg, rgba(80, 158, 227, 1) 42%, rgba(80, 158, 227, 0) 100%);
  border-radius: 12px;
  color: white;
  opacity: 0;
  padding: 12px;
  position: relative;
  transition: opacity 0.3s ease;
  width: 100%;

  &.newsletter-enter {
    opacity: 1;
  }

  &.bleed-right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }

  h5 {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 14px;
    text-align: left;
  }

  h6 {
    color: $blue-85;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    margin-bottom: 2px;
    text-align: left;
  }

  iframe {
    background-color: transparent !important;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    width: 100%;
  }

  p {
    color: white !important;
    font-size: 14px;
    line-height: 22px !important;
    margin-bottom: 16px;
  }

  svg {
    left: -7px;
    position: absolute;
    top: -48px;
  }
}

.feedback-widget-newsletter-ajax-form#mc-embedded-subscribe-form {
  margin: 0;

  input {
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 8px;
    width: 100%;

    &#mce-EMAIL {
      border: 1px solid #73b1e9;
      color: $neutral-60;
      outline: none;
      padding: 8px;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: $blue-40;
      }
    }

    &[type="submit"] {
      background-color: $blue-40;
      color: white;
      font-weight: 700;
      margin-bottom: 0;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $blue-25;
      }
    }
  }

  .response {
    color: white;
    font-size: 14px;
    margin-top: 12px;
  }
}
