.section-with-image {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0 0 3rem;
  padding: 0;
  width: 100%;

  .image {
    border-radius: none;
    box-shadow: none;
    flex: 1 0 auto;
    margin: 0 1.2em 0 0;
    width: 5em;
  }

  h4 {
    font-size: 1.5em;
    margin: 0;
  }

  p {
    margin-top: 0.5em;
  }
}
