.selling-points {
  align-items: center;
  display: flex;
  font-size: 14px;
  gap: 16px;
  justify-content: center;
  margin: 12px auto 0;

  span {
    align-items: center;
    color: $neutral-60;
    display: flex;
    gap: 4px;
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    gap: 8px;
    margin: 20px;
  }
}
