.copied-to-clipboard-wrapper,
.copy-to-clipboard-wrapper {
  display: flex;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 35px;
  transition: opacity 0.2s;
  z-index: 1;

  .caret {
    background-color: $blue-25;
    border-radius: 2px;
    height: 7px;
    position: absolute;
    top: -3px;
    transform: rotate(45deg);
    width: 7px;
  }

  .copied-to-clipboard {
    background-color: $blue-25;
    border-radius: 6px;
    color: #f9fbfc;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding: 9px 8px;
    white-space: nowrap;
  }
}

.copy-to-clipboard-wrapper {
  .caret {
    background-color: $neutral-80;
  }

  .copied-to-clipboard {
    background-color: $neutral-80;
    color: $neutral-white;
  }
}

svg.share-button:hover {
  fill: $blue-60;
}
