.swiper {
  border-radius: 12px;
  height: 440px;
  margin-bottom: 80px;
  width: 100%;

  @include media-breakpoint-down(md) {
    height: 320px;
  }

  .swiper-wrapper {
    height: 400px;

    @include media-breakpoint-down(md) {
      height: 280px;
    }
  }

  .swiper-slide {
    align-items: center;
    display: flex;

    &.youtube > div {
      width: 100%;
    }

    img {
      border-radius: 12px;
      display: block;
      object-fit: cover;
      width: 100%;

      @include media-breakpoint-down(lg) {
        object-fit: contain;
      }
    }
  }

  .swiper-button-prev {
    @include shadow-xs;

    background-color: white;
    background-image: url("/images/chevron_blue_right.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid $blue-90;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    left: 0;
    margin-right: 12px;
    position: relative;
    right: 0;
    top: 6px;
    transform: rotate(180deg);
    width: 24px;

    &::after {
      display: none;
    }
  }

  .swiper-button-next {
    @include shadow-xs;

    background-color: white;
    background-image: url("/images/chevron_blue_right.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid $blue-90;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    left: 0;
    margin-left: 12px;
    position: relative;
    right: 0;
    top: 6px;
    user-select: none;
    width: 24px;

    &::after {
      display: none;
    }
  }

  .swiper-pagination {
    user-select: none;
  }

  .swiper-pagination-bullet {
    background-color: $blue-85;
    height: 12px;
    opacity: 1;
    user-select: none;
    width: 12px;

    &.active {
      background-color: $blue-60;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $blue-60;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 3px;
  }

  iframe {
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    height: auto;
    width: 100%;
  }
}
