.toc {
  position: relative;
}

.table-of-contents {
  left: 0;
  max-width: 14em;
  padding-top: 0.6667rem;
  position: absolute;
  top: 0.5em;

  &__title {
    font-size: 1rem;
    margin: 0 0 0.5rem;
    padding: 0;
  }

  &__text {
    color: #8d93a5;
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
    transition: color 200ms;

    & > a {
      color: inherit;
      font-weight: 400;
      line-height: 1.65;
    }
  }

  &__list {
    display: inline-block;
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    width: auto;

    &__item {
      margin: 1rem 0 0;
      padding: 0;

      &:first-child {
        margin-top: 0;
      }

      .table-of-contents__list {
        border-left: 1px solid #e1e3e8;
        display: none;
        margin-left: 1em;
        margin-top: 0.5em;
        padding-left: 1em;
      }

      &.selected-parent > .table-of-contents__text {
        font-weight: bold;
      }

      &.selected > .table-of-contents__text {
        color: #5a6072;
        font-weight: bold;
      }

      &.selected-parent .table-of-contents__list,
      &.selected .table-of-contents__list {
        display: inline-block;
      }
    }
  }
}
