.testimonial {
  margin: 160px auto;
  max-width: 600px;
  text-align: center;

  p {
    color: $neutral-40;
    font-size: 20px;
    font-style: italic;

    b {
      font-weight: 700;
    }

    &.author {
      color: $neutral-40;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 0;
    }

    &.company {
      color: $neutral-60;
      font-size: 16px;
      font-style: normal;
    }
  }

  @include media-breakpoint-down(lg) {
    margin: 80px auto;

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
