.try-metabase-footer {
  background-color: $neutral-98;
  box-shadow: 1000px 0 0 $neutral-98, -1000px 0 0 $neutral-98;
  padding: 80px 28px 76px;
  position: relative;

  .full-width-centered {
    padding-bottom: 4px;
  }
}

.try-metabase-pro::before {
  background-color: $blue-90;
  box-shadow: 1000px 0 0 $blue-90, -1000px 0 0 $blue-90;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  width: 100%;
}

@include media-breakpoint-down(lg) {
  .try-metabase-footer {
    .full-width-centered {
      p {
        padding-bottom: 10px;
        text-align: center;
      }

      h3 {
        max-width: 330px;
      }

      div {
        gap: 12px;
      }
    }
  }

  .try-metabase-footer::before {
    box-shadow: 270px 0 0 $blue-90, -270px 0 0 $blue-90;
  }
}

.starter-page,
.pro-page,
.enterprise-page {
  .try-metabase-footer {
    padding-bottom: 96px;
  }
}
