.learn #was-this-helpful-widget {
  border-bottom: 1px solid $blue-90;
  display: flex;
  flex-direction: column;
  margin-top: 0 !important;
  overflow: hidden;
  padding: 48px 0 12px;
  position: relative;
  transition: border-top 0.3s ease;

  div#page-feedback {
    align-items: center;
    display: flex;
    gap: 12px;

    h6 {
      color: $neutral-15;
      font-size: 16px;
      margin: 0 20px 0 0;
    }
  }

  div#page-comment {
    margin-top: 40px;

    p {
      color: $neutral-40;
      font-size: 16px;
    }
  }

  button {
    &.vote-button {
      align-items: center;
      border: 1px solid $blue-90;
      border-radius: 8px;
      color: $neutral-60;
      display: flex;
      font-size: 14px;
      font-weight: 700;
      padding: 9px 12px 10px 10px;
      transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;

      &#page-feedback-vote-down {
        svg {
          margin-right: 4px;
        }
      }

      &#page-feedback-vote-up {
        svg {
          position: relative;
          top: 2px;
        }
      }

      svg path {
        stroke: $neutral-60;
        transition: stroke 0.3s ease;
      }

      &.active {
        background-color: $blue-60;
        border-color: $blue-60;
        color: white;

        svg path {
          stroke: white;
        }

        &:hover {
          color: white;

          svg path {
            stroke: white;
          }
        }
      }

      &:hover {
        border-color: $blue-60;
        color: $blue-60;

        svg path {
          stroke: $blue-60;
        }
      }
    }

    &#page-comment-submit {
      background-color: $blue-60;
      border-radius: 6px;
      color: white;
      float: right;
      font-size: 14px;
      font-weight: 700;
      height: auto;
      justify-content: center;
      margin: 0 0 0 auto;
      padding: 12px 16px;

      &:hover {
        background-color: $blue-40;
      }
    }
  }

  form {
    background-color: white;
    border: 1px solid $neutral-95;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    width: 100%;

    textarea {
      border: none;
      color: $neutral-60;
      font-size: 15px;
      padding: 0;

      &:focus {
        border: none;
        outline: none;
      }
    }
  }

  div#page-feedback-email-container {
    color: $neutral-60;
    font-size: 14px;
    margin-top: 12px;
  }

  div#page-feedback-message {
    margin: 40px 0 16px;

    h6 {
      color: $neutral-15;
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  h6 {
    color: $neutral-40;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
  }
}
