<section class="feature-container background-color-both-sides">
  <div>
    <h2>Help from our world-class success team</h2>
    <p>We don&apos;t like to brag, so we&apos;ll let our customers do it for us.</p>
    <p>
      <b>With Pro, you&apos;ll get access to:</b>
    </p>
    <ul class="checklist-outline">
      <li>Support from actual technical experts. We&apos;re all avid Metabase users, so we&apos;ve  been in your shoes.</li>
      <li>Help with whatever your problem is, be it admin troubleshooting or advice on best practices.</li>
      <li>No chatbots, no hold lines, no customer service runaround. Just email us, we&apos;re right here.</li>
    </ul>
  </div>
  <div class="client-reviews">
    <div class="review-card-container">
      <div class="flex flex-column review-card-container">
        <div class="review-card-absolute-container px-8">
          {% for review in site.data.reviews %}
            <div class="review-card p-6 drop-shadow mb-6">
              <p class="review-quote">{{ review.quote }}</p>
              <div class="flex flex-row">
                <div class="review-headshot rounded-circle">
                  <img alt="review headshot" src="{{ review.headshot }}" loading="lazy" />
                </div>
                <div class="review-logo rounded-circle">
                  <img alt="review logo" src="{{ review.logo }}" loading="lazy" />
                </div>
                <div class="flex flex-column justify-content-around flex-grow-1">
                  <div class="review-name">{{ review.name }}</div>
                  <div class="review-title">{{ review.title }}, {{ review.company }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="review-card-absolute-container secondary-animation px-8">
          {% for review in site.data.reviews %}
            <div class="review-card p-6 drop-shadow mb-6">
              <p class="review-quote">{{ review.quote }}</p>
              <div class="flex flex-row">
                <div class="review-headshot rounded-circle">
                  <img alt="review headshot" src="{{ review.headshot }}" loading="lazy" />
                </div>
                <div class="review-logo rounded-circle">
                  <img alt="review logo" src="{{ review.logo }}" loading="lazy" />
                </div>
                <div class="flex flex-column justify-content-around">
                  <div class="review-name">{{ review.name }}</div>
                  <div class="review-title">{{ review.title }}, {{ review.company }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
