<input
  autocomplete="off"
  class="nav-button-input"
  id="docs-nav-button-mobile"
  type="checkbox" />

<label class="nav-button-mobile hover-pointer user-select-none py-6 px-7 d-flex justify-content-between align-items-center" for="docs-nav-button-mobile">
  <span class="h4 m-0">Docs</span>
  {% include svg-icons/main-nav-chevron.svg %}
</label>

<div id="docs-dropdown-mobile">
  <div>
    <a class="menu-link-mobile" href="/docs/latest/">
      {% include svg-icons/book.html color="#509EE3" %}

      <div>
        <span class="menu-link-heading">
          Documentation
        </span>

        <p class="menu-link-description">
          The Metabase manual
        </p>
      </div>
    </a>

    <a class="menu-link-mobile" href="/learn/">
      {% include svg-icons/learn.html %}

      <div>
        <span class="menu-link-heading">
          Learn
        </span>

        <p class="menu-link-description">
          Guides and tutorials
        </p>
      </div>
    </a>
  </div>

  <div>
    <div>
      <span class="menu-heading">Getting Started</span>
      <a href="/learn/metabase-basics/getting-started/index">
        <div>
          {% include svg-icons/gridded-circles/querying.html%}
        </div>
        <div>
          <p>Querying and Dashboards</p>
          <p>Everyone exploring and analyzing data</p>
        </div>
      </a>

      <a href="/learn/metabase-basics/embedding/overview">
        <div>
          {% include svg-icons/gridded-circles/embedding.html%}
        </div>
        <div>
          <p>Embedding </p>
          <p>Developers building in-product analytics</p>
        </div>
      </a>

      <a href="/learn/metabase-basics/administration/administration-and-operation/guide">
        <div>
          {% include svg-icons/gridded-circles/administration.html%}
        </div>
        <div>
          <p>Administration</p>
          <p>People running their company's instance</p>
        </div>
      </a>
    </div>

    <div>
      <span class="menu-heading">Guides</span>

      <a href="/docs/latest/installation-and-operation/installing-metabase">Installing Metabase</a>
      <a href="/docs/latest/databases/connecting">Adding a database</a>
      <a href="/docs/latest/questions/introduction">Asking questions</a>
      <a href="/docs/latest/dashboards/introduction">Creating a dashboard</a>
      <a href="/docs/latest/troubleshooting-guide/">Solving common problems</a>
    </div>
  </div>
</div>
