<input
  autocomplete="off"
  class="nav-button-input"
  id="features-nav-button-mobile"
  type="checkbox" />

<label class="nav-button-mobile hover-pointer user-select-none py-6 px-7 d-flex justify-content-between align-items-center" for="features-nav-button-mobile">
  <span class="h4 m-0">Features</span>
  {% include svg-icons/main-nav-chevron.svg %}
</label>

<div id="features-dropdown-mobile">
  {% include header/mobile/link.html
    title="Embedded analytics SDK"
    href="/product/embedded-analytics-sdk"
    icon-src="embedded-analytics-sdk"
  %}

  {% include header/mobile/link.html
    title="White-label analytics"
    href="/features/white-label-analytics"
    icon-src="white-label"
  %}

  {% include header/mobile/link.html
    title="Analytics dashboards"
    href="/features/analytics-dashboards"
    icon-src="interactive-dashboards"
  %}

  {% include header/mobile/link.html
    title="Drill-through"
    href="/features/drill-through"
    icon-src="magnifying-glass"
  %}

  {% include header/mobile/link.html
    title="Query builder"
    href="/features/query-builder"
    icon-src="cloud-or-self-hosted"
  %}

  {% include header/mobile/link.html
    title="SQL editor"
    href="/features/sql-editor"
    icon-src="rows"
  %}

  {% include header/mobile/link.html
    title="Models"
    href="/features/models"
    icon-src="model"
  %}

  {% include header/mobile/link.html
    title="Permissions"
    href="/features/permissions"
    icon-src="view"
  %}

  {% include header/mobile/link.html
    title="CSV upload"
    href="/product/csv-uploads"
    icon-src="csv-upload"
  %}

  {% include header/mobile/link.html
    title="Sandboxing"
    href="/features/data-sandbox"
    icon-src="sandbox"
  %}

  {% include header/mobile/link.html
    title="Usage analytics"
    href="/features/usage-analytics"
    icon-src="usage-analytics"
  %}

  {% include header/mobile/link.html
    title="Collections"
    href="/features/collections"
    icon-src="layers"
  %}

  <span class="menu-heading mobile">Updates</span>

  {% include header/mobile/link.html
    title="What’s new"
    href="/releases"
    icon-src="stars"
  %}
  {% include header/mobile/link.html
    title="Roadmap"
    href="/roadmap"
    icon-src="map"
  %}
</div>
