<input
  autocomplete="off"
  class="nav-button-input"
  id="product-nav-button-mobile"
  type="checkbox" />

<label class="nav-button-mobile hover-pointer user-select-none py-6 px-7 d-flex justify-content-between align-items-center" for="product-nav-button-mobile">
  <span class="h4 m-0">Product</span>
  {% include svg-icons/main-nav-chevron.svg %}
</label>

<div id="product-dropdown-mobile">
  <div class="button-style-link-container">
    {% include header/link-to-self-service-analytics.html %}
    {% include header/link-to-embedded-analytics.html %}
  </div>

  <span class="menu-heading mobile">Platform</span>

  {% include header/mobile/link.html
    title="Data Sources"
    href="/data-sources/"
    icon-src="data-sources"
  %}

  {% include header/mobile/link.html
    title="Security"
    href="/security"
    icon-src="secure-shield-outline"
  %}

  {% include header/mobile/link.html
    title="Cloud"
    href="/cloud/"
    icon-src="cloud"
  %}

  <span class="menu-heading mobile">Demo</span>

  <a class="menu-footer" href="/demo">
    <div class="menu-footer-text-wrapper">
      {% include svg-icons/play-outline.html width="24" height="24" stroke="#509EE3" %}
      <p>
        Watch 5-minute demo
      </p>
    </div>
  </a>
</div>
