---
layout: default
active: 'community'
---
{% include scroll-progress.html endingElementId="case-study-content" %}
<div class="bootstrap">
    <div class="container pt-4">
        <section class="row d-flex flex-column flex-md-row case-study-detail">
            <aside class="d-lg-block col-lg-3">
                <a class="chevron blue-small-left mb-8 mb-lg-0 fw-bold" href="/case-studies">Back to all Case Studies</a>
            </aside>
            <article id="case-study-content" class="col-12 col-md-8">
                <h1 class="h3 m-0 mb-lg-12">{{ page.title }}</h1>
            </article>
        </section>

        <section class="row d-flex flex-column flex-md-row case-study-detail">
            <aside class="d-lg-block col-lg-3">
                <div class="bg-neutral-99 rounded-3 p-5 pb-6 height-fit-content mb-8">
                    <div style="width: 142px">
                        <img class="w-100 pb-8" src="{{ page.logo_image }}" alt="{{page.company_name}} logo"/>
                    </div>
                    <h5 class="fw-bold neutral-black">Company</h5>
                    <p class="paragraph-5 mb-5">{{ page.summary }}</p>
                    <h5 class="fw-bold neutral-black">Industry</h5>
                    <p class="paragraph-5 mb-5">{{ page.industry }}</p>
                    <h5 class="fw-bold neutral-black">Employees</h5>
                    <p class="paragraph-5 mb-5">{{ page.employees }}</p>
                    <h5 class="fw-bold neutral-black">Headquarters</h5>
                    <p class="paragraph-5">{{ page.headquarters }}</p>
                    {% if page.key_usecases != '' %}
                    {% assign usecases = page.key_usecases | split: ',' %}
                    <h5 class="fw-bold neutral-black">Key Usecases</h5>
                    {% for usecase in usecases %}
                    {% assign usecase_info = usecase | split: ':' %}
                    {% assign usecase_title = usecase_info[0] %}
                    {% assign usecase_link = usecase_info[1] %}
                    <a href="{{ usecase_link }}" class="mb-2">{{ usecase_title }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
            </aside>
            <article id="case-study-content" class="col-12 col-md-8">

                <div class="overflow-hidden w-100 rounded-4 d-flex align-items-center mb-13" style="aspect-ratio: 3/1">
                    <img class="w-100" src="{{ page.featured_image }}" alt="" loading="lazy" />
                </div>

                <div class="col-12 col-lg-9">

                    {% if page.the_challenge != '' %}
                    <p><strong>The Challenge: </strong> {{ page.the_challenge | markdownify | replace: '<p>' | replace: '</p>' }}</p>
                    {% endif %}

                    {% if page.the_solution != '' %}
                    <p><strong>The Solution: </strong> {{ page.the_solution | markdownify | replace: '<p>' | replace: '</p>' }}</p>
                    {% endif %}

                    {% if page.the_results != '' %}
                    <p><strong>The Results: </strong> {{ page.the_results | markdownify | replace: '<p>' | replace: '</p>' }}</p>
                    {% endif %}

                    {% if page.blockquote %}
                        <blockquote class="paragraph-3">
                            "{{ page.blockquote | markdownify | replace: '<p>' | replace: '</p>' }}"
                            <div class="row mb-6 mt-4">
                                <div class="flex flex-row align-center">
                                    <div class="pe-3">
                                        <img src="{{ page.speaker_photo}}" class="circle max-100" style="width: 48px;" alt="" loading="lazy" />
                                    </div>
                                    <div style="line-height: 0;">
                                        <span class="neutral-15 paragraph-5">{{ page.speaker_name}}</span><br>
                                        <span class="neutral-40 paragraph-5">{{ page.speaker_title}}</span>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                    {% endif %}

                    {{ content }}
                </div>
            </article>
        </section>
        <section>
            <div class="rounded-4 bg-neutral-99 py-11">
                <div class="d-flex flex-row align-items-center justify-content-between px-14">
                    <h3 class="m-0">Explore more customer stories</h3>
                    <div class="d-flex flex-row">
                        <button id="more-stories-scroll-left" class="btn-base btn-base-primary btn-base-circle chevron white-left disabled pe-1 me-1"></button>
                        <button id="more-stories-scroll-right" class="btn-base btn-base-primary btn-base-circle chevron white-right ps-1"></button>
                    </div>
                </div>
                <div id="more-stories" class="d-flex flex-row overflow-hidden px-14 pt-9">
                    {% assign most_recent_cases = site.case-studies | slice: 0, 5 %}
                    {% for case in most_recent_cases %}
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                        <div class="hover-raise-sm">
                            <div class="card bg-neutral-99 overflow-visible border-0 pb-3">
                                <div class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative" style="height: 167px">
                                    <div class="card-img-top fill-image h-100" style="background-image: url({{ case.featured_image }})"></div>
                                    <div class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center" style="height: 56px; width: 114px">
                                        <img class="w-100" src="{{ case.logo_image }}" srcset="{{case.logo_image}} 1x" alt="{{ case.company_name }} logo" loading="lazy" />
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div class="d-none industry-name">{{ case.industry }}</div>
                                    <p class="paragraph-5 my-3">{{ case.summary }}</p>
                                    <a href="{{ case.url }}" class="stretched-link"><span class="chevron blue-small-right">Read the case study</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                        <div class="bg-neutral-95 rounded-3 px-6 d-flex justify-content-center h-100 d-flex flex-column">
                            <h4 class="fw-bold mb-4">Real companies,<br>real data,<br>real stories</h4>
                            <a href="/case-studies" class="btn btn-primary btn-link" role="button">See all stories</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

<div class="container rounded-4 no-overflow">
    {% include get-started-with-metabase.html %}
</div>

<script type="text/javascript">
    const moreStories = document.getElementById('more-stories');
    const moreStoriesScrollLeft = document.getElementById('more-stories-scroll-left');
    const moreStoriesScrollRight = document.getElementById('more-stories-scroll-right');

    // scroll left button click
    document.addEventListener('click', function (event) {
        const element = event.target;
        if (!element.matches('#more-stories-scroll-left')) return;

        const moreStoriesWidth = moreStories.getBoundingClientRect().width;
        const minScrollOffset = 0;
        const newScrollOffset = moreStories.scrollLeft - moreStoriesWidth;
        moreStoriesScrollRight.classList.remove('disabled');
        if (newScrollOffset <= minScrollOffset) {
            moreStoriesScrollLeft.classList.add('disabled');
            moreStories.scrollTo({
                left: minScrollOffset,
                behavior: 'smooth'
            });
        } else {
            moreStories.scrollTo({
                left: newScrollOffset,
                behavior: 'smooth'
            });
        }
    }, false);

    // scroll right button click
    document.addEventListener('click', function (event) {
        const element = event.target;
        if (!element.matches('#more-stories-scroll-right')) return;

        const moreStoriesWidth = moreStories.getBoundingClientRect().width;
        const maxScrollOffset = moreStories.scrollWidth - moreStoriesWidth;
        const newScrollOffset = moreStories.scrollLeft + moreStoriesWidth;
        moreStoriesScrollLeft.classList.remove('disabled');
        if (newScrollOffset >= maxScrollOffset) {
            moreStoriesScrollRight.classList.add('disabled');
            moreStories.scrollTo({
                left: maxScrollOffset,
                behavior: 'smooth'
            });
        } else {
            moreStories.scrollTo({
                left: newScrollOffset,
                behavior: 'smooth'
            });
        }
    }, false);
</script>
