---
layout: default
active: 'community'
---
<!--GET RECOMMENDED STORIES-->
{% assign posts_to_display = 4 %}
{% assign categories = page.category_filters | split: ',' %}
{% assign similar_posts = '' %}
{% assign similar_posts_size = 0 %}
{% for category in categories %}
    {% for post in site.community-posts %}
        {% assign post_categories = post.category_filters | split: ',' %}
        {% assign existing_posts = similar_posts | split: ',' %}
        {% if post_categories contains category %}
            {% unless existing_posts contains post.title or post.title == page.title %}
                {% assign similar_posts = similar_posts | append: post.title | append: ',' %}
                {% assign similar_posts_size = similar_posts_size | plus: 1 %}
            {% endunless %}
        {% endif %}

        {% if similar_posts_size >= posts_to_display %}
            {% break %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% if similar_posts_size < posts_to_display %}
    {% for post in site.community-posts %}
        {% assign post_categories = post.category_filters | split: ',' %}
        {% assign existing_posts = similar_posts | split: ',' %}
        {% unless existing_posts contains post.title or existing_posts contains page.title %}
            {% assign similar_posts = similar_posts | append: post.title | append: ',' %}
            {% assign similar_posts_size = similar_posts_size | plus: 1 %}
        {% endunless %}

        {% if similar_posts_size >= posts_to_display %}
            {% break %}
        {% endif %}
    {% endfor %}
{% endif %}
<!--END GET RECOMMENDED STORIES-->

{% include scroll-progress.html endingElementId="community-post-content" %}
<div class="blog-post community-post">
    <div class="container">
        <div class="row pt-3">
            <section class="col-xs-12 col-md-10 col-lg-8">
                <header>
                    <a href="/community" class="flex flex-row align-center"><img src="/images/chevron_blue.svg" alt="Chevron Left" width="10px" height="10px" class="chevron-left no-zoom"> <p class="xs m-0 ml-2">See all Community Stories</p></a>
                    <div class="category-tags mt-4 pt-1">
                        {% assign category_filters = page.category_filters | split: ',' %}
                        {% for category in category_filters %}
                        <a href="/community?filter={{category}}">
                            <span class="category-tag mr-25">{{ category }}</span>
                        </a>
                        {% endfor %}
                    </div>
                    <h1 class="larger-mobile mt-3 mb-3">{{ page.title }}</h1>
                    <p class="xs text-light-grey mb-0">{{page.date | date: "%B %d, %Y" }}</p>
                </header>
            </section>
        </div>
        <div class="row flex flex-column flex-row-sm">
            <section class="show hide-md col-xs-12 pb-0">
                <div class="small-card contributor-credit">
                    <div class="flex flex-row justify-between align-center">
                        <div>
                            <p class="xs m-0">Contributed by</p>
                            <p class="small dt fw-900 m-0">{{page.author}}</p>
                            <p class="small fw-900 text-light-grey m-0"><a href="{{page.organization_url}}" class="text-light-grey" target="_blank">{{page.organization}}</a></p>
                        </div>
                        <img
                            class="circle"
                            src="{{ page.author_img }}"
                            srcset="{{ page.author_img }} 1x"
                            alt="photo of {{page.author}}"
                            width="60px"
                            height="60px"
                        />
                    </div>
                    <p class="small dt mb-0">{{page.author_bio | markdownify | replace: '<p>' | replace: '</p>' }}</p>
                </div>
            </section>
            <article id="community-post-content" class="col-xs-12 col-md-8 mb-4 community-post-content">
                {{ content }}
            </article>
            <section class="hide show-md col-md-4 pl-3 pt-0">
                <div class="small-card contributor-credit mb-35">
                    <div class="flex flex-row justify-between align-center">
                        <div>
                            <p class="xs m-0">Contributed by</p>
                            <p class="small dt fw-900 m-0">{{page.author}}</p>
                            <p class="small fw-900 text-light-grey m-0"><a href="{{page.organization_url}}" class="text-light-grey" target="_blank">{{page.organization}}</a></p>
                        </div>
                        <img
                            class="circle"
                            src="{{ page.author_img }}"
                            srcset="{{ page.author_img }} 1x"
                            alt="photo of {{page.author}}"
                            width="60px"
                            height="60px"
                        loading="lazy"/>
                    </div>
                    <p class="small dt mb-0">{{page.author_bio | markdownify | replace: '<p>' | replace: '</p>' }}</p>
                </div>
                <div class="small-card contributor-credit">
                    <p class="small fw-900 dt mt-0 mb-1">You might also like</p>
                    {% assign similar_post_titles = similar_posts | split: ',' %}
                    {% for similar_post in similar_post_titles %}
                        {% assign post = site.community-posts | where: "title", similar_post | first %}
                        <div class="mt-25">
                            <a class="fw-900 mb-1" href="{{post.url}}">{{post.title}}</a>
                            <p class="xs dt fw-900 m-0">{{post.author}}</p>
                            <p class="xs fw-900 m-0 text-light-grey">{{post.organization}}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <section class="show hide-md col-xs-12 pt-0">
                <div class="small-card contributor-credit">
                    <p class="small fw-900 dt mt-0 mb-1">You might also like</p>
                    {% assign similar_post_titles = similar_posts | split: ',' %}
                    {% for similar_post in similar_post_titles %}
                        {% assign post = site.community-posts | where: "title", similar_post | first %}
                        <div class="mt-25">
                            <a class="fw-900 mb-1" href="{{post.url}}">{{post.title}}</a>
                            <p class="xs dt fw-900 m-0">{{post.author}}</p>
                            <p class="xs fw-900 m-0 text-light-grey">{{post.organization}}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        {% include community-stories-signup-form.html id="-data-bytes"%}
    </div>
</div>
