<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="en-US">
  {% include head.html %}

  <body>

    {% if page.vwo %}
    class="hide"
    {% endif %}

    {% include header.html active=page.active %}

    <div class="no-overflow">
      {{ content }}
    </div>

    <div class="light-blue-footer-container">
      {% include footer.html %}
    </div>

  </body>
  <script type="text/javascript" src="/js/contentloaded.min.js"></script>
  <script type="text/javascript" src="/js/lightbox.js"></script>
  <script type="text/javascript" src="/js/documentation.js"></script>
  <script type="text/javascript" src="/js/blog.js"></script>
</html>
