---
layout: doc_pages
active: 'docs'
---
{% capture latest_or_explicit_version %}{% if site.docs_version == page.version and page.url contains "/docs/latest/" %}latest{% else %}{{page.version}}{% endif %}{% endcapture %}
{% capture category_slug %}{{ page.category | slugify }}{% endcapture %}
{% capture category_slug_part %}{% if category_slug == "troubleshooting-guide" %}index.html{% elsif category_slug == "api" %}{{ "api-documentation" | strip}}{% else %}start.html{% endif %}{% endcapture %}

<section class='text-white pt0 text-centered pt4'>
  <div class='container'>
    <h2>
      <a class="text-white text-white-hover" href='/docs/{{ latest_or_explicit_version }}'>Metabase Documentation</a>
    </h2>
    {% if page.category != 'ignore' %}
      <a class="text-white text-white-hover" href='/docs/{{ page.version }}'>{{ page.version }} {% if site.docs_version == page.version %} (Latest) {% endif %} </a>
    {% endif %}
  </div>
  {% include docs_search_bar.html %}
</section>

<section class='docs bg-white py2'>
<div class='container-docs'>
  <div class='row'>
    <div class='ten columns release offset-by-one'>
        {% if page.category != 'ignore' %}
        {% include docs-old-breadcrumbs.html %}
        {% endif %}

        {{ content }}

      </div>
    </div>
    {% if page.category != 'ignore' %}
    <div class='row'>
      <div class='ten columns release offset-by-one docs-footer py1'>
          <div class="bootstrap">
            {% comment %}
            Add feedback widget for pages that aren't landing pages for navigation, tables of contents, etc.
            {% endcomment %}
            {% unless page.title == 'Start' or page.title == 'README' or page.title == 'Index' or page.title == 'Search' %}
              {% include shared/right-hand-newsletter-subscribe-widget.html %}
            {% endunless %}
            <span class="paragraph-6 fs-13 neutral-60">See something that needs fixing? <a href='{{ page.source_url }}' target="_blank">Propose a change.</a></span>
          </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>
