---
layout: default_new
active: "learn"
---

{% include learn/post-constants.html %}

<div class="bootstrap">
  <div class="learn">
      {% include learn/left-sidebar.html domain="learn" %}
      <article class="learn__post category {{ article.slug }}" {% unless article.image %}no-bg-image{% endunless %}">

        {% include learn/top-bar.html show_breadcrumb=true domain="learn" %}

        <div class="learn__post__content">
          <header{% if article.image %} class="has-bg-image"{% endif %}>
            <h1>{{ article.name }}</h1>
            <h3 class="learn__summary">{{ article.summary }}</h3>
            {% if article.image %}
              <img src="{{ article.image }}" alt="{{ article.name }}"/>
            {% endif %}
          </header>

          {% for page_category in article.pages %}
            <div class="learn__category__entries">
              <h2 id="{{ page_category.slug }}">
                {{ page_category.name }}
              </h2>
              <p>{{ page_category.summary }}</p>

                {% for page_entry in page_category.pages %}
                <a href="{{ page_entry.url }}" class="learn__category__link">
                    <h4>{{ page_entry.name }}</h4>
                    <p>{{ page_entry.summary }}</p>

                    {% include learn/read-time.html %}
                  </a>
                {% endfor %}
            </div>
          {% endfor %}
        </div>

        <div class="learn__right-sidebar {% if article.image %}extra-margin-top{% endif %}">
          <div id="sub-navigation-content">
          </div>
        </div>
      </article>
  </div>
</div>

<script src="/js/learn/left-sidebar.js"></script>
<script src="/js/learn/right-sidebar.js"></script>
<script type="text/javascript" src="/js/position-feedback-widget.js"></script>
<script src="/js/learn/top-bar.js"></script>
