---
layout: default_new
active: "learn"
---

{% include learn/post-constants.html %}

<div class="bootstrap">
  <div class="learn blog-post MB-Page">
    {% include learn/left-sidebar.html domain="learn" %}

    <article class="learn__post learn__article">
      {% include learn/top-bar.html show_breadcrumb=true %}

      <div class="learn__post__content">
        {% unless page.page_type == 'search' %}
          <header>
            <h1>{{ article.name }}</h1>
            <h3 class="learn__summary">{{ article.summary }}</h3>
          </header>
        {% endunless %}

        {{ content }}

        {% include learn/article-nav.html %}
      </div>

      <div class="learn__right-sidebar">
        <div id="sub-navigation-content">
          {% comment %}
          Is populated by js/learn/right-sidebar.js
          {% endcomment %}
        </div>
        {% unless page.type == "search" %}
          {% include feedback-widget.html %}
        {% endunless %}
      </div>
    </article>
  </div>
</div>

<script src="/js/image-zoom.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/new-docs-code-snippet-copy.js"></script>
<script src="/js/learn/left-sidebar.js"></script>
<script src="/js/learn/right-sidebar.js"></script>
<script type="text/javascript" src="/js/position-feedback-widget.js"></script>
<script src="/js/learn/top-bar.js"></script>
