---
layout: default
active: "learn"
---

{% include learn/post-constants.html %}

<div class="bootstrap">
  <div class="learn blog-post MB-Page ZoomImages">
      {% include learn/left-sidebar.html %}

      <!-- i had to remove the header here to stop it showing "INDEX" -->
      <article class="learn__post">
        <header>
          <div class="learn-breadcrumb-trail">
            {% include learn/breadcrumbs.html %}
          </div>
          <h1>{{ page.name }}</h1>
          <h3 class="learn__summary">{{ page.summary }}</h3>
        </header>

        {{ content }}

        <div class="widget-separator"></div>

        {% include learn/article-nav.html %}

        {% unless page.title == "Search results" %}
          {% include feedback-widget.html %}
        {% endunless %}
      </article>
  </div>
</div>

<script src="/js/image-zoom.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/new-docs-code-snippet-copy.js"></script>
<script src="/js/learn/left-sidebar.js"></script>
