---
layout: default
---
<div class="MB-Legal eight columns offset-by-two pt4">
  <h1 class="text-centered text-brand">{{ page.title }}</h1>

  {% if page.info %}
    <div class="bootstrap">
      <div class="bg-blue-95 rounded-3 p-6 d-flex flex-row border border-1 border-primary">
        {% include svg-icons/info-icon.html width = "24" height = "24" color = "#509EE3" %}
        <p class="m-0 ms-2 paragraph-5 neutral-40">{{ page.info }}</p>
      </div>
    </div>
  {% endif %}

  <div>
    {{ content }}
  </div>
</div>
