<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="en-US">

  {% include head.html %}

    <body class="cloud-login">



    {% include navigation-header.html active=page.active %}

    <div class="no-overflow">
      {{ content }}
    </div>

  </body>
  <script type="text/javascript" src="/js/contentloaded.min.js"></script>
  <script type="text/javascript" src="/js/cloud_login.bundle.js"></script>
  <script type="text/javascript" src="/gdpr-cookie-notice/dist/script.js"></script>
  <script type="text/javascript" src="/js/cookie-consent.js"></script>
</html>
