---
layout: default
active: 'community'
---
{% include scroll-progress.html endingElementId = "case-study-content" %}
<div class="bootstrap">
  <div class="bg-neutral-99">
    <div class="container pt-4 partner-page">
      <section class="row d-flex flex-column flex-md-row py-13">
        <aside class="d-lg-block col-lg-12">
          <a class="chevron blue-small-left mb-8 mb-lg-0 fw-bold blue-60" href="/partners/">Back to all partners</a>
        </aside>
      </section>

      <section class="row d-flex gx-9 flex-column flex-md-row pb-0">
        <aside class="d-lg-block col-lg-4">
          <div class="bg-neutral-white rounded-3 height-fit-content mb-8 border--neutral-95">
            <div class="p-5">
              <img
                alt="{{page.company_name}} logo"
                class="w-100 pb-8"
                src="{{ page.logo_image }}" />
              <h5 class="fw-bold neutral-black">Founded</h5>
              <p class="paragraph-5 mb-5 neutral-40">{{ page.founded }}</p>
              <h5 class="fw-bold neutral-black">Location</h5>
              <p class="paragraph-5 mb-5 neutral-40">{{ page.location }}</p>
              <h5 class="fw-bold neutral-black">Languages</h5>
              {% assign langs = page.languages | split: "," %}
              <p class="paragraph-5 mb-5 neutral-40 list-items">
                {% for language in langs %}
                  <span>{{ language }}</span>
                {% endfor %}
              </p>
              <h5 class="fw-bold neutral-black">Verticals</h5>
              {% assign verticals = page.vertical | split: "," %}
              <p class="paragraph-5 mb-5 neutral-40 list-items">
                {% for item in verticals %}
                  <span>{{ item }}</span>
                {% endfor %}
              </p>
              <h5 class="fw-bold neutral-black">Specializations</h5>
              {% assign specializations = page.specialization | split: "," %}
              <p class="paragraph-5 mb-5 neutral-40 list-items">
                {% for item in specializations %}
                  <span>{{ item }}</span>
                {% endfor %}
              </p>
            </div>
            <div class="border--neutral-95--top p-5 pb-6">
              <p class="paragraph-5 mb-5 neutral-60 text-center">Expert since {{ page.expert_since }}</p>
              <a
                class="fs-13 Button btn btn-primary rounded-3 py-3"
                href="{{ page.company_url }}"
                style="width: auto;"
                target="_blank">Visit website</a>
            </div>
          </div>
        </aside>
        <article class="col-12 col-md-7" id="partner-content">
          <div class="col-12 pt-6">
            {{ content }}

            <h4>Clients' reviews</h4>

            {% assign testimonials = page.testimonials %}
            {% for testimonial in testimonials %}
              <p class="mb-5 neutral-40">
                <strong class="neutral-15">{{ testimonial.person }}</strong>,
                <span class="neutral-60">{{ testimonial.role }}</span>
              </p>
              <blockquote>
                <p>{{ testimonial.quote }}</p>
              </blockquote>
            {% endfor %}
          </div>
        </article>
      </section>
    </div>
  </div>
  <div class="bg-neutral-99-gradient" style="height: 80px;"></div>
</div>
