---
layout: blog_post
active: 'blog'
---

{% include scroll-progress.html endingElementId="post-content" %}

<div class="bootstrap">
    <div id="post" class="bg-neutral-98-gradient">
        <div class="container pt-4">
            <section>
                <div class="row d-flex flex-column flex-lg-row align-items-start mb-11 mb-lg-13">
                    <div class="col-xs-12 col-lg-3">
                        <a class="chevron blue-small-left mb-8 mb-lg-0 fw-bold" href="/blog">All posts</a>
                    </div>
                    <div class="col-xs-12 col-lg-9">
                        <div class="d-lg-none mb-4 d-flex flex-column flex-sm-row">
                            <span class="paragraph-5 neutral-60 me-2">{{ page.date | date: "%b %d, %Y" }} in <b class="category-name">{{ page.categories | join: ' ' }}</b></span>
                            {% assign words = content | number_of_words %}
                            <p class="paragraph-5 neutral-60 mb-0 d-none d-sm-block me-2"> ‧ </p>
                            <p class="paragraph-5 neutral-60 mb-0">{% if words < 360 %}1{% else %}{{ words | divided_by:180 }}{% endif %} min read</p>
                        </div>
                        <h1 class="h2 mb-6 mb-lg-8">{{ page.title }}</h1>
                        <div class="d-flex flex-row align-items-center">
                            {% assign author = site.blog-authors | where: "author", page.author | first %}
                            <img
                                class="circle me-2"
                                src="{{ author.author_avatar }}"
                                alt="{{ page.author }} Portrait"
                                width="36"
                                height="36"
                            />
                            <h5 class="neutral-40 mb-0 me-2">{{ page.author }}</h5>
                            <div class="d-none d-lg-flex flex-row">
                                <span class="paragraph-5 neutral-60 me-2"> ‧ {{ page.date | date: "%b %d, %Y" }} in <b class="category-name">{{ page.categories | join: ' ' }}</b></span>
                                {% assign words = content | number_of_words %}
                                <p class="paragraph-5 neutral-60 mb-0"> ‧ {% if words < 360 %}1{% else %}{{ words | divided_by:180 }}{% endif %} min read</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if page.featured_image %}
                <img
                    src="{{ page.featured_image }}"
                    alt="{{ page.title }} Image"
                    class="w-100 rounded-4"
                loading="lazy"/>
                {% endif %}
            </section>
            <section class="row d-flex">
                <div class="col-xs-12 col-lg-3 order-1 order-lg-0 mt-11 mt-lg-0">
                    <div style="position: sticky; top: 136px;" class="d-flex flex-column">
                        <h5 class="mb-3 neutral-40">Share this article</h5>
                        <div class="d-flex align-items-center gap-3">
                            <a href="https://twitter.com/intent/tweet?url=https://metabase.com{{ page.url }}" target="popup" onclick="window.open('https://twitter.com/intent/tweet?url=https://metabase.com{{ page.url }}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                {% include svg-icons/twitter-icon.html class="share-button" width="22" height="22" fill="#C6C9D2" %}
                            </a>
                            <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://metabase.com{{ page.url }}" target="popup" onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url=https://metabase.com{{ page.url }}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                {% include svg-icons/linkedin-icon.html class="share-button" width="30" height="30" fill="#C6C9D2" %}
                            </a>
                            <a class="copy-clip position-relative d-flex justify-content-center" title="Copy to clipboard">
                                {% include svg-icons/clip-icon.html class="share-button" width="32" height="32" fill="#C6C9D2" %}
                                <div class="copied-to-clipboard-wrapper visible invisible">
                                    <div class="caret"></div>
                                    <div class="copied-to-clipboard">Copied to clipboard</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="content-container col-xs-12 col-lg-6 order-0 order-lg-1">
                    <div id="post-content">
                        {{ content }}
                    </div>
                    <div class="mt-15">
                        {% include post-signup-form.html id="1"%}
                    </div>
                </div>
            </section>
            {% assign page_category = page.categories | join: ' ' %}
            {% assign first_post = null %}
            {% assign second_post = null %}

            {% for post in site.posts %}
                {% if page.title == post.title or post.exclude-from-recommended %}
                {% continue %}
                {% endif %}

                {% assign post_category = post.categories | join: ' ' %}
                {% if page_category != post_category %}
                {% continue %}
                {% endif %}

                {% assign index = forloop.index0 %}
                {% if first_post == null %}
                {% assign first_post = site.posts[index] %}
                {% else %}
                {% assign second_post = site.posts[index] %}
                {% break %}
                {% endif %}
            {% endfor %}

            {% if first_post %}

            <section class="mt-8">
                <div class="d-flex flex-row justify-content-between">
                    <h3 class="mb-0">You might also enjoy</h3>
                    <a class="chevron blue-small-right fw-bold d-none d-lg-flex" href="/blog">All posts</a>
                </div>
                <div class="row mt-10 mt-lg-13">
                    <div class="hover-raise-sm col-xs-12 col-lg-6 mb-8 mb-lg-0">
                        <div class="card hover-shadow hover-pointer bg-neutral-white border-0 rounded-3 p-6">
                            <img
                                class="w-100 rounded-2 mb-8"
                                src="{{ first_post.image }}"
                                alt="{{ first_post.title }} Image"
                            loading="lazy"/>
                            <span class="paragraph-5 neutral-60 mb-3">{{ first_post.date | date: "%b %d, %Y" }} in <b class="category-name">{{ first_post.categories | join: ' ' }}</b></span>
                            <h4 class="blog-title mb-4">{{ first_post.title }}</h4>
                            <p class="paragraph-5 mb-6 neutral-40">{{ first_post.summary }}</p>
                            <div class="d-flex flex-row align-items-center">
                                {% assign author = site.blog-authors | where: "author", first_post.author | first %}
                                <img
                                    class="circle me-2"
                                    src="{{ author.author_avatar }}"
                                    alt="{{ first_post.author }} Portrait"
                                    width="36"
                                    height="36"
                                loading="lazy"/>
                                <div class="d-flex flex-column flex-sm-row">
                                    <h5 class="neutral-40 mb-0 me-2">{{ first_post.author }}</h5>
                                    {% assign words = first_post.content | number_of_words %}
                                    <p class="paragraph-5 neutral-60 mb-0 d-none d-sm-block me-2"> ‧ </p>
                                    <p class="paragraph-5 neutral-60 mb-0">{% if words < 360 %}1{% else %}{{ words | divided_by:180 }}{% endif %} min read</p>
                                </div>
                            </div>
                            <a href="{{ first_post.url }}" class="stretched-link h-0"></a>
                        </div>
                    </div>
                    {% if second_post %}
                    <div class="hover-raise-sm col-xs-12 col-lg-6 mb-8 mb-lg-0">
                        <div class="card hover-shadow hover-pointer bg-neutral-white border-0 rounded-3 p-6">
                            <img
                                class="w-100 rounded-2 mb-8"
                                src="{{ second_post.image }}"
                                alt="{{ second_post.title }} Image"
                            loading="lazy"/>
                            <span class="paragraph-5 neutral-60 mb-3">{{ second_post.date | date: "%b %d, %Y" }} in <b class="category-name">{{ second_post.categories | join: ' ' }}</b></span>
                            <h4 class="blog-title mb-4">{{ second_post.title }}</h4>
                            <p class="paragraph-5 mb-6 neutral-40">{{ second_post.summary }}</p>
                            <div class="d-flex flex-row align-items-center">
                                {% assign author = site.blog-authors | where: "author", second_post.author | first %}
                                <img
                                    class="circle me-2"
                                    src="{{ author.author_avatar }}"
                                    alt="{{ second_post.author }} Portrait"
                                    width="36"
                                    height="36"
                                loading="lazy"/>
                                <div class="d-flex flex-column flex-sm-row">
                                    <h5 class="neutral-40 mb-0 me-2">{{ second_post.author }}</h5>
                                    {% assign words = second_post.content | number_of_words %}
                                    <p class="paragraph-5 neutral-60 mb-0 d-none d-sm-block me-2"> ‧ </p>
                                    <p class="paragraph-5 neutral-60 mb-0">{% if words < 360 %}1{% else %}{{ words | divided_by:180 }}{% endif %} min read</p>
                                </div>
                            </div>
                            <a href="{{ second_post.url }}" class="stretched-link h-0"></a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <a class="chevron blue-small-right fw-bold d-flex d-lg-none" href="/blog">All posts</a>
            </section>
            {% endif %}

            <div class="d-none d-lg-block">
                <div id="cta-wrapper">
                    <img
                        id="close-form-button"
                        src="/images/close-grey.svg"
                        alt="Close Form Button"
                        width="12"
                        height="12"
                        style="position: absolute; top: 68px; right: 12px; cursor: pointer;"
                    />
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup" class="bg-blue-95 mt-12 p-6 pb-4" style="border-bottom-left-radius: 10px; border-top-left-radius: 10px;">
                        <form action="//metabase.us10.list-manage.com/subscribe/post?u=869fec0e4689e8fd1db91e795&amp;id=b9664113a8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h3 class="h5 mb-2 mt-0">Subscribe to our newsletter</h3>
                                <span style="font-size: 14px;" class="paragraph-5 neutral-40 mb-4 d-block">Stay in touch with updates and news from Metabase. No spam, ever.</span>
                                <div class="mc-field-group">
                                    <div class="mb-2 d-flex flex-column">
                                        <input type="email" value="" name="EMAIL" class="py-2 required email input input-small bordered {% if include.color %}border-darkblue{% endif %} me-0 mb-2" id="mce-EMAIL" tabindex="-1" placeholder="Email Address" style="flex-grow: 1;" />
                                        <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="py-2 Button Button--primary" style="font-size: 14px;" />
                                    </div>
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;">
                                    <input type="text" name="b_869fec0e4689e8fd1db91e795_b9664113a8" tabindex="-1" value="" />
                                </div>
                            </div>
                        </form>
                        <script type="text/javascript">
                            document.getElementById('mc-embedded-subscribe-form').action = `//metabase.us10.list-manage.com/subscribe/post?u=869fec0e4689e8fd1db91e795&amp;id=b9664113a8&SIGNUP=${window.location.href}`;
                        </script>

                    </div>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // if the user signs up successfully, hide the newsletter on future visits to blog posts
    const successMessage = document.getElementById('mce-success-response');
    const observer = new MutationObserver(function () {
        localStorage.setItem('isBlogPostNewsLetterClosed', 'true');
    });
    observer.observe(successMessage, { childList: true });
</script>

<script>
    const closeFormButton = document.getElementById('close-form-button');
    const ctaWrapper = document.getElementById('cta-wrapper');
    const contentContainer = document.querySelector('.content-container');

    const isBlogPostNewsLetterClosed = localStorage.getItem('isBlogPostNewsLetterClosed');
    if (isBlogPostNewsLetterClosed === 'true') {
        ctaWrapper.classList.add('d-none');
    }

    closeFormButton.addEventListener('click', function() {
        ctaWrapper.classList.add('d-none');

        localStorage.setItem('isBlogPostNewsLetterClosed', 'true');
    })

    window.addEventListener('scroll', function() {
        const rect = contentContainer.getBoundingClientRect();

        const top = rect.top;
        const bottom = document.documentElement.clientHeight - rect.bottom
        if (top <= 600 && bottom <= -200) {
            ctaWrapper.classList.add('newsletter-enter');
        } else {
            ctaWrapper.classList.remove('newsletter-enter');
        }
    })
</script>

<script>
    const copyToClipboardWrapper = document.querySelector('.copied-to-clipboard-wrapper');
    let copyToClipboardTimeout = null;
    let copyToClipboardFadeTimeout = null;

    const copyClip = document.querySelector('a.copy-clip')
    copyClip.onclick = function() {
        navigator.clipboard.writeText(window.location.href);

        if (copyToClipboardTimeout) {
            clearTimeout(copyToClipboardTimeout);
            clearTimeout(copyToClipboardFadeTimeout);
            copyToClipboardTimeout = null;
            copyToClipboardFadeTimeout = null;
        }
        copyToClipboardWrapper.classList.remove('invisible');
        copyToClipboardWrapper.style.opacity = '1';
        copyToClipboardTimeout = setTimeout(function() {
            copyToClipboardWrapper.classList.add('invisible');
        }, 1200);
        copyToClipboardFadeTimeout = setTimeout(function() {
            copyToClipboardWrapper.style.opacity = '0';
        }, 1000);
    }
</script>

<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/image-zoom.js"></script>
