---
layout: default_light_blue_footer
title: "Pricing"
---

<div class="bootstrap">
  {{ content }}

  <section class="border--neutral-95--top m-0 mt-14 p-0 light-blue-footer-container">
    <div class="container pt-14 text-centered">
      <h3 class="mb-4">Try Metabase 14 days free</h3>
      <p class="mb-5">Get everything you need to start exploring data in five minutes.</p>
      <a
        class="btn-base btn btn-primary btn-primary-blue btn-link mx-auto"
        href="https://store.metabase.com/checkout"
        title="Metabase - Get started">Get started</a>
    </div>
  </section>
</div>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
