<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}

    <body>

    <div class="MB-Page">
      {% include header.html %}
      <div>
        <div class="relative text-centered border-bottom mt2 pb4">
          <div class="container">
            <h2 class="text-brand">{{ page.title }}</h2>
            {% if page.action %}
              <div class="MB-LineBreakWrapper MB-SimpleActionWrapper">
                <a class="MB-SimpleAction" href="{{page.action_link}}">{{ page.action }}</a>
              </div>
            {% endif %}
          </div>
        </div>
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
