---
layout: default_new
---

<div class="bootstrap">
  <div class="startup-guide-container">
    <div class="startup-guide">
      {% include startup-guide/left-nav.html %}
      <div class="learn learn__post content-container">
        <article>
          {% if page.title %}
            <h1 class="mb-8">{{page.title}}</h1>
          {% endif %}
          {% if page.description %}
            <p class="mb-8">{{page.description}}</p>
          {% endif %}
          {% if page.image-hero %}
            <div class="mb-8">
              <img src="{{page.image-hero}}" alt="{{page.title}}" class="img-fluid">
            </div>
          {% endif %}
          {{content}}
        </article>

        {% include shared/was-this-helpful-widget.html %}
        {% include startup-guide/nav-between-pages.html %}
      </div>

      <div class="d-none pe-8 d-lg-flex flex-column">
        <div id="sub-navigation-content" class="sub-navigation-content-hidden"></div>
        {% unless page.title == "Financial modeling package" %}
           {% include startup-guide/want-a-head-start.html %}
        {% endunless %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/startup-guide/left-sidebar.js"></script>
<script type="text/javascript" src="/js/startup-guide/scroll-indicator.js"></script>
<script type="text/javascript" src="/js/docs/right-sidebar.js"></script>

{% if page.toc %}
  <script type="text/javascript" src="/js/scrollIntoView.min.js"></script>
  <script type="text/javascript" src="/js/table-of-content.js"></script>
{% endif %}
