<div class="hero">
  <h1>Open source analytics that answers back</h1>
  <p>
    Query in natural language and give your team and customers AI-powered analytics built on your metrics and permissions. Deploy in minutes.
  </p>

  <div>
    <a
      id="get-started-btn-home"
      class="Button btn btn-primary rounded-3 get-started-btn-home-vwo"
      href="https://store.metabase.com/checkout"
    >
      Try Metabase Cloud free
    </a>
    <a
      class="Button btn btn-outline-blue rounded-3 watch-demo-btn-home-vwo"
      href="/start/oss/"
    >
      Deploy Metabase Open Source
    </a>
  </div>

  <p class="zero-to-dashboard">
    <img alt="Curved Arrow" src="/images/icons/curved-arrow.svg" />
    See how to go from zero to dashboard <span>(in 5 minutes)</span>
  </p>

  <a href="/demo" class="padded">
    <img src="/images/home/demo.png" alt="Dashboard Demo Screenshot" />
    <div>
      {% include svg-icons/play-icon.html width="40" height="40" fill="white" %}
    </div>
  </a>

  <div class="trusted-by">
    {% include trusted-by.html %}
  </div>

  <div class="logos customer-logos-container">
    {% include customer-logos.html group="home"  %}
  </div>

  <a href="/releases/metabase-60" class="whats-new">
    <h4>{% include svg-icons/stars.html %} What's new</h4>
    <h3>Open source deploys with AI features</h3>
    <p>Bring your own LLM key and choose your model, connect your AI tool to Metabase via MCP, and more</p>
    {% include svg-icons/arrow-right.html %}
  </a>
</div>
