{% assign max_number_of_tweets_to_display = 7 %}

<div class="py4 pb-3 bootstrap mt-19">
  <div class="container text-centered home-love">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-10 mb-12">
        <h3 class="fw-bold h3-5">Analytics that people straight up love</h3>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-10 mb-12">
        <div id="love-list" class="pb-12">
          <div class="row list relative">
            {% assign stories = site.data.love | where: "show_on_homepage", "true" %}
            {% for story in stories | limit: max_number_of_tweets_to_display %}
            <div class="story col-xs-12 col-sm-6 col-lg-4 p-3">
              <div class="hover-raise-sm">
                <a
                  class="card hover-shadow hover-pointer bg-neutral-white border-0 rounded-3 p-4 text-left"
                  target="_blank"
                  href="{{story.source_link}}"
                >
                  <div class="d-flex flex-row align-items-start">
                    <div class="col-xs-10 d-flex flex-row p-0 mb-4">
                      <img
                        class="circle me-3"
                        src="{{story.user_avatar}}"
                        srcset="{{story.user_avatar}} 1x"
                        width="36px"
                        height="36px"
                        alt="photo of {{story.user}}"
                      loading="lazy"/>
                      <div class="d-flex flex-column justify-around py-0">
                        <p class="my-0 mb-0 paragraph-5 neutral-40 fw-bold">
                          {{story.user | markdownify | strip_html }}
                        </p>
                        {% if story.user_title %}
                        <p class="xs my-0 mb-0 paragraph-5 neutral-60">
                          {{story.user_title}}
                        </p>
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-xs-2 text-end p-0">
                      {% if story.medium == "twitter" %} {% include
                      svg-icons/twitter-icon.html class="twitter-icon"
                      width="19" height="16" %} {% endif %}
                    </div>
                  </div>
                  {{story.content | markdownify }} {% if story.image_url %}
                  <img
                    class="w-100 rounded-4 class-img-bottom"
                    src="{{story.image_url}}"
                    srcset="{{story.image_url}} 1x"
                    alt="{{image_alt}}"
                  loading="lazy"/>
                  {% endif %}
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <a
              href="/love"
              class="chevron blue-small-right justify-content-center"
            >
              See more love for Metabase
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
