<section class="container up-and-running">
  <h3>Get up and running in no time</h3>

  <div class="blue-cards-container">
    <div class="feature-card__wrapper">
      <div>
        {% include github-button.html %}
      </div>
      <div>
        <h5>Always open-source</h5>
        <p>Run the script to spin up your free self-hosted instance. Ships with AI features.</p>
        <span class="apply-tooltip" data-tippy-content="Copy to clipboard" data-tippy-placement="top">
          <pre>{% include svg-icons/windows.html %} <span>docker run -d -p 3000:3000 metabase/metabase</span></pre>
        </span>
      </div>
    </div>

    <div class="feature-card__wrapper">
      <div class="data-sources-marquee-container datasources-gradient">
        <div>&nbsp;</div>
        {% include data-sources-marquee-no-names.html %}
        <div>&nbsp;</div>
      </div>
      <div>
        <h5>Connect to 20+ data sources</h5>
        <p>
          Metabase is the querying and visualization layer for your database, made to fit startup’s production DB to massive data warehouses.
        </p>
      </div>
    </div>

    <div class="feature-card__wrapper">
      <div class="certification-badges">
        <div>
          <a href="/security">
            <img src="/images/home/soc-2-type-1-badge.png" alt="SOC 2 Type 1"/>
          </a>
          <a href="/security">
            <img src="/images/home/soc-2-type-2-badge.png" alt="SOC 2 Type 2"/>
          </a>
          <a href="/security">
            <img src="/images/home/gdpr-certificate-badge.png" alt="GDPR"/>
          </a>
          <a href="/security">
            <img src="/images/home/ccpa-certificate-badge.png" alt="CCPA Certificate"/>
          </a>
        </div>
      </div>
      <div>
        <h5>Enterprise-grade security</h5>
        <p>
          We treat your data the way we’d want ours — it’s secure and compliant (SOC1, SOC2, GDPR, CCPA, and more).
        </p>
      </div>
    </div>
  </div>
</section>
