<div id="feedback-widget-container" class='bootstrap feedback-widget hide flex {% if page.url contains "/docs/" %} feedback-widget-docs {% endif %}'>
    <div id="page-feedback" class="sm-flex">
        <p class='page-feedback-title text-center fs-18 sm-text-left {% if page.url contains "/docs/" %} feedback-widget-docs {% endif %}'>
            Did this article help you?
        </p>
        <ul class="no-list-style flex align-center ps-8">
            <li id="page-feedback-vote-up" class="flex align-center me-3">
                <button
                    class="vote-button Button sm-input-small flex align-center text-white text-left hover-parent hover--inherit icon-hover fs-13 rounded-3 p-3">
                    {% include svg-icons/thumbs-up-icon.html stroke="white" width="18" height="18" class="me-1" %}
                    Yes
                </button>
            </li>
            <li id="page-feedback-vote-down" class="flex align-center text-brand-hover">
                <button
                    class="vote-button Button sm-input-small flex align-center text-white text-left hover-parent hover--inherit icon-hover fs-13 rounded-3 p-3">
                    {% include svg-icons/thumbs-up-icon.html stroke="white" width="18" height="18" class="rotate-180 me-1" %}
                    No
                </button>
            </li>
        </ul>
    </div>

    <div id="page-comment" class="flex flex-wrap full hide">
        <div class="flex full">
            <p id="page-feedback-question" class="fs-18 page-feedback-title"></p>
        </div>
        <div class="flex full">
            <div id="page-comment-form">
                {% if include.section == "startup-guide" %}
                  <textarea id="feedback-comment-text" class="flex input sm-input-small bordered inline-block align-center" name="comment" placeholder="Let us know what you think"></textarea>
                {% else %}
                  <input id="feedback-comment-text" maxlength=500
                      class="flex input sm-input-small bordered inline-block align-center" name="comment"
                      placeholder="Let us know what you think" />
                {% endif %}
                <button id="page-comment-submit" class="feedback-widget Button {{button_color_class}} flex align-center">
                  Send
                </button>
            </div>
        </div>
    </div>
</div>

<div id="page-feedback-message" class="fs-18 hide">
    <p class="page-feedback-title">Thanks for your feedback!</p>
</div>

<script type="text/javascript" src="/js/feedback-widget.js"></script>
