<div class="d-none d-lg-flex bg-neutral-white border-right-neutral-95 border-neutral-95 py-8 pe-8 justify-content-end">
  <div class="main-navigation-wrapper">
    <div class="docs-left-sidebar" id="main-navigation-content">
      {% for section in site.data.financial-models-pages %}
        <h5>
          <div>
            {% include {{section.icon}} %}
          </div>
          <a href={{section.url}}>{{section.title}}</a>
        </h5>

        <ul>
          {% for page in section.pages %}
            <li>
              <a href="{{page.url}}">{{page.title}}</a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>

