<section class="easy-to-use-for-all-types-of-customers">
  <h2>
    Easy to use for all types of customers
  </h2>
  <p class="embedding-page__tagline">
    Self-service analytics that lets everyone work with data. From the
    spreadsheet lovers to the data pros.
  </p>

  <div class="tabs-with-timer">
    <nav class="tabs-with-timer__nav">
      <ul class="tabs-with-timer__nav__list">
        <li class="tabs-with-timer__nav__list__item">
          <button class="tabs-with-timer__button tabs-with-timer__button--13">
            Charts & dashboards
          </button>
        </li>
        <li class="tabs-with-timer__nav__list__item">
          <button class="tabs-with-timer__button">
            Click to explore
          </button>
        </li>
        <li class="tabs-with-timer__nav__list__item">
          <button class="tabs-with-timer__button">Simple reporting</button>
        </li>
      </ul>
    </nav>
    <div class="pt-7 pt-md-10 pt-lg-13 tabs-with-timer__container">
      <div class="flex-column flex-lg-row p-0 tabs-with-timer__content">
        <div class="col-12 col-lg-6 tabs-with-timer__content__image-container">
          <div class="bg-neutral-98 tabs-with-timer__content__image">
            <img
              src="/images/product/embedded-analytics/how-are-our-apps-doing.png"
              alt="Appytown screenshot"
            />
          </div>
        </div>
        <div
          class="mt-7 mt-lg-0 col-12 col-lg-6 tabs-with-timer__content__text"
        >
          <h3 class="tabs-with-timer__title">
            Embed what customers need
          </h3>
          <p class="tabs-with-timer__body">
            From simple charts to full interactive dashboards and reports with
            intuitive tools to get what they need from the data.
          </p>
          {% include quote.html
          avatar="/images/case-studies/testimonials/mariana-aguiar-with-border.png"
          company_logo="/images/case-studies/aula-logo-square.png" text="Instead
          of reinventing the wheel and building out our own data visualizations
          within Aula—which would take extensive development and design time—we
          can simply use Metabase’s embedding to display dashboards for
          educators within Aula." name="Mariana Aguiar" role="Customer Success
          Consultant, Aula" %}
        </div>
      </div>
      <div class="flex-column flex-lg-row p-0 tabs-with-timer__content">
        <div class="col-12 col-lg-6 tabs-with-timer__content__image-container">
          <div class="bg-blue-98 tabs-with-timer__content__image">
            <video
              class="vjs-player pause-observer lazy"
              id="manage-people-video"
              poster="/images/product/embedded-analytics/click-to-explore-data.gif"
              autoplay
              muted
              playsinline
              loop
            >
              <source
                src="/images/product/embedded-analytics/click-to-explore-data.mp4"
                type="video/mp4"
              />
              <source
                src="/images/product/embedded-analytics/click-to-explore-data.webm"
                type="video/webm"
              />
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider
                upgrading to a web browser that
                <a
                  href="https://videojs.com/html5-video-support/"
                  target="_blank"
                  >supports HTML5 video</a
                >
              </p>
            </video>
          </div>
        </div>
        <div
          class="mt-7 mt-lg-0 col-12 col-lg-6 tabs-with-timer__content__text"
        >
          <h3 class="tabs-with-timer__title">
            Click to explore data and uncover insights
          </h3>
          <p class="tabs-with-timer__body">
            Metabase detects the shape of your data and gives your customers
            relevant tangents to tap into without you having to manually
            configure or anticipate them.
          </p>
          {% include quote.html
          avatar="/images/case-studies/testimonials/magnus-fagerlund-with-border.png"
          company_logo="/images/case-studies/testimonials/lime-technologies-rounded.png"
          text="Metabase embedding feature has saved our team ton of time and
          headache! We only had to plug in a snippet of code and it
          automatically connected to a beautiful dashboard that is maintained
          non engineering team members!" name="Magnus Fagerlund" role="Product
          Marketing Manager, Lime Technologies" %}
        </div>
      </div>
      <div class="flex-column flex-lg-row p-0 tabs-with-timer__content">
        <div class="col-12 col-lg-6 tabs-with-timer__content__image-container">
          <div class="bg-blue-95 tabs-with-timer__content__image">
            <video
              class="vjs-player pause-observer lazy"
              id="click-to-explore-data"
              poster="/images/product/embedded-analytics/a-simple-way-to-run-reports.gif"
              autoplay
              muted
              playsinline
              loop
            >
              <source
                src="/images/product/embedded-analytics/a-simple-way-to-run-reports.mp4"
                type="video/mp4"
              />
              <source
                src="/images/product/embedded-analytics/a-simple-way-to-run-reports.webm"
                type="video/webm"
              />
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider
                upgrading to a web browser that
                <a
                  href="https://videojs.com/html5-video-support/"
                  target="_blank"
                  >supports HTML5 video</a
                >
              </p>
            </video>
          </div>
        </div>
        <div
          class="mt-7 mt-lg-0 col-12 col-lg-6 tabs-with-timer__content__text"
        >
          <h3 class="tabs-with-timer__title">
            A simple way for anyone to run reports and analyses
          </h3>
          <p class="tabs-with-timer__body">
            From business users to data pros. Give them the building blocks with
            models and metadata.
          </p>
          {% include quote.html
          avatar="/images/case-studies/testimonials/peer-richelsen-with-border.png"
          company_logo="/images/case-studies/testimonials/cal-rounded.png"
          text="Metabase embedding feature has saved our team ton of time and
          headache! We only had to plug in a snippet of code and it
          automatically connected to a beautiful dashboard that is maintained
          non engineering team members!" name="Peer Richelsen  "
          role="Co-founder, Cal.com" %}
        </div>
      </div>
    </div>
  </div>
</section>
