<section class="embedding-options the-right-implementation-type">
  <h3>The right implementation type for whatever you need</h3>
  <p>
    Embed production-ready analytics components in your product with the right level of customization and control for your use case.
  </p>
  <a href="/embedding-demo">
    Check out the live demo {% include svg-icons/chevron.html %}
  </a>

  <div>
    <div>
      <div>
        <h6>{% include svg-icons/code.html color="#509ee3" %} Low-code</h6>
        <h4>Embed charts and interactive dashboards fast with little eng overhead</h4>
        <h5>
          Customers want data. Check it off your list.
        </h5>
        <ul>
          <li>
            <b>Set up in minutes</b>—validate your in-app reporting needs.
          </li>
          <li>
            <a href="/features/white-label-analytics">White label with your branding</a>,
            customize navigation and user experience with a low-code integration.
          </li>
          <li>
            <b>Limit exploration</b> with <a href="/docs/latest/embedding/guest-embedding">Guest embedding</a>,
            or give carte blanche reporting access with <a href="/docs/latest/embedding/full-app-embedding">Full app embedding</a>.
          </li>
        </ul>
      </div>
      <img
        src="/images/product/embedded-analytics/embed-with-iframes-or-sdk.png"
        alt="Interactive Embedding"
        loading="lazy"
      />
    </div>

    <div>
      <div>
        <h6>{% include svg-icons/dashboard.html color="#509ee3" %} Modular Embedding SDK for React</h6>
        <h4>More control, more customization</h4>
        <h5>
          Outrun competitors and boost revenue with reporting as a product.
        </h5>
        <ul>
          <li>
            <b>Build custom analytics experiences</b> with a powerful alternative to hand-rolling your in-app reporting.
            Done in a fraction of the time.
          </li>
          <li>
            <b>Customize theming and interactivity</b> per component, per org or user.
          </li>
          <li>
            <b>Manage the UX</b> with custom behaviors, menu items, flows, and formats.
          </li>
        </ul>
        <a target="_blank" href="/product/embedded-analytics-sdk">
          Learn more about Modular Embedding SDK {% include svg-icons/chevron.html %}
        </a>
      </div>
      <img
        src="/images/product/embedded-analytics/more-control-more-customization.png"
        alt="More control, more customization"
        loading="lazy"
      />
    </div>
  </div>
</section>
