<div class="feature-container">
  <div>
    <h2>Get to proof of concept really fast</h2>
    <p>
      Let your customers access reports without having to ask, whether you’re
      just getting ready to go to market or iterating. Quicker than picking a
      charting library.
    </p>
    {% include quote.html avatar="/images/case-studies/testimonials/fadee-kanah-with-border.png" company_logo="/images/logos/coursekey-square.png"
    text="Metabase embedding feature has saved our team ton of time and
    headache! We only had to plug in a snippet of code and it automatically
    connected to a beautiful dashboard that is maintained non engineering team
    members!" name="Fadee Kannah" role="CTO at CourseKey" %}
  </div>
  <div>
    {% include video-player.html autoplay="true" loop="true" poster="/images/product/embedded-analytics/fastsetup.gif" source_mp4="/images/product/embedded-analytics/fastsetup.mp4" source_webm="/images/product/embedded-analytics/fastsetup.webm" id="poc-video" autoplay="true" %}
  </div>
</div>
