<div class="embedding-page__header-container">
  <div class="container">
    <header class="py-13 embedding-page__header">
      <span class="align-items-center blue-60 d-inline-block d-inline-flex flex-row justify-content-center embedding-page__header__icon">
        {% include svg-icons/embedded-analytics-light-blue-bg.html %}
        <span><b>Embedded Analytics</b></span>
      </span>
      <h1>Get in-product reporting in days, not sprints</h1>
      <p class="embedding-page__tagline">Hand-rolling analytics is never what you think it’s going to be. Embed customizable, flexible, and scalable analytics in a fraction of the time, cost, and friction. Get to proof of concept super fast.</p>
      <a
        href="https://store.metabase.com/checkout/embedding"
        class="fs-13 Button btn btn-primary rounded-3 ms-lg-2 mr-2"
        >
      Get started
      </a>
      <a
        class="fs-13 Button btn btn-outline-blue rounded-3 ml-0 ml-lg-2"
        href="/talk-to-a-person/"
      >
        Contact us
      </a>

      {% include selling-points.html %}

      <img src="/images/product/embedded-analytics/hero_image.png" alt="Embedded analytics" class="desktop"/>
      <img src="/images/product/embedded-analytics/hero_image_mobile.png" alt="Embedded analytics hero mobile" class="mobile" />

      <p class="embedding-page__header__trusted-by">{% include trusted-by.html %}</p>

      <div class="customer-logos-container">
      {% include customer-logos.html group="home" %}
      </div>
    </header>
  </div>
</div>
