<div class="full-width-centered container landing-page__three-cards">
  <h3>
    Multi-tenant and secure to keep customer data separate
  </h3>
  <p>
    Segregate data with <a href="/features/permissions">granular permissions</a> and strong perimeters.
  </p>
  <div class="cards-container">
    <div class="card">
      {% include svg-icons/secure-shield-no-checkmark-outline.html %}
      <h4>Keep data secure</h4>
      <p>
        Ensure each customer only sees their own data. Define who can view, query, explore, or edit reports—managed with SSO.
      </p>
    </div>
    <div class="card">
      {% include svg-icons/people.html %}
      <h4>Flexible access controls</h4>
      <p>
        Set permissions at the org, user, table, even row- or column-level. Manage what data people can see and what they can do.
      </p>
    </div>
    <div class="card">
      {% include svg-icons/sandbox.html %}
      <h4>Permissions in the UI</h4>
      <p>
        No dev grows up dreaming of managing permissions. Put permission management in the hands of non-dev team mates.
      </p>
    </div>
  </div>
</div>
