<div class="full-width-centered container landing-page__three-cards">
  <h3>
    Works with your stack for live visualizations and reports, not extracts
  </h3>
  <p>
    Your data stays in your database—Metabase doesn’t ingest it, store it, or do
    refreshes.
  </p>
  <div class="cards-container">
    <div class="card">
      {% include svg-icons/people.html %}
      <h4>Integrates with your database and stack</h4>
      <p>
        Metabase connects to <a href="/data-sources/">20+ data sources</a>, with
        embedding to fit any framework (the SDK works with React. Iframes go
        with everything).
      </p>
    </div>
    <div class="card">
      {% include svg-icons/people.html %}
      <h4>Open source, proven reliability</h4>
      <p>
        No black boxes or vendor lock-in. Backed by a strong community. See
        under the hood whenever you want to.
      </p>
    </div>
    <div class="card">
      {% include svg-icons/cloud-or-self-hosted.html %}
      <h4>Self-host or cloud</h4>
      <p>
        Keep control over your data and deployment. Or hand off hosting duties
        to us with our powerful <a href="/cloud/">cloud deployment</a>.
      </p>
    </div>
  </div>
</div>
