<div class="cards-container small-margin-top">
    <div class="card no-icon">
      <h4>For finance teams</h4>
      <p>Track monthly budgets and expenses with <a href="/features/analytics-dashboards">polished dashboards</a> for shareable monthly snapshots that you can isolate by date range and categories.</p>
  </div>

    <div class="card no-icon">
      <h4>For sales leaders</h4>
      <p>Bring your pipeline and performance data to life with live visualizations. Slice by region, rep, or deal stage, and let your team <a href="/features/drill-through">explore the “why” behind the numbers</a> with data from your CRM exports in Google Sheets.</p>
    </div>

    <div class="card no-icon">
      <h4>For HR or operations managers</h4>
      <p>Centralize and visualize data from your work management platforms. Click into a spike in underutilized hours to see what’s going on by person, project, or week. Then set up a dashboard subscription to send to team leads every Monday.</p>
    </div>
  </div>