<section class="m-0 mt-12 mt-md-18 p-0">
    <h4 class="faq-headline">Frequently asked questions</h4>
    <div class="faq">
      <div class="faq-question">
        <div>Can I create a dashboard from Google Sheets without using SQL?</div>
        <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
      </div>
      <div class="faq-answer">
        <div>
          <p>
            Yes. With Metabase, you don’t need to write a single line of SQL. Just connect your Google Sheets, and you can create interactive dashboards and analyze data using the <a href="/features/query-builder">visual query builder</a>, a point-and-click interface.
          </p>
        </div>
      </div>

      <div class="faq-question">
        <div>How often does Metabase update the data from Google Sheets?</div>
        <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
      </div>
      <div class="faq-answer">
        <div>
          <p>
            Metabase syncs your Google Sheets data every 15 minutes by default. This means your dashboards stay up-to-date without manual refreshes or reimports.
          </p>
        </div>
      </div>

      <div class="faq-question">
        <div>Do I need to install anything to use Metabase with Google Sheets?</div>
        <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
      </div>
      <div class="faq-answer">
        <div>
          <p>
            The Google Sheets integration only works on Metabase Cloud instances with storage. If you already have a cloud-hosted Metabase instance, <a href="https://store.metabase.com/account/storage">you can get the storage add-on in you store account</a> and enable the Google Sheets integration. If you're not already on Metabase Cloud, <a href="https://store.metabase.com/checkout?dwh=1">you can try it for free</a>.
          </p>
        </div>
      </div>

      <div class="faq-question">
        <div>Is it safe to connect sensitive data from Google Sheets?</div>
        <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
      </div>
      <div class="faq-answer">
        <div>
          <p>
            Yes. Metabase uses secure service accounts and follows industry best practices for access control and data handling. You choose which Sheets or folders to share.
          </p>
        </div>
      </div>

      <div class="faq-question">
        <div>I’ve never built a dashboard before. Is Metabase beginner-friendly?</div>
        <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
      </div>
      <div class="faq-answer">
        <div>
          <p>
            Yep, that's our whole thing. Metabase is built for non-technical people to get answers from data. You’ll get click-to-explore functionality, drag-and-drop tools, and guided setup to go from Sheets to dashboards in minutes.
          </p>
        </div>
      </div>
    </div>
  </section>
