<div class="full-width-centered how-to-analyze-csvs">
  <h2>
  How to connect Google Sheets to Metabase</h3>
  <div class="numbered-text">
    <div>
      <div>1</div>
      <div>
        <p>Start a <a href="https://store.metabase.com/checkout?dwh=1&_gl=1*fkkac4*_gcl_au*NjkyNDY1Mzg1LjE3NTE4NjY2MzY.">free trial of Metabase Cloud with storage</a>.</p>
        <p>Or if you already have a Metabase Cloud instance, you can get the Google Sheets integration <a href="https://store.metabase.com/account/storage">with a storage add-on</a></p>
      </div>
    </div>
    <div>
      <div>2</div>
      <div>
        Open your Metabase and click the Add data button (top‑left sidebar), then choose Connect Google Sheets.
      </div>
    </div>
    <div>
      <div>3</div>
      <div>
        <p><b>Pick a sync type:</b></p>
        <ul>
          <li><b>Entire Folder</b> — syncs all Sheets within a Google Drive folder (including subfolders).</li>
          <li><b>Single sheet</b> — syncs all tabs of just that one spreadsheet.</li>
        </ul>
      </div>
    </div>
    <div>
      <div>4</div>
      <div>
        Share the folder or sheet with Metabase’s service account. In Google Drive, right‑click the folder or sheet → Share, add the provided service‑account email with Viewer access, then click Send.
      </div>
    </div>
    <div>
      <div>5</div>
      <div>
        Paste the sharing link back into Metabase’s setup form.
      </div>
    </div>
    <div>
      <div>6</div>
      <div>
        Click Import to initiate the sync.
      </div>
    </div>
    <div>
      <div>7</div>
      <div>
        Metabase will import all Sheets as tables in the Metabase Cloud Storage database, found under Browse → Database. For multi-tab Sheets, each tab becomes a separate table.
      </div>
    </div>
    <div>
      <div>8</div>
      <div>
        Auto-refresh occurs every ~15 minutes, ensuring your data stays up to date for live dashboards and vizualizations.
      </div>
    </div>
  </div>
</div>
<p class="text-center mt-6">
  <a href="/docs/latest/cloud/google-sheets" target="_blank">
  How to sync Google Sheets with Metabase documentation
  </a>
</p>
