<div class="try-metabase-footer">
    <div class="full-width-centered">
      <h3>Try Metabase with Google Sheets for 14 days free</h3>
      <p>Plug your Google Sheets straight into Metabase with a live integration. Start making sense of your data on your own, even if you don’t have a database or a data team.</p>
      <div class="d-flex">
        <a id="get-started-btn-home" class="fs-13 Button btn btn-primary rounded-3 ms-lg-2" href="https://store.metabase.com/checkout?dwh=1">
          Get started
        </a>
        <a id="get-started-btn-home" class="fs-13 Button btn btn-primary rounded-3 ms-lg-2 btn-outline-blue" href="/talk-to-a-person/">
          Contact us
        </a>
      </div>
    </div>
</div>