<div class="past-events">
    <section class="hero">
        <h1>Watch now</h1>
        <h2>Miss an event? No worries. Stream recordings of previous events—no email registration required.</h2>
        <h3>
            <img alt="Curved Arrow" src="/images/icons/curved-arrow.svg" />
            Pick a series
        </h3>
    </section>

    {% include pages/events/carousel.html %}

    {% for event in site.data.events %}
        {% include pages/events/entry.html event=event hide_registration_button="true" %}
    {% endfor %}
</div>
