figure {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}

img,
svg,
object,
video {
  max-width: 100%;
  vertical-align: bottom;
}
