a {
  text-decoration: none;

  &:hover {
    color: $blue-40;
    text-decoration: none;
  }

  &.link-purple {
    color: $purple-50;

    &:hover {
      color: shift-color($purple-50, $link-shade-percentage);
    }
  }

  &.link-with-chevron {
    img {
      vertical-align: baseline;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  & > a {
    color: inherit;
  }
}
