.border {
  margin: 32px 0;
}

.border-1.rounded-3 {
  svg {
    flex-shrink: 0;
  }
}

.breadcrumb {
  align-items: center;
  margin-top: 32px;
}

.learn.docs .breadcrumb {
  @include media-breakpoint-down(lg) {
    padding-right: 0;
  }
}

.breadcrumb-item {
  align-items: center;
  display: flex;
  margin: 0 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  height: 32px;
  position: relative;
  top: 3px;
}

#docs-search-box,
#learn-search-box {
  background-image: url("/images/search-grey.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
  border: $neutral-95 1px solid;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.04);
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.04));
  padding: 8px 12px 8px 34px;
  width: 100%;

  &::placeholder {
    color: $neutral-80;
  }
}

.search-highlight {
  background-color: #fef9e6;
  color: $neutral-15;
}

div.code-snippet-wrapper {
  overflow: hidden;

  .copy-code-button {
    background-color: #509ee34d;
    border-radius: 8px;
    color: $neutral-white;
    cursor: pointer;
    line-height: 0;
    padding: 6px 8px;
    position: absolute;
    right: 8px;
    top: 8px;

    p {
      color: white;
      font-family: Lato, serif;
      font-size: 14px;
      font-weight: 900;
      line-height: 20px;
      margin: 0;
    }

    .copy-button-copy,
    .copy-button-copied-wrapper {
      color: $neutral-white;
      opacity: 0;
      transition: color 0.3s ease-in-out, margin-left 0.3s ease-in-out, opacity 0.2s ease-in-out, width 0.3s ease-in-out;
      width: 0;
    }

    .copy-button-copy {
      display: flex;
      margin-left: 0;
    }

    .copy-button-copied-wrapper {
      display: none;

      &.d-flex {
        display: flex;
        opacity: 1;
        width: 80px;

        p {
          width: 40px;
        }
      }
    }

    svg path {
      transition: stroke 0.3s ease-in-out;
    }
  }

  &:hover .copy-code-button {
    background-color: $blue-60;

    .copy-button-copy {
      margin-left: 4px;
      margin-right: 8px;
      opacity: 1;
      transition: color 0.3s ease-in-out, margin-left 0.3s ease-in-out, opacity 0.5s ease-in-out, width 0.3s ease-in-out;
      width: 35px;
    }

    .copy-button-copied-wrapper {
      width: 80px;
    }
  }
}

.table-overflow {
  overflow-x: auto;
  overflow-y: hidden;
}

.table-overflow-indicator {
  position: relative;

  &::after {
    background: linear-gradient(270deg, $neutral-white 0%, rgba(255, 255, 255, 0) 100%);
    bottom: 4rem;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    z-index: 1;
  }
}

.learn .version {
  &__selector {
    margin-right: 0;
    position: relative;

    &.open {
      .version__current {
        background-color: $blue-90;
        color: $blue-60;

        svg {
          rotate: 180deg;

          path {
            stroke: $blue-60;
          }
        }
      }

      .version__dropdown {
        opacity: 1;
        pointer-events: all;
        scale: 1;
      }
    }
  }

  &__current {
    align-items: center;
    border-radius: 8px;
    color: $neutral-60;
    display: flex;
    float: left;
    font-size: 14px;
    padding: 9px 1px 11px 12px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $blue-90;
      transition: background-color 0.3s ease;
    }

    svg {
      height: 12px;

      path {
        stroke: $neutral-60;
      }
    }
  }

  &__dropdown {
    background: $neutral-white;
    border-radius: 0.25rem;
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.08);
    left: -24px;
    list-style-type: none;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    scale: 0.97;
    top: 1rem;
    transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
    width: 112px;
    z-index: 2;

    @include media-breakpoint-down(lg) {
      left: -12px;
    }

    li {
      margin-bottom: 0 !important;
      text-align: center;

      &:last-child > a {
        color: $blue-60;
        font-weight: 700 !important;
      }

      &:hover {
        background-color: $neutral-98;

        > a {
          color: $blue-60;
        }
      }

      > a {
        color: $neutral-60;
        display: block;
        font-size: 14px;
        font-weight: 400;
        padding: 8px 0;
      }
    }
  }
}

.docs .in-page-promo {
  margin-top: 40px;
}
