.learn.docs {
  #main-navigation-content {
    @include media-breakpoint-down(xxl) {
      display: block;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}

#sub-navigation-content {
  &.promo-banner-hidden {
    top: 0;
  }

  &.sub-navigation-content-hidden::before {
    content: none;
  }

  > *:first-child {
    &::before {
      color: $neutral-15;
      content: "On this page";
      display: block;
      font-weight: 700;
      padding-bottom: 1.5rem;
    }
  }

  a {
    background: transparent;
    box-shadow: none;
    color: $neutral-60;
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-bottom: 0;
    padding-left: 20px;
    position: relative;
    transition: initial;

    &::after {
      content: none;
    }

    img {
      left: 3px;
      margin-top: 0;
      position: absolute;
      top: 4px;
      width: 11px;
    }

    &.selected {
      color: $neutral-40;
    }

    &:hover {
      color: $neutral-40;
      transition: initial;
    }
  }

  > ul {
    padding-left: 0;
  }

  ul {
    margin-top: 0;

    li {
      list-style-type: none;
      margin-bottom: 0;

      a {
        margin-bottom: 0;
        padding-left: 0;
      }
    }
  }
}
