.docs-container {
  padding: 2rem 4.5rem;

  @include media-breakpoint-down(sm) {
    box-sizing: border-box;
    padding: 2rem 34px;
  }

  a {
    display: inline;
    text-decoration: none;

    &:not(.Button, .block):hover {
      text-decoration: none;
    }
  }
}

.hljs-string {
  color: #7aad4f; /* Same as strings in Metabase UI */
}

.hljs-attr {
  color: #574c73; /* Same as JSON fields in Metabase UI */
}
