---
title: "Metabase Pricing"
summary: "From Open Source (Free) to Enterprise, from Metabase Cloud to self-hosted, there is a Metabase for everyone."
image: /images/opengraph/pricing.jpg
sitemap: false
redirect_from:
  - /docs/latest/paid-features/overview
---

<div class="pricing-container">
  <div class="Pricing deploy-cloud">
    <div class="container">
      <section class="m-0 mb-6 mb-md-8 mx-auto p-0">
        <h1 class="fs-7 fw-bold fw-700 m-0 text-center">There’s a Metabase for everyone.</h1>
      </section>

      {% include plans-switcher-deployment.html %}
      {% include plans-columns.html show_logos="true" %}
      <div class="d-none d-lg-flex flex-row flex-nowrap justify-content-center p-6 pb-4 w-100">
        {% include plans-switcher-billing.html id="main" %}
      </div>

      <p class="tax-warning">Prices exclude any applicable taxes.</p>

      {% include pricing/add-storage.html %}

      {% include pricing/contact-us.html %}

      <section class="m-0 mt-12 mt-md-18 p-0">
        <div>
          <h4 class="mb-8 text-brand full text-centered">
            <a
              class="text-decoration-none"
              href="/case-studies"
              title="Metabase - Trusted companies">{% include trusted_by.html %}</a>
          </h4>
        </div>
        <div class="customer-logos-container">
          {% include customer-logos.html group="home" %}
        </div>
      </section>
    </div>

    <section class="m-0 mt-12 mt-md-18 py-0" id="compare">
      <h2 class="mb-10 mb-md-14 text-centered">Compare plans</h2>
      {% include pages/pricing/plans-compare.html %}
      {% include pages/pricing/plans-compare-mobile.html %}
    </section>

    <div class="container">
      <section class="m-0 mt-12 mt-md-18 p-0">
        <h4 class="faq-headline">Frequently asked questions</h4>
        <div class="faq">
          <div class="faq-question">
            <div>What’s the difference between Pro and Enterprise?</div>
            <img src="/images/chevron_blue.svg" width="14" />
          </div>
          <div class="faq-answer">
            <div>
              <p>
                Feature wise: zero. With Enterprise you get assigned a dedicated success engineer and a 1-day email SLA response time making it a great option for customers that run Metabase in mission-critical or sensitive environments.
              </p>
            </div>
          </div>

          <div class="faq-question">
            <div>How are users calculated?</div>
            <img src="/images/chevron_blue.svg" width="14" />
          </div>
          <div class="faq-answer">
            <div>
              <p>
                Everyone who signs into your Metabase (logging in directly or via SSO) is a user for purposes of billing. Licenses are for individuals and are non-transferrable.
                <a href="/docs/latest/cloud/how-billing-works#what-counts-as-a-user-account">Learn more about how we define users and how billing works.</a>
              </p>
            </div>
          </div>

          <div class="faq-question">
            <div>Can I adjust the number of users I’m paying for?</div>
            <img src="/images/chevron_blue.svg" width="14" />
          </div>
          <div class="faq-answer">
            <div>
              <p>
                Yes. In your instance you can add or deactivate any users. Your billing will automatically be prorated.
                <a href="/docs/latest/cloud/how-billing-works#how-monthly-billing-works">Learn more about billing for new or deactivated users.</a>
              </p>
            </div>
          </div>

          <div class="faq-question">
            <div>How does pricing work for embedding?</div>
            <img src="/images/chevron_blue.svg" width="14" />
          </div>
          <div class="faq-answer">
            <div>
              <p>Depends on what kind of embedding you’re doing.
                <a href="/docs/latest/embedding/introduction#interactive-embedding">Interactive Embedding</a>
                requires viewers to sign in, which means they will count as users for billing purposes.
                <a href="/docs/latest/embedding/introduction#interactive-embedding">Static Embedding</a>
                doesn’t require viewers to sign in, which means they won’t count as additional users for billing purposes.</p>
              <p>Since per-seat pricing is optimized for internal analytics and may not fit your revenue model when embedding, we work with our Enterprise customers to find Interactive Embedding pricing structures that work for their business models.
                <a href="/sales/">Get in touch to learn more about Enterprise.</a>
              </p>
            </div>
          </div>

          <div class="faq-question">
            <div>Does it cost more money to create more visualizations, run more queries, connect to additional data sources, etc.?</div>
            <img src="/images/chevron_blue.svg" width="14" />
          </div>
          <div class="faq-answer">
            <div>
              <p>
                No. You can make as many dashboards, visualizations, collections, queries as you like and connect to as many data sources as you have. Metabase costs the same no matter what you make, or how much you explore.
              </p>
            </div>
          </div>
        </div>
      </section>

      <div class="pricing-contact-us">
        <div>
          {% include svg-icons/balloon-squarish.html %}
          Have more questions? We’d be happy to help.
        </div>
        <a class="fs-13 Button btn btn-primary rounded-3 ms-lg-2" href="/talk-to-a-person/">
          Contact us
        </a>
      </div>

      <section class="mt-10 mt-md-12 p-0">
        <h2 class="h4 m-0 text-centered">First-class compliance</h2>
        <div class="px-12 row">
          <div class="col-xs-12 col-lg-4 mt-7 pe-lg-10 ps-lg-6">
            <img
              src="/images/SOC-2-Badge.png"
              alt="SOC 2 Type II"
              width="100"
              class="pb-4" />
            <p class="m-0 paragraph-5">
              <strong class="neutral-black">SOC 2 Type II</strong><br/>
              Our SOC 2 Type II report attests to the controls we have in place governing the security of customer data as they map to Trust Service Principles (TSPs) established by the American Institute of Certified Public Accountants (AICPA).
            </p>
          </div>
          <div class="col-xs-12 col-lg-4 mt-7 ps-lg-7 pe-lg-8">
            <img
              src="/images/GDPR-Badge.png"
              alt="General Data Protection Regulation"
              width="100"
              class="pb-4" loading="lazy"/>
            <p class="m-0 paragraph-5">
              <strong class="neutral-black">General Data Protection Regulation</strong><br/>
              At Metabase, we’ve worked to make our products, processes, and procedures GDPR-compliant.
            </p>
          </div>
          <div class="col-xs-12 col-lg-4 mt-7 ps-lg-8 pe-lg-6">
            <img
              src="/images/California-Badge.png"
              alt="California Consumer Privacy Act (CCPA)"
              width="100"
              class="pb-4" loading="lazy"/>
            <p class="m-0 paragraph-5">
              <strong class="neutral-black">California Consumer Privacy Act (CCPA)</strong><br/>
              Metabase acts as a service provider to customers under the California Consumer Privacy Act (CCPA), and we support our customers’ compliance with the CCPA.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="/js/pricing/faq.js"></script>

<script>
  var applyTT = document.querySelectorAll('.apply-tooltip');
  tippy(applyTT,{
    animation: 'fade',
    duration: [300, 300],
    placement: 'auto',
    touch: false,
    trigger: 'mouseenter',
    popperOptions: {
      strategy: 'fixed',
      modifiers: [
        {
          name: 'flip',
          options: {
          fallbackPlacements: ['top', 'right'],
          },
        },
        {
          name: 'preventOverflow',
          options: {
          altAxis: true,
          tether: false,
          },
        },
      ],
    },
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    function updateDeploymentUI(deployment) {
      document.querySelectorAll(`.deployment`).forEach(($node) => {
        if ($node.classList.contains(`deployment-${deployment}`)) {
          $node.classList.remove("d-none");
        }
        else {
          $node.classList.add("d-none");
        }
      });
    }

    function updateBillingUI(billing) {
      document.querySelectorAll(`.billing`).forEach(($node) => {
        if ($node.classList.contains(`billing-${billing}`)) {
          $node.classList.remove("d-none");
        }
        else {
          $node.classList.add("d-none");
        }
      });

      // CTAs
      document.querySelectorAll(`.btn`).forEach(($cta) => {
        if ($cta.href && $cta.href.includes("store.metabase.com/checkout")) {
          const href = new URL($cta.href);
          href.searchParams.set("yearly", billing === "monthly" ? 0 : 1);
          $cta.href = href.toString();
        }
      });
    }

    function updateUI() {
      const url = new URL(window.location);
      const { searchParams } = url;

      const deployment = searchParams.get("deployment") || "cloud";
      updateDeploymentUI(deployment);

      // billing
      const billing = searchParams.get("billing") || "monthly";
      updateBillingUI(billing);
    }

    window.addEventListener("deployment", ({ detail }) => updateDeploymentUI(detail.deployment));
    window.addEventListener("billing", ({ detail }) => updateBillingUI(detail.billing));

    // event
    window.dispatchEvent(new Event("plans-ready"));
  });
</script>
