{% assign component = include.component %}

<div class="try-metabase-footer">
  <div class="full-width-centered">
    <h3>Want to create a dashboard like this?</h3>
    <p>Go from zero to dashboard in 5 minutes—no SQL required.<br>Try Metabase with a 14-day free trial.</p>
    <div class="flex">
      <a id="get-started-btn-home" class="fs-13 Button btn btn-primary rounded-3 ms-lg-2" href="https://store.metabase.com/checkout">
        Get started
      </a>
      <a id="get-started-btn-home" class="fs-13 Button btn btn-outline-blue rounded-3 ms-lg-4" href="/talk-to-a-person/">
        Contact us
      </a>
    </div>
  </div>
</div>
